<%= form_for @email_template_preview, :as => :email_template_preview, :url => administration_invoicing_invoice_mailings_path(@invoice) do |f| %>
    <p>
      <%= f.text_field :recipients,
                     :value => @invoice.user.email
                   %>
    </p>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>Attachment</p>
    <p><%= link_to @email_template_preview.invoice_filename, invoice_preview_path(@email_template_preview.invoice_filename) %></p>
    <%= f.hidden_field :invoice_filename, :value => @email_template_preview.invoice_filename.basename %>
    <p><%= f.submit "Send" %></p>
<% end %>
