<%= form_for @email_template_preview, :as => :email_template_preview, :url => administration_invoicing_invoice_mailings_path(@invoice) do |f| %>
    <%= frm do |section| %>
      <% section.block_content do %>
        <div class="pdd_10 no_pdd_t">
          <fieldset class="inputs labels_ta_r labels_220">
            <ol class="align_inputs">
              <li class="string">
                <%= f.label :recipeints, t("administration.invoices.mailing.new.view.recipeints") %>
                <%= f.text_field :recipients, :value => @invoice.user.email %>
              </li>
              <li class="string">
                <%= f.label :subject, t("administration.invoices.mailing.new.view.subject") %>
                <%= f.text_field :subject %>
              </li>

              <li class="file">
                <%= f.label t("administration.invoices.mailing.new.view.attachment") %>
                <div class="txt">
                  <p><%= link_to @email_template_preview.invoice_filename, invoice_preview_path(@email_template_preview.invoice_filename) %></p>
                </div>
              </li>
            </ol>
          </fieldset>
          <%= f.cktext_area :body, :width => '1085px', :height => '300px', :toolbar => "Email"  %>
          <%= f.hidden_field :invoice_filename, :value => @email_template_preview.invoice_filename.basename %>
        </div>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "save") do %>
          <%= f.submit t("administration.invoices.mailing.new.view.send") %>
        <% end %>
        <%= ibt(:class => "bt_grey fltri") do %>
          <%= button_to_function t("administration.invoices.mailing.new.view.button_cancel"), href(administration_invoicing_invoices_path) %>
        <% end %>
      <% end %>
    <% end %>
<% end %>