    <div class="search_box">
      <div class="search_left"></div>
      <div class="search_right"></div>
      <h2><%= t("campaigns.show.search_label") %></h2>

      <div class="search_content">

        <%= semantic_form_for search, :url => campaign.is_a?(Array) ? callers_production_path : callers_campaign_path(campaign) do |f| %>

            <% if campaign.is_a?(Array) and current_user.has_any_role?(:admin, :call_centre) %>
            <fieldset class="inputs_vertical grid_150 fltl">
              <ol class="no_pdd">
                <li class="select">
                  <%= label_tag t("campaigns.show.search.campaigns") %>
                  <%= select_tag :campaign_ids, options_from_collection_for_select(all_campaigns.sort_by(&:name), "id", "name", campaign.map(&:id)), :include_blank => true, :multiple => true, :style => "height:80px;width:140px;" %>
                </li>
              </ol>
            </fieldset>
            <% elsif campaign.is_a? Campaign %>
                <%= hidden_field_tag :campaign_ids, [campaign.id] %>
            <% end %>

            <% if current_user.has_any_role?(:admin, :call_centre) %>
            <fieldset class="inputs_vertical grid_150 fltl">
              <ol class="no_pdd">
                <li class="select">
                  <%= label_tag t("campaigns.show.search.agents") %>
                  <%= select_tag :agent_ids, options_from_collection_for_select(campaign_users.sort_by(&:full_name), "id", "full_name", agent_ids), :include_blank => true, :multiple => true, :style => "height:80px;width:140px;" %>
                </li>
              </ol>
            </fieldset>
            <% end %>

            <fieldset class="inputs_vertical grid_150 fltl">
              <ol class="no_pdd">
                <li class="select">
                  <%= label_tag t("campaigns.show.search.results") %>
                  <%= select_tag :result_ids, options_from_collection_for_select(all_results.sort_by(&:name), "id", "name", result_ids), :include_blank => false, :multiple => true, :style => "height:80px;width:140px;" %>
                </li>
              </ol>
            </fieldset>

            <div class="fltl">

              <fieldset class="inputs_vertical">
                <ol class="no_pdd">
                  <li class="date">
                    <%= label_tag t("campaigns.show.search.date_from") %>
                    <%= text_field_tag :date_from, date_from, :class => "datepicker", :onchange => "if($('#date_from').val() != '') {submit_search();}" %>
                  </li>
                  <li class="date">
                    <%= label_tag t("campaigns.show.search.date_to") %>
                    <%= text_field_tag :date_to, date_to, :class => "datepicker", :onchange => "if($('#date_to').val() != '') {submit_search();}" %>
                  </li>
                  <li class="boolean">
                    <%= check_box_tag :final, "yes", final %>
                    <%= label_tag :final, t("campaigns.show.search.final") %>
                  </li>
                  <li class="commit">
                    <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                      <%= link_to_function t("campaigns.show.search_button"), 'submit_search()' %>
                    <% end %>
                  </li>
                  <li class="commit">
                    <%= ibt(:class => "bt_green", :icon => "download") do %>
                      <%= link_to_function t("campaigns.show.export_button"), 'submit_export()' %>
                    <% end %>
                  </li>
                </ol>
              </fieldset>

              <br/>

              <p class="pdd_10 no_pdd_tb" style="margin-top:-8px;">
                <%= t("campaigns.show.ranges_label") %>:<br/>
                <%# unless campaign.is_a?(Array) %>
                    <%#= link_to_function t("campaigns.show.ranges.whole_campaign"), "$('#date_from').val('#{campaign.is_a?(Array) ? date_from : campaign.start_date}');$('#date_to').val('#{campaign.is_a?(Array) ? date_to : campaign.end_date}');submit_search()" %>
                <%# end %>
                <%= link_to_function t("campaigns.show.ranges.this_month"), "$('#date_from').val('#{Date.today.beginning_of_month}');$('#date_to').val('#{Date.today.end_of_month}');submit_search()" %>
                <%= link_to_function t("campaigns.show.ranges.this_week"), "$('#date_from').val('#{Date.today.beginning_of_week}');$('#date_to').val('#{Date.today.end_of_week}');submit_search()" %>
                <%= link_to_function t("campaigns.show.ranges.today"), "$('#date_from').val('#{Date.today}');$('#date_to').val('#{Date.today}');submit_search()" %>
              </p>

            </div>

            <div class="clb"></div>
        <% end %>
      </div>
    </div>

    <%= content_for :js do -%>
        <script type="text/javascript">
          var generic_url = '<% campaign.is_a?(Array) ? callers_production_path : callers_campaign_path(campaign) %>';

          function submit_search() {
            $('#search_new').attr('action', generic_url);
            $('#search_new').submit();
          }

          function submit_export() {
              $('#select_export_format').dialog({
                  height: 125,
                  modal: true,
                  buttons: {
                      "XLS": function(){
                          $( this ).dialog( "close" );
                          $('#search_new').attr('action', '<%= export_callers_production_path(:format => :xls) %>');
                          $('#search_new').submit();
                      },
                      "CSV": function(){
                          $( this ).dialog( "close" );
                          $('#search_new').attr('action', '<%= export_callers_production_path(:format => :csv) %>');
                          $('#search_new').submit();
                      }
                  }
              });
          }

        </script>
    <% end %>