    <p>
      <%= t("campaigns.show.total_contacts") %>: <strong><%= campaign.is_a?(Array) ? Contact.for_campaigns(campaign.map(&:id)).count : campaign.contacts.size %></strong>&nbsp;
      <% if current_user.has_any_role?(:admin, :call_centre) %>
        <%= t("campaigns.show.total_agents") %>: <strong><%= campaign_users.size %></strong>&nbsp;
      <% end %>
      <%= t("campaigns.show.total_calls") %>: <strong><%= campaign.is_a?(Array) ? CallLog.for_campaigns(campaign).answered.count : campaign.call_logs.answered.count %></strong>
    </p>
  </div>

  <table id="call_results" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= t("campaigns.show.table.results") %></th>
      <% headers.each do |header| %>
          <th class="ta_r pointer"><%= header %></th>
      <% end %>
      <th class="ta_r pointer"><%= t("campaigns.show.table.sum") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="<%= headers.size+2 %>"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% results.each do |result| %>
        <tr class="<%= cycle("odd", "even") %>">
          <% rows = CallResult.for_table_row(date_from, date_to, [result.id], agent_ids, campaign.is_a?(Array) ? campaign.map(&:id) : campaign.id) %>
          <td class="cl"></td>
          <td><%= result.name %></td>
          <% rows.each do |col| %>
              <td class="ta_r pointer" onclick="$('#call_result_ids').val('<%= col[:ids]*',' %>');$('#result_details_form').submit();"><%= col[:number] %></td>
          <% end %>
          <td class="ta_r pointer" onclick="$('#call_result_ids').val('<%= rows.inject([]){|acc, itm| acc += itm[:ids]}.uniq*',' %>');$('#result_details_form').submit();"><%= rows.map { |col| col[:number] }.sum %></td>
          <td class="cr"></td>
        </tr>
    <% end %>
    <tr id="all_result_row" class="<%= cycle("odd", "even") %>">
      <% result_row = CallResult.for_table_row(date_from, date_to, results.map(& :id), agent_ids, campaign.is_a?(Array) ? campaign.map(&:id) : campaign.id) %>
      <td class="cl"></td>
      <td><%= t("campaigns.show.table.all_results") %></td>
      <% result_row.each do |col| %>
          <td class="ta_r pointer" onclick="$('#call_result_ids').val('<%= col[:ids]*',' %>');$('#result_details_form').submit();"><%= col[:number] %></td>
      <% end %>
      <td class="ta_r pointer" onclick="$('#call_result_ids').val('<%= result_row.inject([]){|acc, itm| acc += itm[:ids]}.uniq*',' %>');$('#result_details_form').submit();"><%= result_row.map { |col| col[:number] }.sum %></td>
      <td class="cr"></td>
    </tr>
    </tbody>
  </table>

  <%= form_tag result_details_callers_campaign_path(campaign.is_a?(Array) ? campaign.first : campaign), :method => :post, :id => "result_details_form", :remote => true do %>
      <%= hidden_field_tag :call_result_ids, "" %>
  <% end %>

  <div id="container_for_result_details"></div>