<column-mc:>
  <header back="true" backurl="#{call_centre_agents_deals_path}"><%= "New deal" %></header>

  <div id="buyer_email_form">
  <%= text_field_tag :buyer_email %>
  <%= bt_link_to nil, t("call_centre.deals.new.view.check_buyer_email"), "javascript:void(0)", :onclick => "submit_query('check_email')" %>
  <%= bt_link_to nil, t("call_centre.deals.new.view.certify"), "javascript:void(0)", :onclick => "submit_query('certify')" %>
  </div>

  <div id="deal_form" style="display:none;">
  <%= semantic_form_for [:call_centres, @deal], :method => :post do |form| %>
      <frm title="Create new">
        <param:content>
          <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal, :categories => Category.without_locked.with_call_centre_unique(current_user).all} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("call_centre.deals.new.view.create_button"), :name => "commit_create", :onclick => "select_options_to_submit('deal_deal_template_ids_')" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
  </div>
</column-mc:>

<js:>
  <script type="text/javascript">
    function submit_query(query_type){
        buyer_email = $('#buyer_email').val();
        $.get('/call_centres/deals/new.js',
              'email='+encodeURIComponent(buyer_email)+'&query_type=' + query_type);
    }

    function setup_step(current_step){
        if(current_step == 0){
             $('#buyer_email_form').show();
             $('#deal_form').hide();
        }
        else if(current_step == 1){
            $('#buyer_email_form').hide();
            $('#deal_form').show();
        }
    }

    setup_step(<%= @deal.creation_step.to_i -%>)
  </script>
</js:>