<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("agent_performance.show.view.header") %>
    <% end %>
  <% end %>

  <%= semantic_form_for @search, :url => callers_agent_performance_path, :as => :search, :html => {:method => :get} do |form| %>
      <%= frm(:title => "Search options") do |section| %>
        <% section.block_content do %>
          <div class="pdd_10" id="search_box" style="<%= 'display:none;' if @search.all_agents.any? %>">
            <div class="column_left">
              <h3><%= t("agent_performance.show.view.time_period") %></h3>

              <fieldset class="inputs labels_ta_r">
                <ol class="align_inputs">
                  <%= form.input :date_from, :as => :weekpicker, :input_html => {:id => 'search_date_from'}, :wrapper_html => {:class => "date"} %>
                  <%= form.input :date_to, :as => :weekpicker, :input_html => {:id => 'search_date_to'}, :wrapper_html => {:class => "date"} %>
                </ol>
              </fieldset>
              <fieldset class="inputs labels_ta_r">

                <ol class="align_inputs">
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.all"), "$('#search_date_from').val('#{Date.new(2010)}');$('#search_date_to').val('#{Date.today}');" %></span>
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.this_year"), "$('#search_date_from').val('#{Date.today.beginning_of_year}');$('#search_date_to').val('#{Date.today.end_of_year}');" %></span>
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.this_quarter"), "$('#search_date_from').val('#{Date.today.beginning_of_quarter}');$('#search_date_to').val('#{Date.today.end_of_quarter}');" %></span>
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.this_month"), "$('#search_date_from').val('#{Date.today.beginning_of_month}');$('#search_date_to').val('#{Date.today.end_of_month}');" %></span>
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.this_week"), "$('#search_date_from').val('#{Date.today.beginning_of_week}');$('#search_date_to').val('#{Date.today.end_of_week}');" %></span>
                  <span class="pdd_5"><%= link_to_function t("campaigns.show.ranges.today"), "$('#search_date_from').val('#{Date.today}');$('#search_date_to').val('#{Date.today}');" %></span>
                </ol>
              </fieldset>

              <div class="clb"></div>
            </div>

            <div class="column_right">
              <h3><%= t("agent_home.show.view.agent_performance.select_currency") %></h3>

              <fieldset class="inputs labels_ta_r">
                <ol class="align_inputs">
                  <%= form.input :currency_id, :collection => Currency.active.map{|c| [c.name.to_s, c.id]}.sort, :include_blank => false %>
                  <%= form.input :active_results, :as => :boolean %>
                </ol>
              </fieldset>

              <div class="clb"></div>
            </div>
            <div class="clb"></div>

            <br/>

            <h3><%= t("agent_timesheets.new.select_team") %></h3>

            <div id="agents_selection_div">
              <div class="pdd_10">
                <div class="grid_210 fltl">&nbsp;</div>
                <div class="grid_240 fltl">
                  <h3><%= t("agent_timesheets.new.agents_selection.all_agents") %></h3>
                  <%= select_tag "all_agents", options_for_select([]), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
                  <%= check_box_tag "list_all_agents" %><%= label_tag "list_all_agents", "show locked agents" %>

                  <% if current_user.admin? %>
                      <h3 style="padding-top:10px"><%= t("agent_timesheets.new.agents_selection.all_call_centres") %></h3>
                      <%= select_tag "all_call_centres", options_for_select([]), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
                      <%= check_box_tag "list_all_call_centres" %><%= label_tag "list_all_call_centres", "show locked call centres" %>
                  <% end %>
                </div>

                <div class="grid_160 fltl" style="margin-right: 10px;margin-top:75px;">
                  <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("agent_timesheets.new.move_right"), "javascript:move_selected('all_agents','search_agents');", :id => "move_right" %></p>
                  <p class="ta_c"><%= bt_link_to nil, t("agent_timesheets.new.move_left"), "javascript:move_selected('search_agents','all_agents');", :id => "move_left" %></p>

                  <% if current_user.admin? %>
                    <div style="margin-top:160px">
                      <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("agent_timesheets.new.move_right"), "javascript:move_selected('all_call_centres','search_call_centres');", :id => "move_right" %></p>
                      <p class="ta_c"><%= bt_link_to nil, t("agent_timesheets.new.move_left"), "javascript:move_selected('search_call_centres','all_call_centres');", :id => "move_left" %></p>
                    </div>
                  <% end %>
                </div>

                <div class="grid_240 fltl">
                  <h3><%= t("agent_timesheets.new.agents_selection.selected_agents") %></h3>
                  <%= select_tag "search[agents]", options_for_select(@search.agents.map { |c| [c.screen_name, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>

                  <% if current_user.admin? %>
                      <h3 style="padding-top:10px"><%= t("agent_timesheets.new.agents_selection.selected_call_centres") %></h3>
                      <%= select_tag "search[call_centres]", options_for_select(@search.call_centres.map { |c| [c.screen_name, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
                  <% end %>
                </div>

                <div class="clb"></div>
              </div>
            </div>

          </div>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri") do %>
            <%= link_to_function "Print", "$('#report').printElement();" %>
          <% end %>
          <%= ibt(:class => "fltri show") do %>
            <%= link_to_function "Show", "$('#search_box, .frm_foot_actions .bt').toggle('slow');" %>
          <% end %>
          <%= ibt(:class => "fltri hide") do %>
            <%= link_to_function "Hide", "$('#search_box, .frm_foot_actions .bt').toggle('slow');" %>
          <% end %>
          <%= ibt(:class => "fltri generate") do %>
            <%= form.submit t("agent_timesheets.new.generate"), :onclick => "$('#search_agents option, #search_call_centres option').attr('selected', true);" %>
          <% end %>

          <script>
          <% if @search.all_agents.any? %>
            $('.hide, .generate').hide();
          <% else %>
            $('.show').hide();
          <% end %>
          </script>
        <% end %>
      <% end %>
  <% end %>

  <div class="hl" style="padding: 15px 0"></div>

  <div id="report">
    <style type="text/css">
        @import url("/stylesheets/payout.css") print;
    </style>
    <%= render :inline => @search.html %>
  </div>

  <script>
      function populate(select, selected, collection, filter) {
          $('#'+select+' option').remove();

          $.each(collection, function(idx, option) {
              if (($('#list_'+select+'').is(':checked') || (($.inArray(option[1], filter)) != -1)) && ($('#'+selected+' option[value="'+option[1]+'"]').length == 0) ) {
                  $('#'+select).
                          append($("<option></option>").
                          attr("value", option[1]).
                          text(option[0]));
              }
          });
      }

      <% all_agents = (current_user.admin? ? User.with_agents_without_call_centres.with_roles_except([:member]) : current_user.subaccounts).without_ids(@search.all_agent_ids) %>
      var allAgents = <%= all_agents.map { |c| [c.screen_name, c.id] }.sort.to_json.html_safe %>;
      var unlockedAgentIds = <%= all_agents.without_locked.map(&:id).to_json.html_safe %>;

      <% if current_user.admin? %>
      <% all_call_centres = User.with_call_centres.without_ids(@search.all_agent_ids) %>
      var allCallCentres = <%= all_call_centres.map { |c| [c.screen_name, c.id] }.sort.to_json.html_safe %>;
      var unlockedCallCentreIds = <%= all_call_centres.without_locked.map(&:id).to_json.html_safe %>;
      <% end  %>

      $(function(){
          populate('all_agents', 'search_agents', allAgents, unlockedAgentIds);
          $('#list_all_agents').change(function(){
              populate('all_agents', 'search_agents', allAgents, unlockedAgentIds);
          });

          <% if current_user.admin? %>
          populate('all_call_centres', 'search_call_centres', allCallCentres, unlockedCallCentreIds);
          $('#list_all_call_centres').change(function(){
              populate('all_call_centres', 'search_call_centres', allCallCentres, unlockedCallCentreIds);
          });
          <% end %>
      });
  </script>
<% end %>
