<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :name %>
      <%= form.input :server_host %>
      <%= form.input :server_port %>
      <%= form.input :sip_domain %>
      <%= form.input :sip_port %>
    </ol>
  </fieldset>
</div>

