<column-mc:>
  <header>
    <param:content>
      <%= t("administration.softphone_servers.index.view.title") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("administration.softphone_servers.index.view.new"), "javascript:void(0)", :onclick => "$('#form_new_softphone_server').submit()" %>
        </li>
      </ul>
    </param:actions>
  </header>

  <div class="hidden">
    <%= form_tag new_administration_softphone_server_path, :method => :get, :id => "form_new_softphone_server" do %>
        <%= submit_tag t("administration.softphone_servers.index.view.new") %>
    <% end %>
  </div>

  <% if @softphone_servers.blank? %>
      <%= blank_state_message( t("administration.softphone_servers.index.view.blank_state") ) %>
  <% else %>
      <table id="softphone_servers_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.softphone_servers.index.view.table.name") %></th>
          <th><%= t("administration.softphone_servers.index.view.table.ip") %></th>
          <th><%= t("administration.softphone_servers.index.view.table.port") %></th>
          <th class="ta_r"><%= t("administration.softphone_servers.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="5"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @softphone_servers.each do |softphone_server| %>
            <tr id="softphone_server_<%= softphone_server.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= softphone_server.name %></td>
              <td><%= softphone_server.ip %></td>
              <td><%= softphone_server.port %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li>
                    <%= link_to t("administration.softphone_servers.index.view.edit"), edit_administration_softphone_server_path(softphone_server), :class => "default_action" %>
                  </li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</column-mc:>