<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.company_information") %></h3>
        </li>
        <%= form.input :company_name, :label => t("shared.leads.form.company_name"), :hint => hint_for(@lead, :company_name) %>
        <%= form.input :company_phone_number, :hint => hint_for(@lead, :company_phone_number) %>
        <%= form.input :company_website, :hint => hint_for(@lead, :company_website) %>
        <%= form.input :address_line_1, :hint => hint_for(@lead, :address_line_1) %>
        <%= form.input :address_line_2, :hint => hint_for(@lead, :address_line_2) %>
        <%= form.input :address_line_3, :hint => hint_for(@lead, :address_line_3) %>
        <%= form.input :zip_code, :hint => hint_for(@lead, :zip_code) %>
        <%= form.input :city, :hint => hint_for(@lead, :city) %>
        <%= form.input :country_id, :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_phone_codes(); refresh_regions_list('lead');"}, :hint => hint_for(@lead, :country_id) %>
        <%= form.input :region_id, :as => :select, :collection => @lead.country.present? ? @lead.country.regions : [], :hint => hint_for(@lead, :region_id) %>
        <%= form.input :company_vat_no, :label => t("shared.leads.form.company_vat_no"), :hint => hint_for(@lead, :company_vat_no) %>
        <%= form.input :company_ean_number, :label => t("shared.leads.form.company_ean_reg"), :hint => hint_for(@lead, :company_ean_number) %>
        <% if current_user.has_any_role?(:admin, :call_centre) %>
            <%= form.input :tmp_creator_id, :as => :select, :collection => (current_user.has_role?(:call_centre) ? User.with_call_centre_agents(current_user) : User.with_agents_without_call_centres).map { |u| [u.email, u.id] }, :selected => @lead.creator_id, :label => t("shared.leads.form.creator") %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="columnr_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_160">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.contact_information") %></h3>
        </li>
        <%= form.input :contact_name, :label => t("shared.leads.form.contact_name"), :hint => hint_for(@lead, :contact_name) %>
        <%= form.input :direct_phone_number, :label => t("shared.leads.form.contact_direct_phone_number"), :hint => hint_for(@lead, :direct_phone_number) %>
        <%= form.input :phone_number, :label => t("shared.leads.form.contact_mobile_number"), :hint => hint_for(@lead, :phone_number) %>
        <%= form.input :email_address, :hint => hint_for(@lead, :email_address) %>
        <%= form.input :linkedin_url, :hint => hint_for(@lead, :linkedin_url) %>
        <%= form.input :facebook_url, :hint => hint_for(@lead, :facebook_url) %>
      </ol>
    </fieldset>
  </div>
</div>

<clb/>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_200">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("shared.leads.form.lead_information") %></h3>
      </li>
      <%= form.input :category_id, :collection => Category.without_locked.with_agent_unique(current_user).map { |c| [c.name, c.id] }, :include_blank => false, :input_html => {:disabled => (!@lead.new_record? and @lead.lead_template_values_present?), :onchange => "$('#lead_category_is_changed').val('1'); $('##{dom_id(@lead, @lead.new_record? ? :new : :edit)}').submit()"}, :hint => hint_for(@lead, :category_id) %>
      <%= form.input :category_is_changed, :as => :hidden, :value => "0" %>
      <%= form.input :is_international, :as => :select, :collection => [[t("shared.leads.form.country_local_label"), 0], [t("shared.leads.form.country_international"), 1]], :include_blank => false, :label => t("shared.leads.form.is_international"), :hint => hint_for(@lead, :is_international) %>
      <%= form.input :header, :label => t("shared.leads.form.header"), :hint => hint_for(@lead, :header) %>
      <%= form.input :description, :input_html => {:style => "height: 140px; width: 600px"}, :label => t("shared.leads.form.description"), :hint => hint_for(@lead, :description) %>
      <% unless current_user.has_role?(:purchase_manager) %>
          <%= form.input :hidden_description, :input_html => {:style => "height: 140px; width: 600px"}, :label => t("shared.leads.form.hidden_description"), :hint => hint_for(@lead, :hidden_description) %>
      <% end %>
      <%= form.input :purchase_value, :hint => hint_for(@lead, :purchase_value) %>
      <%= form.input :price, :hint => hint_for(@lead, :price) %>
      <%= form.input :currency, :collection => currencies_for_select, :include_blank => false, :hint => hint_for(@lead, :currency) %>
      <% unless current_user.has_role?(:purchase_manager) %>
          <% if current_user.can_publish_leads? %>
              <%= form.input :published, :hint => hint_for(@lead, :published) %>
          <% else %>
              <%= form.input :published, :as => :hidden %>
          <% end %>
      <% end %>
    </ol>
  </fieldset>
</div>
<hl/>

<% unless @lead.lead_templates.empty? %>
    <%= render :partial => "/shared/leads/lead_template_fields", :locals => {:lead => @lead, :form => form} %>
    <hl/>
<% end %>

<div class="nested_locale_container"></div>

<%= form.fields_for :lead_translations, @lead.lead_translations.select { |lt| lt.locale != I18n.locale.to_s } do |builder| %>
    <%= render :partial => "/shared/leads/lead_fields", :locals => {:f => builder} %>
<% end %>

<div class="pdd_10 no_pdd_t" id="locale_picker_div">
  <fieldset class="inputs labels_ta_r labels_200">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("shared.leads.form.additional_language") %></h3>
      </li>
      <li class="select">
        <%= form.label :locale, "New translation" %>
        <%= select_tag :locale, options_for_select(available_locales_list(@lead.lead_translations)),
                       {:id => "locale_picker", :include_blank => true, :onchange => fields_for_leads_translations(form)} %>
      </li>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_200">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("shared.leads.form.sales_information") %></h3>
      </li>
      <%= form.input :notify_buyers_after_update, :as => :boolean, :hint => hint_for(@lead, :notify_buyers_after_update) unless @lead.lead_purchases.empty? %>
      <%= form.input :sale_limit, :as => :select, :collection => (1..10), :include_blank => false, :hint => hint_for(@lead, :sale_limit) %>
      <%= form.input :purchase_decision_date, :as => :string, :input_html => {:id => "datepicker"}, :wrapper_html => {:class => "date"}, :hint => hint_for(@lead, :purchase_decision_date) %>
    </ol>
  </fieldset>
</div>



<script>
    var nestedFormsCount = <%= @lead.lead_translations.reject{ |lt| lt.locale == I18n.locale.to_s }.size %>;
    $(function() {
        $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    function add_fields(link, content) {
        if ($('#locale_picker').text() != null)
        {
            var new_id = new Date().getTime();
            var regexp = new RegExp("");
            content = content.replace(/lead_lead_translations_attributes_0/g, "lead_lead_translations_attributes_" + nestedFormsCount.toString());
            content = content.replace(/lead\[lead_translations_attributes\]\[0\]/g, "lead[lead_translations_attributes][" + new_id.toString() + "]");
            content = content.replace(/LOCALE_LANG/, $('#locale_picker').val());
            $('.nested_locale_container:last').append(content);
            $('.locale_hidden_field:last').val($('#locale_picker').val());
            $('.locale_title:last').html($('#locale_picker').val());
            $('.lead_template_value_translations_container_' + $('#locale_picker').val()).show();
            $('.destroy_hidden_field_template_value_tr_' + $('#locale_picker').val()).val('');
            $("#locale_picker option[value=" + $('#locale_picker').val() + "]").remove();
            nestedFormsCount = nestedFormsCount + 1;
            if ($("#locale_picker option[value!='']").size() == 0) {
                $("#locale_picker_div").hide();
            }
        }
    }

    function remove_language(id, locale, record_id) {
        nestedFormsCount = nestedFormsCount - 1;
        $('.lead_template_value_translations_container_' + locale).hide();
        $('.destroy_hidden_field_template_value_tr_' + locale).val('true');
        $('#locale_picker').append($("<option></option>").attr("value", locale).text(language_names[locale]));
        if (record_id == null)
        {
            $('#lead_translation_form_' + id).remove();
        }
        else
        {
            $('#lead_translation_form_' + id).hide();
            $('#destroy_hidden_field_' + record_id.toString()).val('true')
        }
        $("#locale_picker_div").show();
    }

    function set_beginnings_of_urls(fields_array) {
        $.each(fields_array, function(index, value) {
            if ($('#' + value).val() == "") {
                $('#' + value).val("http://")
            }
        });

    }

    function add_template() {
        $('#lead_template_container_' + $('#optional_templates_picker').val()).show();
        $('.destroy_hidden_field_lead_template_fields_' + $('#optional_templates_picker').val()).val('');
        $("#optional_templates_picker option[value=" + $('#optional_templates_picker').val() + "]").remove();
        if ($('#optional_templates_picker option').length == 1)
        {
            $('#optional_templates_span').hide();
        }
        else
        {
            $('#optional_templates_span').show();
        }
    }

    function remove_template(template_id, template_name) {
        $('#lead_template_container_' + template_id.toString()).hide();
        $('.destroy_hidden_field_lead_template_fields_' + template_id.toString()).val('true');
        $('#optional_templates_picker').append($("<option></option>").attr("value", template_id).text(template_name));
        if ($('#optional_templates_picker option').length > 1)
        {
            $('#optional_templates_span').show();
        }
    }

    function refresh_phone_codes() {
        $.ajax({
            type: "GET",
            url: "<%= phone_codes_path -%>",
            data: "country_id=" + $('#lead_country_id').val()
        });
    }

    function set_phone_code(field, code) {
        $('#' + field).val('+' + code)
    }


    <% if !@lead.new_record? or (@lead.new_record? and @lead.country.present?) %>
    <%= "if($('#lead_direct_phone_number').val() == ''){set_phone_code('lead_direct_phone_number', #{@lead.country.phone_dialling_code})}" -%>
    <%= "if($('#lead_phone_number').val() == ''){set_phone_code('lead_phone_number', #{@lead.country.phone_dialling_code})}" -%>
    <% end %>

    <% if params[:action] == "new" or params[:action] == "create" %>
    set_beginnings_of_urls(["lead_linkedin_url", "lead_facebook_url", "lead_company_website"]);
    <% end %>

    <% lead_templates = @lead.lead_templates %>
    <% if lead_templates.size == 1 and !lead_templates.first.is_mandatory %>
    $('#optional_templates_picker').val('<%= lead_templates.first.id -%>');
    add_template();
    <% end %>

    var language_names = [];
    <% Locale.all.each do |locale| %>
    <%= "language_names['#{locale.code}'] = '#{t('models.locale.' + locale.code)}';" -%>
    <% end %>
</script>