<%= javascript_include_tag 'lead_template_functions.js' %>
<%= javascript_include_tag 'lead_translation_functions.js' %>

<% if @agent_work_screen and @campaign and @call_result and @call_result.result %>
    <% @campaign_result = @call_result.result.campaigns_results.for_campaign(@campaign).first %>
<% end %>

<% @settings = @campaign_result ? @campaign_result.settings : {} %>

<% form.object.set_lead_default_values %>
<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_180">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.company_information") %></h3>
        </li>
        <%= form.input :company_name, :hint => hint_for(@lead, :company_name) %> <%= link_to(image_tag("icons/google_icon.png"), "http://www.google.com/search?q=#{@lead.company_name.gsub(' ', "+")}", :target => "blank", :id => "google_search_for_company_name") if current_user.has_role?(:call_centre_agent) and !@lead.new_record? %>
        <%= form.input :company_phone_number, :hint => hint_for(@lead, :company_phone_number) %> <%= link_to_function image_tag('icons/call.png'), "changePhoneNumber($('#contact_company_phone_number').val());" if defined? call_links and call_links %>
        <%= form.input :company_website, :hint => hint_for(@lead, :company_website) %>
        <%= form.input :address_line_1, :hint => hint_for(@lead, :address_line_1) %>
        <%= form.input :address_line_2, :hint => hint_for(@lead, :address_line_2) %>
        <%= form.input :address_line_3, :hint => hint_for(@lead, :address_line_3) %>
        <%= form.input :zip_code, :hint => hint_for(@lead, :zip_code) %>
        <% unless @supplier %>
            <%= form.input :country_id,
                           :as => :select,
                           :collection => Country.all,
                           :required => true,
                           :input_html => {:onchange => "refresh_phone_codes(); refresh_regions_list('lead');"},
                           :hint => hint_for(@lead, :country_id) %>
            <%= form.input :region_id,
                           :as => :select,
                           :collection => @lead.country.present? ? @lead.country.regions : [],
                           :hint => hint_for(@lead, :region_id) %>
        <% end %>
            <%= form.input :company_vat_no, :hint => hint_for(@lead, :company_vat_no) %>
        <%= form.input :company_ean_number, :hint => hint_for(@lead, :company_ean_number) %>
        <% if current_user.has_any_role?(:admin, :call_centre) %>
            <%= form.input :tmp_creator_id, :as => :select, :collection => (current_user.has_role?(:call_centre) ? User.with_call_centre_agents(current_user) : User.with_agents_without_call_centres).map { |u| [u.email, u.id] }, :selected => @lead.tmp_creator_id.blank? ? @lead.creator_id : @lead.tmp_creator_id %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_160">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.contact_information") %></h3>
        </li>
        <%= form.input :contact_name, :hint => hint_for(@lead, :contact_name) %>
        <%= form.input :contact_title, :hint => hint_for(@lead, :contact_title) %>
        <%= form.input :direct_phone_number, :hint => hint_for(@lead, :direct_phone_number) %> <%= link_to_function image_tag('icons/call.png'), "changePhoneNumber($('#contact_direct_phone_number').val());" if defined? call_links and call_links %>
        <%= form.input :phone_number, :hint => hint_for(@lead, :phone_number) %> <%= link_to_function image_tag('icons/call.png'), "changePhoneNumber($('#contact_phone_number').val());" if defined? call_links and call_links %>
        <%= form.input :email_address, :hint => hint_for(@lead, :email_address) %>
        <%= form.input :linkedin_url, :hint => hint_for(@lead, :linkedin_url) %>
        <%= form.input :facebook_url, :hint => hint_for(@lead, :facebook_url) %>
        <%= form.input :pnumber, :as => :string %>
        <%= form.input :nnmid, :as => :string %>
        <%= form.input :custom_1, :as => :string %>
        <%= form.input :custom_2, :as => :string %>
        <%= form.input :custom_3, :as => :string %>
        <%= form.input :custom_4, :as => :string %>
        <%= form.input :custom_5, :as => :string %>
        <%= form.input :note, :as => :text, :hint => hint_for(@lead, :note), :input_html => {:cols => 40, :rows => 10} if @contact %>
      </ol>
    </fieldset>
    <% if user_signed_in? and (current_user.admin? or current_user.agent?)  %>
      <%= render 'shared/tags/assigned_tags', :object => @lead %>
    <% end %>
  </div>
</div>

<div class="clb"></div>

<% unless @contact_managing %>

    <hl/>

    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_180">
        <ol class="align_inputs">
          <li class="header">
            <h3><%= current_user.has_role?(:member) ? t("shared.leads.form.member.lead_information") : t("shared.leads.form.lead_information") %></h3>
          </li>
          <% categories = current_user.has_role?(:admin) ? LeadCategory.without_locked.all :
                             current_user.has_role?(:call_centre) ? LeadCategory.without_locked.with_call_centre_unique(current_user).all :
                                     current_user.has_role?(:member) ? LeadCategory.without_locked.with_agent_unique(current_user).without_supplier_unique.all :
                                             current_user.has_role?(:supplier) ? current_user.with_role.parent_accessible_categories.all :
                                             LeadCategory.without_locked.with_agent_unique(current_user).all %>
          <%= form.input :category_id,
                         :disabled => categories.select { |c| !c.can_publish_leads? }.map(&:id),
                         :collection => nested_set_options(categories),
                         :required => current_user.has_role?(:member),
                         :include_blank => current_user.has_role?(:member),
                         :input_html => {:onchange => (@contact ? '' : "check_templates_compatibility(#{@lead.new_record? ? 0 : @lead.id}, $('#lead_category_id').val());")},
                         :hint => hint_for(@lead, :category_id) %>
          <%= form.input :category_is_changed, :as => :hidden, :value => "0" %>
          <% if current_user.has_role?(:member) %>
              <%= form.input :is_international, :as => :hidden, :value => 0 %>
          <% else %>
              <%= form.input :is_international, :as => :select, :collection => [[t("shared.leads.form.country_local_label"), 0], [t("shared.leads.form.country_international"), 1]], :include_blank => false, :hint => hint_for(@lead, :is_international) %>
          <% end %>
          <%= form.input :header, :hint => hint_for(@lead, :header), :label => current_user.has_role?(:member) ? t("shared.leads.form.member.header_label") : true %>
          <%= form.input :description, :input_html => {:style => "height: 140px; width: 600px"}, :hint => hint_for(@lead, :description), :label => current_user.has_role?(:member) ? t("shared.leads.form.member.description_label") : true %>
          <% unless current_user.has_role?(:member) %>

              <% if @settings["prompt_for_hidden_description"].eql?("0") %>
                  <%= form.input :hidden_description, :as => :hidden %>
              <% else %>
                  <%= form.input :hidden_description, :input_html => {:style => "height: 140px; width: 600px"}, :hint => hint_for(@lead, :hidden_description) %>
              <% end %>

              <% unless @supplier %>
                  <% if @settings['prompt_for_purchase_value'].eql?('0') %>
                      <%= form.input :purchase_value, :as => :hidden %>
                  <% else %>
                      <%= form.input :purchase_value, :hint => hint_for(@lead, :purchase_value) %>
                  <% end %>

                  <% form.object.price = @campaign_result.value.to_f if @campaign_result and @settings['use_value_as_lead_price'].eql?('1') %>
                  <% if @campaign %>
                      <% form.object.currency = @campaign.currency %>
                  <% end %>

                  <% if @settings['prompt_for_price'].eql?('0') %>
                      <%= form.input :price, :as => :hidden %>
                  <% else %>
                      <%= form.input :price, :hint => hint_for(@lead, :price) %>
                  <% end %>

                  <% if @settings['prompt_for_currency'].eql?('0') %>
                      <%= form.input :currency_id, :as => :hidden %>
                  <% else %>
                      <%= form.input :currency_id, :collection => currencies_for_select,
                                     :include_blank => false,
                                     :hint => hint_for(@lead, :currency_id) %>
                  <% end %>
              <% end %>

          <% end %>
          <% unless current_user.has_role?(:member) %>
              <% if !current_user.can_publish_leads? or @settings["prompt_for_published"].eql?("0") %>
                  <%= form.input :published, :as => :hidden %>
              <% else %>
                  <%= form.input :published, :hint => hint_for(@lead, :published) %>
              <% end %>
          <% end %>
        </ol>
      </fieldset>
    </div>
    <hl/>

    <% if @lead.category.present? and @lead.lead_templates.any? %>
        <%= render :partial => "/shared/leads/lead_template_fields", :locals => {:lead => @lead, :form => form} %>
        <hl/>
    <% end %>

    <% unless @settings["prompt_for_additional_language"].eql?("0") %>
        <% counter = -1 %>
        <%= form.fields_for :lead_translations, @lead.lead_translations.select { |lt| lt.locale != I18n.locale.to_s } do |builder| %>
            <%= render :partial => "/shared/leads/lead_fields", :locals => { :f => builder, :counter =>  (counter += 1) } %>
        <% end %>

        <div class="nested_locale_container"></div>

        <% unless current_user and current_user.has_role?(:member) %>
            <div class="pdd_10 no_pdd_t" id="locale_picker_div">
              <fieldset class="inputs labels_ta_r labels_180">
                <ol class="align_inputs">
                  <li class="header">
                    <h3><%= t("shared.leads.form.additional_language") %></h3>
                  </li>
                  <li class="select">
                    <%= form.label :locale, t("shared.leads.form.new_translation") %>
                    <%= select_tag :locale, options_for_select(available_locales_list(@lead.lead_translations)),
                                   {:id => "locale_picker", :include_blank => true, :onchange => fields_for_leads_translations(form)} %>
                  </li>
                </ol>
              </fieldset>
            </div>
            <hl/>
       <% end %>
    <% end %>

    <% unless @supplier %>
        <div class="pdd_10 no_pdd_t">
          <fieldset class="inputs labels_ta_r labels_180">
            <ol class="align_inputs">

              <% if !@settings['prompt_for_sale_limit'].eql?('0') or !@settings['prompt_for_decision_date'].eql?('0') %>
                  <li class="header">
                    <h3><%= current_user.has_role?(:member) ? t('shared.leads.form.member.sales_information') : t('shared.leads.form.sales_information') %></h3>
                  </li>
              <% end %>

              <%= form.input :notify_suppliers_after_update,
                             :as => :boolean,
                             :hint => hint_for(@lead, :notify_suppliers_after_update) unless @lead.lead_purchases.empty? %>

              <% if @settings['prompt_for_sale_limit'].eql?('0') %>
                  <%= form.input :sale_limit, :as => :hidden %>
              <% else %>
                  <%= form.input :sale_limit, :as => :select,
                                 :collection => (1..10),
                                 :include_blank => false,
                                 :hint => hint_for(@lead, :sale_limit),
                                 :label => current_user.has_role?(:member) ? t('shared.leads.form.member.sale_limit_label') : true %>
              <% end %>

              <% if @settings['prompt_for_decision_date'].eql?('0') %>
                  <%= form.input :purchase_decision_date, :as => :hidden %>
              <% else %>
                  <%= form.input :purchase_decision_date,
                                 :as => (user_signed_in? and current_user.has_role?(:member)) ? :string : :datepicker,
                                 :wrapper_html => {:class => 'date'},
                                 :hint => hint_for(@lead, :purchase_decision_date) %>
              <% end %>
            </ol>
          </fieldset>
        </div>
    <% end %>

    <script>
        var nestedFormsCount = <%= @lead.lead_translations.reject{ |lt| lt.locale == I18n.locale.to_s }.size %>;
        $(function() {
            <% if current_user.has_role?(:member) %>
            $("#lead_purchase_decision_date").datepicker({ dateFormat: 'yy-mm-dd', minDate: "+5D" });
            <% else %>
            $("#lead_purchase_decision_date").datepicker({ dateFormat: 'yy-mm-dd'});
            <% end %>
            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd'});
        });


        function set_beginnings_of_urls(fields_array) {
            $.each(fields_array, function(index, value) {
                if ($('#' + value).val() == "") {
                    $('#' + value).val("http://")
                }
            });

        }

        function refresh_phone_codes() {
            $.ajax({
                type: "GET",
                url: "<%= phone_codes_path -%>",
                data: "country_id=" + $('#lead_country_id').val()
            });
        }

        function set_phone_code(field, code) {
            $('#' + field).val('+' + code)
        }

        function check_templates_compatibility(lead_id, category_id) {
            if (lead_id > 0) {
                $.get('/lead_templates/new.js', 'lead_id=' + lead_id + '&category_id=' + category_id);
            }
            else {
                change_category_and_submit_form();
            }
        }

        function change_category_and_submit_form() {
            $('#lead_category_is_changed').val('1');
            $('#<%="#{dom_id(@lead, @lead.new_record? ? :new : :edit)}"%>').submit();
        }


        <% if !@lead.new_record? or (@lead.new_record? and @lead.country.present?) %>
        <%= "if($('#lead_direct_phone_number').val() == ''){set_phone_code('lead_direct_phone_number', #{@lead.country.phone_dialling_code})}".html_safe -%>
        <%= "if($('#lead_phone_number').val() == ''){set_phone_code('lead_phone_number', #{@lead.country.phone_dialling_code})}".html_safe -%>
        <%= "if($('#lead_company_phone_number').val() == ''){set_phone_code('lead_company_phone_number', #{@lead.country.phone_dialling_code})}".html_safe -%>
        <% end %>

        <% if params[:action] == "new" or params[:action] == "create" %>
        set_beginnings_of_urls(["lead_linkedin_url", "lead_facebook_url", "lead_company_website"]);
        <% end %>

        <% if @lead.category.present? %>
            <% lead_templates = @lead.lead_templates %>
            <% if lead_templates.size == 1 and !lead_templates.first.is_mandatory %>
            $('#optional_templates_picker').val('<%= lead_templates.first.id -%>');
            add_template();
            <% end %>
        <% end %>

        var language_names = [];
        <% Locale.enabled.each do |locale| %>
        <%= "language_names['#{locale.code}'] = '#{t('models.locale.' + locale.code)}';".html_safe -%>
        <% end %>
    </script>

<% end %>
