<li class="<%= f.object.lead_template_field.field_type.to_i == LeadTemplateField::NOTE ? 'text' : 'string' %>">
  <% abbr =  f.object.lead_template_field.is_mandatory ? content_tag(:abbr, "*").html_safe : '' -%>
  <%= raw f.label :value, h(f.object.lead_template_field.name)+(abbr) %>
  <% if f.object.lead_template_field.field_type.to_i == LeadTemplateField::NOTE %>
    <%= f.text_area :value, :style => "height: 100px; width: 230px" %>
  <% elsif f.object.lead_template_field.field_type.to_i == LeadTemplateField::DATE %>
      <%= f.text_field :value, :class => "date datepicker", :style => "width:70px;" %>
  <% else %>
    <%= f.text_field :value %>
  <% end %>
  <%= custom_error_for_field(f, :value) %>
</li>
<li class="hidden">
  <%= f.hidden_field :_destroy, :class => "destroy_hidden_field_lead_template_fields_#{f.object.lead_template_field.lead_template_id}", :value => "#{'true' if !f.object.lead_template_field.lead_template.is_mandatory and !f.object.lead_template_field.lead_template.is_filled_out_for(@lead)}", :id => "destroy_hidden_field_template_#{f.object.lead_template_field_id}" %>
  <%= f.hidden_field :lead_template_field_id, :value => f.object.lead_template_field.id %>
</li>

<%= f.fields_for :lead_template_value_translations, f.object.all_lead_template_value_translations(I18n.locale.to_s) do |builder| %>
    <%= render :partial => "/shared/leads/lead_template_value_translation_fields", :locals => {:f => builder} %>
<% end %>

<script type="text/javascript">
      $(function() {
        $(".datepicker").datepicker({ dateFormat: '<%= t("date.formats.datepicker") -%>' });
    });
</script>