<div class="lead_template_value_translations_container_<%= f.object.locale %>" style="<%= "display: none;" if @lead.nil? or @lead.lead_translations.detect { |lt| lt.locale == f.object.locale }.nil? %>">
<li class="string">
  <%= f.label :value, "&nbsp;" %>
  <% if f.object.field_type.to_i == LeadTemplateField::NOTE %>
    <%= f.text_area :value, :style => "height: 100px; width: 230px" %>
  <% else %>
    <%= f.text_field :value %>
  <% end %>
  <%= image_tag("languages/flag_#{f.object.locale}.png", :border => 0, :class => "icon") %>
  <%= custom_error_for_field(f, :value) %>
</li>
<li class="hidden">
  <%= f.hidden_field :_destroy, :value => 'true' if @lead.nil? or @lead.lead_translations.detect { |lt| lt.locale == f.object.locale }.nil?, :class => "destroy_hidden_field_template_value_tr_#{f.object.locale}" %>
  <%= f.hidden_field :lead_template_value_id, :value => f.object.lead_template_value_id %>
  <%= f.hidden_field :locale, :value => f.object.locale %>
</li>
</div>