<%= semantic_form_for [:callers, resource] do |f| %>
    <frm title="#{resource.new_record? ? t('login_time_requests.new.request_new') : t('login_time_requests.edit.request_edit')}">
      <param:content>
        <div class="pdd_10">

          <fieldset class="inputs labels_ta_r">
            <ol class="align_inputs">
              <%= f.input :start_time, :as => :string, :input_html => { :class => "datetimepicker", :value => l(resource.start_time) } %>
              <%= f.input :end_time, :as => :string, :input_html => { :class => "datetimepicker" , :value => l(resource.end_time) } %>
              <%= f.input :campaign_id, :collection => Campaign.available_for_user(current_user).order("name ASC"), :include_blank => false %>
              <% if current_user.admin? %>
                  <%= f.input :user_id, :as => :select, :collection => User.with_any_role(:agent, :call_centre_agent).without_locked.map{|u| [u.screen_name, u.id]}.sort, :include_blank => false %>
              <% elsif current_user.call_centre? %>
                  <%= f.input :user_id, :as => :select, :collection => current_user.children.with_any_role(:agent, :call_centre_agent).without_locked.map{|u| [u.screen_name, u.id]}.sort, :include_blank => false %>
              <% else %>
                  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
              <% end %>
              <%= f.input :creator_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            </ol>
          </fieldset>

        </div>
      </param:content>
      <param:actions>
        <ibt c="fltri">
          <%= f.submit t("login_time_requests.new.save_request") %>
        </ibt>
      </param:actions>
    </frm>
<% end %>
