<%= semantic_form_for [:callers, resource] do |f| %>
    <%= frm(:title => "#{resource.new_record? ? t('login_time_requests.new.request_new') : t('login_time_requests.edit.request_edit')}") do |section| %>
      <% section.block_content do %>
        <div class="pdd_10">

          <fieldset class="inputs labels_ta_r">
            <ol class="align_inputs">
              <% if type == 'new' %>
                  <%= f.input :whole_day, :as => :boolean, :onclick => 'wholeDayHandler()' %>
              <% end %>
              <div id='whole_day_off'>
                <%= f.input :start_time, :as => :string,
                            :input_html => {:readonly => :readonly,
                                            :class => 'datetimepicker',
                                            :value => l(resource.start_time)} %>
                <%= f.input :end_time, :as => :string,
                            :input_html => {:readonly => :readonly,
                                            :class => 'datetimepicker',
                                            :value => l(resource.end_time)} %>
              </div>
              <% if type == 'new' %>
                  <div id='whole_day_on'>
                    <%= f.input :whole_day_start_time, :as => :string,
                                :input_html => {:readonly => :readonly,
                                                :class => 'datetimepicker_time',
                                                :value => resource.whole_day_start_time_value(current_user)} %>
                    <%= f.input :whole_day_end_time, :as => :string,
                                :input_html => {:readonly => :readonly,
                                                :class => 'datetimepicker_time',
                                                :value => resource.whole_day_end_time_value(current_user)} %>
                    <%= f.input :whole_day_start_date, :as => :string,
                                :input_html => {:readonly => :readonly,
                                                :class => 'datetimepicker_date',
                                                :value => resource.whole_day_start_date_value} %>
                    <%= f.input :whole_day_end_date, :as => :string,
                                :input_html => {:readonly => :readonly,
                                                :class => 'datetimepicker_date',
                                                :value => resource.whole_day_end_date_value} %>
                  </div>
              <% end %>
              <%= f.input :campaign_id, :collection => [], :include_blank => false %>
              <% if current_user.admin? %>
                  <%= f.input :user_id, :as => :select, :collection => User.with_any_role(:agent, :call_centre_agent).without_locked.map{|u| [u.screen_name, u.id]}.sort, :include_blank => false %>
              <% elsif current_user.call_centre? %>
                  <%= f.input :user_id, :as => :select, :collection => current_user.children.with_any_role(:agent, :call_centre_agent).without_locked.map{|u| [u.screen_name, u.id]}.sort, :include_blank => false %>
              <% else %>
                  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
              <% end %>
              <%= f.input :creator_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            </ol>
          </fieldset>

        </div>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri") do %>
          <%= f.submit t("login_time_requests.new.save_request") %>
        <% end %>
      <% end %>
    <% end %>
<% end %>

<script>
    var allCampaigns = <%= Campaign.available_for_user(current_user).order("name ASC").map { |c| [c.name.to_s, c.id] }.sort.to_json.html_safe %>;
    var activeCampaignIds = <%= Campaign.available_for_user(current_user).order("name ASC").with_state('active').map(&:id).to_json.html_safe %>;

    function fillCampaigns(){
        $('#login_time_request_campaign_id option').remove();

        $.each(allCampaigns, function(idx, option) {
            if (( (($.inArray(option[1], activeCampaignIds)) != -1) || <%= current_user.show_inactive_campaigns %> )) {
                $('#login_time_request_campaign_id').
                        append($("<option></option>").
                        attr("value", option[1]).
                        text(option[0]));
            }
        });
    }

    $(function(){
        fillCampaigns();
        wholeDayHandler()
    });

    function wholeDayHandler(){
        if ($('#login_time_request_whole_day').is(':checked')) {
            $('#whole_day_on').show();
            $('#whole_day_off').hide();
        } else {
            $('#whole_day_on').hide();
            $('#whole_day_off').show();
        }
    }
</script>
