<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.fields_for :country, form.object.country || Country.new do |country_form| %>
          <%= country_form.input :name, :input_html => {:disabled => !form.object.new_record?} %>
          <%= country_form.input :locale, :input_html => {:disabled => !form.object.new_record?} %>
          <%= country_form.input :detailed_locale, :input_html => {:disabled => !form.object.new_record?} %>
      <% end %>
      <%= form.input :rate %>
    </ol>
  </fieldset>
</div>
