<column-mc:>
  <h1><%= t("agent_accounts.new.view.title") %></h1>


  <%= semantic_form_for  @user, :url => agent_accounts_path do |form| %>
      <%= form.inputs :first_name, :last_name, :phone, :email, :screen_name, :password, :password_confirmation, :street,
        :city, :zip_code, :county
      %>

      <%= form.input :country, :as => :select, :collection => Country.all %>
      <%= form.input :agreement_read, :as => :boolean %>
      <%= form.input :newsletter_on, :as => :boolean %>
      <%= form.commit_button t("agent_accounts.new.view.button_create_account") %>
  <% end %>
</column-mc:>