<%= content_for :column_mc do -%>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "agent_accounts", :user => @user} %>
  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
  </div>

  <hl pdd="15"/>

  <div class="frm_tiny" style="margin-bottom:10px;">
    <div class="pdd_10">
      <p><%= t("agent_accounts.new.view.janrain_sign_up_label") %>
        <% unless Rails.env.test? %>
            <%= link_to_rpx image_tag("icons/social_login.png"), agent_accounts_url %>
            <%= javascript_include_rpx agent_accounts_url %>
        <% end %>
      </p>
      <%= render(:partial => "shared/accounts/rpx_message", :locals => {:user => @user}) unless @user.rpx_identifier.blank? %>
    </div>
  </div>


  <%= semantic_form_for @user, :url => agent_accounts_path do |form| %>
      <frm title="Create new account" c="no_marg">
        <param:content>
          <div class="column_left">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_200">
                <ol>
                  <%= form.input :first_name, :hint => hint_for(@user, :first_name) %>
                  <%= form.input :last_name, :hint => hint_for(@user, :last_name) %>
                  <%= form.fields_for :address do |address_form| %>
                      <%= address_form.input :address_line_1, :hint => hint_for(@user, :address_address_line_1) %>
                      <%= address_form.input :address_line_2, :hint => hint_for(@user, :address_address_line_2) %>
                      <%= address_form.input :address_line_3, :hint => hint_for(@user, :address_address_line_3) %>
                      <%= address_form.input :zip_code, :hint => hint_for(@user, :address_zip_code) %>
                      <%= address_form.input :country_id, :hint => hint_for(@user, :address_country_id), :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_agent_address_attributes');"} %>
                      <%= address_form.input :region_id, :hint => hint_for(@user, :address_region_id), :as => :select, :collection => regions_collection_for(@user.address.country) %>
                  <% end %>
                </ol>
              </fieldset>
            </div>
          </div>

          <div class="column_right">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r">
                <ol class="align_inputs">
                  <%= form.input :phone, :hint => hint_for(@user, :phone) %>
                  <%= form.input :email, :hint => hint_for(@user, :email) %>
                  <%= form.input :password, :hint => hint_for(@user, :password), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :password_confirmation, :hint => hint_for(@user, :password_confirmation), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :time_zone, :wrapper_html => {:class => "select"}, :input_html => {:style => "width: 240px"} %>
                  <%= form.input :agreement_read, :hint => hint_for(@user, :agreement_read), :as => :boolean, :label => "#{t("common.agree_to")} #{link_to_main_page_article('terms_conditions', {:popup => true}, {:id => 'agreement_modal_box'})}".html_safe, :required => true %>
                  <%= form.input :newsletter_on, :hint => hint_for(@user, :newsletter_on), :as => :boolean %>
                  <%= form.input :rpx_identifier, :as => :hidden %>
                </ol>
              </fieldset>
            </div>
          </div>

          <div class="clb"></div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="plus">
            <%= form.submit t("agent_accounts.new.view.button_create_account") %>
          </ibt>
          <%= bt_link_to nil, t("shared.accounts.new_account_form.button_cancel"), root_path, :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
  <% end %>
<% end %>