<column-mc:>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "supplier_accounts", :user => @user} %>

  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
  </div>

  <hl pdd="15"/>  

  <% unless @user.rpx_identifier.blank? %>


      <div class="frm_tiny" style="margin-bottom:10px;">
        <div class="pdd_10">
          <%= render(:partial => "shared/accounts/rpx_message", :locals => {:user => @user}) %>
        </div>
      </div>
  <% end %>

  <%= semantic_form_for @user, :url => supplier_accounts_path do |form| %>
      <frm title="#{t('shared.accounts.new_account_form.form_title')}" c="no_marg">
        <param:content>
          <div class="pdd_10">
            <%= render :partial => "shared/subscriptions/new_account", :locals => {:role => "category_supplier", :subscriptions_form => form} %>
          </div>
          <hl/>
          <div class="column_left">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_200">
                <ol>
                  <%= form.input :first_name, :hint => hint_for(@user, :first_name) %>
                  <%= form.input :last_name, :hint => hint_for(@user, :last_name) %>
                  <%= form.input :company_name, :hint => hint_for(@user, :company_name) %>
                  <%= form.fields_for :address do |address_form| %>
                      <%= address_form.input :address_line_1, :hint => hint_for(@user, :address_address_line_1) %>
                      <%= address_form.input :address_line_2, :hint => hint_for(@user, :address_address_line_2) %>
                      <%= address_form.input :address_line_3, :hint => hint_for(@user, :address_address_line_3) %>
                      <%= address_form.input :zip_code, :hint => hint_for(@user, :address_zip_code) %>
                      <%= address_form.input :country_id, :as => :select, :hint => hint_for(@user, :address_country_id), :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_supplier_address_attributes');"} %>
                      <% unless I18n.locale == :da %>
                        <%= address_form.input :region_id, :as => :select, :hint => hint_for(@user, :address_region_id), :collection => regions_collection_for(@user.address.country) %>
                      <% end %>
                  <% end %>
                  <%= form.input :vat_number, :hint => hint_for(@user, :vat_number) %>
                </ol>
              </fieldset>
            </div>
          </div>


          <div class="column_right">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r">
                <ol class="align_inputs">
                  <%= form.input :phone, :hint => hint_for(@user, :phone) %>
                  <%= form.input :email, :hint => hint_for(@user, :email) %>
                  <%= form.input :password, :hint => hint_for(@user, :password), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :password_confirmation, :hint => hint_for(@user, :password_confirmation), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <% unless I18n.locale == :da %>
                    <%= form.input :time_zone, :wrapper_html => {:class => "select"}, :input_html => {:style => "width: 240px"} %>
                  <% else %>
                    <%= form.input :time_zone, :as => :hidden %>
                  <% end %>
                  <%= form.input :agreement_read, :as => :boolean, :hint => hint_for(@user, :agreement_read), :label => "#{t("common.agree_to")} #{link_to_main_page_article('terms_conditions', {:popup => true}, {:id => 'agreement_modal_box'})}".html_safe, :required => true %>
                  <%= form.input :newsletter_on, :as => :boolean, :hint => hint_for(@user, :newsletter_on) %>
                  <%= form.input :rpx_identifier, :as => :hidden %>
                </ol>
              </fieldset>
            </div>
          </div>

          <clb/>

        </param:content>
        <param:actions>
          <div style="position: absolute;left: 142px;">
            <%= t("member_accounts.new.view.janrain_sign_up_label") %>
            <% unless Rails.env.test? %>
                <%= link_to_rpx image_tag("icons/social_login.png"), supplier_accounts_url %>
                <%= javascript_include_rpx supplier_accounts_url %>
            <% end %>
          </div>

          <div id="online_payment_quickapay_button_div" style="display: none;">
              <ibt c="fltri" icon="plus">
                <%= form.submit t("common.payment_methods.quickpay_button"), :name => "payment_by_quickpay" %>
              </ibt>
          </div>
          <div id="online_payment_paypal_button_div" style="display: none;">
              <ibt c="fltri" icon="plus">
                <%= form.submit t("common.payment_methods.paypal_button"), :name => "payment_by_paypal" %>
              </ibt>
          </div>
          <div id="common_button_div">
              <ibt c="fltri" icon="plus">
                <%= form.submit t("supplier_accounts.new.view.button_create_account") %>
              </ibt>
          </div>
          <%= bt_link_to nil, t("shared.accounts.new_account_form.button_cancel"), root_path, :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
        select_subscription_radio_button('<%= @user.class.to_s.underscore.gsub('/', '_') -%>', <%= @user.subscription_plan_id -%>)
    });
  </script>

</column-mc:>