<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <%= form.input :company_name %>

        <%= form.input :first_name %>
        <%= form.input :last_name %>
        <%= form.input :assign_free_subscription_plan, :as => :hidden %>
        <% if defined? form.object.address and form.object.parent.blank? %>
            <%= form.fields_for :address do |address_form| %>
                <%= address_form.input :address_line_1 %>
                <%= address_form.input :address_line_2 %>
                <%= address_form.input :address_line_3 %>
                <%= address_form.input :zip_code %>
                <%= address_form.input :country_id, :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_#{params[:role].present? ? params[:role] : form.object.role}_address_attributes');"} %>
                <%= address_form.input :region_id, :as => :select, :collection => regions_collection_for(form.object.address.country) %>
            <% end %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :phone %>
        <%= form.input :email %>
        <%= form.input :subscription_plan_id, :as => :select, :collection => SubscriptionPlan.active.for_role(params[:user_type].to_sym).without_paypal, :include_blank => false %>


        <%= form.input :agreement_read, :as => :hidden %>

        <% if @user.new_record? %>
            <%= form.input :skip_email_verification, :as => :boolean %>
            <%= form.input :send_invitation, :as => :boolean %>
        <% end %>
        <%= hidden_field_tag :serialized_materials_array_field, params[:serialized_materials_array_field] %>

        <% if @user.errors.empty? %>
            <script type="text/javascript">
                window.template_initialised = 0;
                window.materials_repository_files = [];
            </script>
        <% else %>
            <script type="text/javascript">
                window.materials_repository_files = deserialize_material_repository_array($('#serialized_materials_array_field').val());
            </script>
        <% end %>

        <% [:subject, :from, :bcc, :cc, :body].each do |field| %>
            <%= form.input "email_template_#{field}", :as => :hidden %>
        <% end %>
        <li class="text">
          <label>&nbsp;</label>
          <%= bt_link_to_function nil, t("call_results.new.customize_email_template"), "javascript:set_email_template_editor_init_values_function_name('fill_editor_with_template_values()');$('#modal_for_email_template_edit').dialog('open');#{'reload_ck_editor();'}" %>
          <br/>
        </li>

        <li class="text">
          <label>&nbsp;</label>

          <div class="txt">
            <p>
              <%= bt_link_to_function :cog, t("materials.views.index.material_repository"), "$('#materials_dialog').load('#{deal_maker_materials_path(:format => :js)}').dialog({title:'#{t('materials.views.index.select_or_upload')}', width:400, height:350, beforeClose: function(event, ui) { $('#materials_dialog').html('');return true; }})" %>
            </p>

            <p id="material_<%= current_user.id %>_name">
              <% if @materials.empty? %>
                  <%= t("materials.views.index.no_file_selected") %>
              <% else %>
                  <% @materials.each do |material| %>
                      <%= check_box_tag "material_selected_#{material.id}", "1", params["material_selected_#{material.id}".to_sym].to_i == 1 %>
                      <%= material.filename %><br/>
                  <% end %>
              <% end %>
            </p>
          </div>
        </li>

      </ol>
    </fieldset>


  </div>
</div>
<div class="hl"></div>

<% if @user.new_record? %>
    <div class="clb"></div>

    <div class="column_left">
      <div class="pdd_10 no_pdd_t">
        <fieldset class="inputs labels_ta_r labels_200">
          <ol class="align_inputs">
            <%= form.input :auto_generate_password, :as => :boolean, :onclick => "show_hide_password_fields()" %>
            <span id="password_fields">
                <%= form.inputs :password, :password_confirmation %>
              </span>
          </ol>
        </fieldset>
      </div>
    </div>
<% end %>

<div class="clb"></div>

<script type="text/javascript">
    function show_hide_password_fields() {
        if ($('#user_auto_generate_password').attr('checked')) {
            $('input[id^=user_password]').attr('disabled', 'disabled');
            $('#password_fields').hide();
        }
        else
        {
            $('input[id^=user_password]').attr('disabled', '');
            $('#password_fields').show();
        }
    }

    jQuery(document).ready(function() {
        if ($('#materials_dialog').length == 0) {
            $('body').append('<div id="materials_dialog"></div>');
        }
    });

    function serialize_materials_array_onsubmit() {
        $('#serialized_materials_array_field').val(serialize_material_repository_array());
    }

    <% @materials.each do |material| %>
    <%= "select_file_from_repository('#{current_user.id}', #{material.id}, '#{material.asset_file_name}');" %>
    <% end %>

    show_hide_password_fields();
</script>