<%= content_for :column_mc do -%>
  <header>
    <param:content>
      <%= t("administration.languages.index.view.header") %>
    </param:content>
  </header>

  <% if @languages.blank? %>
      <%= blank_state_message( t("administration.languages.index.view.no_languages_defined") ) %>
  <% else %>
      <table id="locales_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.languages.index.view.language") %></th>
          <th><%= t("administration.languages.index.view.code") %></th>
          <th><%= t("administration.languages.index.view.enabled") %></th>
          <th class="ta_r"><%= t("administration.languages.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="3"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @languages.each do |lang| %>
            <tr id="locale_<%= lang.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= lang.language %></td>
              <td><%= lang.code %></td>
              <td><%= check_box_tag "locale_#{lang.id}_enabled", 1, lang.enabled?, :disabled => true %></td>
              <td class="tda ta_r" id="locales_actions_td_<%= lang.language.gsub(" ", "_") %>">
                <% unless I18n.locale.to_s == lang.code %>
                <ul-actions>
                  <li>
                  <% if lang.enabled? %>
                    <%= link_to t("administration.languages.index.view.disable"), administration_language_path(lang, :language => {:enabled => false}), {:method => :put} %>
                  <% else %>
                    <%= link_to t("administration.languages.index.view.enable"), administration_language_path(lang, :language => {:enabled => true}), {:method => :put} %>
                  <% end %>
                  </li>
                </ul-actions>
                <% end %>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>