<%= header do |section| %>
  <% section.block_header do %>
    <%= t("password.edit.view.password_label") %>
  <% end %>
<% end %>

<%= semantic_form_for user, :url => path, :as => :user, :method => :put do |form| %>
  <frm title="#{t('password.edit.view.change_users_password')}">
    <param:content>
      <div class="pdd_10 no_pdd_t">
        <fieldset class="inputs labels_ta_r labels_240">
          <ol>
            <%= form.input :password, :label => t("password.edit.view.new_password_label") %>
            <%= form.input :password_confirmation, :label => t("password.edit.view.new_password_confirmation_label") %>
          </ol>
        </fieldset>
      </div>
    </param:content>
    <param:actions>
      <%= ibt(:class => "fltri", :icon => "save") do %>
        <%= form.submit t("password.edit.view.button_update_user") %>
      <% end %>
      <%= ibt(:class => "bt_grey fltri") do %>
        <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
      <% end %>
    </param:actions>
  </frm>
<% end %>
