<%= content_for :column_mc do -%>
  <header back="true"><%= t("devise.confirmations.resend_instructions") %></header>

  <%= blurb("blurb_resend_confirmation") %>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="grid_440 grid_c">
        <frm title="Type your email">
          <div class="pdd_10">
            <fieldset class="inputs labels_100 no_pdd">
              <ol class="align_inputs no_pdd">
                <li class="string">
                  <%= f.label :email %>
                  <%= f.text_field :email %>
                </li>
                <li class="commit">
                  <%= ibt do %>
                    <%= f.submit t("devise.confirmations.resend_confirmation_link") %>
                  <% end %>
                </li>
              </ol>
            </fieldset>
          </div>
        </frm>
      </div>
  <% end %>

  <%#= render :partial => "devise/shared/links" %>
<% end %>