<%= content_for :column_mc do -%>
  <%= javascript_include_tag 'jquery.checkboxtree.min' %>
  <% if request.referer.to_s.include?("/my_profile") %>
    <header back="true"><%= t("supplier.interests.edit.view.title") %></header>
  <% else %>
    <header><%= t("supplier.interests.edit.view.title") %></header>
  <% end %>
  <%= form_tag suppliers_interests_path, :method => :put do %>
      <frm>
        <param:content>
          <div class="pdd_10 no_pdd_tb">
            <% unless current_user.has_role?(:category_supplier) %>
                <div class="column_right">
                  <fieldset class="inputs labels_ta_r labels_80">
                    <ol>
                      <li class="header">
                        <h3 class="no_pdd_l">
                          <%= t("supplier.interests.edit.view.categories") %>
                        </h3>
                      </li>
                    </ol>

                    <table class="categories_table">
                      <tbody>
                      <% @categories.select { |c| c.parent_id.blank? }.in_groups_of(3, false).each do |categories| %>
                          <tr>
                            <% categories.each do |category| %>
                                <td>
                                  <%= categories_structure_root(category, @categories) %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>

                  </fieldset>
                </div>
            <% end %>


            <div class="column_left">
              <div class="grid_200 fltl">
                <fieldset class="inputs labels_ta_r labels_80">
                  <ol>
                    <li class="header">
                      <h3 class="no_pdd_l">
                        <%= t("supplier.interests.edit.view.countries") %>
                      </h3>
                    </li>
                    <li class="select multiple">
                      <% @countries.each do |country| %>
                          <%= check_box_tag "countries[]", country.id, (current_user.countries.empty? ? Array(@countries.detect { |c| c.locale == I18n.locale.to_s }).compact.map(& :id) : current_user.countries.map { |c| c.id }).include?(country.id), :id => "country_#{country.id}" %>
                          <%= country.name %><br />
                      <% end %>
                      <%= hidden_field_tag "countries[]", "" %>
                    </li>
                  </ol>
                </fieldset>
                <fieldset class="inputs labels_auto">
                  <ol>
                    <li class="string">
                      <%= label_tag "rss_url", t("supplier.interests.edit.view.rss_feed_url") %>
                      <%= text_field_tag "rss_url", "http://www.newbizzshoppen.com/rss/#{current_user.rss_token}", :style => "width:450px" %>
                    </li>
                  </ol>
                </fieldset>
              </div>
              <div class="fltl" style="padding-top:30px;">
                <fieldset class="inputs">
                  <ol>
                    <li class="boolean">
                      <%= check_box "user", "notify_about_new_leads", :checked => current_user.notify_about_new_leads %>
                      <%= label_tag "user_notify_about_new_leads", t("supplier.interests.edit.view.notify_about_new_leads") %>
                    </li>
                  </ol>
                </fieldset>
              </div>
              <div class="clb"></div>
            </div>
            <div class="clb"></div>
            <br/>
          </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= submit_tag t("supplier.interests.edit.view.button_update") %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>


        <script type="text/javascript">

            $(document).ready(function() {
                <% @categories.select { |c| c.parent_id.blank? }.each do |category| %>
                $('#category_tree_<%= category.id %>').checkboxTree({
                });
                <% end %>
            });

        </script>
<% end %>