<% if %w(default_deal_admin_email default_lead_creator_email).include?(setting.var) %>
    <li class="select">
      <%= label_tag t(setting.var, :scope => 'administration.settings.common.view.vars') %>
      <%= select_tag 'settings',
                     options_for_select(User.with_possible_deal_admins.map(&:email).sort, setting.value),
                     :id => "setting_#{i}",
                     :name => "settings[#{setting.id}]" %>
    </li>
<% elsif %w(email_verification_for_members email_verification_for_suppliers).include?(setting.var) %>
    <li class="boolean">
      <%= label_tag t(setting.var, :scope => 'administration.settings.common.view.vars') %>
      <%= hidden_field_tag "settings[#{setting.id}]", 0 %>
      <%= check_box_tag "settings[#{setting.id}]", 1, setting.value == '1', :id => "setting_#{i}" %>
    </li>
<% else %>
    <li class="string">
      <%= label_tag t(setting.var, :scope => 'administration.settings.common.view.vars') %>
      <%= text_field 'settings', setting.id, :value => setting.value, :id => "setting_#{i}" %>
    </li>
<% end %>
