<%= content_for :column_mc do -%>
  <header><%= t("administration.settings.edit.view.title") %></header>

  <%= form_tag administration_setting_path, :method => :put do %>
      <%= render :partial => "settings_form", :locals => { :settings => @settings.select { |s| !s.var.include?("contact_us") } }  %>
  <% end %>

  <br/>
  <header><%= t("administration.settings.edit.view.contacts_settings_title") %></header>

  <%= form_tag administration_setting_path, :method => :put do %>
      <%= render :partial => "settings_form", :locals => { :settings => @settings.select { |s| s.var.include?("contact_us") } } %>
  <% end %>


  <br/>
  <header><%= t("administration.bank_accounts.index.view.header") %></header>

  <% unless @bank_accounts.any? %>
      <%= blank_state_message(t("administration.bank_accounts.index.view.no_bank_accounts_defined")) %>
      <p class="pdd_10 ta_r no_pdd_lr"><%= bt_link_to nil, t("administration.bank_accounts.index.view.add_bank"), new_administration_bank_account_path %></p>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0" id="bank_accounts">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= link_to t("administration.bank_accounts.index.view.id"), order_for_scoped_search(:id, :bank_accounts) %></th>
          <th><%= t("administration.bank_accounts.index.view.country") %></th>
          <th><%= t("administration.bank_accounts.index.view.bank_name") %></th>
          <th class="ta_r"><%= t("administration.bank_accounts.index.view.iban_no") %></th>
          <th class="ta_r"><%= t("administration.bank_accounts.index.view.local_bank_number") %></th>
          <th><%= t("administration.bank_accounts.index.view.swift") %></th>
          <th class="ta_c"><%= t("administration.bank_accounts.form.view.country_default") %></th>
          <th class="ta_c"><%= t("administration.bank_accounts.form.view.global_default") %></th>
          <th class="ta_r"><%= t("administration.bank_accounts.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tbody>
        <% @bank_accounts.each do |ba| %>
            <tr>
              <td class="cl"></td>
              <td><%= ba.id %></td>
              <td><%= ba.address.country.name %></td>
              <td><%= ba.bank_name %></td>
              <td class="ta_r"><%= ba.iban_no %></td>
              <td class="ta_r"><%= ba.local_bank_number %></td>
              <td><%= ba.swift %></td>
              <td class="ta_c"><%= check_box_tag "country_default_#{ba.id}", 1, ba.country_default?, :disabled => true %></td>
              <td class="ta_c"><%= check_box_tag "global_default_#{ba.id}", 1, ba.global_default?, :disabled => true %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li><%= link_to t("administration.bank_accounts.index.view.show"), administration_bank_account_path(ba) %></li>
                  <li><%= link_to t("administration.bank_accounts.index.view.edit"), edit_administration_bank_account_path(ba), :class => "default_action" %></li>
                  <li><%= link_to t("administration.bank_accounts.index.view.delete"), administration_bank_account_path(ba), :method => :delete, :confirmation => t("common.confirmation") %></li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <tr class="main_actions">
          <td colspan="11" class="ta_r">
            <%= bt_link_to nil, t("administration.bank_accounts.index.view.add_bank"), new_administration_bank_account_path %>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="9"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
      </table>
  <% end %>

  <br/>
  <header><%= t("administration.vat_rates.index.view.header") %></header>

  <% unless @vat_rates.any? %>
      <%= blank_state_message(t("administration.vat_rates.index.view.no_rates_defined")) %>
      <p class="pdd_10 ta_r no_pdd_lr"><%= bt_link_to nil, t("administration.vat_rates.index.view.add_vat_rate"), new_administration_vat_rate_path %></p>
  <% else %>

      <table class="generic" cellspacing="0" cellpadding="0" id="vat_rates">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width: 200px"><%= t("administration.vat_rates.index.view.country") %></th>
          <th style="width: 200px" class="ta_r"><%= t("administration.vat_rates.index.view.rate") %></th>
          <th class="ta_r"><%= t("administration.vat_rates.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tbody>
        <% @vat_rates.each do |vr| %>
            <tr>
              <td class="cl"></td>
              <td><%= vr.country.name %></td>
              <td class="ta_r"><%= number_to_percentage(vr.rate, :precision => 2) %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li><%= link_to t("administration.vat_rates.index.view.edit"), edit_administration_vat_rate_path(vr), :class => "default_action" %></li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <tr class="main_actions">
          <td colspan="5" class="ta_r">
            <%= bt_link_to nil, t("administration.vat_rates.index.view.add_vat_rate"), new_administration_vat_rate_path %>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="3"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
      </table>
  <% end %>

  <br/>
  <header><%= t("administration.introduction_video.view.header") %></header>

  <% unless @youtube_introductions.any? %>
      <%= blank_state_message(t("administration.introduction_video.view.no_videos")) %>
      <p class="pdd_10 ta_r no_pdd_lr"><%= bt_link_to nil, t("administration.introduction_video.view.add_video"), new_administration_youtube_introduction_path %></p>
  <% else %>

      <table class="generic" cellspacing="0" cellpadding="0" id="vat_rates">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width: 200px"><%= t("administration.introduction_video.view.url") %></th>
          <th style="width: 200px" class="ta_r"><%= t("administration.introduction_video.view.locale") %></th>
          <th style="width: 200px" class="ta_r"><%= t("administration.introduction_video.view.site") %></th>
          <th class="ta_r"><%= t("administration.introduction_video.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tbody>
        <% @youtube_introductions.each do |yi| %>
            <tr>
              <td class="cl"></td>
              <td><%= link_to yi.url, yi.url, :target => "_new" %></td>
              <td class="ta_r"><%= yi.locale_code %></td>
              <td class="ta_r"><%= yi.site %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li><%= link_to t("administration.introduction_video.view.edit"), edit_administration_youtube_introduction_path(yi), :class => "default_action" %></li>
                  <li><%= link_to t("administration.introduction_video.view.delete"), administration_youtube_introduction_path(yi), :method => :delete %></li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <tr class="main_actions">
          <td colspan="6" class="ta_r">
            <%= bt_link_to nil, t("administration.introduction_video.view.add_video"), new_administration_youtube_introduction_path %>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="4"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
      </table>
  <% end %>

<% end %>