<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => lead_users_lead_purchases_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("lead_supplier.lead_purchases.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_category, t("lead_user.lead_purchases.index.view.search.category_label") %>
                <%= f.select :with_category, @categories, {:include_blank => true} %>
              </li>
              <li class="string">
                <%= f.label :with_zip_code, t("lead_user.lead_purchases.index.view.search.zip_code") %>
                <%= f.text_field :with_zip_code, :style => "width: 100px" %>
              </li>
              <li class="select">
                <%= f.label :with_country, t("lead_user.lead_purchases.index.view.search.country_label") %>
                <%= f.select :with_country, @countries, {:include_blank => true} %>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("lead_user.lead_purchases.index.view.search.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header><%= t("lead_user.lead_purchases.index.view.header") %></header>

  <% if @lead_purchases.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= bulk_form do %>

          <fieldset class="inputs labels_auto inline_li">
            <ol class="no_pdd">
              <li class="select">
                <%= label_tag :bulk_state, t("lead_user.lead_purchases.index.view.bulk_state_field") %>
                <%= select_tag :bulk_state, options_for_select([[nil, nil]]+LeadPurchaseBase.statuses_for_select) %>
              </li>
              <li class="commit no_pdd_l">
                <%= bt_link_to nil, t("lead_user.lead_purchases.index.view.bulk_update_button"), "javascript:void(0)", :onclick => "copy_checkboxes_to_bulk_form();submitBulkForm('#{lead_users_bulk_lead_purchase_update_path}#POST');" %>
              </li>
            </ol>
          </fieldset>

          <%= hidden_field_tag :route_to %>
          <span id="bulk_form_inputs"></span>
      <% end %>

          <%= lead_purchases_listing @lead_purchases, :show_checkboxes => true do |blocks| %>

              <% blocks.assigned_to do |lead_purchase| %>
                  <% if @subaccounts.present? and current_user.parent.nil? %>
                      <p>
                        <%= label_tag :assignee_id, t("lead_supplier.lead_purchases.index.view.bulk_assigned_field") %>
                        <br/>
                        <%= select_tag :assignee_id,
                                       options_for_select([[nil, nil]]+@subaccounts.map { |sa| [sa.screen_name, sa.id] }, lead_purchase.assignee_id),
                                       :onchange => "$.post('#{lead_users_lead_purchase_path(lead_purchase)}', {'_method':'put', 'lead_purchase[assignee_id]':this.value} );",
                                       :style => "width: 140px" %>
                      </p>
                  <% end %>
              <% end %>

              <% blocks.other_actions do |lead_purchase| %>
                  <p>
                    <%= label_tag :state, t("lead_user.lead_purchases.index.view.state") %>
                    <br/>
                    <%= select_tag :state, options_for_select(LeadPurchaseBase.statuses_for_select, lead_purchase.state), :onchange => "$.post('#{lead_users_lead_purchase_path(lead_purchase)}', {'_method':'put', 'lead_purchase[state]':this.value} );" %>
                  </p>
              <% end %>

              <% blocks.tools do |lead_purchase| %>
                  <ul-actions>
                    <li>
                      <%= link_to t("lead_user.lead_purchases.index.view.download_csv_link"), lead_users_lead_purchase_path(lead_purchase, :format => :csv) %>
                    </li>
                    <li>
                      <%= link_to t("lead_user.lead_purchases.index.view.print_link"), lead_users_lead_purchase_path(lead_purchase, :format => :print), :target => "_blank" %>
                    </li>
                    <% if lead_purchase_has_email_address?(lead_purchase) %>
                        <li>
                          <%= link_to t("lead_user.lead_purchases.index.view.email_lead"), new_lead_users_lead_purchase_lead_email_path(lead_purchase) %>
                        </li>
                    <% end %>
                  </ul-actions>
                  <% if lead_purchase.lead.can_be_commented? %>
                    <%= link_to number_of_comments(lead_purchase.lead.comment_threads.roots.count), comments_lead_path(lead_purchase.lead) %><br />
                  <% end %>
              <% end %>

              <% blocks.bottom do |lead_purchase| %>
                  <%= bt_link_to :download, t("lead_user.lead_purchases.index.view.bulk_download_csv_link_short"), "javascript:void(0)", :onclick => "copy_checkboxes_to_bulk_form();submitBulkForm('#{lead_users_bulk_lead_purchase_csv_path}#POST');" %>
                  <%= bt_link_to :printer, t("lead_user.lead_purchases.index.view.bulk_print_link_short"), "javascript:void(0)", :onclick => "copy_checkboxes_to_bulk_form();submitBulkForm('#{lead_users_bulk_lead_purchase_print_path}#POST', '_blank');" %>
              <% end %>
          <% end %>


  <% end %>
</column-mc:>
<js:>
  <script type="text/javascript">
      function save_owner_note(lead_purchase_id) {
          $.post('/lead_users/lead_purchases/' + lead_purchase_id.toString(), {'_method':'put', 'lead_purchase[owner_note]':$('#owner_note_' + lead_purchase_id.toString()).val(), 'owner_note_changed':1, 'format':'js'});
          $('#owner_note_form_' + lead_purchase_id.toString()).parents(".row_tooltip").effect("highlight", {color: "#d8ff9a"}, 500);
      }
  </script>
</js:>