<%= content_for :column_mc do -%>
  <header back="true"><%= t("supplier.lead_purchases.show.view.header") %></header>

  <div class="grid_780 fltl pdd_10 no_pdd_r">
    <div class="element_description">
      <h2><%= @lead_purchase.header %></h2>

      <h3><%= t("lead_purchases.listing.description_label") %></h3>

      <p><%= @lead_purchase.description %></p>

      <h3><%= t("lead_purchases.listing.hidden_description_label") %></h3>

      <p><%= @lead_purchase.hidden_description %></p>

      <div class="element_templates"><%= render :partial => "/shared/lead_templates/listing", :locals => { :lead => @lead_purchase.lead } %></div>
    </div>
  </div>

  <div class="grid_300 fltr pdd_10 no_pdd_lr">
    <div class="frm_tiny">
      <div class="pdd_10">
        <ul class="elements_list">
          <li>
            <div>
              <span class="label"><%= t("lead_purchases.listing.company_name") %></span>
              <%= @lead_purchase.lead.company_name %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("lead_purchases.listing.address_label") %></span>
              <%= @lead_purchase.lead.address %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("lead_purchases.listing.phone_number") %></span>
              <%= @lead_purchase.lead.phone_number %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("lead_purchases.listing.email_address") %></span>
              <%= @lead_purchase.lead.email_address %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("lead_purchases.listing.contact_name") %></span>
              <%= @lead_purchase.lead.contact_name %>
            </div>
          </li>
          <% if @lead_purchase.lead.linkedin_url_present? %>
              <li>
                <div>
                  <span class="label"><%= t("lead_purchases.listing.linkedin_url") %></span>
                  <%= link_to t("lead_purchases.listing.linkedin_profile"), @lead_purchase.lead.linkedin_url %>
                  <%= link_to image_tag("icons/in_icon.png", :style => "vertical-align: top;"), @lead_purchase.lead.linkedin_url %>
                </div>
              </li>
          <% end %>
          <% if @lead_purchase.lead.facebook_url_present? %>
              <li>
                <div>
                  <span class="label"><%= t("lead_purchases.listing.facebook_url") %></span>
                  <%= link_to t("lead_purchases.listing.facebook_profile"), @lead_purchase.lead.facebook_url %>
                  <%= link_to image_tag("icons/fb_icon.png", :style => "vertical-align: top;"), @lead_purchase.lead.facebook_url %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="clb"></div>
<% end %>


