<ul class="nav<%= (user_signed_in? and current_user.has_role?(:admin)) ? " admin_nav" : "" %>">
  <%= main_menu_link_to_role_specific_home_page %>
  <% if current_user %>
      <%= main_menu_link_to t("layout.fairdeals.main_menu.member.my_requests"), members_leads_path, :tab => "created_leads" %>
  <% end %>
  <%= main_menu_link_to(t("layout.fairdeals.main_menu.deals"), deal_categories_path, :tab => "browse_deals") %>
  <% if current_user %>
      <%= main_menu_link_to t("layout.fairdeals.main_menu.tenders"), members_tenders_path, :tab => "tenders" %>
  <% end %>
</ul>

<div class="nav_search">
  <%= form_for @search, :url => deals_path, :html => {:id => "deals_search_form"} do |f| %>
    <%= hidden_field_tag :show_all, params[:show_all] %>
    <%= f.text_field :with_keyword, :placeholder => t("layout.fairdeals.main_menu.search_keyword_placeholder") %>
    <%= ibt(:class => "bt_green", :icon => "magnify") do %>
      <%= submit_tag t("layout.fairdeals.main_menu.search"), :id => "search_new" %>
    <% end %>
  <% end %>
</div>