<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_100">
    <ol>
      <%= form.input :subject %>
      <%= form.input :from, :as => :select, :collection => ::EmailTemplate::FROM_SENDERS, :include_blank => false %>
      <%= form.input :bcc %>
      <%= form.input :cc %>
      <%= form.input :body,
                        :label => false,
                        :as => :ckeditor,
                        :input_html => {
                            :width => '1085px',
                            :height => '300px',
                        :toolbar => "EmailPopup"
                            }

      %>
      <%#= form.input :enable_custom_signature, :as => :boolean, :onclick => "show_hide_custom_signature()" %>
      <%= form.input :email_template_signature_source, :as => :select, :collection => EmailTemplate.email_template_signature_collection, :include_blank => true %>

      <div id="custom_email_signature_div">
      <%= form.fields_for :email_template_signature, form.object.email_template_signature || EmailTemplateSignature.new(:related => form.object) do |builder| %>
        <li><%= builder.text_area :body %></li>
        <li><%= builder.hidden_field :_destroy, :id => "destroy_email_template_signature" %></li>
      <% end %>
      </div>
    </ol>
  </fieldset>
</div>