<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("administration.email_templates.index.view.title") %>
    <% end %>
  <% end %>

  <table id="users_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= t("administration.email_templates.index.view.unique_id_column") %></th>
      <th><%= t("administration.email_templates.index.view.subject_column") %></th>
      <th class="ta_r"><%= t("administration.email_templates.index.view.actions_column") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="3"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% @email_templates.each do |email_template| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="cl"></td>
          <td><%= email_template.uniq_id %></td>
          <td><%= email_template.subject %></td>
          <td class="tda ta_r">
            <%= bt_link_to nil, t("administration.email_templates.index.view.edit"), edit_administration_email_template_path(email_template), :class => "default_action" %>
          </td>
          <td class="cr"></td>
        </tr>
    <% end %>
    <% if will_paginate %>
        <tr class="pagination">
          <td colspan="5" class="ta_c">
            <%= will_paginate @email_templates, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
