<column-mc:>
  <header back="true" backurl="#{buyers_deals_path}"><%= "Edit deal" %></header>

  <%= semantic_form_for [:buyers, @deal], :method => :put do |form| %>
      <frm title="Edit deal">
        <param:content>
          <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit "Update", :name => "commit_update", :onclick => "select_options_to_submit('deal_deal_template_ids_')" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <% if @deal.logo.id %>
      <h2>Logo</h2>
      <%= image_tag @deal.logo.asset.url(:thumb) %> <%= link_to "full size", @deal.logo.asset.url, :target => "_blank" %>
      <%= link_to "remove", buyers_deal_asset_path(@deal, @deal.logo), :method => :delete, :confirm => "are you sure?" %>
  <% else %>
      <%= semantic_form_for [:buyers, @deal, @logo], :url => buyers_deal_assets_path(@deal, @logo), :method => :post, :html => {:multipart => true} do |form| %>
          <frm title="Add Deal Logo">
            <param:content>
              <%= form.file_field :asset %>
              <%= hidden_field_tag :type, "logo" %>
            </param:content>
            <param:actions>
              <ibt c="fltri" icon="save">
                <%= form.submit "Add logo", :name => "commit_create" %>
              </ibt>
            </param:actions>
          </frm>
      <% end %>
  <% end %>
  <% unless @images.blank? %>
      <h2>Images</h2>
      <% @images.each do |image| %>
          <% if image.id %>
              <%= image_tag image.asset.url(:thumb) %> <%= link_to "full size", image.asset.url, :target => "_blank" %>
              <%= link_to "remove", buyers_deal_asset_path(@deal, image), :method => :delete, :confirm => "are you sure?" %>
              <br/>
          <% end %>
      <% end %>
  <% end %>

  <%= semantic_form_for [:buyers, @deal, @image], :url => buyers_deal_assets_path(@deal, @image), :method => :post, :html => {:multipart => true} do |form| %>
      <frm title="Add Deal Image">
        <param:content>
          <%= form.file_field :asset %>
          <%= hidden_field_tag :type, "image" %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit "Add image", :name => "commit_create" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <% unless @materials.blank? %>
      <h2>Materials</h2>
      <% @materials.each do |material| %>
          <% if material.id %>
              <%= material.asset_file_name %> <%= link_to "download", download_buyers_deal_asset_path(@deal, material) %>
              <%= link_to "remove", buyers_deal_asset_path(@deal, material), :method => :delete, :confirm => "are you sure?" %>
              <br/>
          <% end %>
      <% end %>
  <% end %>

  <%= semantic_form_for [:buyers, @deal, @material], :url => buyers_deal_assets_path(@deal, @material), :method => :post, :html => {:multipart => true} do |form| %>
      <frm title="Add Deal Material">
        <param:content>
          <%= form.file_field :asset %>
          <%= hidden_field_tag :type, "material" %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit "Add material", :name => "commit_create" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

</column-mc:>