<div id="subscription_plan_<%= subscription_plan.id %>" class="subscription_plan_item active">
  <div class="active_badge"><%= t("subscriptions.active") %></div>
  <div class="subscription_plan_head">
    <h3><%= subscription_plan.name %></h3>
  </div>

  <div class="subscription_plan_price">
    <% unless subscription_plan.is_free? %>
        <p class="billing"><%= as_currency(subscription_plan.total_billing, subscription_plan.currency) %></p>

        <p><%= t("subscriptions.current_subscription_billing_cycle", :from => l(current_user.active_subscription.start_date, :format => :long), :to => l(current_user.active_subscription.end_date, :format => :long)) %></p>
    <% else %>
        <p class="billing"><%= t("subscriptions.listing.free") %></p>
    <% end %>
  </div>

  <% unless current_user.has_free_subscription? %>
    <% if !current_user.can_cancel_subscription? and cancel_date = current_user.can_cancel_subscription_at %>
      <h3><%= t("subscriptions.can_be_canceled_at", :cancel_date => l(cancel_date, :format => :long)) %></h3>
    <% elsif !current_user.can_cancel_subscription? and !current_user.active_subscription.cancelled? %>
      <h3><%= t("subscriptions.cant_be_canceled") %></h3>
    <% elsif current_user.active_subscription.cancelled? %>
      <h3><%= t("subscriptions.active_subscription_is_canceled") %></h3>
    <% else %>
      <div class="subscription_plan_footer">
        <%= bt_link_to nil, t("subscriptions.listing.cancel"), cancel_my_profile_subscription_plans_path, :confirm => t("subscriptions.confirmation.cancel") %>
      </div>
    <% end %>
  <% end %>

  <clb/>

</div>