<div id="subscription_plan_<%= subscription_plan.id %>">
    <h3><%= subscription_plan.name %></h3>

    <% if subscription_plan.payable? %>
        <p><%= as_currency(subscription_plan.total_billing, subscription_plan.currency) %></p>
        <p></p>
    <% else %>
        <p><%= t("subscriptions.listing.free") %></p>
    <% end %>

    <% if !current_user.can_cancel_subscription? and cancel_date = current_user.can_cancel_subscription_at %>
      <h3><%= t("subscriptions.can_be_canceled_at", :cancel_date => cancel_date) %></h3>
    <% elsif !current_user.can_cancel_subscription? %>
      <h3><%= t("subscriptions.cant_be_canceled") %></h3>
    <% else %>
      <%= bt_link_to nil, t("subscriptions.listing.cancel"), cancel_my_profile_subscription_plans_path, :class => "fltl" %>
    <% end %>

    <clb/>
    
</div>
