<% if current_user and current_user.has_active_subscription?  %>
    <div id="current_subscription">
        <h2><%= t("subscriptions.current_subscription")%></h2>
        <%= render :partial => 'shared/subscriptions/current_subscription', :locals => {:subscription_plan => current_user.active_subscription_plan} %>
    </div>
<% end %>

<hr/>

<% SubscriptionPlan.active.for_role(role).ascend_by_billing_price.each do |subscription_plan| %>
    <% unless current_user and current_user.has_free_subscription? and subscription_plan.is_free? %>
        <%= render :partial => 'shared/subscriptions/subscription', :locals => {:subscription_plan => subscription_plan, :role => role, :form => form} %>
    <% end %>
<% end %>

<%= custom_error_for_field(form, "subscription_plan_id") %>

<%= link_to_main_page_article("subscriptions_for_#{role}", {:popup => true}, {:id => 'subscriptions_modal_box'}) %>

<hr/>
