<% if current_user and current_user.has_active_subscription?  %>
    <div id="current_subscription">
        <h2><%= t("subscriptions.current_subscription")%></h2>
        <%= render :partial => 'shared/subscriptions/current_subscription', :locals => {:subscription_plan => current_user.active_subscription_plan} %>
    </div>
<% end %>

<hr/>

<div id="available_subscriptions">
    <h2><%= t("subscriptions.available_subscriptions") %></h2>
    <p>
        <%= blurb(:blurb_subscription_select) %>
    </p>
    <% @subscriptions = SubscriptionPlan.active.exclude_free((current_user and current_user.has_free_subscription?)).for_role(role).ascend_by_billing_price %>
    <% if @subscriptions.any? %>
        <% SubscriptionPlan.active.exclude_free((current_user and current_user.has_free_subscription?)).for_role(role).ascend_by_billing_price.each do |subscription_plan| %>
            <%= render :partial => 'shared/subscriptions/subscription', :locals => {:subscription_plan => subscription_plan, :role => role, :form => form} %>
        <% end %>
    <% else %>
        <%= t("subscriptions.listing.no_available_subscriptions") %>
    <% end %>
</div>

<%= custom_error_for_field(form, "subscription_plan_id") %>

<%#= link_to_main_page_article("subscriptions_for_#{role}", {:popup => true}, {:id => 'subscriptions_modal_box'}) %>

<hr/>
