<% if current_user  %>
    <div id="available_subscriptions">
      <!--<h2><%= t("subscriptions.available_subscriptions") %>:</h2>-->
      <!--<br/>-->
      <% if defined?(deal) and deal %>
          <% if current_user.active_subscription.is_free? and current_user.free_deal_requests_in_free_period.to_i == 0 and !deal.premium_deal? %>
              <b><%= t("subscriptions.subscription_upgrade_to_payable", :header => deal.header) %></b>
          <% elsif !current_user.active_subscription.is_free? and !current_user.active_subscription.premium_deals? %>
              <b><%= t("subscriptions.subscription_upgrade_to_premium_deals", :header => deal.header) %></b>
          <% end %>
      <% end %>
      <p>
        <%= blurb(:blurb_subscription_select) %>
      </p>

      <hl pdd="5"/>

      <div class="subscription_plans">

        <% if current_user and current_user.has_active_subscription? %>
            <%= render :partial => 'shared/subscriptions/current_subscription', :locals => {:subscription_plan => current_user.active_subscription_plan} %>
        <% end %>
        <% @subscriptions = SubscriptionPlan.active.only_public.exclude_free(true).include_online_payment((!SubscriptionPlan::DISABLE_PAYPAL_SUBSCRIPTIONS or current_user.test_account?)).exclude_current_plan(current_user.active_subscription_plan).for_role(role).ascend_by_billing_price.select { |sp| current_user.subscription_can_be_changed_to?(sp) } %>
        <% if @subscriptions.any? %>
            <% @subscriptions.each do |subscription_plan| %>
                <%= render :partial => 'shared/subscriptions/subscription', :locals => {:subscription_plan => subscription_plan, :role => role} %>
            <% end %>
        <% else %>
            <%#= if user has not active subscription & no available subscriptions %>
            <%#= t("subscriptions.listing.no_available_subscriptions") %>
        <% end %>
      </div>

    </div>
<% end %>

<% if current_user and current_user.has_active_subscription? %>
    <hl pdd="10"/>
    <div id="current_subscription">
      <% if current_user.active_subscription.is_today_in_free_period? %>
          <p><%= image_tag("icons/hint.png") %><%= t("subscriptions.free_period_notification", :free_period_date => l(current_user.active_subscription.free_subscription_end_date, :format => :long)) %></p>
      <% end %>
      <% if next_subscription = current_user.next_subscription %>
          <p><%= image_tag("icons/hint.png") %><%= t("subscriptions.next_subscription_plan", :next_plan_name => next_subscription.subscription_plan.name, :next_plan_active_from => l(next_subscription.start_date, :format => :long)) %></p>
      <% elsif current_user.active_subscription.will_prolong? %>
          <p><%= image_tag("icons/hint.png") %><%= t("subscriptions.will_prolong_on", :prolong_date => l(current_user.active_subscription.end_date + 1.day, :format => :long)) %> <%= t("subscriptions.as_free_subscription") if current_user.active_subscription.cancelled? %></p>
      <% end %>

      <% if !current_user.can_upgrade_or_downgrade_subscription? %>
          <h3><%= image_tag("icons/hint.png") %><%= t("subscriptions.cant_be_upgraded_nor_downgraded") %></h3>
      <% elsif !current_user.can_upgrade_subscription? %>
          <h3><%= image_tag("icons/hint.png") %><%= t("subscriptions.cant_be_upgraded") %></h3>
      <% elsif !current_user.can_upgrade_subscription? %>
          <h3><%= image_tag("icons/hint.png") %><%= t("subscriptions.cant_be_downgraded") %></h3>
      <% end %>

      <% unless current_user.has_free_subscription? %>
          <% if current_user.active_subscription.lockup? %>
              <h3><%= image_tag("icons/hint.png") %><%= t("subscriptions.lockup_period_notification") %></h3>
          <% end %>
      <% end %>
    </div>
<% end %>