<div id="subscription_plan_<%= subscription_plan.id %>" class="subscription_plan_item">
  <div class="active_badge"><%= t("subscriptions.listing.selected") %></div>
  <div class="subscription_plan_head">
    <h3><%= subscription_plan.name %></h3>
  </div>

  <div class="subscription_plan_price">
    <% unless subscription_plan.is_free? %>
        <p class="billing"><%= as_currency(subscription_plan.total_billing, subscription_plan.currency) %></p>

        <p>
          <%= subscription_plan.subscription_period %> <%= t("subscriptions.listing.weeks") %><%= " #{t('subscriptions.listing.with_n_weeks_billing_cycle', :number => subscription_plan.billing_cycle)}" if subscription_plan.number_of_periods > 1 %>
          <span class="red"><%= t("subscriptions.listing.plus_n_weeks_free_period", :number => subscription_plan.free_period) if !current_user or subscription_plan.free_period_can_be_applied_to?(current_user) %></span>
        </p>
    <% else %>
        <p class="billing"><%= t("subscriptions.listing.free") %></p>
    <% end %>
  </div>

  <% if subscription_plan.subscription_text.present? %>
      <p><%= raw subscription_plan.subscription_text %></p>
  <% end %>  

  <div class="subscription_plan_footer">
    <% if defined? subscriptions_form and subscriptions_form %>
        <%= radio_button_tag "user_#{role}[subscription_plan_id]", subscription_plan.id, subscriptions_form.object.subscription_plan_id.to_i == subscription_plan.id, :id => "user_#{role}_subscription_plan_id", :style => "display: none" %>
    <% else %>
        <% if subscription_upgrade_or_downgrade?(current_user.active_subscription_plan, subscription_plan) == :upgrade %>
            <%= bt_link_to nil, t("subscriptions.listing.upgrade"), upgrade_my_profile_subscription_plan_path(subscription_plan.id), :confirm => t("subscriptions.confirmation.upgrade") %>
        <% else %>
            <%= bt_link_to nil, t("subscriptions.listing.downgrade"), downgrade_my_profile_subscription_plan_path(subscription_plan.id), :confirm => t("subscriptions.confirmation.downgrade") %>
        <% end %>
    <% end %>
  </div>
</div>
