<%= content_for :column_mc do -%>
  <header back="true"><%= t("administration.tags.edit.view.header", :name => @tag.name) %></header>

  <%= semantic_form_for @tag, :as => :tag, :url => administration_tag_path do |form| %>
      <frm title="#{@tag.name}">
        <param:content>
          <%= render :partial => 'form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("administration.tags.edit.view.button_update") %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("administration.tags.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <header><%= t("administration.tags.edit.view.tagged_objects", :name => @tag.name) %></header>

  <div class="fltr" style="margin: -20px 0 10px 0">
      <ibt c="bt_green" icon="download">
        <%= link_to_function t("administration.tags.edit.view.export"), 'submit_export()' %>
      </ibt>
  </div>

  <table class="generic">
    <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.tags.edit.view.name") %></th>
          <th><%= t("administration.tags.edit.view.type") %></th>
          <th class="hr"></th>
        </tr>
    </thead>
    <tbody>
        <% @tag.taggings.order("taggable_type").each do |tagging| %>
              <% if tagging.taggable_type == "Result" %>
                <% CallResult.where(:result_id => tagging.taggable_id).each do |call_result| %>
                  <tr>
                    <td></td>
                    <td><%= "#{call_result.contact.company_name}" %></td>
                    <td><%= "#{call_result.class.name} - #{call_result.result_name}" %></td>
                    <td></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td></td>
                  <td><%= tagging.taggable %></td>
                  <td><%= tagging.taggable.class.name %></td>
                  <td></td>
                </tr>
              <% end %>
        <% end %>
        </tbody>
    <tfoot>
        <td class="fl"></td>
        <td colspan="2"></td>
        <td class="fr"></td>
    </tfoot>
  </table>

  <div class="fltr" style="margin: 10px 0 0 0">
    <ibt c="bt_green" icon="download">
      <%= link_to_function t("administration.tags.edit.view.export"), 'submit_export()' %>
    </ibt>
  </div>

  <div class="clb"></div>

  <%= form_tag administration_tag_path(@tag, :format => :xls), :method => :get, :id => "export_tag_form" do %>
  <% end %>

  <script>
      function submit_export() {
          $('#export_tag_form').submit();
      }
  </script>

<% end %>