<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_tags_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.tags.index.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.tags.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <header>
    <param:content>
      <%= t("administration.tags.index.view.title") %>
    </param:content>
  </header>

  <% if @tags.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table id="tags_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width:250px"><%= t("administration.tags.index.view.table.name") %></th>
          <th style="width:100px"><%= t("administration.tags.index.view.table.total") %></th>
          <th style="width:100px"><%= t("administration.tags.index.view.table.leads_deals_contacts") %></th>
          <th style="width:100px"><%= t("administration.tags.index.view.table.users") %></th>
          <th style="width:100px"><%= t("administration.tags.index.view.table.results") %></th>
          <th style="width:100px"><%= t("administration.tags.index.view.table.tag_group") %></th>
          <th class="ta_r"><%= t("administration.tags.index.view.table.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="7"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @tags.each do |tag| %>
            <tr id="country_<%= tag.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>

              <td><%= tag.name %></td>
              <td><strong><%= tag.taggings.where("taggable_type != 'Result'").count %></strong></td>
              <td><%= tag.taggings.where("taggable_type ~ 'AbstractLead'").count %></td>
              <td><%= tag.taggings.where("taggable_type ~ 'User'").count %></td>
              <td><%= tag.taggings.where("taggable_type ~ 'CampaignsResult'").count %></td>
              <td><%= tag.taggings.where("taggable_type ~ 'TagGroup'").count %></td>
              <td class="tda ta_r" id="country_actions_td_<%= tag.name.gsub(" ", "_") %>">
                <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                  <li>
                    <%= link_to t("administration.tags.index.view.edit"), edit_administration_tag_path(tag), :class => "default_action" %>
                  </li>
                  <li>
                    <%= link_to t("administration.tags.index.view.duplicate"), duplicate_administration_tag_path(tag), :onclick => "duplicate_tag('#{tag.id}')", :method => :post, :id => "duplicate_link_#{tag.id}" %>
                  </li>
                  <li>
                    <%= link_to t("administration.tags.index.view.delete"), administration_tag_path(tag), {:method => :delete, :confirm => t("administration.tags.index.view.delete_confirmation_message")} %>
                  </li>
                </ul></div>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
               <tr class="pagination">
                 <td colspan="9" class="ta_c">
                   <%= will_paginate @tags, :previous_label => '&laquo;', :next_label => '&raquo;' %>
                 </td>
               </tr>
           <% end %>
        </tbody>
      </table>
  <% end %>

  <script type="text/javascript">
      function duplicate_tag(tag_id){
          var name = prompt("<%= t("administration.tags.index.view.enter_name") %>:");
          $('#duplicate_link_' + tag_id).attr('href', $('#duplicate_link_' + tag_id).attr('href') + '?name=' + name)
      }
  </script>
<% end %>