<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <% @tag.taggings.reject{|t| [TagGroup].include?(t.taggable.class) }.group_by{|t| t.taggable.class }.each do |klass, taggings| %>
      <% if klass == Result %>
          <Worksheet ss:Name="<%= CallResult.class_name %>">
            <Table>
              <Row>
                <% (CallResult::CSV_ATTRS + Contact::CSV_ATTRS).each do |attr| %>
                    <Cell><Data ss:Type="String"><%= attr.humanize %></Data></Cell>
                <% end %>
              </Row>
              <% CallResult.where(result_id: taggings.map(&:taggable_id)).each do |call_result| %>
                  <Row>
                    <% CallResult::CSV_ATTRS.each do |attr| %>
                      <Cell><Data ss:Type="String"><%= call_result.send(attr) %></Data></Cell>
                    <% end %>
                    <% Contact::CSV_ATTRS.each do |attr| %>
                      <Cell><Data ss:Type="String"><%= call_result.contact.send(attr) %></Data></Cell>
                    <% end %>
                  </Row>
              <% end %>
            </Table>
          </Worksheet>
      <% else %>
          <Worksheet ss:Name="<%= klass.name.split('::').last %>">
            <Table>
              <Row>
                <% klass::CSV_ATTRS.each do |attr| %>
                    <Cell><Data ss:Type="String"><%= attr.humanize %></Data></Cell>
                <% end %>
              </Row>
              <% taggings.each do |tagging| %>
                  <Row>
                    <% klass::CSV_ATTRS.each do |attr| %>
                        <Cell><Data ss:Type="String"><%= tagging.taggable.send(attr) %></Data></Cell>
                    <% end %>
                  </Row>
              <% end %>
            </Table>
          </Worksheet>
      <% end %>
  <% end %>
</Workbook>