<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_news_index_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.leads.index.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_subclass, t("administration.leads.index.search.owner_type_label") %>
                <%= f.select :with_subclass, news_scope_for_select, :include_blank => true %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.news.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>

  <header>
    <param:content>
      <%= t("administration.news.index.view.header") %>
    </param:content>

    <param:actions>
      <%= form_tag administration_news_index_path, :method => :post, :id => "form_new_news" do %>
            <span style="position:absolute;top: 5px; right: 110px;">
              <%= select_tag "subclass", options_for_select(news_scope_for_select), {} %>
            </span>
          <ul class="header_actions">
            <li class="last">
              <%= bt_link_to :plus, t("administration.news.index.view.new_news"), "javascript:void(0)", :onclick => "$('#form_new_news').submit()" %>
            </li>
          </ul>
      <% end %>
    </param:actions>
  </header>

  <% if @news.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table id="news_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= link_to t("administration.news.index.view.id"), order_for_scoped_search(:id) %></th>
          <th><%= link_to t("administration.news.index.view.title"), order_for_scoped_search(:title) %></th>
          <th class="ta_r"><%= link_to t("administration.news.index.view.created_at"), order_for_scoped_search(:created_at) %></th>
          <th class="ta_r"><%= link_to t("administration.news.index.view.published"), order_for_scoped_search(:published_date) %></th>
          <th class="ta_r"><%= link_to t("administration.news.index.view.times_read"), order_for_scoped_search(:views_count) %></th>
          <th class="ta_r"><%= t("administration.news.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="6"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @news.each do |news| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= news.id %></td>
              <td><%= news.title %></td>
              <td class="ta_r"><%= news.created_at %></td>
              <td class="ta_r"><%= news.published_date ? news.published_date : '-' %></td>
              <td class="ta_r"><%= news.views_count %></td>
              <td class="tda ta_r">
                <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                  <li>
                    <%= link_to t("administration.news.index.view.edit_link"), edit_administration_news_path(news), :class => "default_action" %>
                  </li>
                  <li>
                    <%= link_to t("administration.news.index.view.show_link"), administration_news_path(news) %>
                  </li>
                  <li>
                    <%= link_to t("administration.news.index.view.delete_link"), administration_news_path(news), :method => :delete, :confirm => t("administration.news.index.view.delete_confirmation") %>
                  </li>
                </ul></div>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="8" class="ta_c">
                <%= will_paginate @news, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

<% end %>