<column-mc:>

  <script type="text/javascript">
      $(function() {
          advanced_import_load_sortable_lists("lead");
      });
  </script>

  <header><%= t("lead_advanced_import.choose.view.title", :category => @category.name) %></header>

  <div style="float:left">
    <p class="sortable_div_header"><%= t("lead_advanced_import.choose.view.contact_fields_label") %></p>
    <clb/>
    <ul id="sortable_lead_fields_removed" class="sortable_lead_fields_class">
      <p class="disabled"><%= t("lead_advanced_import.choose.view.contact_not_selected_fields_label") %></p>
    </ul>

    <ul id="sortable_lead_fields" class="sortable_lead_fields_class">
      <p class="disabled"><%= t("lead_advanced_import.choose.view.contact_selected_fields_label") %></p>
      <% @category.import_fields.each do |name| %>
          <% required = @category.required_import_fields.include?(name) %>
          <li class="ui-state-highlight <%= "disabled" if required %>"><%= name.include?("custom|") ? name.split("|")[1..2].join(" => ") : name.humanize %><%= " *" if required %>
            <span style=display:none><%= name %></span></li>
      <% end %>
    </ul>
  </div>

  <div style="float:left">
    <p class="sortable_div_header"><%= t("lead_advanced_import.choose.view.spreadsheet_fields_label") %></p>
    <clb/>
    <ul id="sortable_spreadsheet_fields" class="sortable_spreadsheet_fields_class">
      <p class="disabled"><%= t("lead_advanced_import.choose.view.spreadsheet_selected_fields_label") %></p>
      <% @spreadsheet_headers.each do |name| %>
          <li class="ui-state-default"><%= name %></li>
      <% end %>
    </ul>

    <ul id="sortable_spreadsheet_fields_removed" class="sortable_spreadsheet_fields_class">
      <p class="disabled"><%= t("lead_advanced_import.choose.view.spreadsheet_not_selected_fields_label") %></p>
    </ul>
  </div>

  <clb/>
  <% form_tag preview_lead_advanced_import_index_path, :id => "go_to_browse_page_form", :method => :post, :multipart => true do %>
      <%= hidden_field_tag :lead_field, nil %>
      <%= hidden_field_tag :spreadsheet_field, nil %>
      <%= hidden_field_tag :attachment, @attachment_file %>
      <%= hidden_field_tag :category_id, @category.id %>
      <%= hidden_field_tag :creator_id, @creator_id %>
  <% end %>

  <%= link_to t("lead_advanced_import.choose.view.cancel_button"), @role == "admin" ? administration_leads_path : self.send("#{@role}s_leads_path".to_sym) %>
  <%= button_to_function t("lead_advanced_import.choose.view.next_button"), "advanced_import_next_button('#{t("callers.advanced_import.choose.view.warning_list_not_equal")}', 'lead');" %>

</column-mc:>