<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => call_centre_agents_leads_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("call_centre_agent.leads.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label t("leads.index.search.category_label") %>
                <%= f.select :with_category, nested_set_options(@categories.all), :include_blank => true %>
              </li>
              <li class="date">
                <%= label_tag :date_to, t("campaigns.show.search.date_from") %>
                <%= f.text_field :purchase_decision_date_from, :class => "datepicker" %>
              </li>
              <li class="date">
                <%= label_tag :date_to, t("campaigns.show.search.date_to") %>
                <%= f.text_field :purchase_decision_date_to, :class => "datepicker" %>
              </li>
              <li>
                <p class="pdd_10">
                <%= t("campaign_reports.index.ranges_label") %>:<br/>
                <%= link_to_function t("campaigns.show.ranges.all"), "$('#search_purchase_decision_date_from').val('');$('#search_purchase_decision_date_to').val('');$('#search_new').submit()" %>
                <%= link_to_function t("campaigns.show.ranges.this_month"), "$('#search_purchase_decision_date_from').val('#{Date.today.beginning_of_month}');$('#search_purchase_decision_date_to').val('#{Date.today.end_of_month}');$('#search_new').submit()" %>
                <%= link_to_function t("campaigns.show.ranges.this_week"), "$('#search_purchase_decision_date_from').val('#{Date.today.beginning_of_week}');$('#search_purchase_decision_date_to').val('#{Date.today.end_of_week}');$('#search_new').submit()" %>
                <%= link_to_function t("campaigns.show.ranges.today"), "$('#search_purchase_decision_date_from').val('#{Date.today}');$('#search_purchase_decision_date_to').val('#{Date.today}');$('#search_new').submit()" %>
                </p>
              </li>
              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("call_centre_agent.leads.index.view.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>

  <header>
    <param:content>
      <%= t("call_centre_agent.leads.index.view.title") %>
    </param:content>

    <param:actions>
      <%= form_tag new_call_centre_agents_lead_path, :method => :get, :id => "form_new_lead" do %>
          <span style="position:absolute;top: 5px; right: 110px;">
            <%= select_tag :category_id %>
          </span>
          <ul class="header_actions">
            <li class="last">
              <div class="hidden">
                <%= submit_tag "New" %>
              </div>
              <%= bt_link_to :plus, t("call_centre_agent.leads.index.view.new_lead"), "#", :id => "new_lead_button" %>
            </li>
          </ul>
      <% end %>
    </param:actions>
  </header>

  <%= leads_agent_table @leads, :show_checkboxes => true do |blocks| %>
      <% blocks.tools do |lead| %>
          <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
            <li>
              <%= link_to t("call_centre_agent.leads.index.view.edit"), edit_call_centre_agents_lead_path(lead), :class => "default_action" %>
            </li>
            <% if lead.can_be_certified? %>
                <li>
                  <%= link_to t("call_centre_agent.leads.index.view.certify"), call_centre_agents_lead_certifications_path(lead), :method => :post %>
                </li>
              <% elsif lead.can_be_recertified? %>
                <li>
                    <%= link_to t("call_centre_agent.leads.index.view.recertify"), call_centre_agents_lead_certifications_path(lead), :method => :post %>
                </li>
              <% end %>
              <li>
                <%= link_to t("call_centre_agent.leads.index.view.destroy"), call_centre_agents_lead_path(lead), :confirm => t("call_centre_agent.leads.index.view.destroy_confirmation"), :method => :delete %>
              </li>
            </ul></div>
      <% end %>
      <% blocks.status_column do |lead| %>
          <% if current_user.can_publish_leads? %>
              <%= form_for [:call_centre_agents, lead], :method => :put do |f| %>
                  <%= f.select :published, [[t("call_centre_agent.leads.index.view.option_published"), 1], [t("call_centre_agent.leads.index.view.option_not_published"), 0]], {:selected => lead.published ? 1 : 0}, {:onchange => "jQuery(this.form).callRemote()"} %>
              <% end %>
          <% else %>
              <%= lead.published ? t("call_centre_agent.leads.index.view.option_published") : t("call_centre_agent.leads.index.view.option_not_published") %>
          <% end %>
      <% end %>
      <% blocks.rowtooltip do |lead| %>
          <p><%= render :partial => "/shared/comments/lead_threads", :locals => {:lead => lead, :threads => lead.comment_threads.roots.order("created_at DESC")} %></p>
      <% end %>
  <% end %>

  <% if params[:unfold_comment_id] %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('tr[id=lead_<%= params[:unfold_comment_id] %>] a[class~=show_comments]').click();
    });
  </script>
  <% end %>

  <script>
    $(function(){
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

        $.get('<%= categories_path(:format => :js) %>', function() {
            $('#new_lead_button').bind('click', function(){
                $('#form_new_lead').submit();
            });
        });
    });
  </script>

<% end %>