<column-mc:>

  <header>
    <param:content>
      <%= "My created leads" %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("call_centre_agent.leads.index.view.new_lead"), new_call_centre_agents_lead_path %>
        </li>
      </ul>
    </param:actions>
  </header>

  <%= leads_table @leads, :show_checkboxes => false do |blocks| %>
      <% blocks.tools do |lead| %>
            <ul-actions>
              <li>
                <%= link_to t("call_centre_agent.leads.index.view.edit"), edit_call_centre_agents_lead_path(lead) %>
              </li>
              <li>
                <%= link_to t("call_centre_agent.leads.index.view.destroy"), call_centre_agents_lead_path(lead), :confirm => t("call_centre_agent.leads.index.view.destroy_confirmation"), :method => :delete %>
              </li>
            </ul-actions>
      <% end %>
      <% blocks.status_column do |lead| %>
          <% if current_user.can_publish_leads? %>
            <%= form_for [:agents, lead], :method => :put do |f| %>
                <%= f.select :published, [[t("call_centre_agent.leads.index.view.option_published"), 1], [t("call_centre_agent.leads.index.view.option_not_published"), 0]], {:selected => lead.published ? 1 : 0}, {:onchange => "jQuery(this.form).callRemote()"} %>
            <% end %>
          <% else %>
              <%= lead.published ? t("call_centre_agent.leads.index.view.option_published") : t("call_centre_agent.leads.index.view.option_not_published") %>
          <% end %>
      <% end %>
  <% end %>
</column-mc:>