<%= content_for :column_mc do -%>
  <%= javascript_include_tag :ckeditor %>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("administration.invoices.bulk_mailings.new.view.title", :name => @email_template.subject) %>
      <%= image_tag_for_locale %>
    <% end %>
  <% end %>

  <%= semantic_form_for [:administration, @email_template], :url => administration_invoicing_bulk_mailings_path, :method => :put do |form| %>
      <%= frm(:title => "") do %>
        <% section.block_content do %>
          <%= hidden_field_tag :invoice_ids, params[:invoice_ids].join(",") %>
          <div class="pdd_10 no_pdd_tb">
            <fieldset class="inputs labels_ta_r labels_100">
              <ol>
                <li class="string">
                  <%= label_tag :sent %>
                  <div class="txt">
                    <strong>
                      <%= @sent_invoices.size %> <%= t("administration.invoices.bulk_mailings.new.view.out_of") %> <%= @invoices.size %>
                    </strong>
                  </div>
                </li>
                <li class="string">
                  <%= label_tag :recipients %>
                  <div class="txt">
                    <strong>
                      <%= @invoices.map { |invoice| "#{invoice.user.email} (#{invoice.full_number})" }.join(", ") %>
                    </strong>
                  </div>
                </li>
              </ol>
            </fieldset>
          </div>

          <%= render :partial => 'email_templates/form', :locals => {:form => form} %>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("administration.invoices.bulk_mailings.new.view.button_send") %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.invoices.bulk_mailings.new.view.button_cancel"), href(administration_invoicing_invoices_path) %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
<% end %>
