<%= content_for :column_mc do -%>

  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("category_home.show.view.header") %> <%= @home_category.name %>
    <% end %>
    <% section.block_actions do %>
      <% if user_signed_in? %>
        <ul class="header_actions">
          <li class="last">
            <%= bt_link_to :padlock, t("category_home.show.view.sign_out"), '/logout' %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <div class="pdd_5 no_pdd_b">
    <% unless @home_category.image.nil? %>
        <br/>

        <div class="grid_120 fltl">
          <%= image_tag(@home_category.image.url, :id => 'category_image', :class => "thumb") %>
        </div>
    <% end %>

    <div style="overflow:hidden">
      <p><%= blurb("#{@home_category.blurb_key}#{'_logged_in' if user_signed_in?}") %></p>
    </div>

    <div class="clb"></div>
  </div>

  <div class="hl" style="padding: 15px 0"></div>

  <div id="category_news">
    <div class="column_1to3 fltl" id="news" style="padding-right: 15px">
      <frm title="#{t('category_home.show.view.header_news')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("category_home.show.view.complete_list_link"), news_index_path(:search => {:with_subclass => 'CategoryHome', :for_category => @home_category.id}), :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @news.any? %>
                <%= render :partial => 'news', :collection => @news, :as => :news %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>

      </frm>
    </div>
    <% if !user_signed_in? %>
        <div class="column_1to3 fltl" style="padding-right: 15px" id="sign_up_sign_in">
          <frm title="#{t('category_home.show.view.i_have_an_account')}" c="no_marg">
            <div class="pdd_10">
              <%= semantic_form_for(:user, :url => session_path(:user)) do |f| %>
                  <fieldset class="inputs labels_100 inputs_200 no_pdd">
                    <ol class="align_inputs no_pdd">
                      <%= render :partial => "shared/accounts/social_login_for_sign_in" %>
                      <%= f.input :email, :input_html => {:tabindex => 1} %>
                      <%= f.input :password, :label => raw(I18n.t("activerecord.attributes.user.password") + content_tag(:span, link_to(t("category_home.show.view.forgotten_password_link"), new_password_path(User)), :class => "label_link")), :input_html => {:tabindex => 2}, :wrapper_html => {:class => "rltv"} %>
                      <%= f.input :remember_me, :as => :boolean, :required => false, :input_html => {:tabindex => 3} %>
                      <li class="commit">
                        <%= ibt do %>
                          <%= f.submit t("category_home.show.view.sign_in"), :tabindex => 4 %>
                        <% end %>
                      </li>

                    </ol>
                  </fieldset>
              <% end %>
            </div>
            <div class="hl"></div>
            <div style="padding:5px 10px">
              <p>
                <%= link_to t("home.show.view.resend_confirmation_instructions"), new_confirmation_path(User) %>
              </p>
            </div>
          </frm>

          <% unless @home_category.is_customer_unique? %>
          <frm title="#{t('category_home.show.view.i_want_to_register')}" c="10">
            <div class="pdd_10">
              <%= bt_link_to :user, t("category_home.show.view.category_supplier_signup"), new_category_home_page_account_path %>
            </div>
          </frm>
          <% end %>
        </div>
    <% elsif user_signed_in? and current_user.has_role? :category_supplier %>
        <div class="column_1to3 fltl" style="padding-right:15px" id="my_leads">
          <frm title="#{t('category_home.show.view.header_my_leads')}" c="no_marg">
            <param:header>
              <%= bt_link_to nil, t("category_home.show.view.complete_list_link"), current_user.has_role?(:supplier) ? suppliers_lead_purchases_path : lead_users_lead_purchases_path, :class => "fltr" %>
            </param:header>
            <param:content>
              <ul class="solid_list">
                <% if @my_leads.any? %>
                    <%= render :partial => 'my_lead', :collection => @my_leads, :as => :lead %>
                <% else %>
                    <%= render :partial => 'shared/blank_data_li' %>
                <% end %>
              </ul>
            </param:content>
          </frm>
        </div>
    <% end %>

    <div class="column_1to3 fltl" id="latest_leads">

      <% if @auto_buy_category %>
          <frm title="#{t('category_home.show.view.header_additional_information_label')}" c="no_marg">
            <param:content>
              <ul class="solid_list" style="padding:10px;width:340px;overflow:hidden;height:381px">
                <%= @home_category.additional_information.to_s.html_safe %>
              </ul>
            </param:content>
          </frm>
      <% else %>
          <frm title="#{t('category_home.show.view.header_latest_leads')}" c="no_marg">
            <param:header>
              <%= bt_link_to nil, t("category_home.show.view.complete_list_link"), category_home_page_leads_path(@home_category.cached_slug, :search => {:latest => true}), :class => "fltr" %>
            </param:header>
            <param:content>
              <ul class="solid_list">
                <% if @latest_leads.any? %>
                    <%= render :partial => 'lead', :collection => @latest_leads, :as => :lead %>
                <% else %>
                    <%= render :partial => 'shared/blank_data_li' %>
                <% end %>
              </ul>
            </param:content>
          </frm>
      <% end %>

    </div>
    <div class="clb"></div>
  </div>

<% end %>

<%= content_for :js do -%>
  <script type="text/javascript">

      jQuery(document).ready(function() {
          jQuery(".solid_list li").bind("click", function() {
              window.location = $(this).find('a.read_more').attr("href");
          });
      });

  </script>
<% end %>

