<table class="generic timesheet">
  <thead>
  <tr>
    <th class="ta_l" style="width:250px"><%= t("agent_timesheets.index.week") %> <%= cweek.to_s %></th>
    <% agent_time_sheet.commercial_days_of_week.each do |dow| %>
        <th><%= I18n.t("date.day_names")[dow] %></th>
    <% end %>
    <th style="width:100px"><%= t("agent_timesheets.index.total") %></th>
  </tr>
  </thead>
  <tbody>
  <% [:log_in, :log_out, :log_out_time, :hours, :results, :value, :cost].each do |key| %>
      <% unless [:hours, :results, :value, :cost].include?(key) and !agent_time_sheet.send("display_#{key}".to_sym) %>
          <tr class="<%= key.to_s %>">
            <td class="cell_week"><%= t("agent_timesheets.index.agent_time_sheet.#{key}") %></td>
            <% agent_time_sheet.days_of_week.each do |dow| %>
                <td class="val_<%= key.to_s.first %> number_to_<%= key.to_s %>">
                  <% if [:log_in].include?(key)  %>
                      <%= (log_in = agent_time_sheet.stats.for_cweek(cweek).for_dow(dow).for_agents(agent).minimum(key)) ? log_in.strftime("%H:%M") : "-" %>
                  <% elsif [:log_out].include?(key) %>
                      <%= (log_out = agent_time_sheet.stats.for_cweek(cweek).for_dow(dow).for_agents(agent).maximum(key)) ? log_out.strftime("%H:%M") : "-" %>
                  <% elsif [:log_out_time].include?(key) %>
                      <%= agent_time_sheet.stats.for_cweek(cweek).for_dow(dow).for_agents(agent).sum(key) %>
                  <% else %>
                      <%= agent_time_sheet.send(key).for_cweek(cweek).for_dow(dow).for_agents(agent).sum(key) %>
                  <% end %>
                </td>
            <% end %>
            <% if [:log_in, :log_out].include?(key) %>
                <td><%= t("agent_timesheets.index.na") %></td>
            <% else %>
                <td class="total_h_<%= key.to_s.first %> number_to_<%= key.to_s %>"></td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
