<table class="generic timesheet">
  <thead>
  <tr>
    <th class="ta_l" style="width:250px"><%= t("agent_timesheets.index.total_average") %></th>
    <% agent_time_sheet.commercial_days_of_week.each do |dow| %>
        <th><%= I18n.t("date.day_names")[dow] %></th>
    <% end %>
    <th style="width:100px"><%= t("agent_timesheets.index.total") %></th>
  </tr>
  </thead>
  <tbody>
  <% [:log_in, :log_out, :log_out_time].each do |key| %>
      <tr>
        <td class="cell_week"><%= t("agent_timesheets.index.agent_time_sheet.#{key}") %></td>
        <% agent_time_sheet.days_of_week.each do |dow| %>
            <td class="avg_val_<%= key %> val_<%= key.to_s.first %> number_to_<%= key.to_s %>">
              <% if [:log_in].include?(key)  %>
                  <%= (log_in = agent_time_sheet.average_log_in(dow,agent)) ? log_in.strftime("%H:%M") : '-' %>
              <% elsif [:log_out].include?(key) %>
                  <%= (log_out = agent_time_sheet.average_log_out(dow,agent)) ? log_out.strftime("%H:%M") : '-' %>
              <% elsif [:log_out_time].include?(key) %>
                  <%= (!@log_out_times[agent.id].empty? and @log_out_times[agent.id][dow].size > 0) ? format_for_timesheet(agent_time_sheet, @log_out_times[agent.id][dow].sum/@log_out_times[agent.id][dow].size, :hours) : '-' %>
              <% end %>
            </td>
        <% end %>
        <td class="total_h"><%= t("agent_timesheets.index.na") %></td>
      </tr>
  <% end %>

  <% [:hours, :results, :value, :cost].each do |key| %>
      <% if agent_time_sheet.send("display_#{key}".to_sym) %>
          <tr class="total_row bordered">
            <td class="ta_l"><%= t("agent_timesheets.index.agent_time_sheet.#{key}") %></td>
            <% agent_time_sheet.days_of_week.each do |dow| %>
                <td class="total_val_<%= key.to_s %> number_to_<%= key.to_s %>">
                  <%= format_for_timesheet(agent_time_sheet, agent_time_sheet.send(key).for_dow(dow).for_agent(agent).sum(key), key) %>
                </td>
            <% end %>
            <td class="total_val_<%= key %> number_to_<%= key.to_s %> last">
              <%= format_for_timesheet(agent_time_sheet, agent_time_sheet.send(key).for_agent(agent).sum(key), key) %>
            </td>
          </tr>
      <% end %>
  <% end %>

  <tr class="total_row bordered">
    <td class="ta_l"><%= t("agent_timesheets.index.agent_time_sheet.total_db") %></td>
    <% agent_time_sheet.days_of_week.each do |dow| %>
        <td class="total_val_db">
          <% if value = agent_time_sheet.value.for_dow(dow).for_agent(agent).sum(:value) and value > 0 and cost = agent_time_sheet.cost.for_dow(dow).for_agent(agent).sum(:cost) and cost > 0 %>
            <%= "#{(((value / cost)-1)*100).to_i}%" %>
          <% else %>
            <%= t("agent_timesheets.index.na") %>
          <% end %>
        </td>
    <% end %>
    <td class="total_val_db last">
      <% if value = agent_time_sheet.value.for_agent(agent).sum(:value) and value > 0 and cost = agent_time_sheet.cost.for_agent(agent).sum(:cost) and cost > 0 %>
        <%= "#{(((value / cost)-1)*100).to_i}%" %>
      <% else %>
        <%= t("agent_timesheets.index.na") %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
