  <div id="tabs">
    <!-- cut -->
	<ul>
      <li><a href="#overview"><%= t("agent_timesheets.index.overview.header") %></a></li>
	  <li><a href="#team_result_sheet"><%= t("agent_timesheets.index.team_result_sheet.header") %></a></li>
	  <li><a href="#agent_time_sheet"><%= t("agent_timesheets.index.agent_time_sheet.header_wo_name") %></a></li>
	</ul>
    <!-- cut -->

    <div id="overview" style="page-break-after:always;">
      <% if timesheet.overview %>
          <h3 style="display:none"><%= t("agent_timesheets.index.overview.header") %></h3>
        <% timesheet.variables.each do |v| %>
          <%= render :partial => "callers/agent_timesheets/overview_table", :locals => {:type => v, :timesheet => timesheet} %>
        <% end %>
      <% end %>
    </div>

    <div id="team_result_sheet" style="overflow-x: auto;page-break-after:always;">
      <% if timesheet.team_result_sheet %>
          <h3 style="display:none"><%= t("agent_timesheets.index.team_result_sheet.header") %></h3>
        <% timesheet.cweeks.each do |cweek| %>
          <%= render :partial => "callers/agent_timesheets/team_result_sheet_table", :locals => {:cweek => cweek, :team_result_sheet => timesheet} %>
        <% end %>
        <%= render :partial => "callers/agent_timesheets/team_result_sheet_totals_table", :locals => {:team_result_sheet => timesheet} %>
      <% end %>
    </div>

    <div id="agent_time_sheet">
      <!-- cut -->
      <%= t("agent_timesheets.index.agent_time_sheet.select_agent") %>: <%= select_tag "agent_timesheet_agent_id", options_for_select(timesheet.agents.map{|a| [a.screen_name, a.id]}.sort), :onchange => "show_timesheet($(this).attr('value'))" %>
      <%= t("agent_timesheets.index.agent_time_sheet.show_all") %> <%= check_box_tag "show_all_agents", "1", false, :onchange => "show_all_timesheets($(this).is(':checked'))" %>
      <!-- cut -->
      <% if timesheet.agent_timesheet %>
          <h3 style="display:none"><%= t("agent_timesheets.index.agent_time_sheet.header_wo_name") %></h3>
          <% @log_out_times ||= {} %>
        <% timesheet.agents.each do |agent| %>
          <% @log_out_times[agent.id] ||= {}  %>
          <div id="agent_time_sheet_<%= agent.id %>" style="display:none;page-break-after:always;">
            <!-- cut --><hr/><!-- cut -->
            <div class="fltl print_company_info">
              <p><%= agent.screen_name %> (<%= agent.email %>)</p>
              <p><%= agent.company_name %></p>
            </div>
            <div class="fltr">
              <p><%= t("agent_timesheets.index.agent_time_sheet.avg_value_per_hour")%>: <span class="avg_value_per_hour">                                                                      
                <% if value = timesheet.value.for_agent(agent).sum(:value) and value > 0 and hours = timesheet.hours.for_agent(agent).sum(:hours) and hours > 0 %>
                  <%= (value / hours).round %>
                <% else %>
                  0
                <% end %>
              </span></p>
              <p><%= t("agent_timesheets.index.agent_time_sheet.avg_result_per_hour")%>: <span class="avg_result_per_hour">
                <% if results = timesheet.results.for_agent(agent).sum(:results) and results > 0 and hours = timesheet.hours.for_agent(agent).sum(:hours) and hours > 0 %>
                  <%= (results / hours).round %>
                <% else %>
                  0
                <% end %>
              </span></p>
            </div>
            <clb/>
            <% timesheet.cweeks.each do |cweek| %>
              <%= render :partial => "callers/agent_timesheets/agent_time_sheet_table", :locals => {:agent => agent, :cweek => cweek, :agent_time_sheet => timesheet} %>
            <% end %>
            <%= render :partial => "callers/agent_timesheets/agent_time_sheet_totals_table", :locals => {:agent => agent, :agent_time_sheet => timesheet} %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <script type="text/javascript">
    function show_timesheet(agent_id) {
        $("div[id^='agent_time_sheet_']").hide();
        $("div#agent_time_sheet_" + agent_id).show();
    }

    function show_all_timesheets(visible) {
        if (visible) {
            $("div[id^='agent_time_sheet_']").show();
        } else {
            show_timesheet($('#agent_timesheet_agent_id').attr('value'));
        }
    }

    $(document).ready(function(){
        $("#tabs").tabs();
        show_timesheet($('#agent_timesheet_agent_id').val());
    });
  </script>
