  <table class="generic">
    <thead>
    <tr>
      <td><%= t("agent_timesheets.index.overview.#{type.to_s}_header") %></td>
      <% overview.days_of_week.each do |dow| %>
        <td><%= Date.commercial(2010,1,dow+1).strftime("%A") %></td>
      <% end %>
      <td><%= t("agent_timesheets.index.overview.#{type.to_s}_total") %></td>
    </tr>
    </thead>
    <tbody>
    <% overview.cweeks.each do |cweek| %>
      <tr>
        <td><%= t("agent_timesheets.index.week") %> <%= cweek.to_s %></td>
        <% overview.days_of_week.each do |dow| %>
          <td class="val">
          <% if results[cweek.year] and results[cweek.year][cweek.cweek] and results[cweek.year][cweek.cweek][dow] %>
            <%= results[cweek.year][cweek.cweek][dow].first.send(type).to_f %>
          <% else %>
            <%= 0 %>
          <% end %>
          </td>
        <% end %>
        <td class="total_h"></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
    <td><%= t("agent_timesheets.index.total") %></td>
    <% overview.days_of_week.each do %>
        <td class="total_v"></td>
    <% end %>
    <td class="total_v"></td>
    </tr>
    </tfoot>
  </table>