  <table class="generic">
    <thead>
    <tr>
      <td><%= t("agent_timesheets.index.week") %> <%= cweek.to_s %></td>
      <% team_result_sheet.days_of_week.each do |dow| %>
        <td colspan="3"><%= Date.commercial(2010,1,dow+1).strftime("%A") %></td>
      <% end %>
      <td colspan="3"><%= t("agent_timesheets.index.total") %></td>
    </tr>
    <tr>
      <td></td>
      <% team_result_sheet.days_of_week.each do %>
        <td><%= t("agent_timesheets.index.team_result_sheet.time") %></td>
        <td><%= t("agent_timesheets.index.team_result_sheet.results") %></td>
        <td><%= t("agent_timesheets.index.team_result_sheet.value") %></td>
      <% end %>
      <td><%= t("agent_timesheets.index.team_result_sheet.time") %></td>
      <td><%= t("agent_timesheets.index.team_result_sheet.results") %></td>
      <td><%= t("agent_timesheets.index.team_result_sheet.value") %></td>
    </tr>
    </thead>
    <tbody>
    <% team_result_sheet.agents.each do |agent| %>
      <tr>
        <td><%= agent.screen_name %></td>
        <% team_result_sheet.days_of_week.each do |dow| %>
          <% if results[cweek.year] and results[cweek.year][cweek.cweek] and results[cweek.year][cweek.cweek][agent.id] and results[cweek.year][cweek.cweek][agent.id][dow] %>
            <td class="val_h"><%= results[cweek.year][cweek.cweek][agent.id][dow].first.hours.to_f %></td>
            <td class="val_r"><%= results[cweek.year][cweek.cweek][agent.id][dow].first.results.to_i %></td>
            <td class="val_v"><%= results[cweek.year][cweek.cweek][agent.id][dow].first.value.to_f %></td>
          <% else %>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          <% end %>
        <% end %>
        <td class="total_h_h"></td>
        <td class="total_h_r"></td>
        <td class="total_h_v"></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
    <td><%= t("agent_timesheets.index.total") %></td>
    <% team_result_sheet.days_of_week.each do %>
        <td class="total_v_h"></td>
        <td class="total_v_r"></td>
        <td class="total_v_v"></td>
    <% end %>
    <td class="total_v_h"></td>
    <td class="total_v_r"></td>
    <td class="total_v_v"></td>
    </tr>
    </tfoot>
  </table>
