<table class="generic timesheet">
    <thead>
    <tr>
      <th style="width: 180px" class="ta_l"><%= t("agent_timesheets.index.total") %></th>
      <% team_result_sheet.commercial_days_of_week.each do |dow| %>
        <th colspan="<%= team_result_sheet.colspan %>" class="ta_c"><%= I18n.t("date.day_names")[dow] %></th>
      <% end %>
      <th colspan="<%= team_result_sheet.colspan %>"><%= t("agent_timesheets.index.total") %></th>
    </tr>
    <tr class="subheader_row">
      <th></th>
      <% team_result_sheet.days_of_week.each do %>
        <% team_result_sheet.variables.each do |type| %>
            <% if team_result_sheet.send("display_#{type}") %>
                <th><%= t("agent_timesheets.index.team_result_sheet.#{type}") %></th>
            <% end %>
        <% end %>
      <% end %>
      <% team_result_sheet.variables.each do |type| %>
          <% if team_result_sheet.send("display_#{type}") %>
              <th><%= t("agent_timesheets.index.team_result_sheet.#{type}") %></th>
          <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <tr class="total_row">
        <td class="ta_l"><%= t("agent_timesheets.index.total") %></td>
        <% team_result_sheet.days_of_week.each do |dow| %>
          <% team_result_sheet.variables.each do |type| %>
            <% if team_result_sheet.send("display_#{type}") %>
              <td><%= format_for_timesheet(team_result_sheet, team_result_sheet.send(type).for_dow(dow).sum(type), type) %></td>
            <% end %>
          <% end %>
        <% end %>
        <% team_result_sheet.variables.each do |type| %>
          <% if team_result_sheet.send("display_#{type}") %>
            <td><%= format_for_timesheet(team_result_sheet, team_result_sheet.send(type).sum(type), type) %></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
