  <table class="generic">
    <thead>
    <tr>
      <td><%= t("agent_timesheets.index.overview.#{type.to_s}_header") %></td>
      <% overview.days_of_week.each do |dow| %>
        <td><%= Date.commercial(2010,1,dow+1).strftime("%A") %></td>
      <% end %>
      <td><%= t("agent_timesheets.index.overview.#{type.to_s}_total") %></td>
    </tr>
    </thead>
    <tbody>
    <% overview.cweeks.each do |cweek| %>
      <tr rowid="<%= "#{cweek.year}#{cweek.cweek}" %>">
        <td><%= t("agent_timesheets.index.week") %> <%= cweek.to_s %></td>
        <% overview.days_of_week.each do |dow| %>
          <td class="val">
          <% if day = results.detect{|d| d.dow == dow and d.year == cweek.year and d.week == cweek.cweek} and day.send(type).to_f > 0 %>
            <%= as_currency(day.send(type),nil,2) %>
          <% else %>
            <%= as_currency(0,nil,2) %>
          <% end %>
        <% end %>
        </td>
        <td class="total_h"></td>
      </tr>
    <% end %>
    <tfoot>
    <tr>
      <td><%= t("agent_timesheets.index.total") %></td>
      <% overview.days_of_week.each do |dow| %>
        <td class="total_v"></td>
      <% end %>
      <td class="total_v"></td>
    </tr>
    </tfoot>
    </tbody>
  </table>

  <script type="text/javascript">
    function sum_row(row) {
        var sum = 0;
        $(row).find("td.val").each(function() {
          sum += Number($(this).html());
        });
        $(row).find("td.total_h").html(Math.round(sum*100)/100);
    }

    function sum_col(cell) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        $(cell).closest('table').find('tbody tr').find('td:eq(' + pos + ')').each(function() {
            sum += Number($(this).html());
        });
        $(cell).html(Math.round(sum*100)/100);
    }

    $(document).ready(function(){
        $('.total_h').each(function(){sum_row($(this).closest('tr'))});
        $('.total_v').each(function(){sum_col($(this))});
    });
  </script>