<column-mc:>
  <header back="true">
    <param:content>
      <%= t("agent_timesheets.index.header") %>
    </param:content>
  </header>

  <div id="tabs">
	<ul>
      <li><a href="#overview"><%= t("agent_timesheets.index.overview.header") %></a></li>
	  <li><a href="#team_result_sheet"><%= t("agent_timesheets.index.team_result_sheet.header") %></a></li>
      <% if @timesheet.agent_timesheet %>
        <% @timesheet.agents.each do |agent| %>
          <li><a href="#agent_time_sheet_<%= agent.id %>"><%= t("agent_timesheets.index.agent_time_sheet.header", :name => agent.screen_name) %></a></li>
        <% end %>
      <% end %>
	</ul>

    <div id="overview">
      <% if @timesheet.overview %>
        <% [:hours,:results,:value].each do |k| %>
          <%= render :partial => "overview_table", :locals => {:type => k, :overview => @timesheet, :results => @timesheet.overview_data} if @timesheet.send("display_#{k}".to_sym) %>
        <% end %>
      <% end %>
    </div>

    <div id="team_result_sheet" style="overflow-x: auto;">
      <% if @timesheet.team_result_sheet %>
        <% @timesheet.cweeks.each do |cweek| %>
          <%= render :partial => "team_result_sheet_table", :locals => {:cweek => cweek, :team_result_sheet => @timesheet, :results => @timesheet.team_result_sheet_data} %>
        <% end %>
        <%= render :partial => "team_result_sheet_totals_table", :locals => {:team_result_sheet => @timesheet, :results => @timesheet.team_result_sheet_data} %>
      <% end %>
    </div>

    <% if @timesheet.agent_timesheet %>
      <% @timesheet.agents.each do |agent| %>
        <div id="agent_time_sheet_<%= agent.id %>">
          <% @timesheet.cweeks.each do |cweek| %>
            <%= render :partial => "agent_time_sheet_table", :locals => {:agent => agent, :cweek => cweek, :agent_time_sheet => @timesheet, :results => @timesheet.agent_time_sheet_data(agent)} %>
          <% end %>
          <%= render :partial => "agent_time_sheet_totals_table", :locals => {:agent => agent, :agent_time_sheet => @timesheet, :results => @timesheet.agent_time_sheet_data(agent)} %>
        </div>
      <% end %>
    <% end %>
  </div>

  <script type="text/javascript">
    function sum_row(row, type) {
        var sum = 0;
        if (type == undefined) {
            type = ""
        } else {
            type = "_" + type
        }
        $(row).find("td.val" + type).each(function() {
          sum += Number($(this).html());
        });
        $(row).find("td.total_h" + type).html(Math.round(sum*100)/100);
    }

    function sum_col(cell) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        $(cell).closest('table').find('tbody tr').find('td:eq(' + pos + ')').each(function() {
            sum += Number($(this).html());
        });
        $(cell).html(Math.round(sum*100)/100);
    }

    function team_result_sheet_sum_totals(cell) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        $('div#team_result_sheet tbody tr:last-of-type').find('td:eq(' + pos + ')').each(function() {
            sum += Number($(this).html());
        });
        $(cell).html(Math.round(sum*100)/100);
    }

    function agent_time_sheet_sum_totals(cell, selector) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        $(selector).find('td:eq(' + pos + ')').each(function() {
            sum += Number($(this).html());
        });
        $(cell).html(Math.round(sum*100)/100);
    }

    function agent_time_sheet_avg(cell, selector) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        var num = 0;
        var res = 0;
        $(selector).find('td:eq(' + pos + ')').each(function() {
          num += 1;
          sum += Number($(this).html());
        });
        if (num == 0) {
            res = 0;
        } else {
            res = (sum/num)*100;
        }
        $(cell).html(Math.round(res)/100);
    }

    function agent_time_sheet_avg_time(cell, selector) {
        var pos = $(cell).closest('td').prevAll().length;
        var sum = 0;
        var num = 0;
        var res = 0;
        $(selector).find('td:eq(' + pos + ')').each(function() {
            temp = Number($(this).html().split(':')[0])*60 + Number($(this).html().split(':')[1]);
            if (temp > 0) {
                sum += temp;
                num += 1;
            }
        });
        if (num == 0) {
            res = 0;
        } else {
            res = (sum/num)*100;
        }
        $(cell).html(Math.round(res)/100);
    }

    function number_to_hours(cell){
        value = Number($(cell).html());
        if (isNaN(value)) {
            $(cell).html('0:00')
        } else {
            hours = Math.floor(value);
            minutes = Math.round((value - hours) * 60);
            if (minutes < 10) {
                minutes = '0' + minutes
            }
            $(cell).html(hours + ':' + minutes)
        }
    }

    function number_to_results(cell){
        value = Number($(cell).html());
        if (isNaN(value)) {
            $(cell).html('0')
        } else {
            $(cell).html(Math.round(value))
        }
    }

    function number_to_value(cell){
        value = Number($(cell).html());
        if (isNaN(value)) {
            $(cell).html('0.00')
        } else {
            euros = Math.floor(value);
            cents = Math.round(value - euros);
            if (cents < 10) {
                cents = cents + '0'
            }
            $(cell).html(euros + '.' + cents)
        }
    }

    $(document).ready(function(){
        $("#tabs").tabs();

        // overview
        $('.total_h').each(function(){sum_row($(this).closest('tr'))});
        $('.total_v').each(function(){sum_col($(this))});

        // team result sheet
        $('.total_h_h').each(function(){sum_row($(this).closest('tr'),'h')});
        $('.total_h_v').each(function(){sum_row($(this).closest('tr'),'v')});
        $('.total_h_r').each(function(){sum_row($(this).closest('tr'),'r')});
        $('.total_v_h, .total_v_r, .total_v_v').each(function(){sum_col($(this))});

        // team result sheet totals
        $('.total_val_h, .total_val_r, .total_val_v').each(function(){team_result_sheet_sum_totals($(this))});

        // formatting
        $('.number_to_hours').each(function(){number_to_hours($(this))});
        $('.number_to_results').each(function(){number_to_results($(this))});
        $('.number_to_value').each(function(){number_to_value($(this))});
        $('.number_to_log_out_time').each(function(){number_to_hours($(this))});
    });
  </script>
</column-mc:>
