<column-mc:>
  <header back="true">
    <param:content>
      <%= t("agent_timesheets.index.header") %>
    </param:content>
  </header>

  <div id="tabs">
	<ul>
      <li><a href="#overview"><%= t("agent_timesheets.index.overview.header") %></a></li>
	  <li><a href="#team_result_sheet"><%= t("agent_timesheets.index.team_result_sheet.header") %></a></li>
	</ul>

    <div id="overview">
      <% if @timesheet.overview %>
        <% [:hours,:results,:value].each do |k| %>
          <%= render :partial => "overview_table", :locals => {:type => k, :overview => @timesheet, :results => @timesheet.overview_data} %>
        <% end %>
      <% end %>
    </div>

    <div id="team_result_sheet">
      <% if @timesheet.team_result_sheet %>
        <% @timesheet.cweeks.each do |cweek| %>
          <%= render :partial => "team_result_sheet_table", :locals => {:cweek => cweek, :team_result_sheet => @timesheet, :results => @timesheet.team_result_sheet_data} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#tabs").tabs();
    });
  </script>
</column-mc:>
