<column-mc:>
  <header>
    <param:content>
      <%= t("agent_timesheets.new.header") %>
    </param:content>
  </header>

  <%= semantic_form_for @search, :url => callers_agent_timesheets_path, :as => :search, :html => {:method => :get} do |f| %>
    <h3><%= t("agent_timesheets.new.time_period") %></h3>
    <%= f.input :start_date, :as => :weekpicker %>
    <%= f.input :end_date, :as => :weekpicker %>
    <%= f.input :show_weekends, :as => :boolean %>

    <h3><%= t("agent_timesheets.new.select_camapigns") %></h3>
    <%= f.input :campaigns, :as => :select, :include_blank => false, :collection => (current_user.admin? ? Campaign.all : current_user.campaigns), :multiple => true, :input_html => {:size => 6, :style => "height:140px; width:200px;"} %>

    <h3><%= t("agent_timesheets.new.select_team") %></h3>
    <%= f.input :agents, :as => :select, :include_blank => false, :collection => (current_user.admin? ? User.with_agents.all : current_user.subaccounts), :multiple => true, :input_html => {:size => 6, :style => "height:140px; width:200px;"} %>

    <h3><%= t("agent_timesheets.new.display") %></h3>
    <%= f.input :display_hours, :as => :boolean %>
    <%= f.input :display_results, :as => :boolean %>
    <%= f.input :display_value, :as => :boolean %>

    <h3><%= t("agent_timesheets.new.report_type") %></h3>
    <%= f.input :overview, :as => :boolean %>
    <%= f.input :team_result_sheet, :as => :boolean %>
    <%= f.input :agent_timesheet, :as => :boolean %>

    <%= f.commit_button t("agent_timesheets.new.generate") %>
  <% end %>
</column-mc:>