<% if modal_box %>
        <%= frm(:title => "#{t('home.show.view.sign_in_form_title')}") do |section| %>
          <div class="pdd_10">
            <%= semantic_form_for(:user, :url => session_path(:user, :deal_request_id => deal.id, :format => :js), :remote => true) do |f| %>
                <fieldset class="inputs_vertical labels_90 inputs_130 no_pdd">
                  <ol class="align_inputs no_pdd">
                    <%= f.input :email, :input_html => {:tabindex => 1} %>
                    <%= f.input :password,
                                :label => raw(I18n.t('activerecord.attributes.user.password') +
                                                      " (#{content_tag(:span, link_to(t('.forgot_password'), new_password_path(User), :target => :blank), :class => 'label_link')})"),
                                :input_html => {:tabindex => 2},
                                :label_html => {:style => 'width: 160px'}%>
                    <%= f.input :remember_me, :as => :boolean, :required => false, :input_html => {:tabindex => 3} %>
                    <li class="commit">
                      <%= ibt do %>
                        <%= f.submit t("home.show.view.sign_in"), :tabindex => 4 %>
                      <% end %>
                    </li>
                  </ol>
                </fieldset>
            <% end %>
          </div>
        <% end %>
<% end %>

<%= semantic_form_for user, :url => url, :remote => modal_box do |form| %>
    <%= frm(:title => "#{t('member_accounts.new.view.header')}", :class => "no_marg") do |section| %>
      <% section.block_content do %>
        <div>
          <%= render :partial => "shared/subscriptions/new_account", :locals => {:role => "member", :subscriptions_form => form} %>
        </div>
        <div class="column_left">
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_200">
              <ol>
                <%= form.input :company_name, :hint => hint_for(user, :company_name) %>
                <%= form.input :first_name, :hint => hint_for(user, :first_name) %>
                <%= form.input :last_name, :hint => hint_for(user, :last_name) %>
                <%= form.fields_for :address do |address_form| %>
                    <%= address_form.input :address_line_1, :hint => hint_for(user, :address_address_line_1) %>
                    <%= address_form.input :address_line_2, :hint => hint_for(user, :address_address_line_2) %>
                    <%= address_form.input :address_line_3, :hint => hint_for(user, :address_address_line_3) %>
                    <%= address_form.input :zip_code, :hint => hint_for(user, :address_zip_code) %>
                    <%= address_form.input :country_id, :as => :select, :hint => hint_for(user, :address_country_id), :collection => Country.all, :required => true, :input_html => {:onchange => "refresh_regions_list('user_member_address_attributes');"} %>
                    <% unless I18n.locale == :da %>
                        <%= address_form.input :region_id, :as => :select, :hint => hint_for(user, :address_region_id), :collection => regions_collection_for(user.address.country) %>
                    <% end %>
                <% end %>
              </ol>
            </fieldset>
          </div>
        </div>

        <div class="column_right">
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r">
              <ol class="align_inputs">
                <%= form.input :phone, :hint => hint_for(user, :phone) %>
                <%= form.input :direct_phone_number, :hint => hint_for(user, :direct_phone_number) %>
                <%= form.input :email, :hint => hint_for(user, :email) %>
                <%= form.input :password, hint: hint_for(user, :password), as: :password %>
                <%= form.input :password_confirmation, hint: hint_for(user, :password_confirmation), as: :password, required: true %>
                <% unless I18n.locale == :da %>
                    <%= form.input :time_zone, :wrapper_html => {:class => "select"}, :input_html => {:style => "width: 240px"} %>
                <% else %>
                    <%= form.input :time_zone, :as => :hidden %>
                <% end %>
                <%= form.input :agreement_read, :as => :boolean, :hint => hint_for(user, :agreement_read), :label => "#{t("common.agree_to")} #{modal_box ? link_to_function(Article::Cms::MainPageArticle.where(:key => "terms_conditions").first.title, "javascript:show_terms_and_conditions();") : link_to_main_page_article('terms_conditions', {:popup => true}, {:id => 'agreement_modal_box'})}".html_safe, :required => true %>
                <%= form.input :newsletter_on, :as => :boolean, :hint => hint_for(user, :newsletter_on) %>
              </ol>
            </fieldset>
          </div>
        </div>

        <div class="clb"></div>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "plus") do %>
          <%= form.submit t("member_accounts.new.view.button_create_account") %>
        <% end %>
        <%= bt_link_to nil, t("shared.accounts.new_account_form.button_cancel"), modal_box ? "javascript:$.colorbox.close()" : root_path, :class => "bt_grey fltr" %>
      <% end %>
    <% end %>
<% end %>
