<table id="call_result_details" class="generic">
  <thead>
  <tr>
    <th class="hl"></th>
    <th><%= t("campaigns.call_result_details_table.date") %></th>
    <th><%= t("campaigns.call_result_details_table.contact") %></th>
    <th><%= t("campaigns.call_result_details_table.agent") %></th>
    <th><%= t("campaigns.call_result_details_table.result") %></th>
    <th><%= t("campaigns.call_result_details_table.call") %></th>
    <th><%= t("campaigns.call_result_details_table.actions") %></th>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="6"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% call_results.each do |call_result| %>
      <tr class="<%= cycle("odd", "even") %>" id="call_result_<%= call_result.id %>">
        <td class="cl"></td>
        <td><%= call_result.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= call_result.contact.company_name %></td>
        <td><%= call_result.creator_full_name %></td>
        <td><%= call_result.result %></td>
        <td></td>
        <td class="tda ta_r">
          <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
            <li>
              <%= link_to t("call_results.table.edit_link"), edit_callers_contact_call_result_path(call_result.contact, call_result), :class => "default_action" %>
            </li>
          </ul></div>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  <tr class="pagination">
    <td colspan="8" class="ta_c">
      <div class="pagination">
      <% if call_results.current_page > 1 %>
         <a href="javascript:void(0)" onclick="$.post('<%= result_details_callers_campaign_path(campaign, :page => call_results.current_page-1) %>', {call_result_ids: '<%= params[:call_result_ids] %>'})" class="previous_page">&laquo; Prev</a>
      <% else %>
         <span class="previous_page disabled">&laquo; Prev</span>
      <% end %>
      <% if call_results.current_page < call_results.total_pages %>
         <a href="javascript:void(0)" onclick="$.post('<%= result_details_callers_campaign_path(campaign, :page => call_results.current_page+1) %>', {call_result_ids: '<%= params[:call_result_ids] %>'})" class="next_page">Next &raquo;</a>
      <% else %>
         <span class="next_page disabled">Next &raquo;</span>
      <% end %>
      </div>
    </td>
  </tr>
  <tr class="main_actions">
    <td colspan="8" class="ta_r"><%= bt_link_to_function :download, t("call_results.table.export"), "submit_export()", :class => "fltr" %></td>
  </tr>
  </tbody>
</table>

<%= form_tag '', :method => :post, :id => "export_result_details_form" do %>
    <%= hidden_field_tag :call_result_ids, "#{params[:call_result_ids]}" %>
<% end %>

<% call_results.each do |call_result| %>
    <div id="call_result_<%= call_result.id %>_tooltip" style="display:none">
      <%= render :partial => "callers/call_results/notes", :locals => {:call_result => call_result} %>
    </div>

    <script type="text/javascript">
        function submit_export() {
          $('#export_tag_form').submit();
          $('#select_export_format').dialog({
              height: 125,
              modal: true,
              buttons: {
                  "XLS": function(){
                      $( this ).dialog( "close" );
                      $('#export_result_details_form').attr('action', '<%= export_result_details_callers_campaign_path(campaign, :format => :xls) %>');
                      $('#export_result_details_form').submit();
                  },
                  "CSV": function(){
                      $( this ).dialog( "close" );
                      $('#export_result_details_form').attr('action', '<%= export_result_details_callers_campaign_path(campaign, :format => :csv) %>');
                      $('#export_result_details_form').submit();
                  }
              }
          });
        }

        jQuery("#call_result_<%= call_result.id %>").qtip(
        {
            position: {
                corner: {
                    target: 'topMiddle',
                    tooltip: 'bottomMiddle'
                },
            },
            content: $("#call_result_<%= call_result.id %>_tooltip").html(),
            show: 'mouseover',
            hide: 'mouseout',
            style: {
                name: "cream",
                border: {
                    radius: 3
                },
                tip: {
                    corner: 'bottomMiddle',
                    size: {
                        x: 8,
                        y : 12
                    }
                }
            }
        });


        if ($('table').has("a.default_action").length != 0) {
            $('tr:has(.default_action) td').filter(":not(:has(:checkbox, select, a))")
                    .addClass("pointer")
                    .click(function() {
                var link = $(this).parent().find('a.default_action');
                var link_confirm_msg = $(this).parent().find('input.default_action_confirmation_msg');
                if (link.attr("data-method") || link.attr("data-remote")) {
                    if (link_confirm_msg.val() == undefined) {
                        link.trigger("click");
                    }
                    else {
                        if (confirm(link_confirm_msg.val())) {
                            link.trigger("click");
                        }
                    }
                }
                else {
                    window.location = link.attr("href");
                }

            });
        }

    </script>
<% end %>