<% if campaign.cost_type == Campaign::AGENT_BILLING_RATE_COST and campaign.users.with_agents.empty? %>
    <p style="color: red; padding:  5px;"><%= t("models.campaign.no_agent_assigned") %></p>
<% end %>
<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <% if current_user.has_role?(:admin) %>
          <%= form.input :creator_id, :collection => User.with_any_role(:admin, :call_centre).without_locked.map{|u| [u.screen_name, u.id]}.sort, :label => t("campaigns.edit.owner"), :include_blank => false %>
        <% end %>
        <%= form.input :name %>
        <%= form.input :category_id, :as => :select, :collection => LeadCategory.all, :include_blank => false %>
        <%= form.input :country_id, :as => :select, :collection => Country.all, :include_blank => false %>
        <%= form.input :currency_id, :collection => currencies_for_select, :include_blank => false %>
        <%= form.input :state, :as => :select, :collection => ['active', 'inactive', 'archived'], :include_blank => false %>
      </ol>
    </fieldset>

    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("campaigns.edit.campaign_targets") %></h3>
        </li>
        <%= form.input :finished_contacts_per_hour, :input_html => {:style => "width:95px"} %>
        <%= form.input :production_value_per_hour, :input_html => {:style => "width:95px"} %>
        <%= form.input :success_rate, :input_html => {:style => "width:95px"} %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :contact_pool_type, :as => :radio, :collection => Campaign::CONTACT_POOL_TYPES.map { |pt| [t("campaigns.contact_pool_types.contact_pool#{pt}"), pt] }, :wrapper_html => {:class => "collection"} %>
        <%= form.input :max_contact_number, :input_html => {:style => "width:95px"} %>
        <%= form.input :cost_type, :as => :radio, :collection => Campaign::COST_TYPES.map { |lnt| [t("campaigns.cost_types.cost_type#{lnt}"), lnt] }, :wrapper_html => {:class => "collection"} %>
        <%= form.input :fixed_cost_value, :input_html => {:style => "width:95px"} %>
        <%= form.input :crm_option, :as => :radio, :collection => Campaign::CRM_OPTIONS.map { |lnt| [t("campaigns.crm_options.crm_option#{lnt}"), lnt] }, :wrapper_html => {:class => "collection"}, :label => t("campaigns.form.crm_options") %>
        <li class="select" style="padding-top:10px">
          <%= label_tag t("campaigns.form.crm_campaigns"), t("campaigns.form.crm_campaigns") %>
          <%= select_tag "campaign[crm_campaigns]", options_from_collection_for_select(Campaign.available_for_user(current_user).reorder("campaigns.name ASC"), "id", "name", campaign.crm_campaigns.blank? ? nil : campaign.crm_campaigns.split(",")), :multiple => true, :style => "width:200px;height:100px" %>
        </li>
        <%= form.input :auto_dialer, :wrapper_html => {:class => "collection"} %>
      </ol>
    </fieldset>
  </div>
</div>

<clb/>

<js:>
  <script type="text/javascript">
      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });
  </script>
</js:>