<% if campaign.cost_type == Campaign::AGENT_BILLING_RATE_COST and campaign.users.with_agents.empty? %>
    <p style="color: red; padding:  5px;"><%= t("models.campaign.no_agent_assigned") %></p>
<% end %>

<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <% if current_user.has_role?(:admin) %>
          <%= form.input :creator_id, as: :select, :collection => User.with_any_role([:admin, :call_centre]).without_locked.map{|u| [u.screen_name, u.id]}.sort, :label => t("campaigns.edit.owner"), :include_blank => false %>
        <% end %>
        <%= form.input :name %>
        <%= form.input :category_id, :as => :select, :collection => LeadCategory.all, :include_blank => false %>
        <%= form.input :country_id, :as => :select, :collection => Country.all, :include_blank => false %>
        <%= form.input :currency_id, as: :select, :collection => currencies_for_select, :include_blank => false %>
        <%= form.input :state, :as => :select, :collection => ['active', 'inactive', 'archived'], :include_blank => false %>
      </ol>
    </fieldset>

    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("campaigns.edit.campaign_targets") %></h3>
        </li>
        <%= form.input :finished_contacts_per_hour, :input_html => {:style => "width:95px"} %>
        <%= form.input :production_value_per_hour, :input_html => {:style => "width:95px"} %>
        <%= form.input :success_rate, :input_html => {:style => "width:95px"} %>
      </ol>
    </fieldset>

    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <%= form.input :import_contacts_from_lists_enabled, :input_html => { :onclick => "$('#newsletter_lists_selection').toggle()" } %>
        <%= form.input :sync_with_campaign_source %>
      </ol>
    </fieldset>
  </div>

    <div id="newsletter_lists_selection"<%= ' style="display:none"'.html_safe unless @campaign.import_contacts_from_lists_enabled? %>>
      <div class="pdd_10 no_pdd_t">
        <fieldset class="inputs labels_ta_r">
          <ol class="align_inputs">
            <li class="header">
              <h3><%= t("campaigns.edit.lists_selection") %></h3>
            </li>
            <%= text_field_tag :newsletter_owner_email, "", :class => "grid_190" %><%= bt_link_to :magnify, t("newsletters.newsletter_campaigns.form.fetch_lists"), "javascript:void(0)", :class => "marg_5", :onclick => "fetch_lists()" %>
          </ol>
        </fieldset>


        <div id="surveys_newsletter_lists">
          <div class="pdd_10 no_pdd_l">
            <div class="grid_200 fltl">
              <h3 class="pdd_10"><%= t("surveys_management.surveys.form.all_lists") %></h3>
              <%= select_tag "all_lists", options_for_select([]), {:multiple => true, :size => 10} %>
            </div>

            <div class="grid_120 fltl">
              <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_lists','campaign_newsletter_list_ids_');set_modification_flag_on('#campaign_contacts_from_lists_modified')", :id => "move_right" %></p>

              <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('campaign_newsletter_list_ids_','all_lists');set_modification_flag_on('#campaign_contacts_from_lists_modified')", :id => "move_left" %></p>
            </div>

            <div class="grid_200 fltr">
              <h3 class="pdd_10"><%= t("surveys_management.surveys.form.selected_lists") %></h3>
              <%= form.input :contacts_from_lists_modified, :as => :hidden %>
              <%= select_tag "campaign[newsletter_list_ids][]", options_for_select(campaign.newsletter_lists.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10} %>
            </div>
            <div class="clb"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :contact_pool_type, :as => :radio, :collection => Campaign::CONTACT_POOL_TYPES.map { |pt| [t("campaigns.contact_pool_types.contact_pool#{pt}"), pt] }, :wrapper_html => {:class => "collection"} %>
        <%= form.input :max_contact_number, :input_html => {:style => "width:95px"} %>
        <%= form.input :cost_type, :as => :radio, :collection => Campaign::COST_TYPES.map { |lnt| [t("campaigns.cost_types.cost_type#{lnt}"), lnt] }, :wrapper_html => {:class => "collection"} %>
        <%= form.input :fixed_cost_value, :input_html => {:style => "width:95px"} %>
        <%= form.input :crm_option, :as => :radio, :collection => Campaign::CRM_OPTIONS.map { |lnt| [t("campaigns.crm_options.crm_option#{lnt}"), lnt] }, :wrapper_html => {:class => "collection"}, :label => t("campaigns.form.crm_options") %>
        <li class="select" style="padding-top:10px">
          <%= label_tag t("campaigns.form.crm_campaigns"), t("campaigns.form.crm_campaigns") %>
          <%= select_tag "campaign[crm_campaigns]", options_from_collection_for_select(Campaign.available_for_user(current_user).reorder("campaigns.name ASC"), "id", "name", campaign.crm_campaigns.blank? ? nil : campaign.crm_campaigns.split(",")), :multiple => true, :style => "width:200px;height:100px" %>
        </li>
        <%= form.input :auto_dialer, :wrapper_html => {:class => "collection"} %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="clb"></div>

<%= content_for :js do -%>
  <script type="text/javascript">
      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });

      function fetch_lists() {
          $.get("<%= lists_for_owner_newsletters_newsletter_campaigns_path(:format => :js) -%>",
                  "owner_email=" + $('#newsletter_owner_email').val());
      }
  </script>
<% end %>
