<%
   cols = 9
   cols += 1 if block_tools
-%>

<table id="campaigns" class="generic">
  <thead>
  <tr>
    <th class="hl"></th>
    <th><%= link_to t("campaigns.table.name"), order_for_scoped_search(:name) %></th>
    <th><%= link_to t("campaigns.table.category"), order_for_scoped_search(:category) %></th>
    <th><%= t("campaigns.table.call_backs") %></th>
    <th class="ta_r"><%= link_to t("campaigns.table.start_date"), order_for_scoped_search(:start_date) %></th>
    <th class="ta_r"><%= link_to t("campaigns.table.end_date"), order_for_scoped_search(:end_date) %></th>
    <th class="ta_r"><%= t("campaigns.table.agents") %></th>
    <th class="ta_r"><%= t("campaigns.table.contacts") %></th>
    <th class="ta_r"><%= t("campaigns.table.results") %></th>
    <th class="ta_r"><%= t("campaigns.table.completion") %></th>
    <% if block_tools %>
        <th class="ta_r">
          <%= t("campaigns.table.actions") %>
        </th>
    <% end %>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= cols %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% collection.each do |campaign| %>
      <tr id="campaign_<%= campaign.id %>" class="<%= cycle("odd", "even") %>">
        <td class="cl"></td>
        <td>
          <%= campaign.name %>
        </td>
        <td><%= campaign.category %></td>
        <td><%= campaign.call_backs_count(current_user) %></td>
        <td class="ta_r"><%= campaign.start_date %></td>
        <td class="ta_r"><%= campaign.end_date %></td>
        <td class="ta_r"><%= campaign.users.count %></td>
        <td class="ta_r"><%= campaign.contacts.count %></td>
        <td class="ta_r"><%= campaign.contacts.with_completed_status(true).count %></td>
        <td class="ta_r"><%= campaign.completion %>%</td>
        <% if block_tools %>
            <td class="tda ta_r">
              <%= with_output_buffer { block_tools.call(campaign) } if campaign.can_be_managed_by?(current_user) or campaign.has_user_as_member?(current_user) %>
            </td>
        <% end %>
        <td class="cr"></td>
      </tr>
  <% end %>
  <% if will_paginate collection %>
      <tr class="pagination">
        <td colspan="<%= cols + 2 %>" class="ta_c">
          <%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% collection.each do |campaign| %>
    <div id="campaign_<%= campaign.id %>_tooltip" style="display:none">
      <div class="call_result_note">
      <%= campaign.description.blank? ? t("campaigns.table.description_tooltip_blank") : campaign.description.to_s.html_safe %>
      </div>
    </div>


    <script type="text/javascript">
        jQuery("#campaign_<%= campaign.id %>").qtip(
        {
            position: {
                corner: {
                    target: 'topMiddle',
                    tooltip: 'bottomMiddle'
                },
            },
            content: $("#campaign_<%= campaign.id %>_tooltip").html(),
            show: 'mouseover',
            hide: 'mouseout',
            style: {
                name: "cream",
                border: {
                    radius: 3
                },
                tip: {
                    corner: 'bottomMiddle',
                    size: {
                        x: 8,
                        y : 12
                    }
                }
            }
        });
    </script>
<% end %>