<column-mc:>
  <header back="true" backurl="#{callers_campaigns_path}"><%= t("campaigns.edit.title") %>: <%= @campaign.name %></header>

  <%= semantic_form_for [:callers, @campaign], :method => :put do |form| %>
      <frm title="Edit">
        <param:header>
          <%= bt_link_to nil, t("campaigns.edit.chain_mail_types"), callers_campaign_chain_mail_types_path(@campaign), :class => "fltr" %>
          <%= bt_link_to nil, t("campaigns.edit.materials_repository"), callers_campaign_materials_path(@campaign), :class => "fltr" %>
          <%= bt_link_to nil, t("campaigns.edit.description_and_briefing"), edit_callers_campaign_campaigns_description_path(@campaign), :class => "fltr" %>

          <%= bt_link_to nil, t("campaigns.edit.results"), callers_campaign_path(@campaign), :class => "fltr" %>
          <%= bt_link_to nil, t("campaigns.edit.calls"), callers_campaign_call_logs_path(@campaign), :class => "fltr" %>
          <%= bt_link_to nil, t("campaigns.edit.agent_assignment_button"), callers_campaign_campaigns_users_path(@campaign), :class => "fltr" %>
          <%= bt_link_to nil,  t("campaigns.edit.edit_template"),"javascript:void(0)", :onclick => "edit_template(#{@campaign.id})", :class => "fltr" %>
          <%= select_tag :email_template_id, options_for_select(@campaign.cloned_email_templates.map { |t| [t.name.to_s, t.id] }.sort), { :class => "fltr" } %>
        </param:header>
        <param:content>
          <%= render :partial => '/callers/campaigns/form', :locals => {:form => form, :campaign => @campaign} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("campaigns.edit.button_update"), :name => "commit_create", :onclick => "select_options_to_submit('campaign_newsletter_list_ids_');" %>
          </ibt>
          <%= bt_link_to nil, t("campaigns.edit.button_cancel"), callers_campaigns_path, :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
  <% end %>

  <br/>

  <header>
    <param:content>
      <%= t("campaigns.edit.title_contacts") %>
    </param:content>

    <param:actions>
      <%= form_tag administration_articles_path, :method => :post, :id => "form_new_article" do %>
          <ul class="header_actions">
            <li>
              <%= bt_link_to :plus, t("campaigns.edit.button_create_contact"), new_callers_campaign_contact_path(@campaign) %>
            </li>
            <li>
              <%= bt_link_to nil, t("campaigns.edit.production"), callers_production_path(:campaign_ids => [@campaign.id]) %>
            </li>


            <% if users_for_agent_work_screen = (current_user.admin? ? @campaign.users : [current_user]+@campaign.users.where(:id => current_user.subaccount_ids)) and !users_for_agent_work_screen.empty? %>
            <li>
              <%= bt_link_to nil, t("campaigns.edit.agent_work_screen_as"), "javascript:void();", :onclick => "go_to_agent_work_screen_as_user(#{@campaign.id})" %>
            </li>
            <li><%= select_tag :user_id, options_from_collection_for_select(users_for_agent_work_screen.sort_by(&:screen_name), 'id', 'screen_name') %></li>
            <% end %>
            <li>
              <%= bt_link_to :users, t("campaigns.edit.button_import_contacts"), new_callers_campaign_contact_path(@campaign, :type => "import") %>
            </li>
            <li>
              <%= bt_link_to :download, t("campaigns.edit.button_bulk_download_link"), "", :id => "export_contacts" %>
            </li>
            <li class="last">
              <%= bt_link_to :pencil, t("campaigns.edit.button_manage_result_types"), callers_campaign_results_path(@campaign) %>
            </li>

          </ul>
      <% end %>
    </param:actions>
  </header>

  <div class="fltl">
    <%= bt_link_to_function nil, "Select unassigned", "$('input.cb_contact_id:not([data-agent-id]):not([data-completed])').each(function(){this.checked=!this.checked});" %>

    <%#= label_tag "select_by_result_id", "Select with result" %>
    <%#= select_tag "select_by_result_id", options_for_select([[]]+@contacts.select{|c| c.current_call_result and c.current_call_result.result }.map{|c| [c.current_call_result.result.name, c.current_call_result.result.id]}.uniq.sort), :onchange => "select_all_contacts_with_result_and_agent();" %>

    <%#= label_tag "select_by_agent_id", "Select assigned to agent" %>
    <%#= select_tag "select_by_agent_id", options_for_select([[]]+@contacts.select{|c| c.agent }.map{|c| [c.agent.screen_name, c.agent.id]}.uniq.sort), :onchange => "select_all_contacts_with_result_and_agent();" %>
  </div>

  <div class="fltr">
      <%= form_for @search, :url => edit_callers_campaign_path(@campaign) do |f| %>
          <p>
            <%= label_tag t("contacts.filter.keyword_label") %>
            <%= f.text_field :with_keyword %>

            <%= label_tag t("contacts.filter.result_label") %>
            <%= f.select :with_current_result_id, [[]]+CallResult.joins(:result).for_campaign(@campaign).map{|cr| [cr.result.name, cr.result_id]}.uniq.sort %>

            <%= label_tag t("contacts.filter.agent_label") %>
            <%= f.select :with_agent_id, [[]]+CallResult.joins(:result).for_campaign(@campaign).select{ |cr| cr.creator }.map{|cr| [cr.creator.screen_name, cr.creator_id]}.uniq.sort %>

            <% if @campaign.surveys.any? %>
                <%= label_tag t("contacts.filter.survey_label") %>
                <%= f.select :with_survey, [[]] + @campaign.surveys.map { |s| [s.name, s.id] }.sort %>

                <%= label_tag t("contacts.filter.survey_state_label") %>
                <%= f.select :with_survey_state,  [ [], [t("contacts.filter.survey_state_visited_or_completed_label"), -1], [t("models.survey_recipient.states.state1"), SurveyRecipient::STATE_VISITED], [t("models.survey_recipient.states.state2"), SurveyRecipient::STATE_COMPLETED]] %>
            <% end %>
            <%= hidden_field_tag "show_all", "1" %>

            <%= bt_link_to nil, t("contacts.filter.search_button"), "javascript:void(0)", :onclick => "$(this).parents('form').submit()" %>
          </p>
      <% end %>
  </div>

  <clb/>

  <%= contacts_table @contacts, :show_checkboxes => true do |blocks| %>
      <% blocks.tools do |contact| %>
          <ul-actions>
            <li>
              <%= link_to t("campaigns.edit.edit_button"), edit_callers_campaign_contact_path(@campaign, contact), :class => "default_action" %>
            </li>
            <li>
              <%= link_to t("campaigns.edit.remove_button"), callers_campaign_contact_path(@campaign, contact), :confirm => t("campaigns.edit.remove_confirm"), :method => :delete %>
            </li>
          </ul-actions>
      <% end %>
  <% end %>


  <table class="generic edit_selected">
    <thead>
    <tr>
      <th class="hl"></th>
      <th class="edit_selected_title"><%= t("campaigns.edit.edit_selected_contacts") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr class="main_actions">
      <td colspan="3">

  <%= form_tag batch_assign_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_assign_form" do %>
      <label><%= t("campaigns.edit.label_assignments") %></label><%= select_tag "agent_id", options_for_select(@campaign.users.map { |u| [u.screen_name, u.id] }.sort) %>
      <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_assign" %>
      <%= bt_link_to :users, t("campaigns.edit.button_assign_selected_contacts"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_assign');$('#batch_assign_form').submit();" %>
      <%= bt_link_to :remove, t("campaigns.edit.button_remove_assignment_for_selected"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_unassign');$('#batch_unassign_form').submit();" %>
      <%= bt_link_to :remove, t("campaigns.edit.button_remove_selected"), "javascript:void(0)", :class => "btn_remove_selected", :onclick => "set_contacts_id_hf('hf_batch_remove');$('#batch_remove_form').submit();" %>
  <% end %>

  <%= form_tag "'", :method => :post, :id => "export_contacts_form" do %>
  <% end %>

  <script>
      $('#export_contacts').click(function(e){
          e.preventDefault();
          $('#select_export_format').dialog({
              height: 125,
              modal: true,
              buttons: {
                  "XLS": function(){
                      $( this ).dialog( "close" );
                      $('#export_contacts_form').attr('action', '<%= bulk_contacts_export_callers_campaign_contacts_path(@campaign, :format => :xls) %>');
                      $('#export_contacts_form').submit();
                  },
                  "CSV": function(){
                      $( this ).dialog( "close" );
                      $('#export_contacts_form').attr('action', '<%= bulk_contacts_export_callers_campaign_contacts_path(@campaign, :format => :csv) %>');
                      $('#export_contacts_form').submit();
                  }
              }
          });
      });
  </script>

  <%= form_tag batch_assign_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_unassign_form" do %>
      <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_unassign" %>
  <% end %>

  <%= form_tag batch_remove_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_remove_form" do %>
      <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_remove" %>
  <% end %>

  <% if (@newsletter_lists = current_user.admin? ? NewsletterList.all : NewsletterList.created_or_owned_by(current_user)) and @newsletter_lists.present? %>
      <%= form_tag batch_add_to_newsletter_list_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_add_to_newsletter_list_form" do %>
          <label><%= t("campaigns.edit.label_newsletter_lists") %></label><%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_add_to_newsletter_list" %>
          <%= select_tag "newsletter_list_id", options_for_select((@newsletter_lists).map { |nl| [nl.name.to_s, nl.id] }.sort) %>
          <%= bt_link_to :plus, t("campaigns.edit.button_bulk_add_to_newsletter_list_link"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_add_to_newsletter_list');$('#batch_add_to_newsletter_list_form').submit();" %>
      <% end %>
  <% end %>

  <% if target_campaigns = (current_user.admin? ? Campaign.all.except(@campaign) : Campaign.available_for_user(current_user)).except(@campaign) %>
      <%= form_tag batch_move_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_move_form" do %>
          <label><%= t("campaigns.edit.label_campaings") %></label><%= select_tag "target_campaign_id", options_for_select(target_campaigns.map { |u| [u.name.to_s, u.id] }.sort) %>
          <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_move_form" %>
          <%= hidden_field_tag "action_type", nil, :id => "hf_batch_move_form_action_type" %>
          <%= bt_link_to :arrow_right, t("campaigns.edit.button_move_selected_contacts"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_move_form');$('#hf_batch_move_form_action_type').val('move');$('#batch_move_form').submit();" %>
          <%= bt_link_to :arrow_right, t("campaigns.edit.button_copy_selected_contacts"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_move_form');$('#hf_batch_move_form_action_type').val('copy');$('#batch_move_form').submit();" %>
      <% end %>
  <% end %>

  <% if @campaign.surveys.any? %>
      <%= form_tag batch_send_survey_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_send_survey_form" do %>
          <label><%= t("campaigns.edit.label_campaings") %></label><%= select_tag "survey_id", options_for_select(@campaign.surveys.map { |u| [u.name.to_s, u.id] }.sort) %>
          <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_send_survey_form" %>
          <%= bt_link_to :mail, t("campaigns.edit.button_send_survey_to_selected"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_send_survey_form');;$('#batch_send_survey_form').submit();" %>
      <% end %>
  <% end %>

  <%= bulk_form do %>
      <%= hidden_field_tag :route_to %>
      <label><%= t("campaigns.edit.label_tags") %></label><%= render :partial => "/shared/tags/assign_tags", :locals => { :ids_container => "cb_contact_", :taggable_class_name => "Contact" } %>
  <% end %>


      </td>
    </tr>
    </tbody>
  </table>

</column-mc:>

<js:>
  <script type="text/javascript">
    function edit_template(campaign_id)
    {
        if($('#email_template_id option:selected').val() != ''){
            window.location.href = '/callers/campaigns/' + campaign_id.toString() + '/email_templates/' + $('#email_template_id option:selected').val() + '/edit'
        }
    }

    function go_to_agent_work_screen_as_user(campaign_id){
        selected_user = $('#user_id option:selected').val();
        window.location.href = "/callers/campaigns/" + campaign_id.toString() + "/agent_work_screen?other_user_id=" + selected_user.toString();
    }
  </script>
</js:>