<column-mc:>
  <header back="true" backurl="#{callers_campaigns_path}"><%= t("campaigns.edit.title") %></header>

  <%= semantic_form_for [:callers, @campaign], :method => :put do |form| %>
      <frm title="Edit">
        <param:header>
          <%= bt_link_to nil, t("campaigns.edit.agent_assignment_button"), callers_campaign_campaigns_users_path(@campaign), :class => "fltr" %>
        </param:header>
        <param:content>
          <%= render :partial => '/callers/campaigns/form', :locals => {:form => form, :campaign => @campaign} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("campaigns.edit.button_update"), :name => "commit_create" %>
          </ibt>
          <%= bt_link_to nil, t("campaigns.edit.button_cancel"), callers_campaigns_path, :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
  <% end %>

  <br/>

  <header>
    <param:content>
      <%= t("campaigns.edit.title_contacts") %>
    </param:content>

    <param:actions>
      <%= form_tag administration_articles_path, :method => :post, :id => "form_new_article" do %>
          <ul class="header_actions">
            <li>
              <%= bt_link_to :plus, t("campaigns.edit.button_create_contact"), new_callers_campaign_contact_path(@campaign) %>
            </li>
            <li>
              <%= bt_link_to :pencil, t("campaigns.edit.button_manage_result_types"), callers_campaign_results_path(@campaign) %>
            </li>
            <li class="last">
              <%= bt_link_to :users, t("campaigns.edit.button_import_contacts"), new_callers_campaign_contact_path(@campaign, :type => "import") %>
            </li>
          </ul>
      <% end %>
    </param:actions>
  </header>

  <%= form_for @search, :url => edit_callers_campaign_path(@campaign) do |f| %>
      <p>
        <%= label_tag t("contacts.filter.keyword_label") %>
        <%= f.text_field :with_keyword %>
        <%= bt_link_to nil, t("contacts.filter.search_button"), "javascript:void(0)", :onclick => "$(this).parents('form').submit()" %>
      </p>
  <% end %>

  <%= contacts_table @contacts, :show_checkboxes => true do |blocks| %>
      <% blocks.tools do |contact| %>
          <ul-actions>
            <li>
              <%= link_to t("campaigns.edit.edit_button"), edit_callers_campaign_contact_path(@campaign, contact), :class => "default_action" %>
            </li>
            <li>
              <%= link_to t("campaigns.edit.remove_button"), callers_campaign_contact_path(@campaign, contact), :confirm => t("campaigns.edit.remove_confirm"), :method => :delete %>
            </li>
          </ul-actions>
      <% end %>

      <% blocks.bottom do %>

          <% form_tag batch_assign_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_assign_form" do %>
              <%= select_tag "agent_id", options_for_select(@campaign.users.map { |u| [u.full_name, u.id] }) %>
              <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_assign" %>
              <%= bt_link_to :users, t("campaigns.edit.button_assign_selected_contacts"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_assign');$('#batch_assign_form').submit();" %>
              <%= bt_link_to :remove, t("campaigns.edit.button_remove_selected"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_remove');$('#batch_remove_form').submit();" %>
              <%= bt_link_to :remove, t("campaigns.edit.button_remove_assignment_for_selected"), "javascript:void(0)", :onclick => "set_contacts_id_hf('hf_batch_unassign');$('#batch_unassign_form').submit();" %>
          <% end %>

          <% form_tag batch_assign_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_unassign_form" do %>
              <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_unassign" %>
          <% end %>

          <% form_tag batch_remove_callers_campaign_contacts_path(@campaign), :method => :post, :id => "batch_remove_form" do %>
              <%= hidden_field_tag "contact_ids", nil, :id => "hf_batch_remove" %>
          <% end %>
      <% end %>

  <% end %>


</column-mc:>