<search-box:>
  <div class="search_box">
    <h2><%= t("campaigns.filter.header") %></h2>

    <div class="search_content">
      <%= semantic_form_for @search, :url => callers_campaigns_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.input :with_keyword, :label => t("campaigns.filter.keyword_label"), :required => false %>
                <%= f.input :with_state, :as => :select, :collection => [[t("campaigns.filter.state_select_all"), "all"],
                                                                         [t("campaigns.filter.state_select_active"), "active"],
                                                                         [t("campaigns.filter.state_select_inactive"), "inactive"]],
                            :label           => t("campaigns.filter.state_label"), :include_blank => false, :required => false %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("campaigns.filter.search_button") %>
                </ibt>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header>
    <param:content>
      <%= t("campaigns.header.title") %>
    </param:content>
    <% if current_user.has_one_of_roles?(:call_centre, :admin) %>
        <param:actions>
              <%= form_tag new_callers_campaign_path, :method => :get, :id => "form_new_campaign" do %>
                  <ul class="header_actions">
                    <li>
                      <div class="hidden">
                        <%= submit_tag "New" %>
                      </div>
                      <%= bt_link_to :plus, t("campaigns.header.new_campaign_button"), "javascript:void", :onclick => "$('#form_new_campaign').submit()" %>
                    </li>
                    <li class="last">
                      <%= bt_link_to nil, t("campaigns.header.my_results_global_button"), callers_production_path, :class => "fltr"  %>
                    </li>
                  </ul>
              <% end %>
        </param:actions>
    <% end %>

  </header>


  <%= campaigns_table @campaigns do |blocks| %>
      <% blocks.tools do |campaign| %>
          <ul-actions>
            <li>
              <%= link_to t("campaigns.table.materials_repository"), callers_campaign_materials_path(campaign) %>
            </li>
            <% if !current_user.has_role?(:admin) and (campaign.can_be_managed_by?(current_user) or campaign.has_user_as_member?(current_user))  %>
                <li>
                  <%= link_to t("campaigns.table.work_screen"), callers_campaign_agent_work_screen_index_path(campaign, :other_user_id => ( (current_user.call_centre? or current_user.id.admin?) ? current_user.id : nil)), :class => "default_action" %>
                </li>
            <% end %>
            <% if current_user.has_one_of_roles?(:admin, :call_centre) and campaign.can_be_managed_by?(current_user) %>
                <li>
                  <%= link_to t("campaigns.index.edit"), edit_callers_campaign_path(campaign), :class => current_user.has_role?(:admin) ? "default_action" : "" %>
                </li>
                <li>
                  <%= link_to t("campaigns.index.result"), callers_campaign_path(campaign) %>
                </li>
                <li>
                  <%= link_to t("campaigns.index.destroy"), callers_campaign_path(campaign), :confirm => t("campaigns.index.destroy_confirmation"), :method => :delete %>
                </li>
            <% end %>
            <% if current_user.admin? %>
                <li>
                  <%= link_to t("campaigns.index.duplicate"), duplicate_callers_campaign_path(campaign), :confirm => t("campaigns.index.duplication_confirmation"), :method => :post %>
                </li>
            <% end %>
          </ul-actions>
      <% end %>
  <% end %>

</column-mc:>