<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("campaigns.filter.header") %></h2>

    <div class="search_content">
      <%= semantic_form_for @search, :url => callers_campaigns_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.input :with_keyword, :label => t("campaigns.filter.keyword_label"), :required => false %>
                <%= f.input :with_state, :as => :select, :collection => states_for_select,
                            :label           => t("campaigns.filter.state_label"), :include_blank => false, :required => false %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("campaigns.filter.search_button") %>
                </ibt>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<%= content_for :column_mc do -%>
  <div class="ajax_flash_msg flash flash_notice" style="display:none;">
  </div>

  <header>
    <param:content>
      <%= t("campaigns.header.title") %>
    </param:content>
    <% if current_user.has_one_of_roles?(:call_centre, :admin) %>
        <param:actions>
              <%= form_tag new_callers_campaign_path, :method => :get, :id => "form_new_campaign" do %>
                  <ul class="header_actions">
                    <li>
                      <div class="hidden">
                        <%= submit_tag "New" %>
                      </div>
                      <%= bt_link_to :plus, t("campaigns.header.new_campaign_button"), "javascript:void", :onclick => "$('#form_new_campaign').submit()" %>
                    </li>
                    <li class="last">
                      <%= bt_link_to nil, t("campaigns.header.my_results_global_button"), callers_production_path, :class => "fltr"  %>
                    </li>
                  </ul>
              <% end %>
        </param:actions>
    <% end %>

  </header>


  <%= campaigns_table @campaigns do |blocks| %>
      <% blocks.tools do |campaign| %>
          <ul-actions>
            <li>
              <%= link_to t("campaigns.table.materials_repository"), callers_campaign_materials_path(campaign) %>
            </li>
            <% if !current_user.has_role?(:admin) and (campaign.can_be_managed_by?(current_user) or campaign.has_user_as_member?(current_user))  %>
                <li>
                  <%= link_to t("campaigns.table.work_screen"), callers_campaign_agent_work_screen_index_path(campaign, :other_user_id => ( (current_user.call_centre? or current_user.admin?) ? current_user.id : nil)), :class => "default_action" %>
                </li>
            <% end %>
            <% if current_user.has_one_of_roles?(:admin, :call_centre) and campaign.can_be_managed_by?(current_user) %>
                <li>
                  <%= link_to t("campaigns.index.edit"), edit_callers_campaign_path(campaign), :class => current_user.has_role?(:admin) ? "default_action" : "" %>
                </li>
                <li>
                  <%= link_to t("campaigns.index.result"), callers_campaign_path(campaign) %>
                </li>
                <li>
                  <%= link_to_function t("campaigns.index.destroy"), "destroyModalBox('#{campaign.id}')"%>
                </li>
            <% end %>
            <% if current_user.admin? %>
                <li>
                  <%= link_to_function t("campaigns.index.duplicate"), "duplicateModalBox('#{campaign.id}')"%>
                </li>
                <li>
                  <%= link_to_function t("campaigns.index.clear"), "clearModalBox('#{campaign.id}')"%>
                </li>
            <% end %>
          </ul-actions>
      <% end %>
  <% end %>

  <div style="display:none;">
    <div id="duplicate_campaign_modal_box">
      <frm title="#{t('campaigns.index.duplication_confirmation')}">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_200">
              <%= check_box_tag :with_contacts, "1", true, :id => "duplicate_with_contacts", :onclick => "checkDuplicationWithContactsSelection()" %> <%= t("campaigns.index.copy_contacts") %>
              <br>
              <%= check_box_tag :with_call_results, "1", true, :id => "duplicate_with_call_results" %> <%= t("campaigns.index.copy_call_results") %>
              <br>
              <%= check_box_tag :with_agent_time, "1", true, :id => "duplicate_with_agent_time" %> <%= t("campaigns.index.copy_agent_time") %>
              <br>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <%= bt_link_to nil, t("campaigns.index.duplicate"), "javascript:;", :class => "bt_duplicate" %>
          <%= bt_link_to nil, t("common.cancel_link"), "javascript:$.colorbox.close()", :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
    </div>

    <div id="clear_campaign_modal_box">
      <frm title="#{t('campaigns.index.clear_confirmation')}">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_200">
              <%= check_box_tag :with_contacts, "1", true, :id => "clear_with_contacts", :onclick => "checkClearWithContactsSelection()" %> <%= t("campaigns.index.clear_contacts") %>
              <br>
              <%= check_box_tag :with_call_results, "1", true, :id => "clear_with_call_results" %> <%= t("campaigns.index.clear_call_results") %>
              <br>
              <%= check_box_tag :with_agent_time, "1", true, :id => "clear_with_agent_time" %> <%= t("campaigns.index.clear_agent_time") %>
              <br>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <%= bt_link_to nil, t("campaigns.index.clear"), "javascript:;", :class => "bt_clear" %>
          <%= bt_link_to nil, t("common.cancel_link"), "javascript:$.colorbox.close()", :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
    </div>

    <div id="destroy_campaign_modal_box">
      <frm title="#{t('campaigns.index.destroy_confirmation')}">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_200">
              <%= check_box_tag :with_agent_time, "1", true, :id => "destroy_with_agent_time" %> <%= t("campaigns.index.destroy_agent_time") %>
              <br>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <%= bt_link_to nil, t("campaigns.index.destroy"), "javascript:;", :class => "bt_destroy" %>
          <%= bt_link_to nil, t("common.cancel_link"), "javascript:$.colorbox.close()", :class => "bt_grey fltr" %>
        </param:actions>
      </frm>
    </div>
  </div>

<% end %>

<%= content_for :js do -%>
  <script type="text/javascript">
    function duplicateModalBox(campaign_id){
        $('a.bt_duplicate').unbind('click').click(function(){
            $.post('/callers/campaigns/' + campaign_id + '/duplicate.js', {'_method':'post', with_contacts: $('#duplicate_with_contacts').attr("checked"),
                with_call_results: $('#duplicate_with_call_results').attr("checked"), with_agent_time: $('#duplicate_with_agent_time').attr("checked")});
            $.colorbox.close();
        });

        $.colorbox({href:"#duplicate_campaign_modal_box",
            width: 500, maxHeight: 700, overlayClose: true, inline: true
        });
    }

    function clearModalBox(campaign_id){
        $('a.bt_clear').unbind('click').click(function(){
            $.post('/callers/campaigns/' + campaign_id + '/clear.js', {'_method':'post', with_contacts: $('#clear_with_contacts').attr("checked"),
                with_call_results: $('#clear_with_call_results').attr("checked"), with_agent_time: $('#clear_with_agent_time').attr("checked")});
            $.colorbox.close();
        });

        $.colorbox({href:"#clear_campaign_modal_box",
            width: 500, maxHeight: 700, overlayClose: true, inline: true
        });
    }

    function destroyModalBox(campaign_id){
        $('a.bt_destroy').unbind('click').click(function(){
            $.colorbox.close();
            $.post('/callers/campaigns/' + campaign_id + '.js', {'_method':'delete', with_agent_time: $('#destroy_with_agent_time').attr("checked")});
        });

        $.colorbox({href:"#destroy_campaign_modal_box",
            width: 500, maxHeight: 700, overlayClose: true, inline: true
        });
    }

    function checkDuplicationWithContactsSelection(){
        if($('#duplicate_with_contacts').attr('checked')){
            $('#duplicate_with_call_results').attr("disabled", "")
        } else {
            $('#duplicate_with_call_results').attr("checked", "").attr("disabled", "disabled")
        }
    }

    function checkClearWithContactsSelection(){
        if($('#clear_with_contacts').attr('checked')){
            $('#clear_with_call_results').attr("checked", "checked").attr("disabled", "disabled")
        } else {
            $('#clear_with_call_results').attr("checked", "").attr("disabled", "")
        }
    }

    $(function(){
        checkDuplicationWithContactsSelection();
        checkClearWithContactsSelection();
    });
  </script>
<% end %>