<search-box:>
<%= render :partial => "shared/results_production/search", :locals => { :search => @search, :campaign => @campaign,
                                                                        :agent_ids => @agent_ids, :all_results =>@all_results,
                                                                        :result_ids => @result_ids, :date_from => @date_from,
                                                                        :date_to => @date_to, :final => @final, :campaign_users => @campaign_users } %>
</search-box:>
<%= content_for :column_mc do -%>
  <header back="true" backurl="javascript:history.back(-1)">
    <param:content>
      <%= @campaign.name %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to_function :invoice, t("campaigns.show.advanced_export"), "submit_advanced_export()" %>
        </li>
      </ul>
    </param:actions>
  </header>

  <div class="frm_tiny pdd_10">

  <%= render :partial => "shared/results_production/table", :locals => { :search => @search, :campaign => @campaign,
                                                                         :agent_ids => @agent_ids, :all_results =>@all_results,
                                                                         :result_ids => @result_ids, :date_from => @date_from,
                                                                         :date_to => @date_to, :final => @final,
                                                                         :results => @results, :headers => @headers, :campaign_users => @campaign_users } %>

<% end %>

<js:>
<script type="text/javascript">
    $(function() {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });

    function submit_advanced_export(){
        $('#search_new').attr('action', '<%= new_callers_campaign_advanced_export_path(@campaign) %>').submit();
    }
</script>
</js:>