<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("administration.featured_deals.view.index.header") %>
    <% end %>
  <% end %>

  <%= form_tag administration_featured_deals_path, :method => :post do %>
      <frm title="#{t('administration.featured_deals.view.index.title')}">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <div class="column_left">
              <fieldset class="inputs labels_170 labels_ta_r inputs_360">
                <ol class="align_inputs">
                  <% FeaturedDeal::POSITIONS.each do |position| %>
                      <li class="select">
                        <%= label_tag (0..4).include?(position) ? t("administration.featured_deals.view.index.main_position", {:position => position+1 }) : t("administration.featured_deals.view.index.position", {:position => position-4 }) %>
                        <%= select_tag "featured_deals[#{position}]", options_for_select(@deals_for_select, FeaturedDeal.find_by_position(position).deal_id) %>
                      </li>
                  <% end %>
                </ol>
              </fieldset>
            </div>
          </div>
          <div class="clb"></div><br/>
        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri", :icon => "plus") do %>
            <%= submit_tag t("administration.featured_deals.view.index.set_featured_deals") %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.featured_deals.view.index.cancel"), "history.go(-1)" %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>
<% end %>
