<%= content_for :column_mc do -%>
  <script type="text/javascript">
      $(function() {
          advanced_import_load_sortable_lists();
      });
  </script>

  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("#{model_name}s_advanced_import.choose.view.header") %>
    <% end %>
  <% end %>

  <frm>
    <% section.block_content do %>
      <div class="pdd_10">
        <div class="column_left">
          <p class="sortable_div_header"><%= t("#{model_name}s_advanced_import.choose.view.object_fields_label") %></p>
          <ul id="sortable_object_fields_removed" class="sortable_object_fields_class">
            <p class="disabled"><%= t("advanced_import.choose.view.object_not_selected_fields_label") %></p>
            <% @model.import_fields.each do |name| %>
                <% if !@object_field.blank? and !@object_field.split(",").include?(name) %>
                    <% required = @model.required_import_fields.include?(name) %>
                    <li class="ui-state-highlight <%= "disabled" if required %>"><%= name.include?("custom|") ? name.split("|")[1..2].join(" => ") : name.humanize %><%= " *" if required %>
                      <span style=display:none><%= name %></span></li>
                <% end %>
            <% end %>
          </ul>

          <ul id="sortable_object_fields" class="sortable_object_fields_class">
            <p class="disabled"><%= t("advanced_import.choose.view.object_selected_fields_label") %></p>
            <% @model.import_fields.each do |name| %>
                <% if !@object_field.blank? %>
                    <% if  @object_field.split(",").include?(name) %>
                        <% required = @model.required_import_fields.include?(name) %>
                        <li class="ui-state-highlight <%= "disabled" if required %>"><%= name.include?("custom|") ? name.split("|")[1..2].join(" => ") : name.humanize %><%= " *" if required %>
                          <span style=display:none><%= name %></span></li>
                    <% end %>
                <% else %>
                    <% required = @model.required_import_fields.include?(name) %>
                    <li class="ui-state-highlight <%= "disabled" if required %>"><%= name.include?("custom|") ? name.split("|")[1..2].join(" => ") : name.humanize %><%= " *" if required %>
                      <span style=display:none><%= name %></span></li>
                <% end %>
            <% end %>
          </ul>
        </div>

        <div class="column_right">
          <p class="sortable_div_header"><%= t("advanced_import.choose.view.spreadsheet_fields_label") %></p>
          <div class="clb"></div>
          <ul id="sortable_spreadsheet_fields" class="sortable_spreadsheet_fields_class">
            <p class="disabled"><%= t("advanced_import.choose.view.spreadsheet_selected_fields_label") %></p>
            <% @spreadsheet_headers.each do |name| %>
                <% if !@spreadsheet_field.blank? %>
                    <% if @spreadsheet_field.split(",").include?(name) %>
                        <li class="ui-state-default"><%= name %></li>
                    <% end %>
                <% else %>
                    <li class="ui-state-default"><%= name %></li>
                <% end %>
            <% end %>
          </ul>

          <ul id="sortable_spreadsheet_fields_removed" class="sortable_spreadsheet_fields_class">
            <p class="disabled"><%= t("advanced_import.choose.view.spreadsheet_not_selected_fields_label") %></p>
            <% @spreadsheet_headers.each do |name| %>
                <% if !@spreadsheet_field.blank? and !@spreadsheet_field.split(",").include?(name) %>
                    <li class="ui-state-default"><%= name %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clb"></div>
    <% end %>
    <% section.block_actions do %>
      <%= ibt(:class => "fltri") do %>
        <%= button_to_function t("advanced_import.choose.view.next_button"), "advanced_import_next_button('#{t("advanced_import.choose.view.warning_list_not_equal")}');" %>
      <% end %>
      <%= bt_link_to nil, t("advanced_import.choose.view.cancel_button"), self.send("#{model_name}s_advanced_import_path"), :class => "bt_grey fltr" %>
    <% end %>
  <% end %>

  <%= form_tag self.send("preview_#{model_name}s_advanced_import_path"), :id => "go_to_browse_page_form", :method => :post, :multipart => true do %>
      <%= hidden_field_tag :object_field, nil %>
      <%= hidden_field_tag :spreadsheet_field, nil %>
      <%= hidden_field_tag :attachment, @attachment_file %>
      <% if ["contact", "supplier", "lead", "subscriber"].include?(model_name) %>
          <%= hidden_field_tag :object_id, @object_id %>
      <% end %>
      <% if model_name == "contact" %>
          <%= hidden_field_tag :unique_only, @unique_only %>
      <% end %>
      <%= hidden_field_tag :creator_id, @creator_id %>
  <% end %>
<% end %>
