<div id="lead_template_field_form_<%= f.object.new_record? ? 'lead_template_lead_template_fields_attributes_0' : f.object.id %>">
      <%= bt_link_to :remove, t("shared.lead_templates.form.remove_lead_template_field"), "javascript:void(0)", :onclick => "remove_lead_template_field('#{f.object.new_record? ? 'lead_template_lead_template_fields_attributes_0' : f.object.id}', #{f.object.new_record? ? 'null' : f.object.id})", :style => "position: relative; left:8px; top:2px" %>
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
          <li class="string">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= custom_error_for_field(f, :name) %>
        </li>
        <li class="select">
          <%= f.label :field_type %>
          <%= f.select :field_type, options_for_select(LeadTemplateField::FIELD_TYPES.map { |ft| [t("models.lead_template_field.field_type.type#{ft}"), ft] }, f.object.field_type) %>
          <%= custom_error_for_field(f, :field_type) %>
        </li>
        <li class="boolean">
          <%= f.label :is_hidden %>
          <%= f.check_box :is_hidden %>
        </li>
        <li class="hidden">
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
    </ol>
  </fieldset>
</div>