<%= content_for :search_box do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => suppliers_lead_requests_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("supplier.lead_requests.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_category, t("supplier.lead_requests.index.view.search.category_label") %>
                <%= f.select :with_category, @categories, {:include_blank => true} %>
              </li>
              <li class="string">
                <%= f.label :with_zip_code, t("supplier.lead_requests.index.view.search.zip_code") %>
                <%= f.text_field :with_zip_code %>
              </li>
              <li class="select">
                <%= f.label :with_requested_by, t("supplier.lead_requests.index.view.search.requested_by_label") %>
                <%= f.select :with_requested_by, @requestees, {:include_blank => true} %>
              </li>
              <li class="select">
                <%= f.label :with_country, t("supplier.lead_requests.index.view.search.country_label") %>
                <%= f.select :with_country, @countries, {:include_blank => true} %>
              </li>
              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("supplier.lead_requests.index.view.search.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("supplier.lead_requests.index.view.header") %>
    <% end %>
  <% end %>

  <% unless @lead_requests.any? %>
      <%= blank_state_message %>
  <% else %>
      <%= bulk_form do %>
          <%= lead_requests_listing @lead_requests, :show_checkboxes => true do |blocks| %>
              <% blocks.tools do |lead_request| %>
                  <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                    <li>
                      <%= link_to t("supplier.lead_requests.index.view.accept_lead_request_link"), suppliers_lead_request_path(lead_request), {:method => :put} %>
                    </li>
                    <li>
                      <%= link_to t("supplier.lead_requests.index.view.reject_lead_request_link"), suppliers_lead_request_path(lead_request), {:method => :delete, :confirm => t("common.confirmation")} %>
                    </li>
                  </ul></div>
              <% end %>
              <% blocks.bottom do %>
                  <%= hidden_field_tag :route_to %>
                  <%= bt_link_to :undo, t("supplier.lead_requests.index.view.button_bulk_create_lead_request"), "javascript:void(0)", :onclick => "submitBulkForm('#{suppliers_bulk_lead_requests_path}#PUT');" %>
                  <%= bt_link_to :undo, t("supplier.lead_requests.index.view.button_bulk_destroy_lead_request"), "javascript:void(0)", :onclick => "submitBulkForm('#{suppliers_bulk_lead_requests_path}#DELETE');" %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
<% end %>
