<%= content_for :column_mc do -%>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "member_accounts", :user => @user} %>

  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
    <br/>
  </div>

  <% unless @user.rpx_identifier.blank? %>
      <hl pdd="15"/>
      <div class="frm_tiny" style="margin-bottom:10px;">
        <div class="pdd_10">
          <%= render(:partial => "shared/accounts/rpx_message", :locals => {:user => @user}) %>
        </div>
      </div>
  <% end %>

  <%= render :partial => "sign_in/purchase_manager_form", :locals => {:user => @user, :url => member_accounts_path, :modal_box => false} %>
    <script type="text/javascript">
    $(document).ready(function() {
        select_subscription_radio_button('<%= @user.class.to_s.underscore.gsub('/', '_') -%>', <%= @user.subscription_plan_id -%>)
    });
  </script>
<% end %>