<%= content_for :column_mc do -%>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "member_accounts", :user => @user} %>

  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
    <br/>
  </div>

  <%= render :partial => "sign_in/purchase_manager_form", :locals => {:user => @user, :url => member_accounts_path, :modal_box => false} %>
    <script type="text/javascript">
    $(document).ready(function() {
        select_subscription_radio_button('<%= @user.class.to_s.underscore.gsub('/', '_') -%>', <%= @user.subscription_plan_id -%>)
    });
  </script>
<% end %>
