<%= form.input :category_id, :as => :select, :collection => Category.all.collect { |c| [c.name, c.id] } %>
<%= form.input :country_id, :as => :select, :collection => User::COUNTRIES %>
<%= form.inputs :header, :description, :hidden_description, :purchase_value, :price, :company_name, :lead_name, :phone_number, :email_address, :address %>

<%= t("activerecord.attributes.lead.purchase_decision_date") %><%= form.text_field :purchase_decision_date, :id => "datepicker" %>

<%= select_tag :locale, options_for_select(Locale.all.collect(&:code).select { |c| c != @locale.code }), { :id => "locale_picker", :include_blank => true, :onchange => link_to_add_fields(form)} %>

<span id="lead_translations"></span>

  <script>
  $(function() {
      $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
    function add_fields(link, content) {
      if( $('#locale_picker').text() !=  null)
      {
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_lead_g");
      content = content.replace(/LOCALE_VALUE/, $('#locale_picker').text());
      $('#lead_translations').append(content.replace(regexp, new_id));
      $("option[value=" + $('#locale_picker').text() + "]").remove();
      }
    }
  </script>