<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :category_id, :as => :select, :collection => Category.without_locked %>
      <%= form.input :country_id, :as => :select, :collection => Country.all %>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :purchase_value %>
      <%= form.input :price %>
      <%= form.input :currency, :collection => currencies_for_select, :include_blank => false %>
      <%= form.input :company_name %>
      <%= form.input :contact_name %>
      <%= form.input :phone_number %>
      <%= form.input :email_address %>
      <%= form.input :linkedin_url %>
      <%= form.input :facebook_url %>
      <%= form.input :address, :input_html => { :style => "height: 80px; width: 600px" } %>
      <%= form.input :published %>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :header %>
      <%= form.input :description, :input_html => {:style => "height: 140px; width: 600px"} %>
      <%= form.input :hidden_description, :input_html => {:style => "height: 140px; width: 600px"} %>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="nested_locale_container"></div>

<%= form.fields_for :lead_translations, @lead.lead_translations.select { |lt| lt.locale != I18n.locale.to_s } do |builder| %>
    <%= render :partial => "lead_fields", :locals => {:f => builder} %>
<% end %>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <li class="select">
      <%= form.label :locale, "New translation" %>
      <%= select_tag :locale, options_for_select(available_locales_list(@lead.lead_translations)),
               {:id => "locale_picker", :include_blank => true, :onchange => fields_for_leads_translations(form)} %>
      </li>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :notify_buyers_after_update, :as => :boolean unless @lead.lead_purchases.empty? %>
      <%= form.input :sale_limit, :as => :select, :collection => (0..10) %>
      <%= form.input :purchase_decision_date, :as => :string, :input_html => {:id => "datepicker"} %>
    </ol>
  </fieldset>
</div>



<script>
    var nestedFormsCount = <%= @lead.lead_translations.reject{ |lt| lt.locale == I18n.locale.to_s }.size %>;
    $(function() {
        $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    function add_fields(link, content) {
        if ($('#locale_picker').text() != null)
        {
            var new_id = new Date().getTime();
            var regexp = new RegExp("");
            content = content.replace(/lead_lead_translations_attributes_0/g, "lead_lead_translations_attributes_" + nestedFormsCount.toString());
            content = content.replace(/lead\[lead_translations_attributes\]\[0\]/g, "lead[lead_translations_attributes][" + new_id.toString() + "]");
            content = content.replace(/LOCALE_LANG/, $('#locale_picker').val());
            $('.nested_locale_container:last').append(content);
            $('.locale_hidden_field:last').val($('#locale_picker').val());
            $('.locale_title:last').html($('#locale_picker').val());
            $("option[value=" + $('#locale_picker').val() + "]").remove();
            nestedFormsCount = nestedFormsCount + 1;
        }
    }

    function remove_language(id, locale, record_id) {
        nestedFormsCount = nestedFormsCount - 1;
        $('#locale_picker').append($("<option></option>").attr("value", locale).text(locale));
        if (record_id == null)
        {
            $('#lead_translation_form_' + id).remove();
        }
        else
        {
            $('#lead_translation_form_' + id).hide();
            $('#destroy_hidden_field_' + record_id.toString()).val('true')
        }

    }
</script>