<br />
<span class="locale_span"><%= f.object.locale if f.object.respond_to?(:locale) %></span>
<%= f.text_field :header %><br />
<%= f.text_area :description %><br />
<%= f.text_area :hidden_description %><br />
<%= f.hidden_field :locale, :class => "locale_hidden_field" %><br />
<span class="nested_locale_span"></span>