<%= content_for :column_mc do -%>
  <header back="true"><%= t("agent.leads.edit.view.title", :name => @lead.header) %><%= image_tag_for_locale %></header>
  <%= semantic_form_for [:agents, @lead], :method => :put do |form| %>
      <frm title="#{@lead.header}">
        <param:content>
          <%= render :partial => '/shared/leads/form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <% if @lead.can_be_certified? %>
              <ibt c="fltri">
                <%= link_to t("agent.leads.index.view.certify"), agents_lead_certifications_path(@lead), :method => :post %>
              </ibt>
          <% elsif @lead.can_be_recertified? %>
              <ibt c="fltri">
                <%= link_to t("agent.leads.index.view.recertify"), agents_lead_certifications_path(@lead), :method => :post %>
              </ibt>
          <% end %>
          <ibt c="fltri" icon="save">
            <%= form.submit t("agent.leads.edit.view.button_update") %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <% if @lead.lead_purchases.any? %>
      <frm title="#{t('agent.leads.edit.view.rating_header')}" id="lead_rating">
        <% @lead.lead_purchases.each do |lead_purchase| %>
            <% unless lead_purchase.rating_level.nil? %>
                <div class="rating_element">
                  <h3><%= t("agent.leads.edit.view.rating_level") %>
                    <span class="rating_level"><%= lead_purchase.rating_level_as_text %></span></h3>

                  <p><%#= t("agent.leads.edit.view.rating_reason") %><%= lead_purchase.rating_reason %></p>
                </div>
                <hl/>
            <% end %>
        <% end %>
      </frm>
  <% end %>

<% end %>