<column-mc:>

  <header>
    <param:content>
      <%= t("chain_mail_types.index.header") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last"><%= bt_link_to :plus, t("chain_mail_types.index.new"), new_administration_chain_mail_type_path %></li>
      </ul>
    </param:actions>
  </header>

  <% if @chain_mail_types.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= generic_table @chain_mail_types, :table_class => "chain_mail_types", :default_action => :edit, :cols => 2, :link_to_show => false, :link_to_delete => false do |blocks| %>

          <% blocks.headers do %>
            <th><%= t("chain_mail_types.table.name") %></th>
            <th><%= t("chain_mail_types.table.active") %></th>
          <% end %>
              
          <% blocks.cells do |chain_mail_type| %>
              <td><%= chain_mail_type.name %></td>
              <td><%= chain_mail_type.active? ? t("common.yes_label") : t("common.no_label") %></td>
          <% end %>

      <% end %>
  <% end %>

</column-mc:>
