<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("administration.payment_transactions.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_invoicing_payment_transactions_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.payment_transactions.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="date">
                <%= f.label :with_sale_date_after_and_including, t("administration.payment_transactions.index.view.search.with_sale_date_after_and_including") %>
                <%= f.text_field :with_sale_date_after_and_including, :class => "formtastic-ui-datepicker" %>
              </li>
              <li class="date">
                <%= f.label :with_sale_date_before_and_including, t("administration.payment_transactions.index.view.search.with_sale_date_before_and_including") %>
                <%= f.text_field :with_sale_date_before_and_including, :class => "formtastic-ui-datepicker" %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.payment_transactions.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<%= content_for :column_mc do -%>
  <header><%= t("administration.payment_transactions.index.view.header") %></header>

  <% if @payment_transactions.blank?  %>     
      <%= blank_state_message %>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.payment_transactions.index.view.transaction_type") %></th>
          <th><%= t("administration.payment_transactions.index.view.invoice_number") %>
          <th id="invoice_number_header"><%= t("administration.payment_transactions.index.view.supplier_name") %></th>
          <th id="invoice_number_header"><%= t("administration.payment_transactions.index.view.supplier_company_name") %></th>
          <th><%= t("administration.payment_transactions.index.view.supplier_address") %></th>
          <th class="ta_r"><%= t("administration.payment_transactions.index.view.amount") %></th>
          <th class="ta_r"><%= t("administration.payment_transactions.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="7"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody id="invoices_list">
        <% @payment_transactions.each do |payment_transaction| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= payment_transaction.class.to_s == "PaypalTransaction" ? t("administration.payment_transactions.index.view.transaction_type_paypal") : t("administration.payment_transactions.index.view.transaction_type_manual") %></td>
              <td><%= payment_transaction.invoice.full_number %></td>
              <td><%= payment_transaction.invoice.customer_name %></td>
              <td><%= payment_transaction.invoice.user.company_name %></td>
              <td><%= payment_transaction.invoice.supplier_address %></td>
              <td class="ta_r"><%= as_currency(payment_transaction.amount, payment_transaction.invoice.currency)  %></td>
              <td class="tda ta_r">
                <% if payment_transaction.can_be_edited? %>
                    <%= bt_link_to nil, t("administration.payment_transactions.index.view.edit"), edit_administration_invoicing_payment_transaction_path(payment_transaction), :class => "default_action" %>
                <% end %>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="9" class="ta_c">
                <%= will_paginate @payment_transactions, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>