  <div class="frm_tiny">
    <div class="pdd_10">
    <h2><%= t("materials.views.index.upload_material") %></h2>

    <%= semantic_form_for material, :url => @campaign ? send(upload_url, @campaign) : send(upload_url), :html => {:multipart => true} do |f| %>
        <%= f.inputs do %>
            <%= f.input :asset,
                        :as => :file,
                        :label => t("materials.views.index.file"),
                        :required => true %>
            <li class="commit">
              <%= ibt(:icon => "save") do %>
                <%= f.submit t("materials.views.index.save_material") %>
              <% end %>
            </li>
        <% end %>
    <% end %>
  </div>
  </div>

  <div class="hl" style="padding: 10px 0"></div>

  <ul class="materials_list">
    <% if materials.any? %>
        <% materials.each do |material| %>
            <li>
              <% if is_default_enabled %>
                <%= check_box_tag :is_default, "1", material.is_default?, {:onclick => "$.post('/callers/campaigns/#{@campaign.id}/materials/#{material.id}.js', '_method=PUT&material[is_default]='+this.checked);"} %>
              <% end %>
              - <strong><%= link_to material.asset_file_name, material.url %> - </strong>
              <%= link_to t("materials.views.index.delete_material"), @campaign ? send(delete_url, @campaign, material) : send(delete_url, material), :method => :delete, :confirm => t("common.confirmation") %>
            </li>
        <% end %>
    <% else %>
        <%= t("materials.views.index.no_materials") %>
    <% end %>
  </ul>
