<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
<ul class="lead_requests_listing">
  <% collection.each do |lead_request| %>
      <li class="lead_request" id="<%= dom_id(lead_request) %>">
        <div class="general">
          <%= check_box_tag("lead_ids[]", lead_request.id) if show_checkboxes %>
          <h3><%= lead_request.header %></h3>
          <span><%= t("lead_requests.listing.lead_price_label") %>
            <b><%= lead_request.lead.price %></b></span><br />
          <span><%= t("lead_requests.listing.purchase_value_label") %>
            <b><%= lead_request.purchase_value %></b></span><br />
       <span><%= t("leads.listing.created_by_label") %><b><%= lead_request.lead.creator_name %></b></span>

          <p><b><%= t("lead_requests.listing.description_label") %></b><%= lead_request.description %></p>

          <b><%= t("lead_requests.listing.requested_by") %></b><%= lead_request.requestee.full_name %>
          <% if block_general %>
              <%= with_output_buffer { block_general.call(lead_request) } %>
          <% end %>

        </div>
        <div class="tools">
          <% if block_tools %>
              <%= with_output_buffer { block_tools.call(lead_request) } if block_tools %>
          <% end %>
        </div>
        <div class="stats">
          <span><%= t("lead_requests.listing.clicks_count_label") %><b><%= lead_request.lead.clicks_count %></b></span>
          <span><%= t("lead_requests.listing.exposures_count_label") %><b><%= lead_request.lead.exposures_count %></b></span>
          <span><%= t("lead_requests.listing.sale_limit_label") %><b><%= lead_request.lead.sale_limit %></b></span>
          <span><%= t("lead_requests.listing.novelty_label") %><b><%= t("models.lead.novelty.lvl#{lead_request.lead.novelty_level}") %></b></span>
          <span><%= t("lead_requests.listing.hotness_label") %><b><%= t("models.lead.hotness.lvl#{lead_request.lead.hotness_level}") %></b></span>
          <span><%= t("lead_requests.listing.certification_label") %><b><%= t("models.lead.certification.lvl#{lead_request.lead.certification_level}") %></b></span>
        </div>
      </li>
  <% end %>
</ul>
<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>