<column-mc:>
  <header>Password</header>

  <%= semantic_form_for @user, :url => password_path, :method => :put do |form| %>
      <frm title="Change your password" c="todo_delete">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_240">
              <ol>
                <%= form.input :current_password, :as => :password %>
                <%= form.input :password %>
                <%= form.input :password_confirmation %>
              </ol>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="plus">
            <%= form.submit t("password.edit.view.button_update_user") %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
</column-mc:>