<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("suppliers_advanced_import.show.view.header") %>
    <% end %>
  <% end %>

  <% objects = LeadCategory.without_locked.with_agent_unique(current_user).without_supplier_unique.all %>

  <%= form_tag choose_suppliers_advanced_import_path, :method => :post, :multipart => true, :id => "advanced_import_form" do %>
      <%= frm(:title => "#{t('suppliers_advanced_import.show.view.title')}") do %>
        <% section.block_content do %>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_180">
              <ol class="align_inputs">

                <%= file_field_tag 'attachment', :accept => 'spreadsheet/ods,spreadsheet/doc,spreadsheet/xdoc', :class => "fltl" %>

                <div class="clb"></div>
                <%= check_box_tag "category_supplier_enabled", "1", false, :onclick => "show_hide_category_selection()" %>
                <%= t("suppliers_advanced_import.show.view.category_suppliers_confirmation_checkbox") %><br/>
                <span id="category_supplier_select_container" style="display: none">
                  <%= t("suppliers_advanced_import.show.view.select_category") %>
                  <%= select_tag :object_id, options_for_select(nested_set_options(objects), :disabled => objects.select { |c| !c.can_publish_leads? }.map(&:id)), :include_blank => "No category" %>
                    </span>
              </ol>
            </fieldset>
          </div>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= button_to_function t("advanced_import.show.view.button"), "import_suppliers()", :name => "commit_create" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <script type="text/javascript">

      function show_hide_category_selection() {
          $('#object_id').val("");
          if ($('#category_supplier_enabled:checked').val() == 1) {
              $('#category_supplier_select_container').show();
          }
          else {
              $('#category_supplier_select_container').hide();
          }
      }

      function import_suppliers() {
          if ($('#category_supplier_enabled:checked').val() == 1 && $('#object_id').val() == '') {
              alert('<%= t("suppliers_advanced_import.show.view.no_category_for_category_supplier_error") %>')
          } else {
              $('#advanced_import_form').submit();
          }
      }

  </script>
<% end %>
