<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <% unless @user.has_role?(:call_centre) or ["call_centre"].include?((params[:role])) %>
            <%= form.input :first_name %>
            <%= form.input :last_name %>
        <% end %>
        <%= form.input :company_name if @user.has_any_role?(:customer, :category_buyer, :call_centre) or ["customer", "category_buyer", "call_centre"].include?((params[:role])) %>
        <% if defined? form.object.address %>
            <%= form.fields_for :address do |address_form| %>
                <%= address_form.input :address_line_1 %>
                <%= address_form.input :address_line_2 %>
                <%= address_form.input :address_line_3 %>
                <%= address_form.input :zip_code %>
                <%= address_form.input :country_id, :as => :select, :collection => Country.all, :input_html => { :onchange => "refresh_regions_list('user_#{params[:role].present? ? params[:role] : form.object.role}_address_attributes');" } %>
                <%= address_form.input :region_id, :as => :select, :collection => regions_collection_for(form.object.address.country) %>
            <% end %>
            <%= form.input :time_zone, :wrapper_html => { :class => "select"}, :input_html => {:style => "width: 240px"} %>
        <% end %>
        <% if ['lead_buyer', 'customer'].include?(params[:role]) or @user.has_any_role?(:lead_buyer, :customer) %>
            <%= form.input :vat_number %>
        <% end %>
        <% if ['agent', 'call_centre'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre) %>
            <%= form.input :can_edit_payout_information %>
            <%= form.input :paypal_email %>
            <%= form.input :bank_swift_number %>
            <%= form.input :bank_iban_number %>
            <% if ['call_centre'].include?(params[:role]) or @user.has_any_role?(:call_centre) %>
            <%= form.input :bank_name %>
                <%= form.fields_for :bank_address do |address_form| %>
                    <%= address_form.input :address_line_1 %>
                    <%= address_form.input :address_line_2 %>
                    <%= address_form.input :address_line_3 %>
                    <%= address_form.input :zip_code %>
                    <%= address_form.input :country_id, :as => :select, :collection => Country.all, :include_blank => true, :input_html => { :onchange => "refresh_regions_list('user_#{params[:role].blank? ? @user.role.to_s : params[:role]}_bank_address_attributes');" } %>
                    <%= address_form.input :region_id, :as => :select, :collection => regions_collection_for(@user.bank_address.country) %>
                <% end %>
            <% end %>
        <% elsif !form.object.new_record? and (['lead_buyer', 'customer', 'category_buyer'].include?(params[:role]) or @user.has_any_role?(:lead_buyer, :customer, :category_buyer)) %>
            <%= form.input :bank_account_id, :as => :select, :collection => BankAccount.all %>
        <% end %>        
      </ol>
    </fieldset>
  </div>
</div>


<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :screen_name %>
        <%= form.input :phone %>
        <%= form.input :email %>
        <% if @user.big_buyer? %>
            <%= form.input :big_buyer_purchase_limit %>
        <% end %>
        <% if ['agent', 'call_centre'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre) %>
            <%= form.input :payout, :required => true, :hint => "%" %>
        <% end %>

        <%= form.input :agreement_read, :as => :hidden %>
        <%= form.input :newsletter_on %>
        <% if ['agent', 'call_centre'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre) %>
            <%= form.input :certification_level, :as => :select, :collection => User::CERTIFICATION_LEVELS.map { |c| [t("models.lead.certification.lvl#{c}"), c] }, :selected => @user.read_attribute(:certification_level) %>
        <% end %>
        <% if ['lead_buyer', 'customer'].include?(params[:role]) or @user.has_any_role?(:lead_buyer, :customer) %>
            <%= form.input :big_buyer, :as => :boolean %>
        <% end %>
        <% if @user.vat_number.present? and (['lead_buyer', 'customer'].include?(params[:role]) or @user.has_any_role?(:lead_buyer, :customer)) %>
            <%= form.input :not_charge_vat, :as => :boolean %>
        <% end %>

        <%= form.input :team_buyers, :as => :boolean if @user.has_role?(:customer) or params[:role] == "customer" %>
        <% if @user.new_record? %>
            <%= form.input :skip_email_verification, :as => :boolean %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<hl/>

<% if @user.new_record? %>
    <clb/>

    <div class="column_left">
        <div class="pdd_10 no_pdd_t">
          <fieldset class="inputs labels_ta_r labels_200">
            <ol class="align_inputs">
              <%= form.inputs :password, :password_confirmation %>
            </ol>
          </fieldset>
        </div>
    </div>
<% end %>

<clb/>

<% if ['category_buyer'].include?(params[:role]) or @user.has_roles?(:category_buyer, :customer) %>
    <hl/>
    <div id="category_buyer_categories">
      <div class="pdd_10">
        <div class="grid_210 fltl">&nbsp;</div>
        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.available_categories") %></h3>
          <%= select_tag "all_categories", options_for_select((Category.roots.without_unique-@user.buying_categories).map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>

        <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
          <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_categories','user_category_buyer_buying_category_ids_')", :id => "move_right" %></p>

          <p class="ta_c"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('user_category_buyer_buying_category_ids_','all_categories')", :id => "move_left" %></p>
        </div>

        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.selected_categories") %></h3>
          <%= select_tag "user_category_buyer[buying_category_ids][]", options_for_select(@user.buying_categories.map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>
        <clb/>
      </div>
    </div>    
<% end %>

<% if (!['category_buyer'].include?(params[:role]) and !@user.has_role?(:category_buyer)) and (['customer'].include?(params[:role]) or @user.has_roles?(:customer)) %>
    <hl/>
    <div id="unique_categories">
      <div class="pdd_10">
        <div class="grid_210 fltl">&nbsp;</div>
        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.available_unique_categories") %></h3>
          <%= select_tag "all_categories", options_for_select((Category.with_all_customer_unique-@user.unique_categories).map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>

        <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
          <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_categories','user_customer_unique_category_ids_')", :id => "move_right" %></p>

          <p class="ta_c"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('user_customer_unique_category_ids_','all_categories')", :id => "move_left" %></p>
        </div>

        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.selected_unique_categories") %></h3>
          <%= select_tag "user_customer[unique_category_ids][]", options_for_select(@user.unique_categories.map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>
        <clb/>
      </div>
    </div>


    <div id="category_interests" style="display:none;">
      <div class="pdd_10">
        <div class="grid_210 fltl">&nbsp;</div>
        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.available_categories") %></h3>
          <%= select_tag "all_categories_for_interests", options_for_select((Category.without_unique-@user.category_interests).map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>

        <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
          <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_categories_for_interests','user_customer_category_ids_')", :id => "move_right" %></p>

          <p class="ta_c"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('user_customer_category_ids_','all_categories_for_interests')", :id => "move_left" %></p>
        </div>

        <div class="grid_240 fltl">
          <h3><%= t("administration.users.edit.view.selected_interests_categories") %></h3>
          <%= select_tag "user_customer[category_ids][]", options_for_select((@user.categories-@user.unique_categories).map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
        </div>
        <clb/>
      </div>
    </div>
<% end %>

<% if (['agent', 'call_centre', 'call_centre_agent'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre, :call_centre_agent)) %>
    <% prefix = params[:role].blank? ? @user.role : params[:role] %>
    <hl/>
    <div class="pdd_10">
      <div class="grid_210 fltl">&nbsp;</div>
      <div class="grid_240 fltl">
        <h3><%= t("administration.users.edit.view.available_unique_categories") %></h3>
        <%= select_tag "all_categories", options_for_select((Category.with_all_agent_unique-@user.unique_categories).map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>

      <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
        <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_categories','user_#{prefix}_unique_category_ids_')", :id => "move_right" %></p>

        <p class="ta_c"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('user_#{prefix}_unique_category_ids_','all_categories')", :id => "move_left" %></p>
      </div>

      <div class="grid_240 fltl">
        <h3><%= t("administration.users.edit.view.selected_categories") %></h3>
        <%= select_tag "user_#{prefix}[unique_category_ids][]", options_for_select(@user.unique_categories.map { |c| [c.name, c.id] }), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>

      <clb/>
    </div>
<% end %>

<script type="text/javascript">
    function add_unique_to_interests() {
        $("#user_customer_unique_category_ids_ option").each(function()
        {
            $("#user_customer_category_ids_").
                    append($("<option></option>").
                    attr("value", $(this).val()).
                    text($(this).text()));
        });
    }
</script>