<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone %>
      <%= form.input :email %>
      <%= form.input :screen_name %>
    </ol>
  </fieldset>
</div>
<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :street %>
      <%= form.input :city %>
      <%= form.input :zip_code %>
      <%= form.input :county %>
    </ol>
  </fieldset>
</div>
<hl/>

<% if ['agent', 'call_centre'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre) %>
    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_240">
        <ol class="align_inputs">
          <%= form.input :payout %>
        </ol>
      </fieldset>
    </div>
    <hl/>
<% end %>

<% if ['agent'].include?(params[:role]) or @user.has_any_role?(:agent) %>
    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_240">
        <ol class="align_inputs">
          <%= form.input :can_edit_payout_information %>
          <%= form.input :paypal_email %>
          <%= form.input :bank_swift_number %>
          <%= form.input :bank_iban_number %>
        </ol>
      </fieldset>
    </div>
    <hl/>
<% end %>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :country, :as => :select, :collection => Country.all %>
      <%= form.input :agreement_read, :as => :hidden %>
      <%= form.input :newsletter_on %>
      <% if ['agent', 'call_centre_agent'].include?(params[:role]) or @user.has_any_role?(:agent, :call_centre_agent) %>
        <%= form.input :certification_level, :as => :select, :collection => User::CERTIFICATION_LEVELS.map { |c| [t("models.lead.certification.lvl#{c}"), c] }, :selected => @user.read_attribute(:certification_level) %>
      <% end %>
      <% if ['lead_buyer', 'customer'].include?(params[:role]) or @user.has_any_role?(:lead_buyer, :customer) %>
          <%= form.input :big_buyer, :as => :boolean %>
      <% end %>      
    </ol>
  </fieldset>
</div>

