<table id="users_table" class="generic small_padding">
  <thead>
  <tr>
    <th class="hl"></th>
    <th class="no_pdd_lr"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
    <th><%= link_to t("administration.users.index.view.id"), order_for_scoped_search(:id) %></th>
    <th><%= link_to t("administration.users.index.view.roles"), order_for_scoped_search(:roles_mask) %></th>
    <th><%= t("administration.users.index.view.name") %></th>
    <th><%= link_to t("administration.users.index.view.email"), order_for_scoped_search(:email) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.leads_bought"), order_for_scoped_search(:leads_purchased_counter) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.unpaid_leads"), order_for_scoped_search(:unpaid_leads_counter) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.leads_created"), order_for_scoped_search(:leads_created_counter) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.leads_sold"), order_for_scoped_search(:leads_volume_sold_counter) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.revenue"), order_for_scoped_search(:leads_revenue_counter) %></th>
    <th class="ta_r"><%= link_to t("administration.users.index.view.payout"), order_for_scoped_search(:payout) %></th>
    <th class="ta_c"><%= t("administration.users.index.view.locked") %></th>
    <th class="ta_r"><%= t("administration.users.index.view.actions") %></th>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="13"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% users.each do |user| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="cl"></td>
        <td class="no_pdd_lr"><%= check_box_tag("user_ids[]", user.id) unless user.id == current_user.id %></td>
        <td class="ta_c"><%= user.id %></td>
        <td><%= user.roles_as_text %></td>
        <td><%= user.company_name.blank? ? user.full_name : user.company_name %> <%= link_to image_tag('icons/red_flag.png'), administration_email_bounces_path(:search => {:with_email => user.email}) if user.email_bounces.any? %></td>
        <td><%= user.email %></td>
        <td class="ta_r"><%= user.leads_purchased_counter %></td>
        <td class="ta_r"><%= user.unpaid_leads_counter %></td>
        <td class="ta_r"><%= user.leads_created_counter %></td>
        <td class="ta_r"><%= user.leads_volume_sold_counter %></td>
        <td class="ta_r"><%= user.leads_revenue_counter %></td>
        <td class="ta_r"><%= user.payout %></td>
        <td class="tda" style="text-align:center;">
          <% unless user.id == current_user.id %>
              <%= link_to user.locked_at.blank? ? t("administration.users.index.view.lock") : t("administration.users.index.view.unlock"), administration_user_path(user, {"user_#{user.role.to_s}".to_sym  => {:locked =>  user.locked_at.blank? ? "lock" : "unlock"}}), {:method => :put} %>
          <% end %>
        </td>
        <td class="tda ta_r">
          <ul-actions>
            <li>
              <%= link_to t("administration.users.index.view.edit"), edit_administration_user_path(user), :class => "default_action" %>
            </li>
            <li>
              <%= link_to t("administration.users.index.view.delete"), administration_user_path(user), {:method => :delete, :confirm => t("administration.users.index.view.delete_confirmation_message")} %>
            </li>
            <li>
              <%= link_to t("administration.users.index.view.log_in_as"), sign_in_as_administration_user_path(user) %>
            </li>
            <% unless user.subaccounts.empty? %>
                <li>
                  <%= link_to t("administration.users.index.view.subaccounts"), administration_users_path({:search => {:with_subaccounts => user.id}}) %>
                </li>
            <% end %>
            <% if user.has_role?(:supplier) %>
                <li><%= link_to t("administration.users.index.view.create_invoice"), new_administration_invoicing_invoice_path(:invoice => {:user_id => user.id}) %></li>
            <% end %>
            <% if user.has_any_role?(:supplier, :member) %>
                <li><%= link_to t("administration.users.send_invitation"), administration_user_path(user, { "user_#{user.role.to_s}".to_sym  => { :send_invitation => true }}), {:method => :put } %></li>
                <% if user.active_subscription.present? and !user.active_subscription.is_free? %>
                    <li><%= link_to t("administration.users.stop_subscription"), administration_user_path(user, { "user_#{user.role.to_s}".to_sym  => { :cancel_subscription => true }}), {:method => :put, :confirm => t("administration.users.index.view.delete_confirmation_message") } %></li>
                <% end %>
            <% end %>
          </ul-actions>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  <tr class="pagination">
    <td colspan="15" class="ta_c">
      <div class="td_select_all">
        <%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
        <%= label_tag "mark_all", "select all" %>
      </div>
      <%= will_paginate users if !subaccounts_table %>
    </td>
  </tr>
  <tr class="main_actions">
    <td class="cl"></td>
    <td colspan="10" class="no_pdd_lr ta_l">
      <%= hidden_field_tag :route_to %>
      <%= hidden_field_tag :bulk_action_type %>
      <% if !subaccounts_table %>
          <%= bt_link_to :invoice, t("administration.users.index.view.create_invoice"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('create_invoice'); submitBulkForm('#{administration_bulk_users_update_path}#PUT');", :id => "invoice_selected" %>
      <% end %>
      <%= bt_link_to :padlock, t("administration.users.index.view.lock_selected"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('lock'); submitBulkForm('#{administration_bulk_users_update_path}#PUT');", :id => "lock_selected" %>
      <%= bt_link_to :unlock, t("administration.users.index.view.unlock_selected"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('unlock'); submitBulkForm('#{administration_bulk_users_update_path}#PUT');", :id => "unlock_selected" %>
      <%= bt_link_to nil, t("administration.settings.edit.view.button_update_stats"), administration_stats_recalculation_path, :method => :put %>
    </td>
    <td colspan="3" class="ta_r">
      <%= t("administration.users.index.view.total") %>: <strong><%= @total_users %></strong>      
    </td>
    <td class="cr"></td>
  </tr>
  </tbody>
</table>