  <div class="search_box">
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for search, :url => path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.categories.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword, :style => "width:140px" %>
              </li>

              <% if category_type == "LeadCategory" %>
              <li class="boolean">
                <%= f.check_box :with_unique, {}, "true", "false" %>
                <%= f.label :with_unique, t("administration.categories.index.view.search.unique") %>
              </li>

              <li class="boolean">
                <%= f.check_box :with_public, {}, "true", "false" %>
                <%= f.label :with_public, t("administration.categories.index.view.search.public") %>
              </li>
              <% end %>

              <li class="boolean">
                <%= f.check_box :with_locked, {}, "true", "false" %>
                <%= f.label :with_locked, t("administration.categories.index.view.search.locked") %>
              </li>

              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("administration.categories.index.view.search.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
