<column-mc:>
  <h1><%= t("customer.subaccounts.edit.view.title") %> <%= @user.role.to_s.humanize %></h1>
<%= semantic_form_for [:customer, @user], :url => customer_subaccount_path(@user), :method => :put do |form| %>
    <%= render :partial => 'form', :locals => { :form => form }  %>

    <%= form.commit_button t("customer.subaccounts.edit.view.button_update") %>
<% end %>
</column-mc:>