<%= content_for :search-box do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => newsletters_newsletter_campaigns_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("newsletters.newsletter_campaigns.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword, :style => "width:140px" %>
              </li>

              <li class="select">
                <%= f.label t("newsletters.newsletter_campaigns.index.view.search.archived") %>
                <%= f.select :with_archived, [[t("common.yes_label"), 1], [t("common.no_label"), 0]] %>
              </li>

              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("newsletters.newsletter_campaigns.index.view.search.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <header>
      <param:content>
        <%= t("newsletters.newsletter_campaigns.index.view.header") %>
      </param:content>

      <param:actions>
        <ul class="header_actions">
          <li class="last"><%= bt_link_to :plus, t("newsletters.newsletter_campaigns.index.view.new_newsletter_campaign"), new_newsletters_newsletter_campaign_path %></li>
        </ul>

      </param:actions>
   </header>
  <% if @newsletter_campaigns.blank? %>
      <%= blank_state_message %>
  <% else %>
  <table id="newsletter_lists_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= t("newsletters.newsletter_campaigns.index.view.owner_column") %></th>
      <th><%= t("newsletters.newsletter_campaigns.index.view.name_column") %></th>
      <th><%= t("newsletters.newsletter_campaigns.index.view.list_names_column") %></th>
      <th><%= t("newsletters.newsletter_campaigns.index.view.status_column") %></th>
      <th class="ta_r"><%= t("newsletters.newsletter_campaigns.index.view.actions_column") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="5"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% @newsletter_campaigns.each do |newsletter_campaign| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="cl"></td>
          <td><%= newsletter_campaign.owner ? newsletter_campaign.owner.screen_name : "-" %></td>
          <td><%= newsletter_campaign.name %></td>
          <td><%= newsletter_campaign.newsletter_lists.map(&:name) %></td>
          <td><%= t("models.newsletter_campaign.statuses.status#{newsletter_campaign.status}") %></td>
          <td class="tda ta_r">
            <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                <li>
                    <%= link_to t("newsletters.newsletter_campaigns.index.view.sign_in_to_cm"),  "https://fairleads.createsend.com/login.aspx?ReturnUrl=%2f&username=#{newsletter_campaign.cm_username}&password=#{newsletter_campaign.cm_password}", :target => "_blank" %>
                </li>
                <li>
                    <%= link_to t("newsletters.newsletter_campaigns.index.view.edit"),  edit_newsletters_newsletter_campaign_path(newsletter_campaign), :class => "default_action" %>
                </li>
                <li>
                    <%= link_to newsletter_campaign.is_archived? ? t("newsletters.newsletter_campaigns.index.view.retrieve") : t("newsletters.newsletter_campaigns.index.view.archive"), archive_newsletters_newsletter_campaign_path(newsletter_campaign), :method => :post %>
                </li>
            </ul></div>
          </td>
          <td class="cr"></td>
        </tr>
    <% end %>
    <% if will_paginate %>
        <tr class="pagination">
          <td colspan="5" class="ta_c">
            <%= will_paginate @newsletter_campaigns, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
 <% end %>
<% end %>