<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <% contact_company_information_fields = %w(company_name company_phone_number company_website address_line_1 address_line_2 address_line_3 zip_code country region company_vat_no company_ean_number) %>
    <% contact_contact_information_fields = %w(contact_name direct_phone_number phone_number linkedin_url facebook_url email_address) %>
    <% contact_information = contact_company_information_fields + contact_contact_information_fields %>
    <% user_information_fields = ["company_name", "", "", "address_line_1", "address_line_2", "address_line_3", "zip_code", "country", "region", "vat_number", "company_ean_number", "full_name", "direct_phone_number", "phone", "", "", "email"] %>
    <% questions = @survey.survey_questions %>
    <Table>
      <Row>
        <% contact_information.map(&:humanize).each do |header| %>
            <Cell><Data ss:Type="String"><%= header %></Data></Cell>
        <% end %>

        <Cell><Data ss:Type="String">Tags</Data></Cell>

        <% questions.with_input_types.each do |question| %>
            <Cell><Data ss:Type="String"><%= question.title %></Data></Cell>
        <% end %>
      </Row>
      <% @survey_recipients.each do |survey_recipient| %>
          <% recipient = survey_recipient.recipient %>
          <Row>
            <%if survey_recipient.recipient.is_a?(User) %>
                <% user_information_fields.map { |attr| attr.blank? ? "" : recipient.with_role.send(attr).to_s.gsub(/[\n\r\t,]/, " ") }.each do |cell| %>
                    <Cell><Data ss:Type="String"><%= cell %></Data></Cell>
                <% end %>
            <% else %>
                <% (contact_company_information_fields + contact_contact_information_fields).map { |attr| recipient.send(attr).to_s.gsub(/[\n\r\t,]/, " ") }.each do |cell| %>
                    <Cell><Data ss:Type="String"><%= cell %></Data></Cell>
                <% end %>
            <% end %>

            <Cell><Data ss:Type="String"><%= recipient.respond_to?(:tag_list) ? recipient.tag_list.join(",") : "" %></Data></Cell>

            <% questions.with_input_types.each do |question| %>
                <Cell><Data ss:Type="String"><%= (sa = survey_recipient.answer_for_question(question)) ? sa.value_or_options.to_s.gsub(/[\n\r\t,]/, " ") : "N/A" %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>