<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :name %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :address, :input_html => {:style => "width:350px; height: 100px;"} %>
      <%= form.input :country_id, :collection => Country.all, :include_blank => false %>
      <%= form.input :vat_no %>
      <%= form.input :default %>
    </ol>
  </fieldset>
</div>
