<%= content_for :column_mc do -%>

  <header>
    <param:content>
      <%= t("administration.sellers.index.view.header") %>
    </param:content>

    <param:actions>
      <%= form_tag new_administration_seller_path, :method => :get, :id => "form_new_seller" do %>
          <ul class="header_actions">
            <li class="last">
              <%= bt_link_to :user, t("administration.sellers.index.view.add_seller"), "javascript:void(0)", :onclick => "$('#form_new_seller').submit()" %>
            </li>
          </ul>
      <% end %>
    </param:actions>
  </header>

  <% unless @sellers.any? %>
      <%= blank_state_message :msg => t("administration.sellers.index.view.no_sellers_defined") %>
  <% else %>

      <table class="generic" cellspacing="0" cellpadding="0" id="sellers">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.sellers.index.view.country") %></th>
          <th><%= t("administration.sellers.index.view.company_name") %></th>
          <th><%= t("administration.sellers.index.view.first_name") %></th>
          <th><%= t("administration.sellers.index.view.last_name") %></th>
          <th class="ta_c"><%= t("administration.sellers.index.view.default") %></th>
          <th></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="6"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @sellers.each do |s| %>
            <tr>
              <td class="cl"></td>
              <td><%= s.address.country.name %></td>
              <td><%= s.company_name %></td>
              <td><%= s.first_name %></td>
              <td><%= s.last_name %></td>
              <td class="ta_c"><%= check_box_tag "default_#{s.id}", 1, s.default?, :disabled => true %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li><%= link_to t("administration.sellers.index.view.show"), administration_seller_path(s) %></li>
                  <li><%= link_to t("administration.sellers.index.view.edit"), edit_administration_seller_path(s), :class => "default_action" %></li>
                  <li><%= link_to t("administration.sellers.index.view.delete"), administration_seller_path(s), :method => :delete, :confirmation => t("common.confirmation") %></li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>