<%= content_for :column_mc do -%>
  <header back="true"><%= t('administration.sellers.show.view.header') %></header>

  <frm title="#{@seller.company_name}">
    <param:header>
      <%= bt_link_to nil, t("common.edit_link"), edit_administration_seller_path(@seller), :class => "fltr" %>
    </param:header>
    <param:content>
      <div class="pdd_10">
        <h2>
          <%= t("administration.sellers.show.view.company_name") %>: <strong><%= @seller.company_name %></strong>
        </h2>
        <hl pdd="8"/>
        <div class="grid_1to3 fltl">
          <p>
            <%= t("administration.sellers.show.view.first_name") %>: <strong><%= @seller.first_name %></strong>
          </p>

          <p>
            <%= t("administration.sellers.show.view.last_name") %>: <strong><%= @seller.last_name %></strong>
          </p>

          <br/>

          <p>
            <%= t("administration.sellers.show.view.address_line_1") %>:
            <strong><%= @seller.address.address_line_1 %></strong>
          </p>

          <p>
            <%= t("administration.sellers.show.view.address_line_2") %>:
            <strong><%= @seller.address.address_line_2 %></strong>
          </p>

          <p>
            <%= t("administration.sellers.show.view.address_line_3") %>:
            <strong><%= @seller.address.address_line_3 %></strong>
          </p>
        </div>
        <div class="grid_1to3 fltl">
          <p>
            <%= t("administration.sellers.show.view.zip_code") %>: <strong><%= @seller.address.zip_code %></strong>
          </p>

          <p>
            <%= t("administration.sellers.show.view.country") %>: <strong><%= @seller.address.country.name %></strong>
          </p>

          <p>
            <%= t("administration.sellers.show.view.vat_no") %>: <strong><%= @seller.vat_no %></strong>
          </p>
          <br/>

          <p>
            <%= t("administration.sellers.show.view.default") %>: <%= check_box_tag "default", 1, @seller.default?, :disabled => true %>
          </p>
        </div>
        <div class="grid_1to3 fltl">
          <p>
            <strong><%= t("administration.sellers.show.view.note") %>:</strong>
          </p>
          <p>
            <%= raw @seller.note %>
          </p>
        </div>
        <div class="clb"></div>
      </div>
    </param:content>
  </frm>

<% end %>