     <%= semantic_remote_form_for comment, :as => :comment, :url => comments_thread_path(comment), :html => {:method => :put, :id => "edit_comment_#{comment.id}", :style => "display:none"} do |f| %>
      <frm>
        <param:header>
          <%= t("comments.threads.edit.view.edit_comment", :title => comment.title) %>
        </param:header>
        <param:content>
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_240">
                <ol class="align_inputs">
                <%= f.input :title %>
                <%= f.input :body %>
                </ol>
              </fieldset>
            </div>
        </param:content>
        <param:actions>
           <ibt c="fltri" icon="save">
             <%= button_to_function t("comments.threads.edit.view.update_comment_button"), "validate_form('#edit_comment_#{comment.id}')"  %>
           </ibt>
           <ibt c="fltri bt_grey">
              <%= button_to_function t("common.cancel_link"), "$('#edit_comment_#{comment.id}').slideUp('slow');" %>
           </ibt>
        </param:actions>
      </frm>
   <% end %>