<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("comments.threads.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for :search, :url => comments_threads_path, :html => { :method => :get } do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("comments.threads.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword, :value => params[:search][:with_keyword] %>
              </li>
              <li class="string">
                <%= f.label :with_user, t("comments.threads.index.view.search.with_user_keyword") %>
                <%= f.text_field :with_user, :value => params[:search][:with_user] %>
              </li>
              <li class="select">
                <%= f.label :with_category, t("comments.threads.index.view.search.category_label") %>
                <%= f.select :with_category, nested_set_options(@categories.all), :include_blank => true, :selected => params[:search][:with_category].to_i %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("comments.threads.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>
<column-mc:>
  <header><%= t("comments.threads.index.view.header") %></header>

<% if @threads.blank? %>
    <%= blank_state_message %>
<% else %>
  <table class="generic">
    <thead>
        <th class="hl"></th>
        <th><%= link_to t("comments.threads.index.view.lead_header"), order_for_scoped_search(:header) %></th>
        <th><%= link_to t("comments.threads.index.view.started_by"), order_for_scoped_search(:user) %></th>
        <th><%= link_to t("comments.threads.index.view.date"), order_for_scoped_search(:created_at) %></th>
        <th><%= link_to t("comments.threads.index.view.last_thread_date"), order_for_scoped_search(:last_thread_created_at) %></th>
        <th class="hr"></th>
    </thead>
      <tfoot>
      <tr>
        <td class="fl"></td>
        <td colspan="4"></td>
        <td class="fr"></td>
      </tr>
      </tfoot>
    <tbody>
       <% @threads.each do |thread| %>
       <tr>
         <td class="cl"></td>
         <td>
           <%= link_to thread.commentable.header, comments_lead_thread_path(thread.commentable_id,thread), :class => "default_action" %>
         </td>
         <td>
           <%= thread.user.screen_name %>
         </td>
         <td>
           <%= format_date(thread.created_at,true) %>
         </td>
         <td>
           <%= format_date(thread.last_thread_created_at, true) %>
         </td>
         <td class="cr"></td>
       </tr>
        <% end %>
      <tr class="pagination">
        <td colspan="7" class="ta_c">
            <%= will_paginate @threads, :previous_label => '&laquo;', :next_label => '&raquo;' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
</column-mc:>