<% image_path_suffix = invoice.user.member? ? "invoices/logo_fairdeals.jpg" : "invoices/logo.jpg" %>
<div class="invoice_show <%= version == :original ? "original" : "copy" %>">
  <table cellpadding="0" cellspacing="0" class="invoice_basic_info">
    <tbody>
    <tr>
      <td rowspan="3" style="width:50%">
        <% if defined?(root_url) %>
            <%= image_tag image_path_suffix, :alt => "logo", :width => 150 %>
        <% else %>
            <img src="../<%= image_path_suffix %>" alt="logo" width="150"/>
        <% end %>
      </td>
      <td class="ta_r" style="width:35%;"><strong><%= t("administration.invoices.show.view.number") %>:</strong></td>
      <td><%= invoice.number %> / <%= invoice.creation_date.year %></td>
    </tr>
    <tr>
      <td class="ta_r"><strong><%= t("administration.invoices.show.view.creation_date") %>:</strong></td>
      <td><%= format_date invoice.creation_date %></td>
    </tr>
    <% unless invoice.paid? %>
    <tr>
      <td class="ta_r"><strong><%= t("administration.invoices.show.view.payment_deadline") %>:</strong></td>
      <td><%= format_date invoice.payment_deadline_date %></td>
    </tr>
    <% else %>
        <tr>
          <td class="ta_r"></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="invoice_header"><%= t("supplier.invoices.show.view.header") %></div>


  <table cellpadding="0" cellspacing="0" class="from_to_table">
    <thead>
    <tr>
      <th><%= t("administration.invoices.show.view.from") %></th>
      <th><%= t("administration.invoices.show.view.to") %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><strong><%= invoice.seller_name %></strong></td>
      <td><strong><%= invoice.customer_company_name.blank? ? invoice.customer_name : invoice.customer_company_name %></strong></td>
    </tr>
    <tr>
      <td>
          <%= invoice.seller_address.address_line_1 %><br/>
          <%= invoice.seller_address.address_line_2 %><br/>
          <%= invoice.seller_address.address_line_3 %><br/>
          <%= t("administration.invoices.show.view.bank_zip_code") %>: <%= invoice.seller_address.zip_code %><br/>
          <%= t("administration.invoices.show.view.bank_country") %>: <%= invoice.seller_address.country.name %><br/>
      </td>
      <td>
          <% unless invoice.customer_company_name.blank? %>
            <%= invoice.customer_name %><br/>
          <% end %>
          <%= invoice.supplier_address.address_line_1 %><br/>
          <%= invoice.supplier_address.address_line_2 %><br/>
          <%= invoice.supplier_address.address_line_3 %><br/>
          <%= t("administration.invoices.show.view.bank_zip_code") %>: <%= invoice.supplier_address.zip_code %><br/>
          <%= t("administration.invoices.show.view.bank_country") %>: <%= invoice.supplier_address.country.name %><br/>
      </td>
    </tr>
    <tr>
      <td>
        <% if invoice.seller_vat_no.present? %>
            <%= t("administration.invoices.show.view.vat_no") %>: <%= invoice.seller_vat_no %>
        <% end %>
      </td>
      <td>
        <% if invoice.customer_vat_no.present? %>
            <%= t("administration.invoices.show.view.vat_no") %>: <%= invoice.customer_vat_no %>
        <% end %>
      </td>
    </tr>
    <% if invoice.ean_number.present? %>
        <tr>
          <td></td>
          <td><%= t("administration.invoices.show.view.ean_number") %>: <%= invoice.ean_number %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="invoice_data">
    <table cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th class="th_id ta_l">#</th>
        <th class="th_name ta_l"><%= t("administration.invoices.show.view.name") %></th>
        <th class="th_qty"><%= t("administration.invoices.show.view.quantity") %></th>
        <th class="th_price"><%= t("administration.invoices.show.view.netto_price") %></th>
        <th class="th_vat"><%= t("administration.invoices.show.view.vat") %></th>
        <th class="th_vat_value"><%= t("administration.invoices.show.view.vat_value") %></th>
        <th class="th_brutto"><%= t("administration.invoices.show.view.brutto_value") %></th>
      </tr>
      </thead>
      <tbody>

      <% invoice.invoice_lines.each_with_index do |invoice_line, index| %>
          <tr>
            <td class="ta_l"><%= index + 1 %></td>
            <td class="ta_l"><%= invoice_line.name %></td>
            <td><%= invoice_line.quantity %></td>
            <td>
              <%= as_currency(invoice_line.netto_price, invoice.currency) %>
            </td>
            <td><%= invoice_line.vat_rate.zero? ? (t :na, :scope => "administration.invoices.common.view") : number_to_percentage(invoice_line.vat_rate, :precision => 2) %></td>
            <td>
              <%= as_currency(invoice_line.vat_value, invoice.currency) %>
            </td>
            <td>
              <%= as_currency(invoice_line.brutto_value, invoice.currency) %>
            </td>
          </tr>
      <% end %>

      <tr class="space">
        <td colspan="7"></td>
      </tr>

      <tr class="totals">
        <td class="empty" colspan="2"></td>
        <td class="h_cell"><%= t("administration.invoices.show.view.total") %></td>
        <td><strong>
          <%= as_currency(invoice.total_netto, invoice.currency) %>
        </strong></td>
        <td></td>
        <td><strong>
          <%= as_currency(invoice.total_vat, invoice.currency) %>
        </strong></td>
        <td><strong>
          <%= as_currency(invoice.total, invoice.currency) %>
        </strong></td>
      </tr>

      <tr class="space">
        <td colspan="7"></td>
      </tr>

      <% if invoice.charge_vat? %>
          <% invoice.invoice_lines_grouped_by_vat_rate.each_with_index do |invoice_line, index| %>
              <tr class="totals">
                <td class="empty" colspan="2"></td>
                <% if index.zero? %>
                    <td class="h_cell"><%= t("administration.invoices.show.view.vat_spec") %></td>
                <% else %>
                    <td class="empty"></td>
                <% end %>
                <td class="ta_r">
                  <%= as_currency(invoice_line.netto_value_sum, invoice.currency) %>
                </td>
                <td class="ta_r"><%= invoice_line.vat_rate.zero? ? (t :na, :scope => "administration.invoices.common.view") : number_to_percentage(invoice_line.vat_rate, :precision => 2) %></td>
                <td class="ta_r">
                  <%= as_currency(invoice_line.vat_value_sum, invoice.currency) %>
                </td>
                <td class="ta_r">
                  <%= as_currency(invoice_line.brutto_value_sum, invoice.currency) %>
                </td>
              </tr>
          <% end %>
      <% end %>

      </tbody>
    </table>
  </div>

  <div class="additional_data">
    <p><strong><%= t("administration.invoices.show.view.total_in_words") %>:</strong> <%= total_in_words(invoice) %></p>
    <p>
      <strong><%= t("administration.invoices.show.view.payment_method") %>:</strong> <%= invoice.payment_method == "cash" ? t("administration.invoices.common.view.cash") : invoice.payment_transactions.detect { |t| t.class.to_s == "PaypalTransaction" }.nil? ? t("administration.invoices.common.view.bank_transfer") : t("administration.invoices.common.view.paypal_transfer") %>
    </p>
    <% if not invoice.payment_method == "cash" %>
        <p style="padding-top:5px"><strong><%= t("administration.invoices.show.view.payment_account") %>:</strong></p>
        <% if invoice.bank_account %>
            <p>
              <%= t("administration.invoices.show.view.bank_name") %>: <%= invoice.bank_account.bank_name %><br/>
              <%= invoice.bank_account.address.address_line_1 %><br/>
              <%= invoice.bank_account.address.address_line_2 %><br/>
              <%= invoice.bank_account.address.address_line_3 %><br/>
              <%= t("administration.invoices.show.view.bank_zip_code") %>: <%= invoice.bank_account.address.zip_code %><br/>
              <%= t("administration.invoices.show.view.bank_country") %>: <%= invoice.bank_account.address.country.name %><br/>
              <%= t("administration.invoices.show.view.iban_number") %>: <%= invoice.bank_account.iban_no %><br/>
              <%= t("administration.invoices.show.view.local_bank_number") %>: <%= invoice.bank_account.local_bank_number %>
              <br/>
              <%= t("administration.invoices.show.view.swift_code") %>: <%= invoice.bank_account.swift %><br/>
              <% if invoice.bank_account.payment_conditions.present? %>
                  <%= t("administration.invoices.show.view.payment_conditions") %>: <%= invoice.bank_account.payment_conditions %>
              <% end %>
            </p>
        <% end %>
    <% end %>

    <% if invoice.details.present? %>
      <br/><p><strong><%= t("administration.invoices.show.view.note") %></strong></p>
      <p style="padding-top:5px"><%= invoice.details %></p>
    <% end %>

    <% if invoice.seller.note.present? %>
      <br/><p style="padding-top:5px"><%= raw invoice.seller.note %></p>
    <% end %>
  </div>

  <% if current_user.has_role? :admin %>
      <div class="status_data">
        <h2><%= t("administration.invoices.show.view.status") %></h2>
        <table>
          <tbody>
           <tr>
             <td><strong><%= t("administration.invoices.show.view.creation_place") %></strong> <%= invoice.creation_place %></td>
             <td><strong><%= t("administration.invoices.show.view.emailed_at") %></strong> <%= invoice.emailed_at or "-" %></td>
             <td><strong><%= t("administration.invoices.show.view.paid_at") %></strong> <%= invoice.paid_at or "-" %></td>
             <td><strong><%= t("administration.invoices.show.view.paid_at") %></strong> <%= invoice.paid_at or "-" %></td>
             <td><strong><%= t("administration.invoices.show.view.cashflow") %></strong>
               <%= as_currency(invoice.cash_flow, invoice.currency) %>
             </td>
           </tr>
          </tbody>
        </table>
      </div>
  <% end %>

</div>