<%= content_for :column_mc do -%>
  <%= semantic_form_for [:administration, @lead], :method => :put do |form| %>
    <%= header(:back => true) do |section| %>
      <% section.block_header do %>
        <%= t("administration.leads.edit.view.header", :lead_header => @lead.header) %>
        <%= image_tag_for_locale %>
      <% end %>
    <% end %>

    <%= frm(:title => "#{t('administration.leads.edit.view.created_by')} #{@lead.creator.company_name} - #{@lead.creator.email}") do %>
      <% section.block_content do %>
        <%= render :partial => '/shared/leads/form', :locals => {:form => form} %>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "save") do %>
          <%= form.submit t("administration.leads.edit.view.button_update") %>
        <% end %>
        <%= ibt(:class => "bt_grey fltri") do %>
          <%= button_to_function t("administration.leads.edit.view.button_cancel"), "history.go(-1)" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= frm(:title => "#{t('administration.leads.edit.view.rating_header')}", :id => "lead_rating") do %>
    <% @lead.lead_purchases.each do |lead_purchase| %>
        <% unless lead_purchase.rating_level.nil? %>
            <div class="rating_element">
              <h3><%= t("administration.leads.show.view.rating_level") %>
                <span class="rating_level"><%= lead_purchase.rating_level_as_text %></span></h3>

              <p><%#= t("administration.leads.show.view.rating_reason") %><%= lead_purchase.rating_reason %></p>
            </div>
            <div class="hl"></div>
        <% end %>
    <% end %>
  <% end %>
<% end %>
