<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_leads_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.leads.index.search.keyword_label") %>
                <%= f.text_field :with_keyword, :style => "width:140px" %>
              </li>
              <li class="select">
                <%= f.label :with_category, t("administration.leads.index.search.category_label") %>
                <%= f.select :with_category, categories_for_select, :include_blank => true %>
              </li>
              <li class="select">
                <%= f.label :with_status, t("administration.leads.index.search.status_label") %>
                <%= f.select :with_status, statuses_for_select, :include_blank => true %>
              </li>
              <li class="select">
                <%= f.label :with_creator_type, t("administration.leads.index.search.owner_type_label") %>
                <%= f.select :with_creator_type, creator_types, :include_blank => true %>
              </li>
              <li class="string range">
                <%= f.hidden_field :price_from %>
                <%= f.hidden_field :price_to %>
                <%= f.label :price_from_to, t("administration.leads.index.search.price_range_label") %>
                <%= text_field_tag :price_from_to, '', {:readonly => "readonly", :id => "price_from_to", :style => "width: 75px"} %>
                <div class="range_container">
                  <div id="price_range" class="slider-range"></div>
                </div>
              </li>

              <li class="string range">
                <%= f.hidden_field :lead_purchases_counter_from %>
                <%= f.hidden_field :lead_purchases_counter_to %>
                <%= f.label :lead_purchases_counter_from, t("administration.leads.index.search.sold_range_label") %>
                <%= text_field_tag :lead_purchases_counter_from_to, '', {:readonly => "readonly", :id => "lead_purchases_counter_from_to", :style => "width: 60px"} %>
                <div class="range_container">
                  <div id="sold_range" class="slider-range"></div>
                </div>
              </li>

              <li class="string range">
                <%= f.hidden_field :purchase_value_from %>
                <%= f.hidden_field :purchase_value_to %>
                <%= f.label :purchase_value_from, t("administration.leads.index.search.value_range_label") %>
                <%= text_field_tag :purchase_value_from_to, '', {:readonly => "readonly", :id => "purchase_value_from_to"} %>
                <div class="range_container">
                  <div id="value_range" class="slider-range"></div>
                </div>
              </li>

              <li class="boolean">
                <%= f.check_box :purchased, {}, "true", "false" %>
                <%= f.label :purchased, t("administration.leads.index.view.filter_purchased") %>
              </li>

              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= f.hidden_field :with_created_by %>
                  <%= submit_tag t("administration.leads.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>

          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <label class="no_pdd_t">Tags</label>
                <%= render :partial => "shared/tags/search_with_tags", :locals => { :search => @search } %>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>


<%= content_for :column_mc do -%>
  <header back="#{'true' if @search.with_created_by}">
    <param:content>
      <%= t("administration.leads.index.view.title") %>
    </param:content>
  </header>

  <% if @leads.blank? %>
    <%= blank_state_message %>
  <% else %>
      <%= leads_table @leads, :show_checkboxes => true do |blocks| %>
          <% blocks.tools do |lead| %>
            <ul-actions>
              <li>
                <%= link_to t("administration.leads.index.view.edit"), edit_administration_lead_path(lead), :class => "default_action" %>
              </li>
              <li>
                <%= link_to t("administration.leads.index.view.delete"), administration_lead_path(lead), :method => :delete, :confirm => t("common.confirmation") %>
              </li>
            </ul-actions>
          <% end %>
          <% blocks.status_column do |lead| %>
              <%= status_or_status_change(lead) %>
          <% end %>
          <% blocks.rowtooltip do |lead| %>
              <% if lead.can_be_commented? %>
              <p><%= render :partial => "/shared/comments/lead_threads", :locals => { :lead => lead, :threads => lead.comment_threads.roots.order("created_at DESC") } %></p>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
<% end %>

<%= content_for :js do -%>
  <script type="text/javascript">
      jQuery(document).ready(function()
      {
          $("#price_range").slider({
              min: <%= Lead.minimum(:price) %>,
              max: <%= Lead.maximum(:price) %>,
              values: [ <%= @search.minimum(:price) %>, <%= @search.maximum(:price) %> ],
              slide: function(event, ui) {
                  $('#search_price_from').val(ui.values[ 0 ]);
                  $('#search_price_to').val(ui.values[ 1 ]);
                  $(this).parents().prev().val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);

              }
          });

          $("#sold_range").slider({
              min: <%= Lead.minimum(:lead_purchases_counter) %>,
              max: <%= Lead.maximum(:lead_purchases_counter) %>,
              values: [ <%= @search.minimum(:lead_purchases_counter) %>, <%= @search.maximum(:lead_purchases_counter) %> ],
              slide: function(event, ui) {
                  $('#search_lead_purchases_counter_from').val(ui.values[ 0 ]);
                  $('#search_lead_purchases_counter_to').val(ui.values[ 1 ]);
                  $(this).parents().prev().val(ui.values[ 0 ] + " - " + ui.values[ 1 ]);
              }
          });

          $("#value_range").slider({
              min: <%= Lead.minimum(:purchase_value) %>,
              max: <%= Lead.maximum(:purchase_value) %>,
              values: [ <%= @search.minimum(:purchase_value) %>, <%= @search.maximum(:purchase_value) %> ],
              slide: function(event, ui) {
                  $('#search_purchase_value_from').val(ui.values[ 0 ]);
                  $('#search_purchase_value_to').val(ui.values[ 1 ]);
                  $(this).parents().prev().val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);
              }
          });
      });

      $(document).ready(function() {
          if ($('#search_price_from').val() != "" && $('#search_price_to').val() != "")
          {
              $("#price_range").slider("option", "values", [parseInt($('#search_price_from').val()), parseInt($('#search_price_to').val())]);
              $('#price_from_to').val("$" + $('#search_price_from').val() + " - $" + $('#search_price_to').val());
          }

          if ($('#search_lead_purchases_counter_from').val() != "" && $('#search_lead_purchases_counter_to').val() != "")
          {
              $("#sold_range").slider("option", "values", [parseInt($('#search_lead_purchases_counter_from').val()), parseInt($('#search_lead_purchases_counter_to').val())]);
              $('#lead_purchases_counter_from_to').val($('#search_lead_purchases_counter_from').val() + " - " + $('#search_lead_purchases_counter_to').val());
          }

          if ($('#search_purchase_value_from').val() != "" && $('#search_purchase_value_to').val() != "")
          {
              $("#value_range").slider("option", "values", [parseInt($('#search_purchase_value_from').val()), parseInt($('#search_purchase_value_to').val())]);
              $('#purchase_value_from_to').val($('#search_purchase_value_from').val() + " - " + $('#search_purchase_value_to').val());
          }
      });
  </script>
<% end %>