<column-mc:>
  <header>
    <param:content>
      <%= t("payment_gateway_unpaid_invoices.show.view.header", :number => @invoice.full_number) %>
    </param:content>

    <param:actions>
    </param:actions>
  </header>



<div class="frm_tiny pdd_15 ta_c">
    <h2><%= t("payment_gateway_unpaid_invoices.show.view.message", :payment_gateway => @subscription.paypal? ? "Paypal" : "Quickpay", :number => @invoice.full_number) %></h2>

    <h2><%= t("payment_gateway_unpaid_invoices.show.view.amount") %> <%= as_currency(@invoice.total(true), @invoice.currency) %></h2>

    <% if @subscription.paypal? %>
        <div class="pdd_10 grid_50 grid_c">
        <%= form_tag APP_CONFIG[:paypal_url] do %>
            <%= hidden_field_tag :cmd, "_s-xclick" %>
            <%= hidden_field_tag :encrypted, @invoice.paypal_encrypted(root_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
            <ibt c="fltri">
              <%= submit_tag t("payment_gateway_unpaid_invoices.show.view.pay_invoice") %>
            </ibt>
        <% end %>
        </div>
    <% else %>
      <div class="pdd_10 grid_50 grid_c">
        <%= form_tag APP_CONFIG[:quickpay_window_url] do %>
            <% @invoice.hash_for_quickpay(root_url, root_url, active_merchant_payment_notifications_url, I18n.locale).each_pair do |key, value|  %>
                <%= hidden_field_tag key, value %>
            <% end %>

            <ibt c="fltri">
              <%= submit_tag t("payment_gateway_unpaid_invoices.show.view.pay_invoice") %>
            </ibt>
        <% end %>
      </div>
    <% end %>
    <clb/>

  </div>
</column-mc:>