<%= content_for :column_mc do -%>

  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("administration.email_bounces.index.view.header") %>
    <% end %>
  <% end %>

  <% if @email_bounces.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table id="email_bounces_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width: 100px"><%= t("administration.email_bounces.index.view.email") %></th>
          <th><%= t("administration.email_bounces.index.view.sender") %></th>
          <th><%= t("administration.email_bounces.index.view.subject") %></th>
          <th style="width: 140px"><%= t("administration.email_bounces.index.view.bounced_at") %></th>
          <th class="ta_r"><%= t("administration.email_bounces.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="5"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @email_bounces.each do |eb| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td class="ta_c"><%= eb.to %></td>
              <td><%= eb.sender ? eb.sender.email : t("administration.email_bounces.index.view.anonymous") %></td>
              <td><%= eb.subject %></td>
              <td><%= l eb.sent? ? eb.bounced_at : eb.created_at %></td>
              <td class="tda ta_r">
                <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                  <li>
                     <%= link_to t("administration.email_bounces.index.view.details"), administration_email_bounce_path(eb), :class => "default_action" %>
                  </li>
                </ul></div>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <tr class="pagination">
          <td colspan="7" class="ta_c">
            <%= will_paginate @email_bounces, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
<% end %>
