<column-mc:>
  <header back="true"><%= t("administration.email_bounces.show.view.header") %></header>

  <div class="grid_800 pdd_10 no_pdd_r">
    <div class="element_description">

      <h3><%= t("administration.email_bounces.show.view.email") %></h3>

      <p><%= @email_bounce.email %></p>

      <h3><%= t("administration.email_bounces.show.view.subject") %></h3>

      <p><%= @email_bounce.subject %></p>

      <h3><%= t("administration.email_bounces.show.view.name") %></h3>

      <p><%= @email_bounce.name %></p>

      <h3><%= t("administration.email_bounces.show.view.inactive") %></h3>

      <p><%= @email_bounce.inactive %></p>

      <h3><%= t("administration.email_bounces.show.view.tag") %></h3>

      <p><%= @email_bounce.tag %></p>

      <h3><%= t("administration.email_bounces.show.view.message_id") %></h3>

      <p><%= @email_bounce.message_id %></p>

      <h3><%= t("administration.email_bounces.show.view.details") %></h3>

      <p><%= @email_bounce.details %></p>

      <h3><%= t("administration.email_bounces.show.view.postmark_id") %></h3>

      <p><%= @email_bounce.postmark_id %></p>

      <h3><%= t("administration.email_bounces.show.view.can_activate") %></h3>

      <p><%= @email_bounce.can_activate %></p>

      <h3><%= t("administration.email_bounces.show.view.bounced_at") %></h3>

      <p><%= @email_bounce.bounced_at %></p>

      <h3><%= t("administration.email_bounces.show.view.description") %></h3>

      <p><%= @email_bounce.description %></p>

      <h3><%= t("administration.email_bounces.show.view.type_code") %></h3>

      <p><%= @email_bounce.type_code %></p>

      <h3><%= t("administration.email_bounces.show.view.dump_available") %></h3>

      <p><%= @email_bounce.dump_available %></p>

      <h3><%= t("administration.email_bounces.show.view.content") %></h3>

      <p><%= @email_bounce.content %></p>

    </div>
  </div>
</column-mc:>