<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("comments.leads.show.view.header", :header => @lead.header) %>
    <% end %>
  <% end %

  <div class="pdd_10">
    <% @threads.each do |thread| %>
        <%= render :partial => 'comments/shared/thread', :locals => {:thread => thread} %>
        <div class="hl"></div>
    <% end %>
    <%= render :partial => "comments/threads/new", :locals => {:lead => @lead} if current_user.can_start_new_lead_thread? %>
  </div>
<% end %>
