<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :name %>
      <% if current_user.chain_mails_enabled? %>
          <%= form.input :use_chain_mail_as_intro_mail %>
          <%= form.input :link_clicked_chain_mail_type_id, :collection => SurveyChainMailType.with_active.for_user(current_user).all.map { |cm| [cm.name, cm.id] } %>
      <% end %>
      <li class="string optional">
        <label for="survey_link"><%= t("surveys_management.surveys.edit.view.survey_link") %></label>
        <%= text_field_tag :survey_link, @survey.fake_permalink, :readonly => true, :onclick => "this.select()" %>
        <p class="inline-hints"><%= t("surveys_management.surveys.edit.view.survey_link_hint") %></p>
      </li>
      <%= form.input :owner_email %>
      <li class="string optional">
        <label for="survey_last_sent_at"><%= t("surveys_management.surveys.edit.view.last_sent_at") %></label>
        <span style="margin-top:8px;display:inherit;">
          <%= @survey.last_sent_at ? @survey.last_sent_at : "never" %>
        </span>
      </li>
      <li class="string optional">
        <label for="survey_last_sent_at"><%= t("surveys_management.surveys.edit.view.last_sent_recipients_count") %></label>
        <span style="margin-top:8px;display:inherit;">
          <%= @survey.last_sent_recipients_count.to_i %>
        </span>
      </li>
    </ol>
  </fieldset>
</div>

<% if current_user.admin? or @survey.creator == current_user %>
    <div class="pdd_10 no_pdd_t">
      <% if current_user.admin? %>
          <fieldset class="inputs labels_ta_r">
            <ol class="align_inputs">
              <li class="header">
                <h3><%= t("surveys_management.surveys.edit.view.newsletter_lists_selection") %></h3>
              </li>
              <%= form.input :newsletter_owner_email %><%= bt_link_to :magnify, t("newsletters.newsletter_campaigns.form.fetch_lists"), "#", :onclick => "fetch_lists()" %>
            </ol>
          </fieldset>
      <% end %>

      <hl/>
      <div id="surveys_newsletter_lists">
        <div class="pdd_10">
          <div class="grid_210 fltl">&nbsp;</div>
          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.all_lists") %></h3>
            <%= select_tag "all_lists", options_for_select(((@survey.newsletter_owner_for(current_user) ? @survey.newsletter_owner_for(current_user).newsletter_lists : [])-@survey.newsletter_lists).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>

          <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
            <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_lists','survey_newsletter_list_ids_');autosave_newsletter_lists()", :id => "move_right" %></p>

            <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_newsletter_list_ids_','all_lists');autosave_newsletter_lists()", :id => "move_left" %></p>
          </div>

          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.selected_lists") %></h3>
            <%= select_tag "survey[newsletter_list_ids][]", options_for_select(@survey.newsletter_lists.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>
          <div class="clb"></div>
        </div>
      </div>
    </div>
<% end %>

<% if current_user.has_any_role?(:admin, :call_centre) %>
    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r">
        <ol class="align_inputs">
          <li class="header">
            <h3><%= t("surveys_management.surveys.edit.view.campaigns_selection") %></h3>
          </li>
        </ol>
      </fieldset>

      <div id="survey_campaigns">
        <div class="pdd_10">
          <div class="grid_210 fltl">&nbsp;</div>
          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.all_campaigns") %></h3>
            <%= select_tag "all_campaigns", options_for_select((@campaigns-@survey.campaigns).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>

          <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
            <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_campaigns','survey_campaign_ids_')", :id => "move_right" %></p>

            <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_campaign_ids_','all_campaigns')", :id => "move_left" %></p>
          </div>

          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.selected_campaigns") %></h3>
            <%= select_tag "survey[campaign_ids][]", options_for_select(@survey.campaigns.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>
          <div class="clb"></div>
        </div>
      </div>

      <fieldset class="inputs labels_ta_r">
        <ol class="align_inputs">
          <li class="header">
            <h3><%= t("surveys_management.surveys.edit.view.categories_selection") %></h3>
          </li>
        </ol>
      </fieldset>

      <div id="survey_categories">
        <div class="pdd_10">
          <div class="grid_210 fltl">&nbsp;</div>
          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.all_categories") %></h3>
            <%= select_tag "all_categories", options_for_select((LeadCategory.without_locked_and_not_published-@survey.categories).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>

          <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
            <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_categories','survey_category_ids_')", :id => "move_right" %></p>

            <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_category_ids_','all_categories')", :id => "move_left" %></p>
          </div>

          <div class="grid_240 fltl">
            <h3><%= t("surveys_management.surveys.form.selected_categories") %></h3>
            <%= select_tag "survey[category_ids][]", options_for_select(@survey.categories.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
          </div>
          <div class="clb"></div>
        </div>
      </div>

      <fieldset class="inputs labels_ta_r">
        <ol class="align_inputs">
          <%= form.input :upgrade_contacts_to_leads %>
          <%= form.input :lead_creator_id, :collection => (current_user.admin? ? User.with_any_role([:agent, :call_centre_agent]) : current_user.subaccounts).map { |u| [u.email, u.id] } %>
        </ol>
      </fieldset>
    </div>
<% end %>



<div class="clb"></div>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <h3><%= t("surveys_management.surveys.edit.view.welcome_page") %></h3>
      <%= form.input :welcome_page, :as => :ckeditor, :input_html => {:toolbar => "EmailSignature", :width => '1085px', :filebrowserBrowseUrl => '/ckeditor/files', :filebrowserUploadUrl => '/ckeditor/create/file', :height => '300px'}, :label => false %>
    </ol>
  </fieldset>
</div>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <h3><%= t("surveys_management.surveys.edit.view.thank_you_page") %></h3>
      <%= form.input :thank_you_page, :as => :ckeditor, :input_html => {:toolbar => "EmailSignature", :width => '1085px', :filebrowserBrowseUrl => '/ckeditor/files', :filebrowserUploadUrl => '/ckeditor/create/file', :height => '300px'}, :label => false %>
    </ol>
  </fieldset>
</div>


<script>
    function fetch_lists() {
        $.get("<%= lists_for_owner_newsletters_newsletter_campaigns_path(:format => :js) -%>",
                "owner_email=" + $('#survey_newsletter_owner_email').val());
    }

    function autosave_newsletter_lists() {
        var ids = $('#survey_newsletter_list_ids_').children().map( function() { return $(this).val() } ).toArray();
        ids.push("");
        $.ajax({url: "/surveys_management/surveys/<%= @survey.id %>.js",
            data: { "survey" : { "newsletter_list_ids": ids } }, type: "PUT"})
    }
</script>