<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :name %>

    </ol>
  </fieldset>
</div>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("surveys_management.surveys.edit.view.newsletter_lists_selection") %></h3>
      </li>
      <%= form.input :newsletter_owner_email %><%= bt_link_to :magnify, t("newsletters.newsletter_campaigns.form.fetch_lists"), "#", :onclick => "fetch_lists()" %>

    </ol>
  </fieldset>

  <hl/>
  <div id="surveys_newsletter_lists">
    <div class="pdd_10">
      <div class="grid_210 fltl">&nbsp;</div>
      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.all_lists") %></h3>
        <%= select_tag "all_lists", options_for_select(((@survey.newsletter_owner ? @survey.newsletter_owner.newsletter_lists : [])-@survey.newsletter_lists).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>

      <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
        <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_lists','survey_newsletter_list_ids_')", :id => "move_right" %></p>

        <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_newsletter_list_ids_','all_lists')", :id => "move_left" %></p>
      </div>

      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.selected_lists") %></h3>
        <%= select_tag "survey[newsletter_list_ids][]", options_for_select(@survey.newsletter_lists.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>
      <clb/>
    </div>
  </div>
</div>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("surveys_management.surveys.edit.view.campaigns_selection") %></h3>
      </li>
    </ol>
  </fieldset>

  <div id="survey_campaigns">
    <div class="pdd_10">
      <div class="grid_210 fltl">&nbsp;</div>
      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.all_campaigns") %></h3>
        <%= select_tag "all_campaigns", options_for_select((@campaigns-@survey.campaigns).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>

      <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
        <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_campaigns','survey_campaign_ids_')", :id => "move_right" %></p>

        <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_campaign_ids_','all_campaigns')", :id => "move_left" %></p>
      </div>

      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.selected_campaigns") %></h3>
        <%= select_tag "survey[campaign_ids][]", options_for_select(@survey.campaigns.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>
      <clb/>
    </div>
  </div>

  <div id="survey_categories">
    <div class="pdd_10">
      <div class="grid_210 fltl">&nbsp;</div>
      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.all_categories") %></h3>
        <%= select_tag "all_categories", options_for_select((LeadCategory.without_locked_and_not_published-@survey.categories).map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>

      <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
        <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("surveys_management.surveys.form.move_right"), "javascript:move_selected('all_categories','survey_category_ids_')", :id => "move_right" %></p>

        <p class="ta_c pdd_5"><%= bt_link_to nil, t("surveys_management.surveys.form.move_left"), "javascript:move_selected('survey_category_ids_','all_categories')", :id => "move_left" %></p>
      </div>

      <div class="grid_240 fltl">
        <h3><%= t("surveys_management.surveys.form.selected_categories") %></h3>
        <%= select_tag "survey[category_ids][]", options_for_select(@survey.categories.map { |c| [c.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
      </div>
      <clb/>
    </div>
  </div>
</div>


<ol class="draggable_questions_container">
    <% SurveyQuestion::QUESTION_TYPES.each do |qtype| %>
        <li class="draggable_question_type survey_question" data-qtype="<%= qtype %>" data-id="null"><div class="bt bt_grey bt_icon"><span><p><%= image_tag("/images/bt_icons/#{qtype}.png") %><%= t("surveys_management.shared.question_types.type#{qtype}") %></p></span></div></li>
    <% end %>
</ol>



<ol class="survey_questions_container sortable">
  <%= render :partial => "survey_questions", :locals => { :survey_questions => @survey.survey_questions.without_nested } %>
</ol>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <h3><%= t("surveys_management.surveys.edit.view.welcome_page") %></h3>
      <%= form.input :welcome_page, :as => :ckeditor, :input_html => {:toolbar => "EmailSignature", :width => '1085px', :filebrowserBrowseUrl => '/ckeditor/files', :filebrowserUploadUrl => '/ckeditor/create/file', :height => '300px'}, :label => false %>
    </ol>
  </fieldset>
</div>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <h3><%= t("surveys_management.surveys.edit.view.thank_you_page") %></h3>
      <%= form.input :thank_you_page, :as => :ckeditor, :input_html => {:toolbar => "EmailSignature", :width => '1085px', :filebrowserBrowseUrl => '/ckeditor/files', :filebrowserUploadUrl => '/ckeditor/create/file', :height => '300px'}, :label => false %>
    </ol>
  </fieldset>
</div>


<script>
    function removeQuestion(id){
        if(confirm("<%= t("common.confirmation") %>")){
            $.ajax({url: "/surveys_management/surveys/<%= @survey.id %>/survey_questions/" + id, type: "DELETE"});
        }
    }

    function editQuestion(id, parent_id){
        $.colorbox({href: "/surveys_management/surveys/<%= @survey.id %>/survey_questions/" + id + "/edit?parent_id=" + (!!parent_id ? parent_id : ''),
            width: 700, maxHeight: 700, overlayClose: false
        });
    }

    function updateQuestionsOrder(){
        $.post("/surveys_management/surveys/<%= @survey.id %>/survey_questions/sort", { ids: serialize() });
    }

    $(function(){
        $("ol.survey_questions_container").nestedSortable({
            placeholder: 'placeholder',
            forcePlaceholderSize:true,
            handle: 'div',
            helper: 'clone',
            items: 'li',
            opacity: .6,
            revert: 250,
            tabSize: 25,
            tolerance: 'pointer',
            toleranceElement: '> div',
            update: function(event, ui) {
                if(ui.item.hasClass("draggable_question")){
                    currentId = ui.item.attr("data-id");
                    prevParent = findQuestionParent(currentId, hQuestions);
                    currentParent = findQuestionParent(currentId, hSerialize());
                    if(prevParent != currentParent){
                        if(currentParent != null){
                            editQuestion(currentId, currentParent)
                        } else {
                            ui.item.find('span.branched-option').remove();
                            $.ajax({url: "/surveys_management/surveys/<%= @survey.id %>/survey_questions/" + currentId + "/remove_parent", type: "PUT"});
                            updateQuestionsOrder();
                        }
                    } else {
                        updateQuestionsOrder();
                    }

                    hQuestions = hSerialize();
                }
            },
            maxLevels: 2
        }).disableSelection();

        $("li.draggable_question_type").draggable({
            revert: "invalid",
            connectToSortable:"ol.survey_questions_container",
            helper:"clone",
            stop: function(event, ui){
                setTimeout(function(){
                    orderArray = serialize();
                    position = orderArray.indexOf("null") + 1;
                    if(position > 0){
                        currentParent = findQuestionParent("null", hSerialize());
                        $.colorbox({href: "/surveys_management/surveys/<%= @survey.id %>/survey_questions/new?position=" + position + "&question_type=" + $(ui.helper).attr("data-qtype") + "&parent_id=" + (!!currentParent ? currentParent : ''),
                            width: 700, maxHeight: 700, overlayClose: false,
                            onClosed: function(){
                                $('ol.survey_questions_container').find("li[data-id=null]").remove();
                            }});
                    }
                }, 600);
            }
        });
    });

    function recurNodes(node)
    {
        node = $(node);
        var val = [node.attr('data-id')];
        var childNodes = node.children('ol').children('li');
        if(childNodes && childNodes.length > 0)
        {
            for(var i=0; i<childNodes.length; i++) val.push(recurNodes(childNodes[i]));
        }
        return val.length == 1 ? val[0] : val;
    }

    function serialize()
    {
        var nodes = $("ol.survey_questions_container").children('li');
        var result = [];
        for(var i=0; i<nodes.length; i++) result.push(recurNodes(nodes[i]));
        return $.map(result, function(n){ return n });
    }

    function hRecurNodes(node, parent, result)
    {
        node = $(node);
        result.push([node.attr('data-id'), parent]);
        var childNodes = node.children('ol').children('li');
        if(childNodes && childNodes.length > 0)
        {
            for(var i=0; i<childNodes.length; i++) hRecurNodes(childNodes[i], node.attr('data-id'), result);
        }
    }

    function hSerialize()
    {
        var nodes = $("ol.sortable").children('li');
        var result = [];
        for(var i=0; i<nodes.length; i++) hRecurNodes(nodes[i], null, result);
        return result
    }

    function findQuestionParent(id, _questions){
        pair = null;
        _questions.every(function(_pair){
            if(_pair[0].toString() == id.toString()){
                pair = _pair.slice()
            }

            return pair == null;
        });

        return pair == null ? null : pair[1];
    }

    var hQuestions = [];

    $(function(){
        hQuestions = hSerialize();
    });

    function fetch_lists() {
        $.get("<%= lists_for_owner_newsletters_newsletter_campaigns_path(:format => :js) -%>",
                "owner_email=" + $('#survey_newsletter_owner_email').val());
    }
</script>