<% survey.survey_questions.each do |survey_question| %>
    <div class="draggable_question survey_question" style="border: 2px green solid; height: 50px" data-id="<%= survey_question.id %>">
      <%= t("surveys_management.shared.question_types.type#{survey_question.question_type}") %> | <%= survey_question.title %>
      <%= link_to_function t("surveys_management.surveys.edit.view.edit_question"), "editQuestion(#{survey_question.id})" %>
      <%= link_to_function t("surveys_management.surveys.edit.view.destroy_question"), "removeQuestion(#{survey_question.id})" %>
    </div>
<% end %>