<% survey_questions.each do |survey_question| %>
    <li class="draggable_question survey_question<%= ' ui-nestedSortable-no-nesting' unless survey_question.question_type == 4 and survey_question.is_branched? %>" data-id="<%= survey_question.id %>" data-qtype="<%= survey_question.question_type %>">
      <div class="labels bt bt_grey bt_icon">
        <span>
          <p><%= image_tag("/images/bt_icons/#{survey_question.question_type}.png") %><%= truncate(survey_question.title, :length => 120) %></p>
          <div class="bt_group">
            <%= link_to_function image_tag("/images/icons/remove.png"), "removeQuestion(#{survey_question.id})", :title => t("surveys_management.surveys.edit.view.destroy_question") %>
            <%= link_to_function image_tag("/images/icons/edit.png"), "editQuestion(#{survey_question.id})", :title => t("surveys_management.surveys.edit.view.edit_question") %>
          </div>
          <% if survey_question.parent.present? %>
            <p class="branched-option"><%= t("surveys_management.surveys.edit.view.branch_option") %>: <%= survey_question.branched_option.title %></p>
          <% end %>
        </span>
      </div>

      <% if survey_question.is_branched? and survey_question.branched_questions.present? %>
        <ol>
          <%= render :partial => "surveys_management/surveys/survey_questions", :locals => { :survey_questions => survey_question.branched_questions } %>
        </ol>
      <% end %>
    </li>
<% end %>