<%= content_for :column_mc do -%>
  <%= javascript_include_tag :ckeditor %>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("surveys_management.surveys.edit.view.header") %>
      <%= image_tag_for_locale %>
    <% end %>
  <% end %>

  <%= semantic_form_for @survey, :url => surveys_management_survey_path(@survey) do |form| %>
    <frm>
      <% section.block_header do %>
          <div id="survey_menu">
            <%= render :partial => "menu", :locals => { :action => params[:action] } %>
          </div>
      <% end %>
      <% section.block_content do %>
          <%= render :partial => 'form', :locals => {:form => form} %>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "save") do %>
          <%= form.submit t("surveys_management.surveys.edit.view.button_update"), :onclick => "select_options_to_submit('survey_campaign_ids_');select_options_to_submit('survey_newsletter_list_ids_');select_options_to_submit('survey_category_ids_');" %>
        <% end %>
        <%= ibt(:class => "bt_grey fltri") do %>
          <%= button_to_function t("surveys_management.shared.cancel"), "history.go(-1)" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
