<%= content_for :column_mc do -%>
  <header>
    <param:content>
      <%= t("surveys_management.surveys.index.view.header") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last"><%= bt_link_to :plus, t("surveys_management.surveys.index.view.new_survey"), new_surveys_management_survey_path %></li>
      </ul>

    </param:actions>
  </header>

  <% if @surveys.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table id="newsletter_lists_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("surveys_management.surveys.index.view.owner_column") %></th>
          <th><%= t("surveys_management.surveys.index.view.name_column") %></th>
          <th><%= t("surveys_management.surveys.index.view.last_sent_at_column") %></th>
          <th><%= t("surveys_management.surveys.index.view.last_sent_recipients_count_column") %></th>
          <th><%= t("surveys_management.surveys.index.view.total_column") %></th>
          <th><%= t("surveys_management.surveys.index.view.answers_column") %></th>
          <th class="ta_r"><%= t("surveys_management.surveys.index.view.actions_column") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="7"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @surveys.each do |survey| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= survey.owner.try(:to_s) %></td>
              <td><%= survey.name %></td>
              <td><%= survey.last_sent_at %></td>
              <td><%= survey.last_sent_recipients_count %></td>
              <td><%= survey.total_subscribers %></td>
              <td><%= survey.total_answers %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li>
                    <%= link_to t("surveys_management.surveys.index.view.edit"), edit_surveys_management_survey_path(survey), :class => "default_action" %>
                  </li>
                  <li>
                    <%= link_to t("surveys_management.surveys.index.view.duplicate"), duplicate_surveys_management_survey_path(survey), :confirm => t("surveys_management.surveys.index.view.duplication_confirmation"), :method => :post %>
                  </li>
                  <% if survey.total_subscribers > 0 %>
                      <li>
                        <%= link_to t("surveys_management.surveys.index.view.send_to_newsletters"), send_to_newsletters_surveys_management_survey_path(survey), :confirm => t("surveys_management.surveys.index.view.send_to_newsletters_confirmation", :survey_name => survey.name, :subscribers_count => survey.total_subscribers), :method => :post %>
                      </li>
                  <% end %>
                  <% if survey.total_answers > 0 %>
                      <li>
                        <%= link_to t("surveys_management.surveys.index.view.view_responses"), surveys_management_survey_survey_recipients_path(survey) %>
                      </li>
                      <li>
                        <%= link_to t('surveys_management.survey_recipients.index.view.export'),
                                    surveys_management_survey_survey_recipients_export_path(survey, :format => 'xls'),
                                    :method => :post %>
                      </li>
                  <% end %>
                  <li>
                    <%= link_to t("surveys_management.surveys.index.view.destroy"), surveys_management_survey_path(survey), {:method => :delete, :confirm => t("common.confirmation")} %>
                  </li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="7" class="ta_c">
                <%= will_paginate @surveys, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>
