<%= content_for :column_mc do -%>
  <%= javascript_include_tag "jquery.ui.nestedSortable" %>
  <%= javascript_include_tag "jquery.ui.nestedSortable.custom" %>

  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("surveys_management.surveys.setup.view.header") %>
      <%= image_tag_for_locale %>
    <% end %>
  <% end %>

  <%= semantic_form_for @survey, :url => surveys_management_survey_path(@survey) do |form| %>
      <frm>
        <% section.block_header do %>
            <%= render :partial => "menu", :locals => { :action => params[:action] } %>
        <% end %>
        <% section.block_content do %>
            <%= render :partial => 'form_setup', :locals => {:form => form} %>
        <% end %>
        <% section.block_actions do %>
            <h2 align="right"><%= t("surveys_management.surveys.setup.view.save_info") %></h2>
        <% end %>
      <% end %>
  <% end %>
<% end %>
