<%= content_for :column_mc do -%>
  <%= javascript_include_tag "jquery.ui.nestedSortable" %>
  <%= javascript_include_tag "jquery.ui.nestedSortable.custom" %>
  <header back="true"><%= t("surveys_management.surveys.setup.view.header") %><%= image_tag_for_locale %></header>

  <%= semantic_form_for @survey, :url => surveys_management_survey_path(@survey) do |form| %>
      <frm>
        <param:header>
            <%= render :partial => "menu", :locals => { :action => params[:action] } %>
        </param:header>
        <param:content>
            <%= render :partial => 'form_setup', :locals => {:form => form} %>
        </param:content>
        <param:actions>
            <h2 align="right"><%= t("surveys_management.surveys.setup.view.save_info") %></h2>
        </param:actions>
      </frm>
  <% end %>
<% end %>