<ul class="fltl">
  <li><%= link_to_main_page_article('privacy') %></li>
  <li><%= link_to_main_page_article('about_us') %></li>
  <li><%= link_to_main_page_article('erhvervsanalyse_terms_conditions') %></li>
  <li><%= link_to t('layout.contact_us'), contact_us_path %></li>
</ul>

<p class="fltr">&copy; <%= Date.today.year %> Fairleads Ltd</p>