<tr>
  <td><%= f.text_field :name, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :pkwiu, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :unit, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :quantity, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :vat_rate, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :netto_price, :onKeyDown => "extendedNavigation(event)", :autocomplete => "off" %></td>
  <td><%= f.text_field :netto_value, :readonly => true %></td>
  <td><%= f.text_field :vat_value, :readonly => true %></td>
  <td><%= f.text_field :brutto_value, :readonly => true %></td>
  <td class="ta_r">
    <%= f.hidden_field :_destroy %>
    <%= bt_link_to nil, "remove line", "javascript:void(0)", :onclick => "remove_fields(this);", :class => "bt_grey_small bt_max" %>
  </td>
</tr>