<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_180">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.company_information") %></h3>
        </li>
        <%= form.input :company_name, :hint => hint_for(@lead, :company_name) %>
        <%= form.input :company_phone_number, :hint => hint_for(@lead, :company_phone_number) %>
        <%= form.input :company_website, :hint => hint_for(@lead, :company_website) %>
        <%= form.input :address_line_1, :hint => hint_for(@lead, :address_line_1) %>
        <%= form.input :address_line_2, :hint => hint_for(@lead, :address_line_2) %>
        <%= form.input :address_line_3, :hint => hint_for(@lead, :address_line_3) %>
        <%= form.input :zip_code, :hint => hint_for(@lead, :zip_code) %>
        <%= form.input :region_id, :as => :select, :collection => @lead.country.present? ? @lead.country.regions : [], :hint => hint_for(@lead, :region_id) %>
        <%= form.input :company_vat_no, :hint => hint_for(@lead, :company_vat_no) %>
        <%= form.input :company_ean_number, :hint => hint_for(@lead, :company_ean_number) %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="columnr_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_160">
      <ol class="align_inputs">
        <li class="header">
          <h3><%= t("shared.leads.form.contact_information") %></h3>
        </li>
        <%= form.input :contact_name, :hint => hint_for(@lead, :contact_name) %>
        <%= form.input :direct_phone_number, :hint => hint_for(@lead, :direct_phone_number) %>
        <%= form.input :phone_number, :hint => hint_for(@lead, :phone_number) %>
        <%= form.input :email_address, :hint => hint_for(@lead, :email_address) %>
        <%= form.input :linkedin_url, :hint => hint_for(@lead, :linkedin_url) %>
        <%= form.input :facebook_url, :hint => hint_for(@lead, :facebook_url) %>
        <%= form.input :note, :as => :text, :hint => hint_for(@lead, :note), :input_html => {:cols => 40, :rows => 10} if @contact %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="clb"></div>

<% unless @contact_managing %>

    <hl/>

    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_180">
        <ol class="align_inputs">
          <li class="header">
            <h3><%= t("leads.certification.member_information") %></h3>
          </li>
          <%= form.input :description, :input_html => {:style => "height: 140px; width: 600px"}, :hint => hint_for(@lead, :description) %>
          <li class="string optional">
            <%= form.input :hidden_description, :input_html => {:style => "height: 140px; width: 600px"}, :hint => hint_for(@lead, :hidden_description) %>
          </li>
          <% if @lead.purchase_value.present? %>
              <li class="string optional">
                <label><%= t("formtastic.labels.lead.purchase_value") %></label>
                <div class="txt"><strong><%= @lead.purchase_value %></strong></div>
              </li>
          <% end %>
        </ol>
      </fieldset>
    </div>
    <hl/>

    <div class="nested_locale_container"></div>

    <%= form.fields_for :lead_translations, @lead.lead_translations.select { |lt| lt.locale != I18n.locale.to_s } do |builder| %>
        <%= render :partial => "lead_fields", :locals => {:f => builder, :lead => @lead} %>
    <% end %>

    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_180">
        <ol class="align_inputs">
          <li class="header">
            <h3><%= t("shared.leads.form.sales_information") %></h3>
          </li>
          <li class="string optional">
            <%= form.input :purchase_decision_date, :as => :datepicker, :wrapper_html => {:class => "date"}, :hint => hint_for(@lead, :purchase_decision_date) %>
          </li>
        </ol>
      </fieldset>
    </div>


    <script>
        function set_beginnings_of_urls(fields_array) {
            $.each(fields_array, function(index, value) {
                if ($('#' + value).val() == "") {
                    $('#' + value).val("http://")
                }
            });

        }

        function refresh_phone_codes() {
            $.ajax({
                type: "GET",
                url: "<%= phone_codes_path -%>",
                data: "country_id=" + $('#lead_country_id').val()
            });
        }

        function set_phone_code(field, code) {
            $('#' + field).val('+' + code)
        }


        <% if !@lead.new_record? or (@lead.new_record? and @lead.country.present?) %>
        <%= "if($('#lead_direct_phone_number').val() == ''){set_phone_code('lead_direct_phone_number', #{@lead.country.phone_dialling_code})}" -%>
        <%= "if($('#lead_phone_number').val() == ''){set_phone_code('lead_phone_number', #{@lead.country.phone_dialling_code})}" -%>
        <%= "if($('#lead_company_phone_number').val() == ''){set_phone_code('lead_company_phone_number', #{@lead.country.phone_dialling_code})}" -%>
        <% end %>

        <% if params[:action] == "new" or params[:action] == "create" %>
        set_beginnings_of_urls(["lead_linkedin_url", "lead_facebook_url", "lead_company_website"]);
        <% end %>

        var language_names = [];
        <% Locale.enabled.each do |locale| %>
        <%= "language_names['#{locale.code}'] = '#{t('models.locale.' + locale.code)}';" -%>
        <% end %>
    </script>

<% end %>