<table class="generic leads_table">
    <thead>
    <tr>
      <th class="hl"></th>
      <% if show_checkboxes %>
      <th class="no_pdd_lr" style="width: 10px;"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this.checked,'input:checkbox')" %></th>
      <% end %>    
      <th style="width: 350px;">Leads details</th>
      <th style="width: 200px"><%= t("leads.listing.created_by_label") %></th>
      <th>Stats</th>
      <th class="hr"></th>
    </tr>
    </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="4"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
    <% collection.each do |lead| %>
      <tr class="lead <%= cycle("odd", "even") %>" id="<%= dom_id(lead) %>">
        <td class="cl"></td>
        <% if show_checkboxes %>
          <td class="no_pdd_lr"><%= check_box_tag "lead_ids[]", lead.id %></td>
        <% end %>
        <td>
          <h4><%= lead.header %></h4>
          <p class="element"><%= t("leads.listing.purchase_value_label") %> <span class="green"><%= lead.purchase_value %></span></p>
          <p class="element"><%= t("leads.listing.lead_price_label") %> <span class="green"><%= lead.price %></span></p>

          <p class="element_description i"><%= lead.description %></p>

          <%= block_left && with_output_buffer { block_left.call(lead) } %>
        </td>
        <td>
          <b><%= lead.creator_name %></b>
          <%= block_right && with_output_buffer { block_right.call(lead) } %>
        </td>
        <td>
          <p><%= t("leads.listing.clicks_count_label") %><b><%= lead.clicks_count %></b></p>
          <p><%= t("leads.listing.exposures_count_label") %><b><%= lead.exposures_count %></b></p>
          <p><%= t("leads.listing.sale_limit_label") %><b><%= lead.sale_limit %></b></p>
          <p><%= t("leads.listing.novelty_label") %><b><%= t("models.lead.novelty.lvl#{lead.novelty_level}") %></b></p>
          <p><%= t("leads.listing.hotness_label") %><b><%= t("models.lead.hotness.lvl#{lead.hotness_level}") %></b></p>
          <p><%= t("leads.listing.certification_label") %><b><%= t("models.lead.certification.lvl#{lead.certification_level}") %></b></p>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>