<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
<ul class="leads_listing">
  <% collection.each do |lead| %>
      <li class="lead" id="<%= dom_id(lead) %>">
        <div class="general">
          <%= show_checkboxes && check_box_tag("lead[#{lead.id}]")  %>
          <h3><%= lead.header %></h3>
          <span>Purchase value: <b><%= lead.purchase_value %></b></span>
          <span>Lead price: <b><%= lead.price %></b></span>
          <p><b>Description:</b><%= lead.description %></p>
          <b> <%= block_left && with_output_buffer { block_left.call(lead) } %></b>
        </div>
        <div class="details">
          <span>Created by: <b><%= lead.creator %></b></span>
             <%= block_right && with_output_buffer { block_right.call(lead) } %>
        </div>
        <div class="stats">
          <span>Clicks: <b><%= lead.clicks_count %></b></span>
        </div>
      </li>
  <% end %>
</ul>
<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>