<%
   cols = 3
   cols += 1 if show_checkboxes
   cols += 1 if not block_tools.nil?
-%>

<table class="generic leads_table">
  <thead>
  <tr>
    <th class="hl"></th>
    <% if show_checkboxes %>
        <th class="no_pdd_lr" style="width: 10px;"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
    <% end %>
    <th style="width: 550px;"><%= t("leads.listing.lead_description_label") %></th>
    <th colspan="2"><%= session[:site] == "fairleads" ? t("leads.listing.stats_label") : t("leads.listing.details_label") %></th>

    <% if block_tools %>        
        <th class="ta_r"><%= t("leads.listing.actions_label") %></th>
    <% end %>

    <th class="hr"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= cols %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>

  <tbody>
  <% collection.each do |lead| %>
      <tr class="lead <%= cycle("odd", "even") %>" id="<%= dom_id(lead) %>">

        <td class="cl"></td>

        <% if show_checkboxes %>
            <td class="no_pdd_lr"><%= check_box_tag "lead_ids[]", lead.id %></td>
        <% end %>

        <td>
          <h4><%= lead.header %>
          <% if lead.certified? %>
            <%= image_tag 'icons/certificate.png', {:class => "certificate_icon"} %>
          <% end %>
            <% if lead.linkedin_url_present? %>
                <%= image_tag("icons/in_icon.png") %>
          <% end %>
          <% if lead.facebook_url_present? %>
                <%= image_tag("icons/fb_icon.png") %>
          <% end %>
            <%= link_to_edit_lead(lead) %>
            <%#= link_to_delete_lead(lead) %>
          </h4>

          <% if session[:site] == "fairdeals" and lead.deal %>
              <p class="element"><%= t("leads.listing.date_label") %>
                    <span class="green"><%= format_date lead.created_at %></span></p>
          <% else %>
              <% unless BigDecimal(lead.purchase_value.to_s).zero? %>
                  <p class="element"><%= t("leads.listing.purchase_value_label") %>
                    <span class="green"><%= as_currency(lead.purchase_value, lead.currency) %></span></p>
              <% end %>

              <% if lead.category.price_visible_for?(current_user) %>
                  <p class="element"><%= t("leads.listing.lead_price_label") %>
                    <span class="green"><%= as_currency(lead.price, lead.currency) %></span></p>

                  <% if lead.buyout_possible_for?(current_user) %>
                      <p class="element"><%= t("leads.listing.buyout_price_label") %>
                        <span class="green"><%= as_currency(lead.buyout_price, lead.currency) %></span></p>
                  <% end %>
              <% end %>
          <% end %>

          <p class="element_description i expandable"><%= lead.description %></p>

          <p class="element_templates"><%= render :partial => "/shared/lead_templates/listing", :locals => {:lead => lead} %></p>
          <%= block_lead_details && with_output_buffer { lead_details.call(lead) } %>
        </td>

        <td>
          <% if session[:site] == "fairdeals" and lead.deal %>
              <% if lead.deal.logo %>
                <p class="element"><%= image_tag lead.deal.logo.url(:thumb) %></p>
              <% end %>

              <p class="element"><%= t("leads.listing.company_name_label") %><b> <%= lead.deal.company_name %></b></p>

              <p class="element">
                <%= lead.deal.address_line_1 %>
                <%= lead.deal.address_line_2 %><br />
                <%= lead.deal.zip_code %><%= lead.deal.address_line_3 %><br />
                <%= lead.deal.country.name %>
              </p>

          <% else %>
              <p class="element"><%= t("leads.listing.clicks_count_label") %><b> <%= lead.clicks_count %></b></p>

              <p class="element"><%= t("leads.listing.exposures_count_label") %><b> <%= lead.exposures_count %></b></p>

              <p class="element"><%= t("leads.listing.average_rating_label") %>
                <b> <%= lead.average_rating == -1 ? t("leads.listing.average_rating_none_label") : lead.average_rating_as_text %></b>
              </p>

              <p class="element"><%= t("leads.listing.sale_limit_label") %><b> <%= lead.sale_limit %></b></p>
          <% end %>
        </td>
        <td>
          <% if session[:site] == "fairdeals" and lead.deal %>
              <p class="element"><%= lead.deal.contact_name %></p>
              <p class="element"><%= link_to lead.deal.email_address, "mailto:#{lead.deal.email_address}" %></p>
              <p class="element"><%= lead.deal.phone_number %></p>
          <% else %>
          <p class="element"><%= t("leads.listing.novelty_label") %><b> <%= t("models.lead.novelty.lvl#{lead.novelty_level}") %></b></p>

          <p class="element"><%= t("leads.listing.hotness_label") %><b> <%= t("models.lead.hotness.lvl#{lead.hotness_level}") %></b></p>

          <p class="element"><%= t("leads.listing.agent_certification_label") %>
            <b> <%= t("models.lead.certification.lvl#{lead.certification_level}") %></b></p>
            <p class="element">
              <%= t("leads.listing.certified_by_member_label") %> <b><%= lead.certified? ? t('common.yes_label') : t('common.no_label') %></b>
          </p>
          <% end %>
        </td>

        <% if block_tools %>
            <td class="tda ta_r">
              <%= with_output_buffer { block_tools.call(lead) } %>
            </td>
        <% end %>

        <td class="cr"></td>
      </tr>
  <% end %>

  <% if will_paginate or show_checkboxes %>
      <tr class="pagination">
        <td colspan="<%= cols + 2 %>" class="ta_c">
          <% if show_checkboxes %>
              <div class="td_select_all">
                <%= check_box_tag "td_mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
                <%= label_tag "td_mark_all", "select all" %>
              </div>
          <% end %>

          <%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
        </td>
      </tr>
  <% end %>


  <% if block_bottom %>
      <tr class="main_actions">
        <td class="cl"></td>
        <td colspan="<%= cols %>" class="no_pdd_lr">
          <%= with_output_buffer { block_bottom.call } %>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  </tbody>
</table>