<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
<ul class="leads_listing">
  <% collection.each do |lead| %>
      <li class="lead" id="<%= dom_id(lead) %>">
        <div class="general">
          <%= show_checkboxes && check_box_tag("lead[#{lead.id}]")  %>
          <h3><%= lead.header %></h3>
          <span><%= t("leads.listing.purchase_value_label") %> <b><%= lead.purchase_value %></b></span>
          <span><%= t("leads.listing.lead_price_label") %> <b><%= lead.price %></b></span>
          <p><b><%= t("leads.listing.description_label") %></b><%= lead.description %></p>
          <b> <%= block_left && with_output_buffer { block_left.call(lead) } %></b>
        </div>
        <div class="details">
          <span><%= t("leads.listing.created_by_label") %><b><%= lead.creator_name %></b></span>
             <%= block_right && with_output_buffer { block_right.call(lead) } %>
        </div>
        <div class="stats">
          <span><%= t("leads.listing.clicks_count_label") %><b><%= lead.clicks_count %></b></span>
        </div>
      </li>
  <% end %>
</ul>
<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>