<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
<table id="leads">
    <tr>
      <% if show_checkboxes %>
          <td></td>
      <% end %>
      <td><%= link_to t("leads.table.id"), order_for_scoped_search(:id) %></td>
      <td><%= link_to t("leads.table.header"), order_for_scoped_search(:header) %></td>
      <td><%= t("leads.table.clicks") %></td>
      <td><%= t("leads.table.exposures") %></td>
      <td><%= t("leads.table.hottness") %></td>
      <td><%= t("leads.table.novelty") %></td>
      <td><%= link_to t("leads.table.sale_limit"), order_for_scoped_search(:sale_limit) %></td>
      <td><%= link_to t("leads.table.price"), order_for_scoped_search(:price) %></td>
      <td><%= link_to t("leads.table.sold"), order_for_scoped_search(:lead_purchases_counter) %></td>
      <td><%= link_to t("leads.table.purchase_value"), order_for_scoped_search(:purchase_value) %></td>
      <td><%= t("leads.table.paid_out") %></td>
      <td><%= link_to t("leads.table.status"), order_for_scoped_search(:published) %></td>
      <td><%= t("leads.table.actions") if block_tools %></td>
    </tr>

      <% collection.each do |lead| %>
        <tr>
          <% if show_checkboxes %>
            <td><%= check_box_tag("lead_ids[]", lead.id) %></td>
          <% end %>
          <td><%= lead.id %></td>
          <td><%= lead.header %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= lead.sale_limit %></td>
          <td><%= lead.price %></td>
          <td><%= lead.lead_purchases_counter %></td>
          <td><%= lead.purchase_value %></td>
          <td></td>
          <td>
            <% if block_status_column %>
                <%= with_output_buffer { block_status_column.call(lead) } %>
            <% else  %>
                <%= lead.published %>
            <% end %>
          </td>
          <td><%= block_tools && with_output_buffer { block_tools.call(lead) } %></td>
        </tr>
      <% end %>
  </table>
<%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>