<%
   cols = 12
   cols += 1 if show_checkboxes
   cols += 1 if not block_tools.nil?
-%>


<table id="leads" class="generic">
  <thead>
    <tr>
      <th class="hl"></th>
      <% if show_checkboxes %>
          <th></th>
      <% end %>
      <th><%= link_to t("leads.table.id"), order_for_scoped_search(:id) %></th>
      <th><%= link_to t("leads.table.header"), order_for_scoped_search(:header) %></th>
      <th><%= t("leads.table.clicks") %></th>
      <th><%= t("leads.table.exposures") %></th>
      <th><%= t("leads.table.hottness") %></th>
      <th><%= t("leads.table.novelty") %></th>
      <th><%= link_to t("leads.table.sale_limit"), order_for_scoped_search(:sale_limit) %></th>
      <th><%= link_to t("leads.table.price"), order_for_scoped_search(:price) %></th>
      <th><%= link_to t("leads.table.sold"), order_for_scoped_search(:lead_purchases_counter) %></th>
      <th><%= link_to t("leads.table.purchase_value"), order_for_scoped_search(:purchase_value) %></th>
      <th><%= t("leads.table.paid_out") %></th>
      <th><%= link_to t("leads.table.unsatisfactory_rating"), order_for_scoped_search(:has_unsatisfactory_rating) %></th>
      <th><%= link_to t("leads.table.status"), order_for_scoped_search(:published) %></th>

      <% if block_tools %>
        <th class="ta_r">
          <%= t("leads.table.actions") %>
        </th>
      <% end %>
      <th class="hr"></th>
    </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= cols %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
      <% collection.each do |lead| %>
        <tr id="lead_<%= lead.id %>">
          <td class="cl"></td>
          <% if show_checkboxes %>
            <td><%= check_box_tag("lead_ids[]", lead.id) %></td>
          <% end %>
          <td><%= lead.id %></td>
          <td><%= lead.header %></td>
          <td><%= lead.clicks_count %></td>
          <td><%= lead.exposures_count %></td>
          <td><%= t("models.lead.novelty.lvl#{lead.novelty_level}") %></td>
          <td><%= t("models.lead.hotness.lvl#{lead.hotness_level}") %></td>
          <td><%= lead.sale_limit %></td>
          <td><%= as_currency(lead.price,lead.currency) %></td>
          <td><%= lead.lead_purchases_counter %></td>
          <td><%= as_currency(lead.purchase_value,lead.currency) %></td>
          <td></td>
          <td><%= link_to lead.has_unsatisfactory_rating ? t("leads.listing.has_unsatisfactory_rating_yes") : t("leads.listing.has_unsatisfactory_rating_no"), current_user.has_role?(:agent) ? agents_lead_path(lead) : administration_lead_path(lead)%></td>
          <td>
            <% if block_status_column %>
                <%= with_output_buffer { block_status_column.call(lead) } %>
            <% else  %>
                <%= lead.published %>
            <% end %>
          </td>

          <% if block_tools %>
            <td class="tda ta_r">
              <%= with_output_buffer { block_tools.call(lead) } %>
            </td>
          <% end %>
          <td class="cr"></td>
        </tr>
      <% end %>

      <% if will_paginate %>
        <tr class="pagination">
          <td colspan="<%= cols + 2 %>" class="ta_c">
            <%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
      <% end %>
  
      </tbody>
  </table>
