<%= content_for :column_mc do -%>
  <header><%= t("leads.certification.header") %><%= image_tag_for_locale %></header>
  <div class="pdd_5 no_pdd_b" style="width:800px">
    <p><%= blurb("blurb_certify_information") %></p>
  </div>

  <%= semantic_form_for @lead, :method => :put do |form| %>
      <frm title="#{@lead.header}">
        <param:content>
          <%= render :partial => '/leads/form', :locals => {:form => form} %>
          <%= hidden_field_tag "token", @lsr.token %>
          <%= hidden_field_tag "confirmation", "agree" %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="remove">
          <%= form.submit t("leads.certification.reject"), :onclick => "$('#confirmation').val('disagree');" %>
          </ibt>
          <ibt c="fltri" icon="save">
            <%= form.submit t("leads.certification.confirm") %>
          </ibt>

        </param:actions>
      </frm>
  <% end %>
<% end %>