<search-box:>
  <div class="search_box">
    <div class="fltr">
      <% if @category %>
          <%= link_to I18n.t("leads.index.subscribe_to_rss"), "/categories/#{@category.cached_slug}?search[with_category]=#{@category.id}&format=rss#{"&user_token=#{current_user.rss_token}" if current_user}" %>
          <% if current_user and current_user.can_save_category_interests? %>
              <%= check_box_tag "subscribe_to_category", "subscribe", current_user.categories.include?(@category), :onclick => "$.ajax({type: 'POST',url: '#{category_interests_url(:category_id=>@category.id)}',data: '',success: function(data){eval(data);}});" %> <%= t("leads.index.subscribe_to_category_cb") %>
          <% end %>
      <% end %>
    </div>

    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => leads_path do |f| %>
          <%= render :partial => "/shared/leads/search_customer_form", :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header back="true"><%= leads_listing_header %><%= " #{t("leads.index.header_for")} #{@category.name}" if @category %></header>

  <% unless blurb(:blurb_leads_listing).blank? %>
      <div class="pdd_10 no_pdd_lr"><%= blurb(:blurb_leads_listing) %></div>
  <% end %>

  <% if @leads.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= form_tag bulk_action_path do %>
          <%= leads_listing @leads, :show_checkboxes => (user_signed_in? and current_user.has_any_role?(:customer, :lead_buyer, :lead_user)) do |blocks| %>

              <% blocks.tools do |lead| %>
                  <%= render :partial => "purchase_buttons", :locals => {:lead => lead} %>
              <% end %>

              <% if user_signed_in? && (current_user.has_role?(:customer) || current_user.has_role?(:lead_user)) %>
                  <% blocks.bottom do %>
                      <% if current_user.has_role?(:customer) or current_user.has_role?(:lead_buyer) %>
                          <%= hidden_field_tag :route_to, "/buyers/bulk_cart_items" %>
                          <ibt>
                            <%= submit_tag current_user.big_buyer? ? t("leads.index.button_bulk_buy_leads") : t("leads.index.button_bulk_create_cart_item") %>
                          </ibt>
                      <% elsif current_user.has_role?(:lead_user) %>
                          <%= hidden_field_tag :route_to, "/lead_users/bulk_lead_requests" %>
                          <ibt>
                            <%= submit_tag t("leads.index.button_bulk_create_lead_request") %>
                          </ibt>
                      <% end %>
                  <% end %>
              <% end %>

          <% end %>
      <% end %>
  <% end %>
</column-mc:>
