<search-box:>
  <div class="search_box">
    <h2>Search</h2>

    <div class="search_content">
      <%= form_for @search, :url => leads_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("customer.lead_requests.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label t("leads.index.search.category_label") %>
                <%= f.select :with_category, @categories.map { |c| [c.name, c.id] }, :include_blank => true %>
              </li>
              <li class="string">
                <%= f.label t("leads.index.search.deal_value_from_label") %>
                <%= f.text_field :deal_value_from, :style => "width: 90px" %>
              </li>
              <li class="string">
                <%= f.label t("leads.index.search.deal_value_to_label") %>
                <%= f.text_field :deal_value_to, :style => "width: 90px" %>
              </li>
              <li class="select">
                <%= f.label t("leads.index.search.country_label") %>
                <%= f.select :with_country, @countries.map { |c| [c.name, c.id] }, :include_blank => true %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("leads.index.search.search_button") %>
                </ibt>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header back="true"><%= leads_listing_header %><%= " #{t("leads.index.header_for")} #{@category.name}" if @category %></header>

  <% unless blurb(:blurb_leads_listing).blank? %>
      <div class="pdd_10 no_pdd_lr"><%= blurb(:blurb_leads_listing) %></div>
  <% end %>

  <% if @leads.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= form_tag bulk_action_path do %>
          <%= leads_listing @leads, :show_checkboxes => true do |blocks| %>

              <% blocks.tools do |lead| %>
                  <% if user_signed_in? %>
                      <% if current_user.has_role?(:lead_buyer) %>
                          <!-- TODO Should not be here - should be in buyer scope! ... Oh rly? -->
                          <!-- We should change it - ask RB! -->
                          <%= bt_link_to :cart, current_user.big_buyer? ? t("leads.index.buy_lead") : t("leads.index.add_to_cart_link"), buyers_cart_items_path(:id => lead.id), :method => :post, :class => "default_action" %>
                          <%= hidden_field_tag :confirmation_message, current_user.big_buyer? ? t("leads.index.buy_lead_confirm_msg") : t("leads.index.add_to_cart_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                      <% elsif current_user.has_role?(:lead_user) %>
                          <%= hidden_field_tag :confirmation_message, t("leads.index.request_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                          <%= bt_link_to nil, t("leads.index.request_lead"), lead_users_lead_requests_path(:lead_id => lead.id), :method => :post, :class => "default_action" %>
                      <% end %>
                  <% else %>
                      <%= bt_link_to :cart, t("leads.index.add_to_cart_link"), buyers_cart_items_path(:id => lead.id, :requested_url =>  request.fullpath), :method => :post, :class => "default_action" %>
                      <%= hidden_field_tag :confirmation_message, t("leads.index.add_to_cart_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                  <% end %>
              <% end %>


              <% if user_signed_in? && (current_user.has_role?(:customer) || current_user.has_role?(:lead_user)) %>
                  <% blocks.bottom do %>
                      <% if current_user.has_role?(:customer) or current_user.has_role?(:lead_buyer) %>
                          <%= hidden_field_tag :route_to, "/buyers/bulk_cart_items" %>
                          <ibt>
                            <%= submit_tag current_user.big_buyer? ? t("leads.index.button_bulk_buy_leads") : t("leads.index.button_bulk_create_cart_item") %>
                          </ibt>
                      <% elsif current_user.has_role?(:lead_user) %>
                          <%= hidden_field_tag :route_to, "/lead_users/bulk_lead_requests" %>
                          <ibt>
                            <%= submit_tag t("leads.index.button_bulk_create_lead_request") %>
                          </ibt>
                      <% end %>
                  <% end %>
              <% end %>

          <% end %>
      <% end %>
  <% end %>
</column-mc:>
