<column-mc:>
  <header back="true"><%= t("leads.show.view.header") %></header>
  <% if user_signed_in? and current_user.has_role?(:lead_supplier) and (lead_purchase = User::LeadSupplier.find(current_user.id).accessible_lead_purchases.where(:lead_id => @lead.id).first) %>
      <%= render :partial => "suppliers/lead_purchases/lead_details", :locals => { :lead_purchase => lead_purchase } %>
  <% else %>
  <div class="grid_800 fltl pdd_10 no_pdd_r">
    <div class="element_description">
      <h2><%= @lead.header %></h2>      

      <h3><%= t("lead_purchases.listing.description_label") %></h3>

      <p><%= @lead.description %></p>
      <br />
      <p><%= render :partial => "purchase_buttons", :locals => { :lead => @lead } %></p>
    </div>
  </div>

  <div class="grid_280 fltr pdd_10 no_pdd_lr">
    <div class="frm_tiny">
      <div class="pdd_10">
        <ul class="elements_list">
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.clicks_label") %></span>
              <%= @lead.clicks_count %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.exposures_label") %></span>
              <%= @lead.exposures_count %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.rating_label") %></span>
              <%= @lead.average_rating == -1 ? t("leads.listing.average_rating_none_label") : @lead.average_rating_as_text %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.sale_limit_label") %></span>
              <%= @lead.sale_limit %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.novelty_label") %></span>
              <%= t("models.lead.novelty.lvl#{@lead.novelty_level}") %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.hotness_label") %></span>
              <%= t("models.lead.hotness.lvl#{@lead.hotness_level}") %>
            </div>
          </li>
          <li>
            <div>
              <span class="label"><%= t("leads.show.view.certification_label") %></span>
              <%= t("models.lead.certification.lvl#{@lead.certification_level}") %>
            </div>
          </li>
          <% if @lead.certified? %>
            <li>
              <div class="certificate">
                <%= image_tag 'icons/certificate.png' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <clb/>
  <% end %>
</column-mc:>