<column-mc:>
  <h1>Home</h1>
  <%= link_to t("home.show.view.buyer"), buyer_home_path %>
  <%= link_to t("home.show.view.agent"), agent_home_path %>

  <% unless user_signed_in?  %>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <p><%= f.label :email %><br/>
            <%= f.text_field :email %></p>

          <p><%= f.label :password %><br/>
            <%= f.password_field :password %></p>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>

          <p><%= f.submit t("home.show.view.sign_in") %></p>
      <% end %>
  <% end %>

  <% unless user_signed_in? %>
    <%=  t("home.show.view.signup_message")  %><br />
    <%= link_to t("home.show.view.agent_signup"), new_agent_account_path %>
    <%= link_to t("home.show.view.buyer_signup"), new_buyer_account_path %>
  <% end %>
</column-mc:>
