<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= news_header %>
    <% end %>
  <% end %>

  <% if @news.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @news.each do |news| %>
            <tr>
              <td class="cl"></td>
              <td>
                <div class="news_element">
                  <h2><%= news.title %></h2>
                  <%= raw news.content %>
                  <p class="ta_r"><%= link_to t("news.index.view.read_more_link"), news_path(news) %></p>
                </div>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
            <tr class="pagination">
              <td class="ta_c" colspan="3">
                <%= will_paginate(@news, :page_links => false, :previous_label => t("news.index.view.newer_link"), :next_label => t("news.index.view.older_link")) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

<% end %>
