<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t('news.show.view.header') %>
    <% end %>
  <% end %>

  <%= frm(:title => "#{@news.title}") do %>
    <div class="pdd_10">
      <%= raw @news.content %>
    </div>
  <% end %>
<% end %>
