<column-mc:>

  <header><%= t("buyers_advanced_import.show.view.header") %></header>
  <% objects = LeadCategory.without_locked.with_agent_unique(current_user).without_customer_unique.all %>

  <% form_tag choose_buyers_advanced_import_path, :method => :post, :multipart => true, :id => "advanced_import_form" do %>
      <frm title="#{t('buyers_advanced_import.show.view.title')}">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_180">
              <ol class="align_inputs">

                <%= file_field_tag 'attachment', :accept => 'spreadsheet/ods,spreadsheet/doc,spreadsheet/xdoc', :class => "fltl" %>

                <clb/>
                <%= check_box_tag "category_buyer_enabled", "1", false, :onclick => "show_hide_category_selection()" %>
                Do you want to create category buyers? <br/>
                <span id="category_buyer_select_container" style="display: none">
                Select category:
                  <%= select_tag :object_id, options_for_select(nested_set_options(objects), :disabled => objects.select { |c| !c.can_publish_leads? }.map(&:id)), :include_blank => "No category" %>
                    </span>
              </ol>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= submit_tag t("advanced_import.show.view.button"), :name => "commit_create" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <script type="text/javascript">

      function show_hide_category_selection() {
          $('#object_id').val("")
          if ($('#category_buyer_enabled:checked').val() == 1) {
              $('#category_buyer_select_container').show();
          }
          else {
              $('#category_buyer_select_container').hide();
          }
      }

  </script>

</column-mc:>