  <table class="generic" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= t("administration.payouts.index.view.table.date") %></th>
      <th><%= t("administration.payouts.index.view.table.agent") %></th>
      <th><%= t("administration.payouts.index.view.table.campaign") %></th>
      <th><%= t("administration.payouts.index.view.table.result") %></th>
      <th><%= t("administration.payouts.index.view.table.value") %></th>
      <th><%= t("administration.payouts.index.view.table.payout") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="6"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody id="invoices_list">
    <% @call_results.each do |call_result| %>
      <% if call_result.contact and call_result.result and campaign_result = call_result.result.campaigns_results.where(:campaign_id => call_result.contact.campaign_id).first %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="cl"></td>
          <td><%= call_result.created_at.to_date %></td>
          <td><%= "#{call_result.creator.email}, #{call_result.creator.full_name}" %></td>
          <td><%= call_result.contact.campaign.name %></td>
          <td><%= call_result.result.name %></td>
          <td>
              <%= text_field_tag "campaign_result[#{campaign_result.id}][value]", campaign_result.value, 'data-campaign-result-id' => campaign_result.id, :style => "width:50px" %>
              <%= campaign_result.campaign.currency %>
          </td>
          <td>
            <%= text_field_tag "call_result[#{call_result.id}][payout]", call_result.payout, 'data-call-result-id' => call_result.id, :style => "width:50px" %>
            <%= call_result.payout_currency %>
          </td>
          <td class="cr"></td>
        </tr>
      <% end %>
    <% end %>
    <% if will_paginate @call_results %>
        <tr class="pagination">
          <td colspan="9" class="ta_c">
            <%= will_paginate @call_results, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
