<% search.call_results.group_by(&:creator).each do |agent, call_results| %>
    <% payouts = {} %>
    <% call_results.each do |call_result| %>
        <% payouts[call_result.id] = (call_result.payout_currency ? call_result.payout_currency.to_currency(search.currency, call_result.payout.to_f) : 0.0) %>
    <% end %>

    <div style="page-break-after: always;">
    <h3><%= t("administration.payouts.index.view.agents_header", :from => search.date_from, :to => search.date_to) %></h3>
    <h1><%= "#{agent.email}, #{agent.full_name}" %></h1>
    <h2><%= t("administration.payouts.index.view.total") %>: <%=  as_currency payouts.values.sum, search.currency %></h2>

    <table class="generic" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th><%= t("administration.payouts.index.view.table.date") %></th>
        <th><%= t("administration.payouts.index.view.table.campaign") %></th>
        <th style="text-align: right;"><%= t("administration.payouts.index.view.table.payout") %></th>
      </tr>
      </thead>
      <tbody id="invoices_list">
      <% call_results.each do |call_result| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= l call_result.created_at.in_time_zone(call_result.creator.time_zone), :format => :long %></td>
            <td><%= call_result.contact.campaign.name %></td>
            <td style="text-align: right;"><%= as_currency payouts[call_result.id], search.currency %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2"></td>
        <td style="text-align: right;"><%= as_currency payouts.values.sum, search.currency %></td>
      </tr>
      </tfoot>
    </table>
  </div>
<% end %>

