<div id="call_result_form">
<%= semantic_form_for @call_result, :url => update_dynamic_values_administration_payout_path(@call_result), :remote => true do |form| %>
    <%= frm(:title => t('administration.payouts.edit_dynamic_values.view.header')) do |section| %>
      <% section.block_content do %>
        <%= form.fields_for :call_result_fields, @call_result.call_result_fields do |builder| %>
            <fieldset class="inputs labels_ta_r">
              <ol>
                <li class="string <%= 'error' if builder.object.errors[:dynamic_euro_value].present?%>">
                  <label><%= builder.object.campaigns_result_field.result_field.name %></label>
                  <%= builder.text_field :dynamic_euro_value %>
                  <p class="inline-hints">EUR</p>
                  <%= custom_error_for_field(builder, :dynamic_euro_value) %>
                </li>
              </ol>
            </fieldset>
        <% end %>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "save") do %>
          <%= form.submit t("administration.payouts.edit_dynamic_values.view.button_update") %>
        <% end %>
        <%= ibt(:class => "bt_grey fltri") do %>
          <%= button_to_function t("common.cancel_link"), "$.colorbox.close();" %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
</div>