<js:>
  <script type="text/javascript">

    //    CAMPAIGNS
      <%=
     %{
     var all_campaigns = [
      #{@search.all_campaigns.map { |c| "['#{c.name}', #{c.id}]" }.join(',')}
     ]
     }.html_safe
      %>

      <% @search.all_campaigns.partition { |c| c.active? }.each_with_index do |campaigns_group, i| %>
      <%=
      %{
      var #{i == 0 ? 'active' : 'inactive'}_campaigns = [
       #{campaigns_group.map { |c| "['#{c.name}', #{c.id}]" }.join(',')}
      ]
      }.html_safe

      %>
      <% end %>

    //      CALL CENTRES
     <%=
     %{
     var all_call_centres = [ ['',''],
      #{@search.all_call_centres.map { |c| "['#{c.email}', #{c.id}]" }.join(',')}
     ]
     }.html_safe
      %>

      <% @search.all_call_centres.partition { |c| c.active? }.each_with_index do |call_centres_group, i| %>
      <%=
      %{
      var #{i == 0 ? 'active' : 'inactive'}_call_centres = [ ['',''],
       #{call_centres_group.map { |c| "['#{c.email}', #{c.id}]" }.join(',')}
      ]
      }.html_safe

      %>
      <% end %>

      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
          $('audio,video').mediaelementplayer();
      });

      function load_campaigns(campaign_selection) {
          c_array = eval(campaign_selection + "_campaigns");

          $('#campaign_ids option').each(function()
          {
              $(this).remove();
          });
          $.each(c_array, function(index, value) {
              $('#campaign_ids').
                      append($("<option></option>").
                      attr("value", value[1]).
                      text(value[0]));
          });
          $("#campaign_ids option").each(function()
          {
              $(this).attr("selected", "selected");
          });
      }

      function load_call_centres(call_centre_selection) {
          c_array = eval(call_centre_selection + "_call_centres");

          $('#call_centre_id option').each(function()
          {
              $(this).remove();
          });
          $.each(c_array, function(index, value) {
              $('#call_centre_id').
                      append($("<option></option>").
                      attr("value", value[1]).
                      text(value[0]));
          });
      }

    $('input[id^="call_result_"]').blur(function(){
        $.ajax({
            url: '/administration/payouts/' + $(this).attr('data-call-result-id') + '/call_result.js',
            type: 'PUT',
            data: {
                'payout': $(this).val()
            }
        })
    });

    $('input[id^="campaign_result_"]').blur(function(){
        $.ajax({
            url: '/administration/payouts/' + $(this).attr('data-campaign-result-id') + '/campaign_result.js',
            type: 'PUT',
            data: {
                'value': $(this).val()
            }
        })
    });

  function load_results_for_campaigns(){
      var campaign_ids = new Array;
      $('#campaign_ids option:selected').each(function(){
          return campaign_ids.push(parseInt($(this).attr('value')))
      });

      $.ajax({
          type: "POST",
          url: "/callers/campaigns/results.js",
          data: {
              campaign_ids: campaign_ids
          }
      });
  }

  function agents_pdf() {
      $('#currency_id').val( $('#report_currency_id').val() );
      $('#form_campaign_reports_search').attr('action', '<%= agents_administration_payouts_path(:format => 'pdf') %>').submit();
  }

  function campaigns_pdf() {
      $('#currency_id').val( $('#report_currency_id').val() );
      $('#form_campaign_reports_search').attr('action', '<%= campaigns_administration_payouts_path(:format => 'pdf') %>').submit();
  }

  function set_search_url(){
      $('#form_campaign_reports_search').attr('action', '<%= administration_payouts_path %>');
  }

  function order_payout(order_by, order) {
      $('#order_by').val(order_by);
      $('#order').val(order);
      set_search_url();
      $('#form_campaign_reports_search').submit();
  }

  </script>
</js:>