<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("administration.payouts.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_payouts_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li>
                <p style="padding: 10px 0 3px 5px; line-height: 14px">Time ranges</p>
                  <ul>
                    <li style="float:none;padding-left:5px">
                      <%= link_to_function t("campaigns.show.ranges.this_year"), "$('#search_created_at_from').val('#{Date.today.beginning_of_year}');$('#search_created_at_to').val('#{Date.today.end_of_year}');" %>&nbsp;
                    </li>
                    <li style="float:none">
                      <%= link_to_function t("campaigns.show.ranges.this_month"), "$('#search_created_at_from').val('#{Date.today.beginning_of_month}');$('#search_created_at_to').val('#{Date.today.end_of_month}');" %>&nbsp;
                    </li>
                    <li style="float:none">
                      <%= link_to_function t("campaigns.show.ranges.this_week"), "$('#search_created_at_from').val('#{Date.today.beginning_of_week}');$('#search_created_at_to').val('#{Date.today.end_of_week}');" %>&nbsp;
                    </li>
                    <li style="float:none">
                      <%= link_to_function t("campaigns.show.ranges.today"), "$('#search_created_at_from').val('#{Date.today}');$('#search_created_at_to').val('#{Date.today}');$('#performance_form').submit()" %>
                    </li>
                  </ul>
              </li>
              <li class="date" style="margin-left:15px">
                <%= f.label :created_at_from, t("administration.payouts.index.view.created_at_from") %>
                <%= f.text_field :created_at_from, :class => "formtastic-ui-datepicker" %>
                <%= f.label :created_at_to, t("administration.payouts.index.view.created_at_to"), :style => "margin-top:25px" %>
                <%= f.text_field :created_at_to, :class => "formtastic-ui-datepicker" %>
              </li>
              <li style="margin-left:15px">
                <p style="padding: 10px 0 3px 1px; line-height: 14px">
                  <%= check_box_tag "all_call_centres", "1", false, :onclick => "$('#call_centres input').attr('checked', $(this).attr('checked'))" %>
                  Call centres
                </p>
                <div style="border: 1px solid #d0d0d0; max-height:150px; width:300px; overflow-y: scroll">
                  <ul id="call_centres">
                  <% User::CallCentre.without_locked.all.sort_by(&:screen_name).each do |call_centre| %>
                    <li style="float:none;padding:0">
                      <%= check_box_tag "with_call_centre[]", call_centre.id, Array(params[:with_call_centre]).include?(call_centre.id.to_s) %>
                      <%= label_tag "with_call_centre[]", call_centre.screen_name %>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </li>
              <li style="margin-left:15px">
                <p style="padding: 10px 0 3px 1px; line-height: 14px">
                  <%= check_box_tag "all_agents", "1", false, :onclick => "$('#agents input').attr('checked', $(this).attr('checked'))" %>
                  Agents
                </p>
                <div style="border: 1px solid #d0d0d0; height:150px; width: 300px; overflow-y: scroll">
                  <ul id="agents">
                  <% User.with_any_role(:agent, :call_centre_agent).without_locked.all.sort_by(&:screen_name).each do |agent| %>
                    <li style="float:none;padding:0">
                      <%= check_box_tag "search[with_creator][]", agent.id, Array(params[:with_agent]).include?(agent.id.to_s) %>
                      <%= label_tag "search[with_creator][]", agent.screen_name %>
                    </li>
                  <% end %>
                  </ul>
                </div>
              </li>
              <li class="commit" style="margin-left:15px">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.payouts.index.view.search_button") %>
                </ibt>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>
  <header><%= t("administration.payouts.index.view.header") %></header>

  <% if @call_results.blank?  %>
      <%= blank_state_message %>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.payouts.index.view.table.date") %></th>
          <th><%= t("administration.payouts.index.view.table.agent") %></th>
          <th><%= t("administration.payouts.index.view.table.campaign") %></th>
          <th><%= t("administration.payouts.index.view.table.result") %></th>
          <th><%= t("administration.payouts.index.view.table.value") %></th>
          <th><%= t("administration.payouts.index.view.table.payout") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="6"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody id="invoices_list">
        <% @call_results.each do |call_result| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= call_result.created_at.to_date %></td>
              <td><%= call_result.creator.screen_name %></td>
              <td><%= call_result.contact.campaign.name %></td>
              <td><%= call_result.result.name %></td>
              <td>
                <% if call_result.contact and call_result.result and campaign_result = call_result.result.campaigns_results.where(:campaign_id => call_result.contact.campaign_id).first %>
                    <%= "#{campaign_result.value} #{campaign_result.campaign.currency}" if campaign_result.value.to_f.nonzero? %>
                <% end %>
              </td>
              <td>
                <%= text_field_tag "call_result[#{call_result.id}][payout]", call_result.payout, 'data-call-result-id' => call_result.id %>
                <%= call_result.payout_currency %>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate @call_results %>
            <tr class="pagination">
              <td colspan="9" class="ta_c">
                <%= will_paginate @call_results, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

  <script>
    $('input[id^="call_result_"]').blur(function(){
        $.ajax({
            url: '/administration/payouts/' + $(this).attr('data-call-result-id') + '/call_result.js',
            type: 'PUT',
            data: {
                'payout': $(this).val()
            }
        })
    });
  </script>
</column-mc:>