<search-box:>
  <%= render :partial => 'search' %>
</search-box:>

<column-mc:>
  <header>
    <param:content>
      <%= t("administration.payouts.index.view.header") %>
    </param:content>

    <% if @search.call_results.any? %>
        <param:actions>
          <ul class="header_actions">
            <li class="last">
              <%= select_tag "report_currency_id", options_for_select(Currency.active.all.map{|c| [c.name, c.id]}) %>
              <%= bt_link_to_function nil, t("administration.payouts.index.view.pdf_by_agent"), "agents_pdf()" %>
              <%= bt_link_to_function nil, t("administration.payouts.index.view.pdf_by_campaign"), "campaigns_pdf()" %>
            </li>
          </ul>
        </param:actions>
    <% end %>
  </header>

  <% if @call_results.blank?  %>
      <%= blank_state_message %>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= link_to_function t("administration.payouts.index.view.table.date"), @search.reorder_link('date') %></th>
          <th><%= link_to_function t("administration.payouts.index.view.table.agent"), @search.reorder_link('agent') %></th>
          <th><%= link_to_function t("administration.payouts.index.view.table.campaign"), @search.reorder_link('campaign') %></th>
          <th><%= link_to_function t("administration.payouts.index.view.table.result"), @search.reorder_link('result') %></th>
          <th><%= t("administration.payouts.index.view.table.value") %></th>
          <th><%= t("administration.payouts.index.view.table.payout") %></th>
          <th><%= t("administration.payouts.index.view.table.voice") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="7"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody id="payouts_list">
        <% @call_results.each do |call_result| %>
            <% campaign_result = call_result.result.campaigns_results.where(:campaign_id => call_result.contact.campaign_id).first %>
            <tr class="<%= cycle("odd", "even") %>" data-id="<%= call_result.id %>">
              <td class="cl"></td>
              <td><%= l call_result.created_at.in_time_zone(call_result.creator.time_zone), :format => :long %></td>
              <td><%= "#{call_result.creator.email}, #{call_result.creator.full_name}" %></td>
              <td><%= call_result.contact.campaign.name %></td>
              <td><%= call_result.result.name %></td >
              <td>
                  <% if campaign_result.is_dynamic_value %>
                    <%= link_to t("administration.payouts.index.view.edit_values"), "javascript:;", :onclick => "editDynamicValues(#{call_result.id})", :id => "link_edit_values_#{call_result.id}" %>
                  <% else %>
                    <%= text_field_tag "call_result[#{call_result.id}][value]", call_result.value, 'data-call-result-id' => call_result.id, :style => "width:45px" %>
                    <%= call_result.payout_currency %>
                  <% end %>
              </td>
              <td>
                <%= text_field_tag "call_result[#{call_result.id}][payout]", call_result.payout, 'data-call-result-id' => call_result.id, :style => "width:45px" %>
                <%= call_result.payout_currency %>
              </td>
              <td>
                <% if this_call_log = call_result.call_log %>
                    <audio preload="none" src="<%= call_url(this_call_log.call_id) %>" controls="controls">
                <% end %>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate @call_results %>
            <tr class="pagination">
              <td colspan="10" class="ta_c">
                <%= will_paginate @call_results, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>

  <%= render :partial => 'js' %>

</column-mc:>