<column-mc:>
  <header back="true" backurl="#{administration_deals_path}">
     <param:content>
        <%= t('administration.deals.edit.view.title') %>
     </param:content>
      <param:actions>
      <ul class="header_actions">
        <li>
            <%= bt_link_to nil, t("administration.deals.edit.view.edit_deal_request_details_email_template"), edit_email_template_path(@deal.deal_request_details_email_template, :deal_id => @deal.id) %>
        </li>
        <li class="last">
          <%= bt_link_to nil, t("administration.deals.edit.view.preview"), deal_path(@deal) %>
        </li>
      </ul>
    </param:actions>
  </header>

  <% unless @deal.enabled? %>
    <div class="flash flash_notice"><%= t("deals.common.max_auto_buy_limit_reached") %></div>
  <% end %>

  <%= semantic_form_for [:administration, @deal], :method => :put, :html => {:multipart => true} do |form| %>
      <frm title="#{@deal.header}">
        <param:content>
          <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal, :categories => DealCategory.without_locked.all} %>
          <%= render :partial => "shared/deals/assets_management", :locals => {:form => form, :path => "administration_deal_assets_path",
                                                                               :remove_path => "administration_deal_asset_path"} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("administration.deals.edit.view.update_button"), :name => "commit_update", :onclick => "select_options_to_submit('deal_deal_template_ids_')" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

  <%= render :partial => "shared/deals/leads_listing", :locals => { :deal => @deal } %>
</column-mc:>