<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
      <%= form.input :phone %>
      <%= form.input :email %>
      <%= form.input :screen_name %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.fields_for :address do |address_form| %>
          <%= address_form.input :address_line_1 %>
          <%= address_form.input :address_line_2 %>
          <%= address_form.input :address_line_3 %>
          <%= address_form.input :zip_code %>
      <% end %>
      <%= form.input :vat_number if current_user.has_role?(:customer) %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.fields_for :address do |address_form| %>
          <%= address_form.input :country, :as => :select, :collection => Country.all %>
      <% end %>
      <%= form.input :newsletter_on, :as => :boolean %>
      <%= form.input :team_buyers, :as => :boolean, :label => t("my_profile.edit.view.enable_team_buyers") if current_user.has_role?(:customer) %>
    </ol>
  </fieldset>
</div>

<% if current_user.can_edit_payout_information %>
<hl />

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :paypal_email %>
      <%= form.input :bank_swift_number %>
      <%= form.input :bank_iban_number %>
    </ol>
  </fieldset>
</div>
<% end %>