<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_160">
      <ol>
        <%= form.input :company_name, :hint => hint_for("my_profile", :company_name) %>
        <%= form.input :first_name, :hint => hint_for("my_profile", :first_name) %>
        <%= form.input :last_name, :hint => hint_for("my_profile", :last_name) %>
        <%= form.input :phone, :hint => hint_for("my_profile", :phone) %>
        <%= form.input :direct_phone_number, :hint => hint_for("my_profile", :direct_phone_number) %>
        <%= form.input :email, :hint => hint_for("my_profile", :email) %>
        <%= form.input :company_ean_number, :hint => hint_for("my_profile", :company_ean_number) %>
        <% if current_user.agent? %>
          <% if current_user.shared_softphone_enabled? %>
            <%= form.input :softphone_id, :as => :select, :collection => Softphone.available(current_user) %>
          <% end %>
          <% unless current_user.softphone.shared? %>
            <%= form.fields_for :softphone, current_user.softphone || current_user.build_softphone do |sf| %>
              <%= sf.input :name, :input_html => {:disabled => current_user.softphone_shared?} %>
              <%= sf.input :sip_username, :input_html => {:disabled => current_user.softphone_shared?} %>
              <%= sf.input :sip_password, :input_html => {:disabled => current_user.softphone_shared?} %>
              <%= sf.input :softphone_server, :input_html => {:disabled => current_user.softphone_shared?} %>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>


<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.fields_for :address do |address_form| %>
            <%= address_form.input :address_line_1, :hint => hint_for("my_profile", :address_address_line_1), :required => !current_user.has_role?(:call_centre_agent) %>
            <%= address_form.input :address_line_2, :hint => hint_for("my_profile", :address_address_line_2) %>
            <%= address_form.input :address_line_3, :hint => hint_for("my_profile", :address_address_line_3) %>
            <%= address_form.input :zip_code, :hint => hint_for("my_profile", :address_zip_code), :required => !current_user.has_role?(:call_centre_agent) %>
        <% end %>
        <%= form.input :vat_number, :hint => hint_for("my_profile", :vat_number) %>
        <%= form.fields_for :address do |address_form| %>
            <%= address_form.input :country_id, :hint => hint_for("my_profile", :address_country_id), :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_#{@user.role.to_s}_address_attributes');"} %>
             <% unless I18n.locale == :da %>
                <%= address_form.input :region_id, :hint => hint_for("my_profile", :address_region_id), :as => :select, :collection => regions_collection_for(@user.address.country) %>
             <% end %>
        <% end %>
        <%= form.input :newsletter_on, :hint => hint_for("my_profile", :newsletter_on), :as => :boolean %>
        <%# unless I18n.locale == :da %>
            <%= form.input :time_zone, :wrapper_html => {:class => "select"}, :input_html => {:style => "width: 240px"} %>
        <%# end %>
        <% if current_user.supplier? %>
            <%= form.input :lead_notification_type, :as => :radio, :collection => User::LEAD_NOTIFICATION_TYPES.map { |lnt| [t("users.lead_notification_types.notification_type#{lnt}"), lnt] }, :wrapper_html => {:class => "collection"} %>
            <%= form.input :disable_bought_notification, :label => t('my_profile.edit.view.disable_bought_notification_label') %>
            <% if current_user.pipeline_reports_enabled? %>
              <%= form.input :pipeline_report_currency_id, :collection => currencies_for_select, :include_blank => false %>
            <% end %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<clb/>

<hl/>

<% if current_user.can_edit_payout_information %>
    <div class="column_left">
      <div class="pdd_10 no_pdd_t">
        <fieldset class="inputs labels_ta_r labels_200">
          <ol class="align_inputs">
            <% if current_user.has_role?(:call_centre) %>
                <%= form.input :bank_name, :hint => hint_for("my_profile", :bank_name) %>
                <%= form.fields_for :bank_address do |address_form| %>
                    <%= address_form.input :address_line_1, :hint => hint_for("my_profile", :bank_address_address_line_1) %>
                    <%= address_form.input :address_line_2, :hint => hint_for("my_profile", :bank_address_address_line_2) %>
                    <%= address_form.input :address_line_3, :hint => hint_for("my_profile", :bank_address_address_line_3) %>
                    <%= address_form.input :zip_code, :hint => hint_for("my_profile", :bank_address_zip_code) %>
                    <%= address_form.input :country_id, :hint => hint_for("my_profile", :bank_address_country_id), :as => :select, :collection => Country.all, :include_blank => false, :input_html => {:onchange => "refresh_regions_list('user_#{@user.role.to_s}_bank_address_attributes');"} %>
                    <%= address_form.input :region_id, :hint => hint_for("my_profile", :bank_address_region_id), :as => :select, :collection => regions_collection_for(@user.bank_address.country) %>
                <% end %>
            <% end %>
          </ol>
        </fieldset>
      </div>
    </div>

    <div class="column_right">
      <div class="pdd_10 no_pdd_t">
        <fieldset class="inputs labels_ta_r">
          <ol class="align_inputs">
            <%= form.input :paypal_email, :hint => hint_for("my_profile", :paypal_email) %>
            <%= form.input :bank_swift_number, :hint => hint_for("my_profile", :bank_swift_number) %>
            <%= form.input :bank_iban_number, :hint => hint_for("my_profile", :bank_iban_number) %>
          </ol>
        </fieldset>
      </div>
    </div>
    <clb/>
<% end %>

<% if current_user.rpx_identifier.blank? %>
    <div class="profile_social">
      <%= t('my_profile.edit.view.social_link_label') %>
      <% unless Rails.env.test? %>
          <%= link_to_rpx image_tag("icons/social_login.png"), social_link_my_profile_url %>
          <%= javascript_include_rpx social_link_my_profile_url %>
      <% end %>
    </div>
<% else %>
    <div class="profile_social">
      <%= image_tag(current_user.social_provider_ico, :class => "ico") if current_user.social_provider_ico %>
      <%= t("my_profile.edit.view.social_unlink_label", :account_type =>  User.social_provider(current_user.rpx_identifier)) %> <%= link_to t("my_profile.edit.view.social_unlink_link"), unlink_my_profile_path %>
    </div>
<% end %>

