<column-mc:>
  <header><%= (current_user.contact.present? and current_user.sign_in_count == 1) ?  t("my_profile.edit.view.header_contact_confirmation") : t("my_profile.edit.view.header") %></header>


  <% if @deal_for_request and current_user.member? %>
      <div class="flash flash_notice">
        <%= t("my_profile.edit.view.request_deal", :link => link_to(@deal_for_request.header, deal_path(:id => @deal_for_request.slug))).html_safe %>
      </div>
  <% end %>

  <% if SubscriptionPlan.valid_roles.include?(current_user.with_role.role) and current_user.parent.nil? %>
  <frm title="#{t('my_profile.edit.view.subscription_management')}">
    <div class="pdd_10">
        <%= render :partial => "shared/subscriptions/listing", :locals => { :role => current_user.with_role.role, :form => form, :deal => @deal} %>
    </div>
  </frm>
  <% end %>

  <%= semantic_form_for @user, :url => my_profile_path, :method => :put do |form| %>
      <frm title="#{t('my_profile.edit.view.edit_account')}">
        <param:header>
          <%= bt_link_to nil, t("my_profile.edit.view.change_password"), password_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <%= render :partial => "form", :locals => { :form => form } %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("password.edit.view.button_update_user") %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>

</column-mc:>