<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= (current_user.contact.present? and current_user.sign_in_count == 1) ?  t("my_profile.edit.view.header_contact_confirmation") : t("my_profile.edit.view.header") %>
    <% end %>
  <% end %>

  <% if SubscriptionPlan.valid_roles.include?(current_user.with_role.role) and current_user.parent.nil? %>
  <%= frm(:title => "#{t('my_profile.edit.view.subscription_management')}") do |section| %>
    <div class="pdd_10">
        <%= render :partial => "shared/subscriptions/listing", :locals => { :role => current_user.with_role.role, :form => form, :deal => @deal} %>
    </div>
  <% end %>
  <% end %>

  <%= semantic_form_for @user, :url => my_profile_path, :method => :put do |form| %>
      <%= frm(:title => "#{t('my_profile.edit.view.edit_account')}") do |section| %>
        <% section.block_header do %>
          <%= bt_link_to nil, t("my_profile.edit.view.change_password"), password_path, :class => "fltr" %>
        <% end %>
        <% section.block_content do %>
          <%= render :partial => "form", :locals => { :form => form } %>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("password.edit.view.button_update_user") %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <% if current_user.member? %>
      <%= frm(:title => "#{t('my_profile.edit.view.unsubscribe_and_close_account')}") do |section| %>
        <% section.block_content do %>
          <div class="pdd_10 ta_c">
            <%= bt_link_to nil, t('my_profile.edit.view.go_to_unsubscribe'), unsubscribe_my_profile_path %>
          </div>
        <% end %>
      <% end %>

  <% end %>

<% end %>
