<%= content_for :column_mc do -%>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "certification_accounts", :user => @user } %>

  <div class="pdd_5 no_pdd_b" style="width:800px">
    <p><%= blurb("blurb_certification_member_signup") %></p>
  </div>

  <div class="hl" style="padding: 15px 0"></div>

  <%= link_to t("certification_accounts.new.view.i_already_have_account"), root_path %>

  <%= semantic_form_for @user, :url => certification_accounts_path do |form| %>
      <%= frm(:title => t('member_accounts.new.view.header'), :class => "no_marg") do |section| %>
        <% section.block_content do %>
          <div class="column_left">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_200">
                <ol>

                  <% if @user.rpx_identifier.blank? %>
                      Please enter a password to log in the furture:<br/><br/>
                  <% else %>

                  <% end %>

                  <%= form.input :company_name, :as => :hidden %>
                  <%= form.input :first_name, :as => :hidden %>
                  <%= form.input :last_name, :as => :hidden %>
                  <%= form.input :phone, :as => :hidden %>
                  <%= form.input :password, :hint => hint_for(@user, :password), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :password_confirmation, :hint => hint_for(@user, :password_confirmation), :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :email %>
                  <%#= form.input :time_zone, :wrapper_html => { :class => "select"}, :input_html => {:style => "width: 240px"} %>
                  <%= form.input :agreement_read, :as => :boolean, :hint => hint_for(@user, :agreement_read), :label => "#{t("common.agree_to")} #{link_to_main_page_article('terms_conditions', {:popup => true}, {:id => 'agreement_modal_box'})}".html_safe, :required => true %>
                  <%= form.fields_for :address do |address_form| %>
                      <%= address_form.input :address_line_1, :as => :hidden %>
                      <%= address_form.input :address_line_2, :as => :hidden %>
                      <%= address_form.input :address_line_3, :as => :hidden %>
                      <%= address_form.input :zip_code, :as => :hidden %>
                      <%= address_form.input :country_id, :as => :hidden %>
                      <%= address_form.input :region_id, :as => :hidden %>
                  <% end %>
                  <%= form.input :rpx_identifier, :as => :hidden %>
                </ol>
              </fieldset>

              <% if @user.rpx_identifier.blank? %>
                  <fieldset class="inputs labels_100 no_pdd" style="margin-top:-5px;">
                    <ol class="no_pdd">
                      <li class="string social_login">
                        <!--<label>-->

                        <br/><%= t("certification_accounts.new.view.janrain_sign_up_label") %>
                        <br/><br/>
                        <!--</label>-->

                        <div class="txt">
                          <% unless Rails.env.test? %>
                              <%= link_to_rpx image_tag("icons/social_login.png"), certification_accounts_url %>
                              <%= javascript_include_rpx certification_accounts_url %>
                          <% end %>
                        </div>
                      </li>
                    </ol>
                  </fieldset>
              <% end %>

            </div>
          </div>
          <div class="clb"></div>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "plus") do %>
            <%= form.submit t("member_accounts.new.view.button_create_account") %>
          <% end %>
          <%= bt_link_to nil, t("shared.accounts.new_account_form.button_cancel"), root_path, :class => "bt_grey fltr" %>
        <% end %>
      <% end %>
  <% end %>
<% end %>