<li class="<%= f.object.result_field.field_type.to_i == ResultField::NOTE ? 'text' : 'string date' %>">
  <% abbr =  f.object.result_field.is_mandatory ? content_tag(:abbr, "*").html_safe : '' -%>
  <%= raw f.label :value, h(f.object.result_field.name)+(abbr) %>
  <% if f.object.result_field.field_type.to_i == ResultField::NOTE %>
      <%= f.text_area :value, :style => "height: 100px; width: 230px" %>
  <% else %>
      <%= f.text_field :value, :class => "datepicker" %>
  <% end %>
  <%= custom_error_for_field(f, :value) %>
</li>
<li class="hidden">
  <%= f.hidden_field :result_field_id, :value => f.object.result_field.id %>
</li>

<js:>
  <script type="text/javascript">
      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
      });
  </script>
</js:>
