<% css_class = case f.object.result_field.field_type.to_i
    when ResultField::NOTE then
        'text'
    when ResultField::DATE then
        'date'
    when ResultField::DATETIME then
        'date time'
    when ResultField::MATERIAL then
        'text'
    else
        'string'
end
%>

<li class="<%= css_class %>">
  <% abbr = f.object.result_field.is_mandatory ? content_tag(:abbr, "*").html_safe : '' -%>
  <%= raw f.label :value, h(f.object.result_field.name)+(abbr) %>
  <%= case f.object.result_field.field_type.to_i
      when ResultField::NOTE then
          f.text_area :value, :style => "height: 100px; width: 230px"
      when ResultField::DATE then
          f.text_field :value, :class => "datepicker", :title => t('models.result_field.date_format')
      when ResultField::DATETIME then
          f.text_field :value, :class => "datetimepicker", :title => t('models.result_field.datetime_format')
      when ResultField::MATERIAL then
          f.hidden_field :value, :id => "material_#{f.object.result_field.id}"
      when ResultField::SURVEY then
        survey_recipient = contact.survey_recipients.detect { |sr| sr.survey_id == f.object.result_field.survey_id }
        f.hidden_field(:value, :value => contact.id) +
        ((survey_recipient.present? and survey_recipient.completed?) ? "" : button_to_function((survey_recipient.present? and survey_recipient.sent?) ? t("surveys.shared.survey_already_sent") : t("surveys.shared.send_survey"), "sendSurvey(#{contact.id}, #{f.object.result_field.survey_id})", :disabled => (survey_recipient.present? and survey_recipient.sent?), :id => "send_survey")) +
        button_to_function((survey_recipient.present? and survey_recipient.completed?) ? t("surveys.shared.edit_survey_answers") : t("surveys.shared.fill_out_survey"), "fillOutSurvey(#{contact.id}, #{f.object.result_field.survey_id})")
      else
          f.text_field :value
  end
  %>
  <%= custom_error_for_field(f, :value) %>
  <% if f.object.result_field.field_type.to_i == ResultField::MATERIAL || call_result.campaign_create_deals? %>
      <div class="txt">
        <p id="material_<%= f.object.result_field.id %>_name">
          <% if f.object.value.blank? %>
            <%= t("materials.views.index.no_file_selected")  %>
          <% else %>
            <% (contact.campaign.default_materials_set + f.object.materials).uniq.each do |material| %>
                  <%= check_box_tag "material_selected_#{material.id}", "1", params["material_selected_#{material.id}".to_sym].to_i == 1 %>
                  <%= material.filename %><br/>
            <% end %>
          <% end %>
        </p>
        <p style="padding-top:5px;">
          <%= bt_link_to_function :cog, t("materials.views.index.material_repository"), "$('#materials_dialog').load('#{callers_campaign_materials_path(contact.campaign, :format => :js, :result_field_id => f.object.result_field.id)}').dialog({title:'#{t('materials.views.index.select_or_upload')}', width:400, height:350, beforeClose: function(event, ui) { $('#materials_dialog').html('');return true; }})" %>
        </p>
      </div>
      <div class="txt">
          <p><%= label_tag "call_result[contact_email_address]", "#{t("materials.views.index.contact_email_address")}<abbr>*</abbr>".html_safe %><%= text_field_tag "call_result[contact_email_address]", call_result.contact_email_address || contact.email_address  %></p>
          <%= custom_error_for_object_and_field(call_result, :contact_email_address) %>
      </div>

      <script type="text/javascript">
        <% (contact.campaign.default_materials_set + f.object.materials).uniq.each do |material| %>
            <%= "select_file_from_repository('#{f.object.result_field.id}', #{material.id}, '#{material.asset_file_name}');" %>
        <% end %>
      </script>
  <% end %>
</li>

<% if f.object.result_field.field_type.to_i == ResultField::SURVEY %>
    <li class="text"<%= ' style="display:none;"'.html_safe if contact.email_address.present? %>>
      <%= f.label :contact_email_address %>
      <%= f.text_field :contact_email_address, :id => "survey_contact_email_address", :value => contact.email_address %>
    </li>
<% end %>

<li class="hidden">
  <%= f.hidden_field :result_field_id, :value => f.object.result_field.id %>
</li>

<script type="text/javascript">
    jQuery(document).ready(function() {
        if ($('#materials_dialog').length == 0) {
            $('body').append('<div id="materials_dialog"></div>');
        }
    });

    $(function() {
        $(".datetimepicker").datetimepicker({ dateFormat: 'yy-mm-dd' });
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });

    function fillOutSurvey(contact_id, survey_id){
        $.get("/callers/survey_recipients/new?contact_id=" + contact_id + "&survey_id=" + survey_id + "&email_address=" + $("#survey_contact_email_address").val());
    }

    function sendSurvey(contact_id, survey_id){
        if($("#survey_contact_email_address").val() == ""){
            alert("<%= t("surveys.shared.email_blank") %>");
        } else {
            $.get("/callers/survey_recipients/new?contact_id=" + contact_id + "&survey_id=" + survey_id + "&email_notification=1&email_address=" + $("#survey_contact_email_address").val());
            $('#send_survey').attr('disabled', 'disabled');
        }
    }
</script>

