<% div_result_field_html_id = f.object.new_record? ? "result_result_fields_attributes_#{defined?(counter) ? counter.to_i : 0}" : f.object.id %>
<div id="result_field_form_<%= div_result_field_html_id %>" class="result_field_row">
  <div class="hl"></div>
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs_vertical">
      <ol>
        <li class="string required <%= 'error' if f.object.errors[:name].present?%>">
          <label><%= t("shared.results.form.field_name") %><abbr title="required">*</abbr></label>
          <%= f.text_field :name %>
          <%= custom_error_for_field(f, :name) %>
        </li>
        <li class="select">
          <%= f.label :field_type %>
          <%= f.select :field_type, options_for_select((ResultField::FIELD_TYPES.except(@campaign.surveys.any? ? nil : 6)).map { |ft| [t("models.result_field.field_type.type#{ft}"), ft] }.sort, f.object.field_type), {}, {:onchange => "enable_dynamic_value(); showHideSurveys()"} %>
          <%= custom_error_for_field(f, :field_type) %>
        </li>
        <li class="select survey_id"<%= ' style="display: none"'.html_safe if f.object.field_type.to_i != ResultField::SURVEY or f.object.field_type.nil? %>>
          <%= f.label :survey_id %>
          <%= f.select :survey_id, options_for_select([[]] + @campaign.surveys.map { |c| [c.name, c.id] }.sort, f.object.survey_id), {} %>
          <%= custom_error_for_field(f, :survey_id) %>
        </li>
        <li class="boolean">
          <%= f.check_box :is_mandatory %>
          <%= f.label :is_mandatory %>
        </li>
        <li class="hidden">
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
        <% if !@result.campaigns_results.detect { |cr| cr.campaign_id == @campaign.id }.nil? %>
            <span class="campaign_dynamic_value_span" style="display:none;">
            <%= f.fields_for :campaigns_result_fields, f.object.campaigns_result_field_for(@campaign) do |builder| %>
            <li class="boolean">
              <%= builder.check_box :is_dynamic_value %>
              <%= builder.label :is_dynamic_value, t("shared.results.form.result_fields.is_dynamic_value") %>
            </li>
            <li class="string<%= ' error' if builder.object.errors[:dynamic_euro_value].present?%>">
              <%= builder.label :dynamic_euro_value, t("shared.results.form.result_fields.dynamic_euro_value") %>
              <%= builder.text_field :dynamic_euro_value %>&nbsp;&euro;
              <%= custom_error_for_field(builder, :dynamic_euro_value) %>
            </li>
            <li class="hidden">
              <%= builder.hidden_field :campaign_id %>
            </li>
            <% end %>
             </span>
        <% end %>
        <li class="commit">
          <%= bt_link_to :remove, t("shared.lead_templates.form.remove_lead_template_field"), "javascript:void(0)", :onclick => "remove_result_field('#{div_result_field_html_id}', #{f.object.new_record? ? 'null' : f.object.id})" %>
        </li>
      </ol>
    </fieldset>
  </div>
</div>
