<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("supplier_home.show.view.header") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <% if current_user.team_buyers? %>
          <li><%= bt_link_to :users, t("supplier_home.show.view.add_team_member"), new_suppliers_subaccount_path(:role => "lead_user") %></li>
        <% end %>
        <li class="last"><%= bt_link_to :key, t("supplier_home.show.view.sign_out"), '/logout' %></li>
      </ul>
    <% end %>
  <% end %>

  <div class="pdd_5 no_pdd_b">
    <p><%= blurb("blurb_supplier_home#{'_logged_in' if user_signed_in?}") %></p>
  </div>

  <div class="hl" style="padding: 15px 0"></div>

  <div id="leads_summary">
    <div class="column_1to3 fltl" id="news">
      <%= frm(:title => "#{t('supplier_home.show.view.header_news')}") do %>
        <% section.block_header do %>
          <%= bt_link_to nil, t("supplier_home.show.view.complete_list_link"), news_index_path(:search => {:with_subclass => 'Supplier'}), :class => "fltr" %>
        <% end %>
        <% section.block_content do %>
          <ul class="solid_list">
            <% if @news.any? %>
                <%= render :partial => 'news', :collection => @news, :as => :news %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="column_1to3 fltl" style="padding: 0 15px" id="my_leads">
      <%= frm(:title => "#{t('supplier_home.show.view.header_my_leads')}") do %>
        <% section.block_header do %>
          <%= bt_link_to nil, t("supplier_home.show.view.complete_list_link"), current_user.has_role?(:supplier) ? suppliers_lead_purchases_path : lead_users_lead_purchases_path, :class => "fltr" %>
        <% end %>
        <% section.block_content do %>
          <ul class="solid_list">
            <% if @my_leads.any? %>
                <%= render :partial => 'my_lead', :collection => @my_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="column_1to3 fltl" id="latest_leads">
      <%= frm(:title => "#{t('supplier_home.show.view.header_latest_leads_in_my_categories')}") do %>
        <% section.block_header do %>
          <% if current_user and current_user.has_role?(:supplier) and current_user.categories.blank? %>
              <%= bt_link_to nil, t("supplier_home.show.view.configure_interests_link"), edit_suppliers_interests_path, :class => "fltr" %>
          <% else %>
              <%= bt_link_to nil, t("supplier_home.show.view.complete_list_link"), leads_path(:search => {:latest => true}), :class => "fltr" %>
          <% end %>
        <% end %>
        <% section.block_content do %>
          <ul class="solid_list">
            <% if @latest_leads.any? %>
                <%= render :partial => 'lead', :collection => @latest_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="clb"></div>
  </div>
<% end %>

<%= content_for :js do -%>
  <script type="text/javascript">

      jQuery(document).ready(function() {
          jQuery(".solid_list li").bind("click", function() {
              window.location = $(this).find('a.read_more').attr("href");
          });
      });

  </script>
<% end %>
