<div id="comment_<%= comment.id %>" class="comment_container" style="margin-left:<%= 20*level %>px">
  <p class="comment_title"><%= comment.is_blocked? ? t("comments.threads.show.view.comment_blocked") : comment.title %></p>
  <p class="comment_info">
    <%= current_user.has_role?(:admin) ? link_to(comment.user.screen_name, edit_administration_user_path(comment.user)) : comment.user.screen_name %> at <%= format_date(comment.created_at, true) %>
    <% if comment.read_by_anyone?(current_user) %>
        <%= link_to_function(t("comments.threads.show.view.read_by_number_of_users", :count => comment.readers_count(current_user)), "javascript:void(0)", {:id => "lead_comment_readers_#{comment.commentable_id}", :class => "inputs_hint"}) %>

    <% end %>
    <% unless comment.is_blocked? %>
    <% if current_user.can_reply_to_comment?(comment) %>
        (<%= link_to_function t("comments.threads.show.view.reply"), "reply_to(#{thread.id},#{comment.id},#{comment.commentable_id},'#{comment.title}')" %>)
    <% end %>
    <% if current_user.has_role?(:admin) or (current_user.has_role?(:call_centre) and comment.user.parent.present? and comment.user.parent.with_role == current_user) %>
        <%= link_to_function t("comments.threads.show.view.edit"), "edit_comment(#{comment.id})" %>
    <% end %>
    <% end %>
    <% if current_user.has_role?(:admin) %>
        <%= link_to_function t("comments.threads.show.view.hide_thread"), "show_hide_thread(#{comment.id})" if comment.root == comment and comment.has_children? %>
        <%= link_to_function t("comments.threads.show.view.destroy"), "destroy_comment(#{comment.id})" %>
    <% end %>
    <% if current_user.has_role?(:admin) or (current_user.has_role?(:call_centre) and current_user.subaccounts.include?(comment.user)) %>
        <% if comment.can_user_be_blocked? %>
            <span id="block_user_link_<%= comment.id %>">
              <%= link_to_function comment.user_blocked_from_conversation? ? t("comments.threads.show.view.unblock_user") : t("comments.threads.show.view.block_user"), "block_user(#{comment.id}, #{comment.user_blocked_from_conversation? ? 1 : 0})" %>
            </span>
        <% end %>
        <%= link_to_function comment.is_blocked? ? t("comments.threads.show.view.unblock") : t("comments.threads.show.view.block"), "block_comment(#{comment.id}, #{comment.is_blocked? ? 0 : 1})" %>
    <% end %>
    <%= content_tag(:div, comment.all_readers(current_user).map(&:screen_name).join(', ').html_safe, :id => "lead_comment_readers_#{comment.commentable_id}", :class => "hidden") %>
  </p>

  <% unless comment.is_blocked? %>
    <p><span id="body"><%= comment.body %></span></p>
  <% end %>


</div>
