<li id="comment_<%= comment.id %>" style="margin-left:<%= 20*level %>px">
  <%= comment.title %> by <%= comment.user.screen_name %> at <%= format_date(comment.created_at, true) %>
  (<%= link_to_function t("comments.threads.show.view.reply"), "reply_to(#{thread.id},#{comment.id},#{comment.commentable_id},'#{comment.title}')" %>)
  <% if current_user.has_role?(:admin) %>
      <%= link_to t("comments.threads.show.view.edit"), edit_comments_thread_path(comment) %>
      <%= link_to t("comments.threads.show.view.destroy"), comments_thread_path(comment), :method => :delete, :confirm => t("comments.threads.show.view.destroy_message") %>
  <% end %>
  <p><%= comment.body %></p>
</li>