<% if current_user.has_role?(:admin) %>
    <div id="truncated_thread_<%= thread.id %>" style="display: none;">
      <div class="comment_container">
        <p class="comment_title"><%= thread.is_blocked? ? t("comments.threads.show.view.comment_blocked") : thread.title %></p>
        <p class="comment_info">
          <%= link_to_function t("comments.threads.show.view.show_thread"), "show_hide_thread(#{thread.id})" %>
        </p>
      </div>

    </div>
<% end %>
<div id="thread_<%= thread.id %>">
  <% Comment.each_with_level(thread.self_and_descendants) do |comment, level| %>
      <% if comment.can_be_shown_for?(current_user) %>
      <%= render :partial => 'comments/shared/comment', :locals => {:comment => comment, :thread => thread, :level => level} %>
      <% end %>
  <% end %>
</div>