  <ul>
  <% Comment.each_with_level(thread.self_and_descendants) do |o,level| %>
    <li style="margin-left:<%= 20*level %>px">
      <%= o.title %> by <%= o.user.screen_name %> at <%= format_date(o.created_at, true) %> (<%= link_to_function "reply", "reply_to(#{thread.id},#{o.id},#{o.commentable_id})" %>)
      <p><%= o.body %></p>
    </li>
  <% end %>
  </ul>

   <%= semantic_form_for :comment, Comment.new, :url => comments_threads_path, :html => {:id => "reply_#{thread.id}", :style => "display:none;"} do |f| %>
      <%= f.input :parent_id, :as => :hidden, :value => "" %>
      <%= f.input :commentable_id, :as => :hidden, :value => "" %>
      <%= f.input :commentable_type, :as => :hidden, :value => "Lead" %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.commit_button %>
   <% end %>

<script>
  function reply_to(thread_id,comment_id,commentable_id) {
    $("#reply_"+thread_id+" input#comment_parent_id").attr("value",comment_id);
    $("#reply_"+thread_id+" input#comment_commentable_id").attr("value",commentable_id);
    $("#reply_"+thread_id).show();
  }
</script>