  <ul>
  <% Comment.each_with_level(thread.self_and_descendants) do |o,level| %>
    <li style="margin-left:<%= 20*level %>px">
      <%= o.title %> by <%= o.user.screen_name %> at <%= format_date(o.created_at, true) %>
      (<%= link_to_function t("comments.threads.show.view.reply"), "reply_to(#{thread.id},#{o.id},#{o.commentable_id},'#{o.title}')" %>)
      <% if true or current_user.has_role?(:admin) %>
          <%= link_to t("comments.threads.show.view.edit"), edit_comments_thread_path(o) %>
      <% end %>
      <p><%= o.body %></p>
    </li>
  <% end %>
  </ul>

   <%= semantic_form_for :comment, Comment.new, :url => comments_threads_path, :html => {:id => "reply_#{thread.id}", :style => "display:none;"} do |f| %>
      <frm>
        <param:header>
        </param:header>
        <param:content>
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_240">
                <ol class="align_inputs">
                  <%= f.input :parent_id, :as => :hidden, :value => "" %>
                  <%= f.input :commentable_id, :as => :hidden, :value => "" %>
                  <%= f.input :commentable_type, :as => :hidden, :value => "Lead" %>
                  <%= f.input :title %>
                  <%= f.input :body %>
                </ol>
              </fieldset>
            </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="plus">
             <%= button_to_function t("comments.threads.show.view.create_comment_button"), "validate_form('#reply_#{thread.id}')"  %>
          </ibt>
        </param:actions>
      </frm>
   <% end %>



<script>
  function reply_to(thread_id,comment_id,commentable_id,comment_title) {
    $("#reply_"+thread_id+" input#comment_title").attr("value", 'Re: '+comment_title);
    $("#reply_"+thread_id+" input#comment_parent_id").attr("value",comment_id);
    $("#reply_"+thread_id+" input#comment_commentable_id").attr("value",commentable_id);
    $("#reply_"+thread_id).toggle();
  }

  function validate_form(form_id){
      if(jQuery.trim($(form_id + " input[id='comment_title']").val()) == "" || jQuery.trim($(form_id + " textarea[id='comment_body']").val()) == "")
      {
          $(form_id + " li[id='comment_title_input'] p").remove();
          if(jQuery.trim($(form_id + " input[id='comment_title']").val()) == "")
          {
              $(form_id + " li[id='comment_title_input']").addClass("error");
              $(form_id + " li[id='comment_title_input']").append("<p class='inline-errors'>can't be blank</p>")
          }
          else
          {
              $(form_id + " li[id='comment_title_input']").removeClass("error");
          }

          $(form_id + " li[id='comment_body_input'] p").remove();
          if(jQuery.trim($(form_id + " textarea[id='comment_body']").val()) == "")
          {
              $(form_id + " li[id='comment_body_input']").addClass("error");
              $(form_id + " li[id='comment_body_input']").append("<p class='inline-errors'>can't be blank</p>")
          }
          else
          {
              $(form_id + " li[id='comment_body_input']").removeClass("error");
          }
      }
      else
      {
          $(form_id).submit();
      }
  }
</script>