<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <%= form.input :first_name, :hint => hint_for(@call_centre_agent, :first_name) %>
        <%= form.input :last_name, :hint => hint_for(@call_centre_agent, :last_name) %>
        <%= form.fields_for :address do |address_form| %>
            <%= address_form.input :address_line_1, :required => true, :hint => hint_for(@call_centre_agent, :address_address_line_1) %>
            <%= address_form.input :address_line_2, :hint => hint_for(@call_centre_agent, :address_address_line_2) %>
            <%= address_form.input :address_line_3, :required => true, :hint => hint_for(@call_centre_agent, :address_address_line_3) %>
            <%= address_form.input :zip_code, :required => true, :hint => hint_for(@call_centre_agent, :address_zip_code) %>
            <%= address_form.input :country_id, :required => true, :as => :select, :hint => hint_for(@call_centre_agent, :address_country_id), :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_call_centre_agent_address_attributes');"} %>
            <%= address_form.input :region_id, :as => :select, :hint => hint_for(@call_centre_agent, :address_region_id), :collection => regions_collection_for(@call_centre_agent.address.country) %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :phone, :hint => hint_for(@call_centre_agent, :phone) %>
        <%= form.input :mobile_phone, :hint => hint_for(@call_centre_agent, :mobile_phone) %>
        <%= form.input :email, :hint => hint_for(@call_centre_agent, :email) %>
        <%= form.input :department, :hint => hint_for(@call_centre_agent, :department) %>
        <% if @call_centre_agent.new_record? %>
            <%= form.input :skip_email_verification, :as => :boolean %>
        <% end %>
        <%= form.input :agreement_read, :as => :hidden, :value => "1" %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="clb"></div>