<column-mc:>
  <header>
    <param:content>
      <%= t('call_centre.call_centre_agents.index.view.title') %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li>
          <%= bt_link_to :plus, t("call_centre.call_centre_agents.index.view.new_agent"), new_call_centres_call_centre_agent_path %>
        </li>
      </ul>
    </param:actions>
  </header>

  <%= t("call_centre.call_centre_agents.index.view.per_page_selection") %>
  <% [10, 25, 50, 0].each do |per_page| %>
      <%= link_to per_page == 0 ? t("call_centre.call_centre_agents.index.view.none_per_page") : per_page.to_s, call_centres_call_centre_agents_path(:per_page => per_page) %>
  <% end %>

  <%= bulk_form do %>
      <table id="call_centre_agents_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th class="no_pdd_lr" style="width:10px"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.first_name_column"), order_for_scoped_search(:first_name) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.last_name_column"), order_for_scoped_search(:last_name) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.created_leads_column"), order_for_scoped_search(:leads_created_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.volume_sold_column"), order_for_scoped_search(:leads_volume_sold_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.mobile_phone_column"), order_for_scoped_search(:mobile_phone) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.revenue_column"), order_for_scoped_search(:leads_revenue_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.purchased_month_ago_column"), order_for_scoped_search(:leads_purchased_month_ago_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.purchased_year_ago_column"), order_for_scoped_search(:leads_purchased_year_ago_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.good_leads_column"), order_for_scoped_search(:leads_rated_good_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.bad_leads_column"), order_for_scoped_search(:leads_rated_bad_counter) %></th>
          <th><%= t("call_centre.call_centre_agents.index.view.fake_leads_column") %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.not_rated_leads_column"), order_for_scoped_search(:leads_not_rated_counter) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.rating_percent_column"), order_for_scoped_search(:leads_rating_avg) %></th>
          <th><%= link_to t("call_centre.call_centre_agents.index.view.certification_lvl_column"), order_for_scoped_search(:certification_level) %></th>
          <th class="ta_r"><%= t("call_centre.call_centre_agents.index.view.actions_column") %></th>
          <th class="hr"></th>
        </tr>
        </thead>

        <tbody>
        <% @call_centre_agents.each do |call_centre_agent| %>
            <tr>
              <td class="cl"></td>
              <td class="no_pdd_lr"><%= check_box_tag "call_centre_agent_ids[]", call_centre_agent.id %></td>
              <td><%= call_centre_agent.first_name %></td>
              <td><%= call_centre_agent.last_name %></td>
              <td><%= call_centre_agent.leads_created_counter %></td>
              <td><%= call_centre_agent.leads_volume_sold_counter %></td>
              <td><%= call_centre_agent.mobile_phone %></td>
              <td><%= call_centre_agent.leads_revenue_counter %></td>
              <td><%= call_centre_agent.leads_purchased_month_ago_counter %></td>
              <td><%= call_centre_agent.leads_purchased_year_ago_counter %></td>
              <td><%= call_centre_agent.leads_rated_good_counter %></td>
              <td><%= call_centre_agent.leads_rated_bad_counter %></td>
              <td></td>
              <td><%= call_centre_agent.leads_not_rated_counter %></td>
              <td><%= call_centre_agent.leads_rating_avg %>%</td>
              <td><%= t("models.lead.certification.lvl#{call_centre_agent.certification_level}") %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li><%= link_to call_centre_agent.locked_at.blank? ? t("call_centre.call_centre_agents.index.view.lock") : t("call_centre.call_centre_agents.index.view.unlock"), call_centres_call_centre_agent_path(call_centre_agent, {"user_call_centre_agent".to_sym  => {:locked =>  call_centre_agent.locked_at.blank? ? "lock" : "unlock"}}), {:method => :put} %></li>
                  <li><%= link_to t("call_centre.call_centre_agents.index.view.edit"), edit_call_centres_call_centre_agent_path(call_centre_agent) %></li>
                  <li><%= link_to t("call_centre.call_centre_agents.index.view.delete"), call_centres_call_centre_agent_path(call_centre_agent), {:method => :delete, :confirm => t("call_centre.call_centre_agents.index.view.delete_confirmation_message")} %></li>
                  <li><%= link_to t("call_centre.call_centre_agents.index.view.view_leads"), call_centres_leads_path(:search => { :with_created_by => call_centre_agent.id }) %></li>
                </ul-actions>
              </td>
              <td class="cr"></td>
        <% end %>
        <tr class="pagination">
          <td colspan="18">
            <div class="td_select_all">
              <%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
              <%= label_tag "mark_all", "select all" %>
            </div>
          </td>
        </tr>
        <tr class="main_actions">
          <td class="cl"></td>
          <td colspan="16">
            <%= hidden_field_tag :route_to %>
            <%= select_tag :locked, options_for_select([[t("call_centre.call_centre_agents.index.view.lock"), "locked"], [t("call_centre.call_centre_agents.index.view.unlock"), "unlock"]]) %>
            <%= bt_link_to nil, t("call_centre.call_centre_agents.index.view.button_bulk_subbaccounts_update"), "javascript:void(0)", :onclick => "submitBulkForm('#{call_centres_bulk_call_centre_agents_update_path}#PUT');" %>
          </td>
          <td class="cr"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="16"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
      </table>
  <% end %>
  <%= will_paginate @call_centre_agents unless params[:per_page].to_i == 0 %>
</column-mc:>