<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => call_centres_call_centre_agents_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="boolean">
                <%= f.check_box :without_locked, {}, "true", "false" %>
                <%= f.label :without_locked, t("call_centre.call_centre_agents.index.view.without_locked") %>
              </li>

              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("common.search") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <header>
    <param:content>
      <%= t('call_centre.call_centre_agents.index.view.title') %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :user, t("call_centre.call_centre_agents.index.view.new_agent"), new_call_centres_call_centre_agent_path %>
        </li>
      </ul>
    </param:actions>
  </header>


  <% if @call_centre_agents.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= t("call_centre.call_centre_agents.index.view.per_page_selection") %>
      <% [10, 25, 50, 0].each do |per_page| %>
          <%= link_to per_page == 0 ? t("call_centre.call_centre_agents.index.view.none_per_page") : per_page.to_s, call_centres_call_centre_agents_path(:per_page => per_page) %>
      <% end %>

      <%= bulk_form do %>
          <table id="call_centre_agents_table" class="generic">
            <thead>
            <tr>
              <th class="hl"></th>
              <th class="no_pdd_lr" style="width:10px"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
              <th><%= link_to t("call_centre.call_centre_agents.index.view.first_name_column"), order_for_scoped_search(:first_name) %></th>
              <th><%= link_to t("call_centre.call_centre_agents.index.view.last_name_column"), order_for_scoped_search(:last_name) %></th>
              <th class="ta_r"><%= link_to t("call_centre.call_centre_agents.index.view.mobile_phone_column"), order_for_scoped_search(:mobile_phone) %></th>
              <th class="ta_r"><%= t("call_centre.call_centre_agents.index.view.actions_column") %></th>
              <th class="hr"></th>
            </tr>
            </thead>

            <tbody>
            <% @call_centre_agents.each do |call_centre_agent| %>
                <tr>
                  <td class="cl"></td>
                  <td class="no_pdd_lr"><%= check_box_tag "call_centre_agent_ids[]", call_centre_agent.id %></td>
                  <td><%= call_centre_agent.first_name %></td>
                  <td><%= call_centre_agent.last_name %></td>
                  <td class="ta_r"><%= call_centre_agent.mobile_phone %></td>
                  <td class="tda ta_r">
                    <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                      <li><%= link_to call_centre_agent.locked_at.blank? ? t("call_centre.call_centre_agents.index.view.lock") : t("call_centre.call_centre_agents.index.view.unlock"), call_centres_call_centre_agent_path(call_centre_agent, {"user_call_centre_agent".to_sym  => {:locked =>  call_centre_agent.locked_at.blank? ? "lock" : "unlock"}}), {:method => :put} %></li>
                      <li><%= link_to t("call_centre.call_centre_agents.index.view.edit"), edit_call_centres_call_centre_agent_path(call_centre_agent), :class => "default_action" %></li>
                      <li><%= link_to t("call_centre.call_centre_agents.index.view.delete"), call_centres_call_centre_agent_path(call_centre_agent), {:method => :delete, :confirm => t("call_centre.call_centre_agents.index.view.delete_confirmation_message")} %></li>
                      <li><%= link_to t("call_centre.call_centre_agents.index.view.view_leads"), call_centres_leads_path(:search => {:with_created_by => call_centre_agent.id}) %></li>
                    </ul></div>
                  </td>
                  <td class="cr"></td>
            <% end %>
            <tr class="pagination">
              <td colspan="7" class="ta_c">
                <div class="td_select_all">
                  <%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
                  <%= label_tag "mark_all", "select all" %>
                </div>
                <%= will_paginate @call_centre_agents unless params[:per_page].to_i == 0 %>
              </td>
            </tr>
            <tr class="main_actions">
              <td class="cl"></td>
              <td colspan="5">
                <%= hidden_field_tag :route_to %>
                <%= hidden_field_tag :bulk_action_type %>
                <%= bt_link_to nil, t("call_centre.call_centre_agents.index.view.unlock"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('unlock'); submitBulkForm('#{call_centres_bulk_call_centre_agents_update_path}#PUT');", :id => "unlock_selected" %>
                <%= bt_link_to nil, t("call_centre.call_centre_agents.index.view.lock"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('lock'); submitBulkForm('#{call_centres_bulk_call_centre_agents_update_path}#PUT');", :id => "lock_selected" %>
              </td>
              <td class="cr"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td class="fl"></td>
              <td colspan="5"></td>
              <td class="fr"></td>
            </tr>
            </tfoot>
          </table>
      <% end %>
  <% end %>  
<% end %>