  <div id="modal_for_email_template_edit" style="display:none;">
    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_100">
        <ol>
          <li id="template_editor_subject_input"><%= label_tag t("agent_work_screen.index.email_templates_editor.subject") %><%= text_field_tag :subject %></li>
          <li id="template_editor_bcc_input"><%= label_tag t("agent_work_screen.index.email_templates_editor.bcc") %><%= text_field_tag :bcc %></li>
          <li id="template_editor_cc_input"><%= label_tag t("agent_work_screen.index.email_templates_editor.cc") %><%= text_field_tag :cc %></li>
          <li id="template_editor_body_input"><%= text_area_tag :body, "<p></p>", { :class => "editor", :id => "body_editor" } %></li>
        </ol>
      </fieldset>
    </div>
  </div>