    <% campaign_reports.each do |campaign_report| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="cl"></td>
          <td><%= campaign_report.campaign.name %></td>
          <td><%= number_to_percentage(campaign_report.target_success_percent, :precision => 0) %> (<%= number_to_percentage(campaign_report.realised_success_percent, :precision => 0) %>)</td>
          <td><%= number_with_precision(campaign_report.target_finished_contacts_per_hour, :precision => 2) %> (<%= number_with_precision(campaign_report.realised_finished_contacts_per_hour, :precision => 2) %>)</td>
          <% CampaignReport.final_results(result_ids).each do |result| %>
          <td><%= number_with_precision(campaign_report.target_final_result(result), :precision => 2) %> (<%= number_with_precision(campaign_report.realised_final_result(result), :precision => 2) %>)</td>
          <% end %>
          <td><%= as_currency(campaign_report.target_value_per_hour, Currency.euro, 0) %> (<%= as_currency(campaign_report.realised_value_per_hour, Currency.euro, 0) %>)</td>
          <td><%= campaign_report.total_number_of_contacts %> (<%= campaign_report.completed_number_of_contacts %>) </td>
          <td><%= number_to_percentage(campaign_report.completion_percent, :precision => 0) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= as_currency(campaign_report.value_created, Currency.euro, 0) %></td>
          <td><%= as_currency(campaign_report.leads_sold_total_value, Currency.euro, 0) %> (<%= campaign_report.leads_sold_count %>)</td>
          <td><%= campaign_report.hours_used.as_hours_and_minutes %></td>
          <td><%= campaign_report.campaign.no_cost? ? "-" : as_currency(campaign_report.production_cost, Currency.euro, 0) %></td>
          <td><%= campaign_report.campaign.no_cost? ? "-" : as_currency(campaign_report.target_result, Currency.euro, 0) %></td>
          <td><%= campaign_report.campaign.no_cost? ? "-" : as_currency(campaign_report.realised_result, Currency.euro, 0) %></td>
          <td class="cr"></td>
        </tr>
    <% end %>