<% total_columns = 15 + CampaignReport.final_results(result_ids).count %>
<table id="reports_table" class="generic">
  <thead>
  <tr>
    <th class="hl"></th>
    <th><%= t("campaign_reports.index.table.campaign_name") %></th>
    <th colspan="6" class="ta_c pointer"><%= t("campaign_reports.index.table.campaign_targets") %></th>
    <th colspan="<%= 1 + CampaignReport.final_results(result_ids).count %>" class="ta_c pointer"><%= t("campaign_reports.index.table.status") %></th>
    <th colspan="4" class="ta_c pointer"><%= t("campaign_reports.index.table.campaign_results") %></th>
    <th colspan="3" class="ta_c pointer"><%= t("campaign_reports.index.table.predicted_results") %></th>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= total_columns %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td class="cl"></td>
    <td>&nbsp;</td>
    <td><%= t("campaign_reports.index.table.success_percent") %></td>
    <td><%= t("campaign_reports.index.table.finish_cph") %></td>
    <td><%= t("campaign_reports.index.table.all_results_ph") %></td>
    <td><%= t("campaign_reports.index.table.temp_results_ph") %></td>
    <td><%= t("campaign_reports.index.table.value_ph") %></td>
    <td><%= t("campaign_reports.index.table.cost_ph") %></td>

    <td><%= t("campaign_reports.index.table.contacts_used") %></td>
    <% CampaignReport.final_results(result_ids).each do |result| %>
        <td><%= result.name %></td>
    <% end %>
    <td><%= t("campaign_reports.index.table.value_created") %></td>
    <td><%= t("campaign_reports.index.table.production_cost") %></td>
    <td><%= t("campaign_reports.index.table.db_value") %></td>
    <td><%= t("campaign_reports.index.table.hours_used") %></td>
    <td><%= t("campaign_reports.index.table.hours_to_completion") %></td>
    <td><%= t("campaign_reports.index.table.cost_for_completion") %></td>
    <td><%= t("campaign_reports.index.table.value_for_completion") %></td>
    <td class="cr"></td>
  </tr>

  <% if per_user %>
      <% campaign_users.each do |user| %>
          <tr>
            <td class="cl"></td>
            <td colspan="<%= total_columns %>"><b><%= user.screen_name %></b></td>
            <td class="cr"></td>
          </tr>
          <%= render :partial => "callers/campaign_reports/campaigns", :locals => {:campaign_reports => campaign_reports.select { |cr| cr.user == user }, :result_ids => result_ids} %>
      <% end %>
  <% else %>
      <%= render :partial => "callers/campaign_reports/campaigns", :locals => {:campaign_reports => campaign_reports, :result_ids => result_ids} %>
  <% end %>

  </tbody>

</table>
