<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("campaign_reports.index.search_label") %></h2>

    <div class="search_content">
      <%= form_tag callers_campaign_reports_path, :method => :post, :id => "form_campaign_reports_search" do %>
          <div class="grid_470 fltl">
            <fieldset class="inputs_vertical">
              <ol class="no_pdd">
                <li class="select" style="max-width:260px">
                  <%= label_tag t("campaigns.show.search.campaigns") %>
                  <%= select_tag :campaign_ids, options_from_collection_for_select((@search.campaign_selection == "all" ? @search.all_campaigns : @search.all_campaigns.select { |c| @search.campaign_selection == "active" ? c.active? : !c.active? }).sort_by(&:name), "id", "name", @search.campaign_ids), :include_blank => false, :multiple => true, :style => "height:80px;width:250px;max-width:250px" %>
                </li>
                <li class="select" style="max-width:200px">
                  <%= label_tag t("campaigns.show.search.results") %>
                  <%= select_tag :result_ids, options_from_collection_for_select(@search.all_results.sort_by(&:name), "id", "name", @search.result_ids), :include_blank => false, :multiple => true, :style => "height:80px;width:190px;max-width:190px;" %>
                </li>
                <li class="radio no_pdd_t" style="padding-left: 10px">
                  <%= radio_button_tag :campaign_selection, :all, @search.campaign_selection == "all", {:onclick => "load_campaigns('all');"} %>
                  <%= label_tag t("campaign_reports.index.search.all") %>

                  <%= radio_button_tag :campaign_selection, :active, @search.campaign_selection == "active", {:onclick => "load_campaigns('active');"} %>
                  <%= label_tag t("campaign_reports.index.search.active") %>

                  <%= radio_button_tag :campaign_selection, :inactive, @search.campaign_selection == "inactive", {:onclick => "load_campaigns('inactive');"} %>
                  <%= label_tag t("campaign_reports.index.search.inactive") %>
                </li>
              </ol>
            </fieldset>
          </div>
          <% if current_user.has_role?(:admin) %>
              <div class="grid_310 fltl">
                <fieldset id="agents_selection" class="inputs_vertical">
                  <ol class="no_pdd">
                    <li class="select">
                      <%= label_tag t("campaigns.show.search.call_centres") %>
                      <%= select_tag :call_centre_id, options_from_collection_for_select(@search.all_call_centres.without_locked.sort_by(&:screen_name), "id", "screen_name", @search.call_centre_id), :include_blank => true, :multiple => false, :style => "width:140px;", :onchange => "load_agents_for_call_centre($('#call_centre_id').val())" %>
                    </li>
                    <li class="select">
                      <%= label_tag t("campaigns.show.search.call_centre_agents") %>
                      <%= select_tag :call_centre_agent_ids, options_from_collection_for_select(@search.all_call_centre_agents.sort_by(&:email), "id", "email", @search.call_centre_agent_ids), :include_blank => false, :multiple => true, :style => "height:80px;width:140px;" %>
                    </li>
                  </ol>
                </fieldset>
              </div>
          <% end %>
          <div class="grid_250 fltl">
            <fieldset class="inputs_vertical">
              <ol class="no_pdd">
                <li class="date">
                  <%= label_tag :date_to, t("campaigns.show.search.date_from") %>
                  <%= text_field_tag :date_from, @search.date_from, :class => "datepicker" %>
                </li>
                <li class="date">
                  <%= label_tag :date_to, t("campaigns.show.search.date_to") %>
                  <%= text_field_tag :date_to, @search.date_to, :class => "datepicker" %>
                </li>
              </ol>
            </fieldset>
            <p class="pdd_10">
              <%= t("campaign_reports.index.ranges_label") %>:<br/>
              <%= link_to_function t("campaigns.show.ranges.this_month"), "$('#date_from').val('#{Date.today.beginning_of_month}');$('#date_to').val('#{Date.today.end_of_month}');" %>
              <%= link_to_function t("campaigns.show.ranges.this_week"), "$('#date_from').val('#{Date.today.beginning_of_week}');$('#date_to').val('#{Date.today.end_of_week}');" %>
              <%= link_to_function t("campaigns.show.ranges.today"), "$('#date_from').val('#{Date.today}');$('#date_to').val('#{Date.today}');" %>
            </p>
          </div>

          <div class="grid_250 fltl">
            <fieldset class="">
              <ol class="pdd_10">
                <% unless current_user.has_any_role?(:call_centre_agent, :agent) %>
                    <li class="boolean">
                      <%= label_tag :per_user, t("campaign_reports.index.report_per_users") %>
                      <%= check_box_tag :per_user, "1", @search.per_user %>
                    </li>
                <% end %>
                <li class="boolean">
                  <%= label_tag :dont_show_calls, t("campaign_reports.index.dont_show_calls") %>
                  <%= check_box_tag :dont_show_calls, "1", @search.dont_show_calls %>
                </li>
                <li class="boolean">
                  <%= label_tag :with_results, t("campaign_reports.index.with_results") %>
                  <%= check_box_tag :with_results, "1", @search.with_results %>
                </li>
                <li class="boolean">
                  <%= label_tag :dont_show_results, t("campaign_reports.index.dont_show_results") %>
                  <%= check_box_tag :dont_show_results, "1", @search.dont_show_results %>
                </li>
                <li class="hidden">
                  <%= hidden_field_tag :views_count, @search.views_count+1 %>
                </li>
                <li class="boolean">
                  <%= label_tag :show_targets, t("campaign_reports.index.show_targets") %>
                  <%= check_box_tag :show_targets, "1", @search.show_targets %>
                </li>
                <li class="select">
                  <%=  label_tag :currency_id, t("campaign_reports.index.currency") %>
                  <%= select_tag :currency_id, options_for_select(Currency.active.map{|c| [c.name.to_s, c.id]}.sort, @search.currency_id) %>
                </li>
                <li class="commit pdd_10 no_pdd_l">
                  <ibt c="bt_green" icon="magnify">
                    <%= submit_tag t("campaign_reports.index.search_button") %>
                  </ibt>
                </li>
              </ol>
            </fieldset>
          </div>
          <div class="clb"></div>
      <% end %>
    </div>
  </div>
</search-box:>