<%= content_for :head do -%>
  <style type="text/css">
    .c
    {
        width: 1300px;
    }
  </style>
<% end %>

<%= render :partial => 'search' %>

<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("campaign_reports.index.header") %>
    <% end %>
    <% section.block_actions do %>
      <% if @search.campaign_reports.any? %>
        <ul class="header_actions">
          <li class="last">
            <%= bt_link_to nil, t("campaign_reports.index.download_pdf"), callers_campaign_reports_path(:report => report_cache, :format => 'pdf') %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% if @search.campaign_reports.empty? %>
      <%= blank_state_message t("campaign_reports.index.empty_report_msg") %>
  <% else %>
      <div class="reports_table_wrapper">
        <%= render(:text => "").html_safe %>
      </div>
  <% end %>

  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("campaign_reports.index.cached_reports") %>
    <% end %>
  <% end %>
  <%= render :partial => 'shared/cached_campaign_reports/list', :locals => {:cached_campaign_reports => @search.cached_campaign_reports.first(5)} %>
<% end %>

<%= render :partial => 'js' %>
