<%= content_for :head do -%>
  <style type="text/css">
    .c
    {
        width: 1300px;
    }
  </style>
<% end %>

<%= render :partial => 'search' %>

<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("campaign_reports.index.header") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to nil, t("campaign_reports.index.download_pdf"), callers_campaign_report_path(params[:id], :format => 'pdf') %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <div class="reports_table_wrapper">
    <%= render(:text => @html).html_safe %>
  </div>
<% end %>

<%= render :partial => 'js' %>
