<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => callers_chain_mail_types_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("common.search_box.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="boolean">
                <%= f.label :with_archived, t("common.search_box.archived_label") %>
                <%= f.check_box :with_archived %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("common.search_box.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header>
    <param:content>
      <% if @campaign %>
        <%= t("chain_mail_types.index.campaign_header", :name => @campaign.name) %>
      <% else %>
        <%= t("chain_mail_types.index.header") %>
      <% end %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <% if params[:campaign_id] %>
            <%= form_tag new_callers_campaign_chain_mail_type_path(params[:campaign_id]), :method => :get, :id => "form_new_chain_mail_type" do %>
              <span style="position:absolute;top: 1px; right: 310px;">
                <%= select_tag :result_id, options_for_select(@campaign.results.map { |r| [r.name.to_s, r.id] }.sort) %>
                <%= hidden_field_tag :type, "campaign" %>
              </span>
                <li>
                  <div class="hidden">
                    <%= submit_tag "New" %>
                  </div>
                  <%= bt_link_to :plus, t("chain_mail_types.index.new"), "javascript:void", :onclick => "$('#form_new_chain_mail_type').submit()" %>
                </li>
                <li class="last"><%= bt_link_to :undo, t("chain_mail_types.index.back_to_campaign"), edit_callers_campaign_path(params[:campaign_id]) %></li>
            <% end %>
        <% else %>
            <%= form_tag new_callers_chain_mail_type_path, :method => :get, :id => "form_new_chain_mail_type" do %>
                <%= hidden_field_tag :type, "survey" %>
                <li class="last">
                  <div class="hidden">
                    <%= submit_tag "New" %>
                  </div>
                  <%= bt_link_to :plus, t("chain_mail_types.index.new_survey_chain_mail"), "javascript:void", :onclick => "$('#form_new_chain_mail_type').submit()" %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </param:actions>
  </header>

  <% if @chain_mail_types.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= generic_table @chain_mail_types, :table_class => "chain_mail_types", :default_action => :edit, :cols => (@campaign ? 3 : 4), :link_scope => (@campaign ? [:callers, @campaign] : [:callers]),
                        :link_to_show => false, :link_to_delete => false, :link_to_edit => @campaign ? [:edit_callers_campaign_chain_mail_type_path, @campaign] : [:edit_callers_chain_mail_type_path],
                        :custom_links => [:label => t("chain_mail_types.table.duplicate"), :link => @campaign ? [:duplicate_callers_campaign_chain_mail_type_path, @campaign] : [:duplicate_callers_chain_mail_type_path], :method => :post] do |blocks| %>

          <% blocks.headers do %>
            <th><%= t("chain_mail_types.table.name") %></th>
            <% unless @campaign %>
                <th><%= t("chain_mail_types.table.campaign") %></th>
            <% end %>
            <th><%= t("chain_mail_types.table.active") %></th>
            <th><%= t("chain_mail_types.table.archived") %></th>
          <% end %>
              
          <% blocks.cells do |chain_mail_type| %>
              <td><%= chain_mail_type.name %></td>
              <% unless @campaign %>
                  <td><%= chain_mail_type.campaign_name %></td>
              <% end %>
              <td><%= chain_mail_type.active? ? t("common.yes_label") : t("common.no_label") %></td>
              <td><%= chain_mail_type.archived? ? t("common.yes_label") : t("common.no_label") %></td>
          <% end %>

      <% end %>
  <% end %>

</column-mc:>
