
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <%= form.input :name %>
        <%= form.input :locale %>
        <%= form.input :detailed_locale %>
        <%= form.fields_for :email_template_signature, @country.email_template_signature do |builder| %>
           <li><%= builder.text_area :body %></li>
        <% end %>
      </ol>
    </fieldset>

  </div>

<clb/>

<%= form.fields_for :regions, @country.regions do |builder| %>
    <%= render :partial => "region_fields", :locals => {:f => builder} %>
<% end %>

<div class="nested_region_fields_container"></div>

<hl/>
<div class="pdd_20" style="padding-top:10px">
  <%= bt_link_to :plus, t("administration.countries.form.new_region"), "javascript:void(0)", :onclick => "#{fields_for_region_fields(form)}" %>
</div>

<script>
  setup_ckeditor_for_field("country_email_template_signature_attributes_body");

    var nestedFormsCount = <%= @country.regions.size %>;

    function add_region(link, content) {
        var new_id = new Date().getTime();
        content = content.replace(/country_regions_attributes_\d+/g, "country_regions_attributes_" + nestedFormsCount.toString());
        content = content.replace(/country\[regions_attributes\]\[\d+\]/g, "country[regions_attributes][" + new_id.toString() + "]");
        $('.nested_region_fields_container:last').append(content);
        nestedFormsCount = nestedFormsCount + 1;
    }

    function remove_region(id, record_id) {
        nestedFormsCount = nestedFormsCount - 1;

        if (record_id == null) {
            $('#region_field_form_' + id).remove();
        }
        else {
            $('#region_field_form_' + id).hide();
            $('#destroy_hidden_field_' + record_id.toString()).val('true')
        }

    }
</script>