<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <%= form.input :name %>
        <%= form.input :locale %>
        <%= form.input :detailed_locale %>
        <%= form.input :email_template_signature, :as => :text, :input_html => {:style => "width:230px;height:60px"} %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <% if @country.logo%>
            <ol>
              <li class="string">
                <label><%= t("administration.countries.form.logo_label") %></label>

                <div class="txt assets_elements">
                  <ul>
                    <li>
                      <% if @country.logo.id %>
                        <%= image_tag @country.logo.url %>
                      <% else %>
                          <%= custom_error_for_object(@country.logo) %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
            </ol>
        <% end %>
        <%= form.semantic_fields_for :logo, @country.logo || @country.build_logo do |logo_form| %>
            <ol>
            <%= logo_form.input :asset, :as => :file, :label => t("administration.countries.form.upload_logo_label") %>
            </ol>
      <% end %>
      </ol>
    </fieldset>
  </div>
</div>
<clb/>

<%= form.fields_for :regions, @country.regions do |builder| %>
    <%= render :partial => "region_fields", :locals => {:f => builder} %>
<% end %>

<div class="nested_region_fields_container"></div>

<hl/>
<div class="pdd_20" style="padding-top:10px">
  <%= bt_link_to :plus, t("administration.countries.form.new_region"), "javascript:void(0)", :onclick => "#{fields_for_region_fields(form)}" %>
</div>

<script>
    var nestedFormsCount = <%= @country.regions.size %>;

    function add_region(link, content) {
        var new_id = new Date().getTime();
        content = content.replace(/country_regions_attributes_\d+/g, "country_regions_attributes_" + nestedFormsCount.toString());
        content = content.replace(/country\[regions_attributes\]\[\d+\]/g, "country[regions_attributes][" + new_id.toString() + "]");
        $('.nested_region_fields_container:last').append(content);
        nestedFormsCount = nestedFormsCount + 1;
    }

    function remove_region(id, record_id) {
        nestedFormsCount = nestedFormsCount - 1;

        if (record_id == null) {
            $('#region_field_form_' + id).remove();
        }
        else {
            $('#region_field_form_' + id).hide();
            $('#destroy_hidden_field_' + record_id.toString()).val('true')
        }

    }
</script>