<% div_region_html_id = f.object.new_record? ? "country_regions_attributes_#{defined?(counter) ? counter.to_i : 0}" : f.object.id %>
<div id="region_field_form_<%= div_region_html_id %>">
  <div class="hl"></div>
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs_vertical">
      <ol>
        <li class="string required <%= 'error' if f.object.errors[:name].present?%>">
          <label><%= t("administration.countries.form.region_name") %><abbr title="required">*</abbr></label>
          <%= f.text_field :name %>
          <%= custom_error_for_field(f, :name) %>
        </li>
        <li class="hidden">
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
        <li class="commit">
          <%= bt_link_to :remove, t("administration.countries.form.delete_region"), "javascript:void(0)", :onclick => "remove_region('#{div_region_html_id}', #{f.object.new_record? ? 'null' : f.object.id})" %>
        </li>
      </ol>
    </fieldset>
  </div>
</div>