<%= content_for :column_mc do -%>
  <header>
    <param:content>
      <%= t("administration.countries.index.view.title") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("administration.countries.index.view.new_country"), "javascript:void(0)", :onclick => "$('#form_new_country').submit()" %>
        </li>
      </ul>
    </param:actions>
  </header>

  <div class="hidden">
    <%= form_tag new_administration_vat_rate_path, :method => :get, :id => "form_new_country" do %>
        <%= submit_tag t("administration.countries.index.view.new_country") %>
    <% end %>
  </div>

  <% if @countries.blank? %>
      <%= blank_state_message( t("administration.countries.index.view.no_currencies_defined") ) %>
  <% else %>
      <table id="countries_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width:10px"><%= t("administration.countries.index.view.table.id") %></th>
          <th><%= t("administration.countries.index.view.table.name") %></th>
          <th><%= t("administration.countries.index.view.table.locale") %></th>
          <th class="ta_r"><%= t("administration.countries.index.view.table.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="4"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @countries.each do |country| %>
            <tr id="country_<%= country.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td class="ta_c"><%= country.id %></td>
              <td><%= country.name %></td>
              <td><%= "#{country.locale.to_s}#{'-'+country.detailed_locale.upcase if country.detailed_locale.present?}" %></td>
              <td class="tda ta_r" id="country_actions_td_<%= country.name.gsub(" ", "_") %>">
                <ul-actions>
                  <li>
                    <%= link_to t("administration.countries.index.view.edit"), edit_administration_country_path(country), :class => "default_action" %>
                  </li>
                  <% if country.can_be_destroyed? %>
                    <li>
                      <%= link_to t("administration.countries.index.view.delete"), administration_country_path(country), {:method => :delete, :confirm => t("administration.countries.index.view.delete_confirmation_message")} %>
                    </li>
                  <% end %>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>