<%= content_for :search_box do -%>
  <div class="search_box">
    <h2><%= t("supplier.lead_requests.index.view.search.header") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => category_home_page_leads_path(@home_category.cached_slug) do |f| %>
          <%= render :partial => "/shared/leads/search_supplier_form", :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>

  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= leads_listing_header %>
      <%= " #{t("leads.index.header_for")} #{@displayed_category.name}" if @displayed_category %>
    <% end %>
  <% end %>

  <% if @leads.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= form_tag bulk_action_path do %>
          <%= leads_listing @leads, :show_checkboxes => user_signed_in? do |blocks| %>

              <% blocks.tools do |lead| %>
                  <% if user_signed_in? %>
                      <% if current_user.has_role?(:lead_supplier) %>
                          <!-- TODO Should not be here - should be in supplier scope! ... Oh rly? -->
                          <!-- We should change it - ask RB! -->
                          <%= bt_link_to :basket, current_user.big_buyer? ? t("leads.index.buy_lead") : t("leads.index.add_to_cart_link"), suppliers_cart_items_path(:id => lead.id), :method => :post, :class => "default_action" %>
                          <%= hidden_field_tag :confirmation_message, current_user.big_buyer? ? t("leads.index.buy_lead_confirm_msg") : t("leads.index.add_to_cart_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                      <% elsif current_user.has_role?(:lead_user) %>
                          <%= hidden_field_tag :confirmation_message, t("leads.index.request_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                          <%= bt_link_to nil, t("leads.index.request_lead"), lead_users_lead_requests_path(:lead_id => lead.id), :method => :post, :class => "default_action" %>
                      <% end %>
                  <% else %>
                      <div class="pdd_5 no_pdd_r">
                        <%= bt_link_to nil, t("leads.index.add_to_cart_link"), suppliers_cart_items_path(:id => lead.id, :requested_url =>  request.fullpath), :method => :post, :class => "default_action" %>
                        <%= hidden_field_tag :confirmation_message, t("leads.index.add_to_cart_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                      </div>
                  <% end %>
                  <% if lead.buyout_possible_for?(current_user) %>
                      <div class="pdd_5 no_pdd_r">
                        <%= bt_link_to :price, t("leads.index.add_to_cart_buyout_link"), suppliers_cart_items_path(:id => lead.id, :requested_url =>  request.fullpath, :buyout => true), :method => :post %>
                        <%= hidden_field_tag :confirmation_message, t("leads.index.add_to_cart_buyout_lead_confirm_msg"), :class => "default_action_confirmation_msg" %>
                      </div>
                  <% end %>
              <% end %>


              <% if user_signed_in? && (current_user.has_role?(:supplier) || current_user.has_role?(:lead_user)) %>
                  <% blocks.bottom do %>
                      <% if current_user.has_role?(:supplier) or current_user.has_role?(:lead_supplier) %>
                          <%= hidden_field_tag :route_to, "/suppliers/bulk_cart_items" %>
                          <%= ibt do %>
                            <%= submit_tag current_user.big_buyer? ? t("leads.index.button_bulk_buy_leads") : t("leads.index.button_bulk_create_cart_item") %>
                          <% end %>
                      <% elsif current_user.has_role?(:lead_user) %>
                          <%= hidden_field_tag :route_to, "/lead_users/bulk_lead_requests" %>
                          <%= ibt do %>
                            <%= submit_tag t("leads.index.button_bulk_create_lead_request") %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>

          <% end %>
      <% end %>
  <% end %>
<% end %>
