<search-box:>
  <div class="search_box">
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => deals_path do |f| %>
        <fieldset class="inputs_vertical">
          <ol class="no_pdd">
            <li class="string">
              <%= f.label :with_keyword, t("deals.index.search.keyword_label") %>
              <%= f.text_field :with_keyword %>
            </li>
          </ol>
          <ol>
            <li class="commit">
              <ibt c="bt_green" icon="magnify">
                <%= submit_tag t("deals.index.search.search_button") %>
              </ibt>
              <p>
                <%= bt_clear_filter_safe %>
                <%= link_to_function t("common.advanced_search"), "$('#advanced_search_1_div').toggle();$('#advanced_search_2_div').slideToggle();" %>
              </p>
            </li>
          </ol>
        </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header back="true">

    <param:content>
      <%= " #{t("deals.index.view.header_for")} #{@category.name}" if @category %>
    </param:content>

    <param:actions>
    </param:actions>

  </header>

  <% if @deals.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= form_tag bulk_action_path do %>
          <%= deals_listing @deals, :show_checkboxes => false do |blocks| %>

              <% blocks.tools do |lead| %>

              <% end %>

          <% end %>
      <% end %>
  <% end %>
</column-mc:>
