<head:>
  <% if Rails.env != "test" %>
      <meta property="og:title" content="<%= @deal.header %>"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="<%= deal_url(:id => @deal.slug) %>"/>
      <meta property="og:image" content="<%= path_to_image("logo_fairleads_with_border.jpg") %>"/>
      <meta property="og:site_name" content="Fairleads"/>
      <meta property="og:description" content="<%= @deal.social_media_description if @deal.group_deal? %>">
      <meta property="fb:app_id" content="198584516868482"/>
  <% end %>
  <%= javascript_include_tag "jquery.lwtCountdown-1.0" %>
  <%= stylesheet_link_tag "countdown" %>
  <%= javascript_include_tag "global_template_editor" %>
  <%= javascript_include_tag "global_field_validator" %>
</head:>

<column-mc:>

  <% requested_by_current_user = (user_signed_in? and current_user.has_role?(:member) and @deal.requested_by?(current_user)) %>

  <div class="deal_show">
    <div class="deal_show_header">
      <h1><%= @deal.header %></h1>
      <%= ratings_for(@deal, :force_static => !current_user_has_role?(:member)) %>
    </div>
    <div class="column_left">

      <% if requested_by_current_user %>
        <div class="deal_text_intro">
        <% if @deal.deal_confirmation_page %>
            <h2><%= t("deals.show.view.confirmation_page_label") %></h2>
            <p><%= @deal.deal_confirmation_page.to_s.html_safe %></p>
        <% end %>
        <% if @deal.deal_code.present? %>
            <p><b><%= t("deals.show.view.deal_code_label") %></b>: <%= @deal.deal_code_is_url? ? link_to(@deal.deal_code, @deal.deal_code_as_url) : @deal.deal_code %></p>
        <% end %>
        </div>
      <% end %>

      <div class="deal_intro">
        <div class="deal_images">
          <% @deal.images.each do |img| %>
            <%= image_tag(img.url, :size => "430x300", :style => "display:none") %>
          <% end %>
        </div>

        <% if @deal.general_discount? %>
            <div class="deal_ft_discount" style="text-transform:uppercase;">
              <p class="row"><%= t("deals.index.view.save") %> <%= @deal.saving %></p>
            </div>
        <% else %>
            <div class="deal_ft_prices">
              <p class="row"><%= t("deals.index.view.price") %>: <%= as_currency(@deal.deal_price, @deal.currency) %></p>
              <p class="row"><%= t("deals.index.view.save") %>: <%= as_currency(@deal.discounted_price, @deal.currency) %></p>
              <p class="cell" style="text-transform:uppercase;"><%= t("deals.index.view.save") %>:<br/><%= @deal.saving %></p>
            </div>
        <% end %>
      </div>
      
      <h4><%= t("deals.show.view.detailed_description_label") %></h4>
      <p><%= @deal.hidden_description.to_s.html_safe %></p>

      <% if requested_by_current_user %>
        <h4><%= t("deals.show.view.fine_print_label") %></h4>
        <p><%= @deal.fine_print.to_s.html_safe %></p>
      <% end %>

      <% unless @deal.materials.blank? %>
          <h4><%= t("deals.show.view.materials_label") %></h4>

          <p>
            <% @deal.materials.each do |material| %>
                <%= link_to material.filename, material.url %><br/>
            <% end %>
          </p>
      <% end %>
      
      <% if requested_by_current_user and @deal.voucher_numbers.where(:user_id => current_user.id).first and @lead = @deal.leads.where(:requested_by => current_user.id).first %>
          <h4><%= t("member.leads.edit.view.voucher_label") %></h4>
          <p><%= link_to t("member.leads.edit.view.voucher_link"), pdf_members_lead_path(@lead) %></p>

          <% unless @deal.voucher_how_to_redeem.blank? %>
            <h4><%= t("member.leads.edit.view.voucher_how_to_redeem_label") %></h4>
            <p><%= @deal.voucher_how_to_redeem.to_s.html_safe %></p>
          <% end %>
      <% end %>

    </div>

    <div class="column_right">
      <div class="<%= "row_fixed" unless requested_by_current_user %>">
        <div class="<%= "row_bottom" unless requested_by_current_user %>">
          <%= image_tag @deal.logo.url(:featured) if @deal.logo %>

          <div class="company_info">
            <p><%= @deal.company_description.to_s.html_safe %></p>
          </div>
        </div>
      </div>

      <% if @deal.group_deal? %>
          <div class="time_left_counter">
            <h4><%= t("deals.show.view.time_left_label") %></h4>

            <div id="countdown" class="countdown">
              <div class="dash days_dash">
                <span class="dash_title"><%= t("deals.show.view.days") %></span>

                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>
              <div class="dash hours_dash">
                <span class="dash_title"><%= t("deals.show.view.hours") %></span>

                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>
              <div class="dash minutes_dash">
                <span class="dash_title"><%= t("deals.show.view.minutes") %></span>

                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>
              <div class="dash seconds_dash">
                <span class="dash_title"><%= t("deals.show.view.seconds") %></span>

                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>
            </div>
          </div>
      <% end %>

      <% if requested_by_current_user %>
          <div class="contact_info">
            <h4><%= t("deals.show.view.contact_information") %></h4>
            <ol>
              <li>
                <em><%= t("deals.show.view.contact_name_label") %></em>
                <%= @deal.contact_name %>
              </li>
              <li>
                <em><%= t("deals.show.view.email_address_label") %></em>
                <%= @deal.email_address %>
              </li>
              <li>
                <em><%= t("deals.show.view.phone_number_label") %></em>
                <%= @deal.phone_number %>
              </li>
              <li>
                <em><%= t("deals.show.view.address_label") %></em>
                <%= @deal.address_line_1 %>, <%= @deal.address_line_2 %>
              </li>
              <li>
                <em><%= t("deals.show.view.zip_code_label") %></em>
                <%= @deal.zip_code %>
              </li>
              <li>
                <em><%= t("deals.show.view.address_line_3_label") %></em>
                <%= @deal.address_line_3 %>
              </li>
              <li>
                <em><%= t("deals.show.view.country_label") %></em>
                <%= @deal.country %>
              </li>
              <% unless @deal.company_website.blank? %>
                <li>
                  <em><%= t("deals.show.view.company_website_label") %></em>
                  <%= link_to(@deal.company_website_with_protocol, @deal.company_website_with_protocol) %>
                </li>
              <% end %>
            </ol>
          </div>
      <% else %>
        <h4><%= t("deals.show.view.fine_print_label") %></h4>
        <p><%= @deal.fine_print.to_s.html_safe %></p>
      <% end %>
    </div>
    <clb/>

    <div class="column_left">
      <div class="deal_bt">
        <% if !user_signed_in? and @deal.active? %>
            <%= bt_link_to nil, t("deals.index.view.contact_me"), "javascript:void(0)", :onclick => "javascript:show_sign_up_or_sign_in_modal()", :class => "bt_max bt_big" %>
        <% elsif (user_signed_in? and current_user.has_role?(:member) and !@deal.requested_by?(current_user) and !@deal.awaiting_payment_requested_by?(current_user)) and @deal.active? %>
            <% if current_user.can_request?(@deal) %>
                <%= bt_link_to nil, t("deals.index.view.contact_me"), "javascript:void(0)", :onclick => "javascript:remote_get_deal_for_member('#{@deal.id}')", :class => "bt_max bt_big" %>
            <% else %>
                <%= bt_link_to nil, t("deals.index.view.upgrade_subscription_to_get_deal"), my_profile_path(:deal_id => @deal.id), :class => "bt_max bt_big" %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="column_left">
      <ul class="social_share">
        <li>
          <%= link_to_function image_tag('fairdeals/bt/social_email.png', :height => "20", :alt => t("deals.show.view.share_by_email")), "$('#modal_for_share_deal_by_email').html('').load('#{new_share_deal_by_email_path(:deal_id => @deal.id)}').dialog('open');" %>
        </li>
        <% if Rails.env != "test" %>
            <% if false %>
                <li>
                  <a name="fb_share" share_url="<%= escape_uri(deal_url(:id => @deal.slug)) %>"></a>

                  <!--<iframe src="http://www.facebook.com/plugins/like.php?app_id=101408449959161&amp;href=<%= escape_uri(deal_url(:id => @deal.slug)) %>&amp;send=true&amp;layout=button_count&amp;width=250&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:21px;" allowTransparency="true"></iframe>-->
                  <!--<div id="fb-root"></div>-->
                  <!--<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>-->
                  <!--<fb:comments href="<%= escape_uri(deal_url(:id => @deal.slug)) %>" num_posts="2" width="500"></fb:comments>-->

                </li>
            <% end %>
            <li>
              <script src="https://platform.linkedin.com/in.js" type="text/javascript"></script>
              <script type="IN/Share" data-url="<%= deal_url(:id => @deal.slug) %>" data-counter="right"></script>
            </li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @deal.social_media_description %>" data-count="horizontal"><%= t("deals.show.view.tweet") %></a>
              <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
            </li>
            <li>
              <iframe src="https://www.facebook.com/plugins/like.php?app_id=101408449959161&amp;href=<%= escape_uri(deal_url(@deal)) %>&amp;send=false&amp;layout=button_count&amp;width=250&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
            </li>
        <% end %>
      </ul>
    </div>
    <clb/>

  </div>

  <div id="modal_for_share_deal_by_email" style="display:none;"></div>


      <% cache("#{I18n.locale}_deals_show_#{@deal.id}_sign_up") do %>
      <div id="modal_sign_in_or_sign_up_container_blinder" style="display:none;">
          <div id="modal_sign_in_or_sign_up_container">
              <%= render :partial => "sign_in/purchase_manager_form", :locals => {:deal => @deal, :user => User::Member.new, :url => member_accounts_path(:deal_request_id => @deal.id, :format => :js), :modal_box => true} %>
          </div>
      </div>
      <% end %>

</column-mc:>

<js:>
  <script type="text/javascript">

    <% if @deal.group_deal? %>
      jQuery(document).ready(function() {
          d = new Date();
          seconds = (<%= @deal.end_date.to_i %> - parseInt(d.getTime() / 1000));
          $('#countdown').countDown({
              targetOffset: {
                  'year':     0,
                  'month':    0,
                  'day':      0,
                  'hour':     0,
                  'min':      0,
                  'sec':      seconds
              },
              omitWeeks: true
          });
      });
    <% end %>

      jQuery(document).ready(function() {
          $('a[rel=colorbox]').colorbox();
      });

      $('#modal_for_share_deal_by_email').dialog({
          autoOpen: false,
          width: 400,
          title: '<%= t("deals.show.view.share_by_email_modal_title") %>',
          modal: true,
          position: ['center', 100],
          buttons:
          { "<%= t("deals.show.view.send_share_by_email_button") %>": function() {
              if (validate_template_editor_fields("#modal_for_share_deal_by_email") == 0) {
                  $('#form_share_deal_by_email').submit();
              }
          },
              "<%= t("deals.show.view.cancel") %>": function() {
                  $(this).dialog('close');
              }
          }
      });

     function show_sign_up_or_sign_in_modal(){
         $.colorbox({overlayClose: false, width: 980, height: false, inline: true, href:'#modal_sign_in_or_sign_up_container' });
     }

    function show_terms_and_conditions(){
        $.colorbox({overlayClose: false, width: false, height: "100%", inline: false, href:'<%= article_path(Article::Cms::MainPageArticle.where(:key => "terms_conditions").first, :popup => true, :modal_box => "1") %>', onClosed:function(){show_sign_up_or_sign_in_modal()} });
    }

    $(document).ready(function() {
        select_subscription_radio_button('user_member', <%= SubscriptionPlan.free.active.only_public.for_role(:member).first.id -%>);

        $('.deal_images').cycle({
          fx:     'fade',
          timeout: 5000,
          next: '.deal_images',
          pause: 1,
          width: 430,
          fit: 1
        });
    });

    function remote_get_deal_for_member(deal_id){
        $.get("/members/requests/new.js?deal_id=" + deal_id);
    }
  </script>
</js:>
