<head:>
  <% if Rails.env != "test" %>
      <meta property="og:title" content="<%= @deal.header %>"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="<%= deal_url(:id => @deal.slug) %>"/>
      <meta property="og:image" content="<%= path_to_image("logo_fairleads_with_border.jpg") %>"/>
      <meta property="og:site_name" content="Fairleads"/>
      <meta property="fb:app_id" content="198584516868482"/>
  <% end %>
  <%= javascript_include_tag "global_template_editor" %>
</head:>

<column-mc:>
  <header back="true"><%= t("deals.show.view.header") %></header>

  <div class="grid_800 fltl pdd_10 no_pdd_r">
    <div class="element_description">
      <h2><%= @deal.header %></h2>

      <h3><%= t("deals.show.view.short_description_label") %></h3>

      <p><%= @deal.description %></p>

      <h3><%= t("deals.show.view.detailed_description_label") %></h3>

      <p><%= @deal.hidden_description %></p>

      <h3><%= t("deals.show.view.fine_print_label") %></h3>

      <p><%= @deal.hidden_description %></p>

      <% if @deal.logo %>
          <h3><%= t("deals.show.view.company_logo_label") %></h3>

          <p><%= image_tag(@deal.logo.url) %></p>
      <% end %>


      <h3><%= t("deals.show.view.company_description_label") %></h3>

      <p><%= @deal.company_description %></p>

      <% unless @deal.images.blank? %>
          <h3><%= t("deals.show.view.images_label") %></h3>

          <p>
            <% @deal.images.each do |image| %>
                <%= link_to image_tag(image.url(:medium)), image.url, :rel => "colorbox" %>
            <% end %>
          </p>
      <% end %>

      <br />
      <% if user_signed_in? and current_user.has_role?(:purchase_manager) and !@deal.requested_by?(current_user) %>
        <%= bt_link_to nil, t("deals.index.view.contact_me"), new_purchase_managers_lead_path(:deal_id => @deal.id) %>
      <% end %>
    </div>
  </div>

  <div class="grid_280 fltr pdd_10 no_pdd_lr">
    <div class="frm_tiny">
      <div class="pdd_10">
        <ul class="elements_list">
          <%= deal_show_li(format_date(@deal.start_date), t("deals.show.view.start_date_label")) %>
          <%= deal_show_li(format_date(@deal.end_date), t("deals.show.view.end_date_label")) %>
          <%= deal_show_li(@deal.category, t("deals.show.view.category_label")) %>

          <% unless @deal.price.blank? %>
              <li>
                <div>
                  <span class="label"><%= t("deals.show.view.price_label") %></span>
                  <%= @deal.price %> <%= @deal.currency %>
                </div>
              </li>
          <% end %>

          <%= deal_show_li(@deal.contact_name, t("deals.show.view.contact_name_label")) %>
          <%= deal_show_li(@deal.email_address, t("deals.show.view.email_address_label")) %>
          <%= deal_show_li(@deal.phone_number, t("deals.show.view.phone_number_label")) %>
          <%= deal_show_li(@deal.address_line_1, t("deals.show.view.address_line_1_label")) %>
          <%= deal_show_li(@deal.address_line_2, t("deals.show.view.address_line_2_label")) %>
          <%= deal_show_li(@deal.address_line_3, t("deals.show.view.address_line_3_label")) %>
          <%= deal_show_li(@deal.zip_code, t("deals.show.view.zip_code_label")) %>
          <%= deal_show_li(@deal.country, t("deals.show.view.country_label")) %>
          <%= deal_show_li(@deal.region, t("deals.show.view.region_label")) %>
        </ul>
      </div>
    </div>
  </div>
  <clb/>

  <%= link_to_function t("deals.show.view.share_by_email"), "$('#modal_for_share_deal_by_email').dialog('open');" %>

  <br />
  <br />

  <% if Rails.env != "test" %>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=101408449959161&amp;href=<%= escape_uri(deal_url(:id => @deal.slug)) %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:comments href="<%= escape_uri(deal_url(:id => @deal.slug)) %>" num_posts="2" width="500"></fb:comments>

      <clb/>
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @deal.social_media_description %>" data-count="horizontal">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <% end %>

  <div id="modal_for_share_deal_by_email" style="display:none;">
    <%= render :partial => "share_deal_by_email/new", :locals => { :deal => @deal } %>
  </div>

</column-mc:>

<js:>
  <script type="text/javascript">
      jQuery(document).ready(function() {
          $('a[rel=colorbox]').colorbox();

      });

      $('#modal_for_share_deal_by_email').dialog({
          autoOpen: false,
          width: 700,
          title: '<%= t("deals.show.view.share_by_email_modal_title") %>',
          modal: true,
          buttons: { "<%= t("deals.show.view.send_share_by_email_button") %>": function() {
              if (validate_template_editor_fields("#modal_for_share_deal_by_email") == 0) {
                  $('#form_share_deal_by_email').submit();
                  $(this).dialog("close");
              }
          }}
      });
  </script>
</js:>
