<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :title %>
      <% unless @survey_question.is_of_type?(:heading) %>
        <%= form.input :is_required %>
      <% end %>
      <% if @survey_question.is_of_type?(:select) and !@survey_question.parent.present? %>
          <%= form.input :is_branched, :onclick => (@survey_question.is_of_type?(:select) ? "enableMultiselect()" : nil), :input_html => { :disabled => @survey_question.branched_questions.any? } %>
      <% end %>

      <% if @survey_question.is_of_type?(:select) %>
          <%= form.input :is_multi, :as => :select, :collection => [["radios", false], ["checkboxes", true]].map { |k, v| [t("surveys_management.shared.multiselect_types.#{k}"), v] },
                         :label => t("surveys_management.shared.is_multiselect"), :include_blank => false %>
      <% elsif @survey_question.is_of_type?(:text) %>
          <%= form.input :is_multi, :label => t("surveys_management.shared.is_multiline") %>
      <% end %>

      <%= form.input :question_type, :as => :hidden %>
      <%= form.input :tmp_position, :as => :hidden %>
      <% if @survey_question.parent.present? %>
          <%= form.input :parent_id, :as => :hidden %>
        <%= form.input :branch_option_id, :as => :select, :collection =>  @survey_question.parent.survey_options.map { |op| [op.title, op.id] }, :required => true %>
      <% end %>
    </ol>
  </fieldset>

  <% if @survey_question.is_of_type?(:select) %>
      <% counter = -1 %>
      <%= form.fields_for :survey_options, @survey_question.survey_options do |builder| %>
          <%= render :partial => "survey_option_fields", :locals => { :f => builder, :counter => (counter += 1) } %>
      <% end %>
  <% end %>
</div>

<% if @survey_question.is_of_type?(:select) %>
    <div class="nested_survey_options_container pdd_10 no_pdd_t"></div>

    <div class="hl"></div>
    <div class="new_field">
      <%= bt_link_to :plus, t("shared.lead_templates.form.new_lead_template_field"), "javascript:void(0)", :onclick => fields_for_survey_options_fields(form) %>
    </div>

    <script>
        var nestedFormsCount = <%= @survey_question.survey_options.size %>;

        function add_survey_option_field(link, content) {
            var new_id = new Date().getTime();
            content = content.replace(/survey_question_survey_options_attributes_\d+/g, "survey_question_survey_options_attributes_" + nestedFormsCount.toString());
            content = content.replace(/survey_question\[survey_options_attributes\]\[\d+\]/g, "survey_question[survey_options_attributes][" + new_id.toString() + "]");
            content = content.replace(/tags_selection_00/g, "tags_selection_" + new_id.toString());
            $('.nested_survey_options_container:last').append(content);
            nestedFormsCount = nestedFormsCount + 1;
        }

        function remove_survey_option_field(id, record_id) {
            nestedFormsCount = nestedFormsCount - 1;

            if (record_id == null)
            {
                $('#survey_option_form_' + id).remove();
            }
            else
            {
                $('#survey_option_form_' + id).hide();
                $('#destroy_hidden_field_' + record_id.toString()).val('true')
            }
        }

       function enableMultiselect(){
           if($('#survey_question_is_branched').attr('checked')){
               $('#survey_question_is_multi').val('0');
               $('#survey_question_is_multi option[value=true]').attr('disabled', 'disabled');
           } else {
               $('#survey_question_is_multi option[value=true]').attr('disabled', '');
           }
       }

       $(function(){
           enableMultiselect();
       });
    </script>
<% end %>