<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :title %>
      <%= form.input :hint %>
      <%= form.input :is_required %>
      <%= form.input :is_branched %>
      <%= form.input :question_type, :as => :hidden %>
      <%= form.input :tmp_position, :as => :hidden %>
    </ol>
  </fieldset>
</div>