<% div_survey_option_html_id = f.object.new_record? ? "survey_question_survey_options_attributes_#{defined?(counter) ? counter.to_i : 0}" : f.object.id %>
<div id="survey_option_form_<%= div_survey_option_html_id %>">
  <div>
    <fieldset class="inputs tags labels_ta_r">
      <hl/>
      <ol>
        <li class="string required <%= 'error' if f.object.errors[:title].present?%>">
          <label><%= t("shared.lead_templates.form.field_name") %><abbr title="required">*</abbr></label>
          <%= f.text_field :title %>
          <%= custom_error_for_field(f, :title) %>
        </li>
        <li class="hidden">
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="inputs tags labels_ta_r">
      <ol>
        <% unless current_user.has_any_role?(:supplier, :category_supplier) %>
            <li class="string">
              <div class="tags_wrapper">
                <label><%= t("tags.common.assigned_tags_label") %>:</label>
                <ul id="tags_selection_<%= defined?(counter) ? counter.to_i : "00" %>" name="<%= "#{f.object_name}[tag_list]" %>"></ul>
              </div>

              <%= hidden_field_tag "#{f.object_name}[tag_list][]", "" %>
            </li>
            <li class="select">
              <label><%= t("surveys.shared.lead_category") %></label>
              <%= f.select :category_id, LeadCategory.without_locked_and_not_published.map { |c| [c.to_s, c.id] }.sort, :include_blank => true %>
            </li>
        <% end %>
        <% if current_user.chain_mails_enabled? %>
            <li class="select">
              <label><%= t("surveys.shared.chain_mail") %></label>
              <%= f.select :chain_mail_type_id, SurveyChainMailType.with_active.for_user(current_user).map { |cm| [cm.name, cm.id]  }, :include_blank => true %>
            </li>
        <% end %>
      </ol>
    </fieldset>
    <fieldset class="remove">
      <% if f.object.new_record? or f.object.survey_answers.empty? %>
        <%= bt_link_to :remove, t("shared.lead_templates.form.remove_lead_template_field"), "javascript:void(0)", :onclick => "remove_survey_option_field('#{div_survey_option_html_id}', #{f.object.new_record? ? 'null' : f.object.id})" %>
      <% end %>
    </fieldset>
  </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#tags_selection_<%= defined?(counter) ? counter.to_i : "00" %>').tagit({tagSource: "/tags.js", triggerKeys: ['enter', 'comma', 'tab'], select: true, initialTags: [<%= f.object.tag_list.map{ |w| %{"#{w}"} }.join(",").html_safe %>]});
    })
</script>