<column-mc:>
  <header><%= t("customer.interests.edit.view.title") %></header>
  <%= form_tag customers_interests_path, :method => :put do %>
      <frm>
        <param:content>
          <div class="pdd_10 no_pdd_tb">
            <% unless current_user.has_role?(:category_buyer) %>
                <div class="column_right">
                  <fieldset class="inputs labels_ta_r labels_80">
                    <ol>
                      <li class="header">
                        <h3 class="no_pdd_l">
                          <%= t("customer.interests.edit.view.categories") %>
                        </h3>
                      </li>
                      <li>
                        <table class="categories_table">
                          <tbody>
                          <% @categories.in_groups_of(3, false).each do |categories| %>
                              <tr>
                                <% categories.each do |category| %>
                                    <td>
                                      <%= check_box_tag("categories[]", category.id, current_user.categories.include?(category), :id => "category_#{category.id}") %>
                                      <%= label_tag "category_#{category.id}", category.name %>
                                    </td>
                                <% end %>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </li>
                    </ol>
                  </fieldset>
                </div>
            <% end %>


            <div class="column_left">
              <div class="grid_200 fltl">
                <fieldset class="inputs labels_ta_r labels_80">
                  <ol>
                    <li class="header">
                      <h3 class="no_pdd_l">
                        <%= t("customer.interests.edit.view.countries") %>
                      </h3>
                    </li>
                    <li class="select multiple">
                      <%= select_tag "countries", options_for_select(@countries.collect { |c| [c.name, c.id] }, current_user.countries.empty? ? Array(@countries.detect { |c| c.locale == I18n.locale.to_s }).compact.map(& :id) : current_user.countries.collect { |c| c.id.to_s }), :multiple => true %>
                    </li>
                  </ol>
                </fieldset>
                <fieldset class="inputs labels_auto">
                  <ol>
                    <li class="string">
                      <%= label_tag "rss_url", t("customer.interests.edit.view.rss_feed_url") %>
                      <%= text_field_tag "rss_url", "http://www.newbizzshoppen.com/rss/#{current_user.rss_token}", :style => "width:450px" %>
                    </li>
                  </ol>
                </fieldset>
              </div>
              <div class="fltl" style="padding-top:30px;">
                <fieldset class="inputs">
                  <ol>
                    <li class="boolean">
                      <%= check_box "user", "notify_about_new_leads", :checked => current_user.notify_about_new_leads %>
                      <%= label_tag "user_notify_about_new_leads", t("customer.interests.edit.view.notify_about_new_leads") %>
                    </li>
                  </ol>
                </fieldset>
              </div>
              <clb/>
            </div>
            <clb/>
            <br/>
          </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= submit_tag t("customer.interests.edit.view.button_update") %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
</column-mc:>