<h2><%= print.header %></h2>
<%= t("lead_purchases.listing.purchase_value_label") %> <%= print.purchase_value %>
<%= t("lead_purchases.listing.description_label") %><%= print.description %>
<%= t("lead_purchases.listing.company_name") %><%= print.lead.company_name %>
<%= t("lead_purchases.listing.phone_number") %><%= print.lead.phone_number %>
<%= t("lead_purchases.listing.www_address") %><%= print.lead.www_address %>
<%= t("lead_purchases.listing.email_address") %><%= print.lead.email_address %>
<%= t("lead_purchases.listing.lead_name") %><%= print.lead.lead_name %>
