<div class="lead">
  <div class="fltr lead_value"><%= t("lead_purchases.listing.purchase_value_label") %> <strong><%= print.purchase_value %></strong></div>
  
  <h2><%= print.header %></h2>

  <p class="lead_desc"><%#= t("lead_purchases.listing.description_label") %><%= print.description %></p>

  <div class="grid_1to2 fltl">
    <%= t("lead_purchases.listing.company_name") %> <strong><%= print.lead.company_name %></strong><br/>
    <%= t("lead_purchases.listing.contact_name") %> <strong><%= print.lead.contact_name %></strong><br/>
    <%= t("lead_purchases.listing.phone_number") %> <strong><%= print.lead.phone_number %></strong><br/>
  </div>
  <div class="grid_1to2 fltr">
    <%= t("lead_purchases.listing.www_address") %> <strong><%= print.lead.www_address %></strong><br/>
    <%= t("lead_purchases.listing.email_address") %> <strong><%= print.lead.email_address %></strong>
  </div>
  <clb/>
</div>





