<%
   cols = 2
   cols += 1 if show_checkboxes
   cols += 1 if not block_assigned_to.nil? or not block_other_actions.nil?
   cols += 1 if not block_tools.nil?
-%>

<table class="generic leads_table" id="lead_purchases_table">
  <thead>
  <tr>
    <th class="hl"></th>
    <% if show_checkboxes %>
        <th class="no_pdd_lr" style="width: 10px;"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
    <% end %>
    <th style="width: 520px;"><%= t("leads.listing.lead_description_label") %></th>
    <th style="width: 250px;"><%= t("leads.listing.lead_details_label") %></th>

    <% if block_other_actions %>
        <th><%= t("leads.listing.other_label") %></th>
    <% end %>

    <% if block_tools %>
        <th class="ta_r"><%= t("leads.listing.actions_label") %></th>
    <% end %>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= cols %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% collection.each do |lead_purchase| %>
      <tr class="lead <%= cycle("odd", "even") %> <%= 'highlight_row' if lead_purchase.expiring? %>" id="<%= dom_id(lead_purchase) %>">

        <td class="cl"></td>
        <% if show_checkboxes %>
            <td class="no_pdd_lr"><%= check_box_tag "lead_purchase_ids[]", lead_purchase.id, false, {:id => "lead_purchase_checkbox_#{lead_purchase.id}"} %></td>
        <% end %>

        <td>
          <h4><%= link_to lead_purchase.header, current_user.has_role?(:supplier) ? suppliers_lead_purchase_path(lead_purchase) : lead_users_lead_purchase_path(lead_purchase), :class => "default_action" %>
          <% if lead_purchase.lead.linkedin_url_present? %>
                <%= link_to image_tag("icons/in_icon.png"), lead_purchase.lead.linkedin_url %>
          <% end %>
          <% if lead_purchase.lead.facebook_url_present? %>
                <%= link_to image_tag("icons/fb_icon.png"), lead_purchase.lead.facebook_url %>
          <% end %>
          </h4>
          <% if block_contact %>
              <%= with_output_buffer { block_contact.call(lead_purchase) } if block_contact %>
          <% end %>

          <p class="element_description i expandable"><%= lead_purchase.description %></p>

          <p class="element_description i expandable"><%= lead_purchase.hidden_description %></p>

          <% #if lead_purchase.lead.linkedin_url_present? %>
              <p><%#= link_to t("lead_purchases.listing.linkedin_profile"), lead_purchase.lead.linkedin_url %>
                <%#= link_to image_tag("icons/in_icon.png", :style => "vertical-align: top;"), lead_purchase.lead.linkedin_url %></p>
          <% #end %>

          <% #if lead_purchase.lead.facebook_url_present? %>
              <p><%#= link_to t("lead_purchases.listing.facebook_profile"), lead_purchase.lead.facebook_url %>
                <%#= link_to image_tag("icons/fb_icon.png", :style => "vertical-align: top;"), lead_purchase.lead.facebook_url %></p>
          <% #end %>

          <% if block_general %>
              <%= with_output_buffer { block_general.call(lead_purchase) } %>
          <% end %>

        </td>

        <td>
          <div class="lead_purchase_contact">
          <h3><%= lead_purchase.lead.company_name %></h3>

          <p><%= lead_purchase.lead.phone_number %></p>

          <p><%= lead_purchase.lead.www_address %></p>

          <p><%= lead_purchase.lead.www_address %></p>

          <p><%= lead_purchase.lead.email_address %></p>

          <p><%= lead_purchase.lead.contact_name %></p>

          <p><%= lead_purchase.lead.address %></p>
          </div>  

          <% if block_card %>
              <%= with_output_buffer { block_card.call(lead_purchase) } %>
          <% end %>
        </td>

        <% if block_assigned_to or block_other_actions %>
            <td>
              <% if block_assigned_to %>
                  <%= with_output_buffer { block_assigned_to.call(lead_purchase) } %>
              <% end %>

              <% if block_other_actions %>
                  <%= with_output_buffer { block_other_actions.call(lead_purchase) } %>
              <% end %>
            </td>
        <% end %>
        <% if block_tools %>
            <td class="tda ta_r">
              <%= with_output_buffer { block_tools.call(lead_purchase) } if block_tools %>
            </td>
        <% end %>

        <td class="cr va_b">
          <div class="row_tooltip_actions">
            <%= link_to t("lead_purchases.listing.show_row"), "javascript:void(0)", :class => "toggle_row show_details" %>
            <%= link_to t("lead_purchases.listing.hide_row"), "javascript:void(0)", :class => "toggle_row hide_details", :style => "display:none" %>

            <% if lead_purchase.lead.can_be_commented? %>
                <%= link_to lead_purchase.lead.comment_threads.count == 0 ? t("lead_purchases.listing.create_comment") : t("lead_purchases.listing.show_comments"), "javascript:void(0)", :class => "toggle_row show_comments#{' toggle_row_unread' if lead_purchase.lead.has_unread_comments_for_user?(current_user)}", :onclick => "mark_comments_as_read(#{lead_purchase.lead_id}); mark_row_as_read('#{dom_id(lead_purchase)}')" %>
                <%= link_to t("lead_purchases.listing.hide_comments"), "javascript:void(0)", :class => "toggle_row hide_comments", :style => "display:none" %>
            <% end %>
          </div>
        </td>
      </tr>


      <tr class="row_tooltip">
        <td class="cl"></td>
        <td colspan="<%= cols %>" class="no_pdd_tb">

          <div class="row_tooltip_content lead_details">
            <% if lead_purchase.lead.lead_templates_and_values.any? %>
                <div class="grid_270 fltl">
                  <div class="pdd_10">
                    <div class="element_templates"><%= render :partial => "/shared/lead_templates/listing", :locals => {:lead => lead_purchase.lead} %></div>
                  </div>
                </div>
            <% end %>

            <div class="grid_540 fltr">
              <div class="pdd_10">
                <%= render :partial => "/shared/lead_purchases/owner_note", :locals => {:lead_purchase => lead_purchase} %>
              </div>
            </div>

            <div class="grid_270 fltr">
              <div class="pdd_10">
                <% if block_hidden_area %>
                    <%= with_output_buffer { block_hidden_area.call(lead_purchase) } %>
                <% end %>
              </div>
            </div>

            <clb/>

          </div>

          <% if lead_purchase.lead.can_be_commented? %>
          <div class="row_tooltip_content comments_details">
            <%= render :partial => "/shared/comments/lead_threads", :locals => { :lead => lead_purchase.lead, :threads => lead_purchase.lead.comment_threads.roots.order("created_at DESC") } %>
          </div>
          <% end %>

        </td>
        <td class="cr"></td>
      </tr>

  <% end %>



  <tr class="pagination">
    <td colspan="<%= cols + 2 %>" class="ta_c">
      <% if show_checkboxes %>
          <div class="td_select_all">
            <%= check_box_tag "td_mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
            <%= label_tag "td_mark_all", "select all" %>
          </div>
      <% end %>
      <%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
    </td>
  </tr>
  <% if block_bottom %>
      <tr class="main_actions">
        <td class="cl"></td>
        <td colspan="<%= cols %>" class="no_pdd_lr">
          <%= with_output_buffer { block_bottom.call } %>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type=text/javascript>

    function hideRowButtons()
    {
        $(".toggle_row.hide_details:visible, .toggle_row.hide_comments:visible").hide().prev().show();
    }

    jQuery(document).ready(function() {

        $(".toggle_row.show_details").bind("click", function() {

            $(".row_tooltip").filter(":not(:eq(" + $(this).parents("tr:first").next().index(".row_tooltip") + "))")
                    .filter(":visible").find(".row_tooltip_content:visible").slideUp("normal", function() {
                $(this).parents("tr.row_tooltip").hide()
            });

            hideRowButtons();

            $(this).hide().next().show().parents("tr:first")
                    .next("tr.row_tooltip").show()
                    .find(".comments_details:visible").slideUp().end()
                    .find(".lead_details").slideDown();
        });

        $(".toggle_row.hide_details").bind("click", function() {

            hideRowButtons();

            $(this).hide().prev().show().parents("tr:first")
                    .next("tr.row_tooltip")
                    .find(".lead_details").slideUp('normal', function() {
                $(this).parents("tr.row_tooltip").hide();
            });
        });


        $(".toggle_row.show_comments").bind("click", function()
        {
            $(".row_tooltip").filter(":not(:eq(" + $(this).parents("tr:first").next().index(".row_tooltip") + "))")
                    .filter(":visible").find(".row_tooltip_content:visible").slideUp("normal", function() {
                $(this).parents("tr.row_tooltip").hide()
            });

            hideRowButtons();


            $(this).hide().next().show().parents("tr:first")
                    .next("tr.row_tooltip").show()
                    .find(".lead_details:visible").slideUp().end()
                    .find(".comments_details").slideDown();

        });

        $(".toggle_row.hide_comments").bind("click", function()
        {
            hideRowButtons();

            $(this).hide().prev().show().parents("tr:first")
                    .next("tr.row_tooltip")
                    .find(".comments_details").slideUp('normal', function() {
                $(this).parents("tr.row_tooltip").hide();
            });
        });
    });

</script>