<search-box:>
  <div class="search_box">
    <h2>Search</h2>

    <div class="search_content">

      <%= form_for @search, :url => buyers_lead_purchases_path do |f| %>
          <fieldset class="inputs labels_auto inline_li no_pdd rltv">
            <ol class="no_pdd">
              <li class="string">
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select no_pdd_l">
                <%= f.label :with_category, t("lead_buyer.lead_purchases.index.view.search.category_label") %>
                <%= f.select :with_category, @categories, {:include_blank => true} %>
              </li>
              <li class="select">
                <%= f.label :with_deal_value_from, t("lead_buyer.lead_purchases.index.view.search.deal_value_from_label") %>
                <%= f.select :with_deal_value_from, User::DEAL_VALUE_RANGE, {:include_blank => true} %>
              </li>
              <li class="select no_pdd_l">
                <%= f.label :with_deal_value_to, t("lead_buyer.lead_purchases.index.view.search.deal_value_to_label") %>
                <%= f.select :with_deal_value_to, User::DEAL_VALUE_RANGE, {:include_blank => true} %>
              </li>
              <li class="select">
                <%= f.label :with_country, t("lead_buyer.lead_purchases.index.view.search.country_label") %>
                <%= f.select :with_country, @countries, {:include_blank => true} %>
              </li>
              <li class="select">
                <%= f.label :with_assignee, t("lead_buyer.lead_purchases.index.view.search.assignee_label") %>
                <%= f.select :with_assignee, @assignees, {:include_blank => true} %>
              </li>
              <li class="commit">
                <ibt c="bt_green right" icon="magnify">
                  <%= submit_tag t("lead_buyer.lead_purchases.index.view.search.search_button") %>
                </ibt>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>
  <header><%= t("lead_buyer.lead_purchases.index.view.header") %></header>

  <%= bulk_form do %>

      <fieldset class="inputs labels_auto inline_li">
        <ol class="no_pdd">
          <li class="select">
            <%= label_tag :bulk_state, t("lead_buyer.lead_purchases.index.view.bulk_state_field") %>
            <%= select_tag :bulk_state, options_for_select([[nil, nil]]+LeadPurchaseBase.statuses_for_select) %>
          </li>
          <% unless @subaccounts.empty? %>
              <li class="select">
                <% opts = @subaccounts.insert(0, current_user).map { |sa| [sa.screen_name, sa.id] } %>
                <%= label_tag :bulk_assignee_id, t("lead_buyer.lead_purchases.index.view.bulk_assigned_field") %>
                <%= select_tag :bulk_assignee_id, options_for_select(opts), :include_blank => true %>
              </li>
          <% end %>
          <li class="date">
            <%= label_tag :bulk_response_deadline, t("lead_buyer.lead_purchases.index.view.lead_response_date") %>
            <%= text_field_tag :bulk_response_deadline, "", :id => "response_deadline_datepicker_bulk" %>
          </li>
          <li class="commit no_pdd_l">
            <%= bt_link_to nil, t("lead_buyer.lead_purchases.index.view.bulk_update_button"), "javascript:void(0)", :onclick => "submitBulkForm('#{bulk_lead_purchase_update_path}');" %>
          </li>
        </ol>
      </fieldset>

      <%= hidden_field_tag :route_to %>

      <%= lead_purchases_listing @lead_purchases, :show_checkboxes => true do |blocks| %>
          <% blocks.contact do |lead_purchase| %>
              <%= link_to t("lead_buyer.lead_purchases.index.view.view_lead"), buyers_lead_purchase_path(lead_purchase) %>
              <%= link_to t("lead_buyer.lead_purchases.index.view.email_lead"), new_buyers_lead_purchase_lead_email_path(lead_purchase) if lead_purchase_has_email_address?(lead_purchase) %>
          <% end %>

          <% blocks.assigned_to do |lead_purchase| %>
              <% if @subaccounts.present? %>
                  <% opts = @subaccounts.insert(0, current_user).map { |sa| [sa.screen_name, sa.id] } %>
                  <%= select_tag :assignee_id,
                                 options_for_select(opts, lead_purchase.assignee_id),
                                 :include_blank => true,
                                 :onchange => "$.post('#{buyers_lead_purchase_path(lead_purchase)}', {'_method':'put', 'lead_purchase[assignee_id]':this.value} );" %>
              <% end %>
          <% end %>

          <% blocks.other_actions do |lead_purchase| %>
              <%= select_tag :state,
                             options_for_select(LeadPurchaseBase.statuses_for_select, lead_purchase.state),
                             :onchange => "$.post('#{buyers_lead_purchase_path(lead_purchase)}', {'_method':'put', 'lead_purchase[state]':this.value} );" %>
              <fieldset class="inputs labels_auto inline_li">
                <ol class="no_pdd">
                  <li class="date">
                    <%= label_tag :response_deadline, t("lead_buyer.lead_purchases.index.view.lead_response_date") %>
                    <%= text_field_tag :response_deadline, lead_purchase.response_deadline, :id => "response_deadline_datepicker_#{lead_purchase.id}" %>
                  </li>
                </ol>
              </fieldset>

              </p>
          <% end %>

          <% blocks.tools do |lead_purchase| %>
              <ul-actions>
                <li>
                  <%= link_to t("lead_buyer.lead_purchases.index.view.download_csv_link"), buyers_lead_purchase_path(lead_purchase, :format => :csv) %>
                </li>
                <li>
                  <%= link_to t("lead_buyer.lead_purchases.index.view.print_link"), buyers_lead_purchase_path(lead_purchase, :format => :print), :target => "_blank" %>
                </li>
                <li>
                  <%= link_to_function t("lead_buyer.lead_purchases.index.view.share_email_link"), "share_lead_by_email(#{lead_purchase.id})" %>
                </li>
              </ul-actions>
          <% end %>


          <% blocks.bottom do %>
              <%= bt_link_to :download, t("lead_buyer.lead_purchases.index.view.bulk_download_csv_short"), "javascript:void(0)", :onclick => "submitBulkForm('#{bulk_lead_purchase_csv_path}');" %>
              <%= bt_link_to :printer, t("lead_buyer.lead_purchases.index.view.bulk_print_link_short"), "javascript:void(0)", :onclick => "submitBulkForm('#{bulk_lead_purchase_print_path}', '_blank');" %>
              <%= bt_link_to :mail, t("lead_buyer.lead_purchases.index.view.bulk_share_by_email_link"), "javascript:void(0)", :onclick => "submitBulkForm('#{bulk_lead_share_by_email_path}#GET');" %>
          <% end %>
      <% end %>
  <% end %>


  <script>
      $(function() {
      <% @lead_purchases.each do |lead_purchase| %>
          $("#response_deadline_datepicker_<%= lead_purchase.id %>").datepicker({ dateFormat: 'yy-mm-dd',
              onSelect: function(dateText, inst) {
                  update_lead_response_deadline('<%= buyers_lead_purchase_path(lead_purchase) %>', this.value)
              }
          });
      <% end %>
          $("#response_deadline_datepicker_bulk").datepicker({ dateFormat: 'yy-mm-dd' });
      });

      function update_lead_response_deadline(url, field_value)
      {

          $.post(url, {'_method':'put', 'lead_purchase[response_deadline]':field_value});
      }

      function share_lead_by_email(lead_purchase_id) {
          $('input:checkbox').each(function() {
              $(this).attr('checked', false);
          });
          $("#lead_purchase_checkbox_" + lead_purchase_id.toString()).attr('checked', true);
          submitBulkForm('<%= bulk_lead_share_by_email_path %>#GET');
      }
  </script>
</column-mc:>