<column-mc:>
  <h1><%= t("lead_buyer.lead_purchases.index.view.header") %></h1>
  <%= form_tag bulk_action_path, :method => :post, :id => 'bulk_actions_form' do %>
      <%= link_to_function t("lead_buyer.lead_purchases.index.view.bulk_download_csv_button"), "$('#bulk_actions_form').submit();" %>
      <%= hidden_field_tag :route_to, bulk_lead_purchase_csvs_path %>
      <% lead_purchases_listing @lead_purchases, :show_checkboxes => true do |blocks| %>
          <% blocks.tools do |lead_purchase| %>
              <%= form_for [:buyers, lead_purchase], :remote => true do |form| %>
                  <%= form.select :state, LeadPurchaseBase.statuses_for_select, {}, {:onchange => "jQuery(this.form).callRemote()"} %>
                  <% if @subaccounts.present? %>
                      <%= form.select :assignee_id, @subaccounts.map { |sa| [sa.screen_name, sa.id] }, {:include_blank => true}, {:onchange => "jQuery(this.form).callRemote()"} %>
                  <% end %>
              <% end %>
          <% end %>
          <% blocks.card do |lead_purchase| %>
              <%= link_to t("lead_buyer.lead_purchases.index.view.download_csv_link"), buyers_lead_purchase_path(lead_purchase, :format => :csv) %>
          <% end %>
      <% end %>
  <% end %>
</column-mc:>