<column-mc:>

    <header back="true"><%= t("buyer.lead_purchases.show.view.header") %></header>

    <h2><%= @lead_purchase.header %></h2>

    <p class="element"><%= t("lead_purchases.listing.description_label") %><%= @lead_purchase.description %></p>
    <p class="element"><%= t("lead_purchases.listing.hidden_description_label") %><%= @lead_purchase.hidden_description %></p>

    <p class="element"><%= t("lead_purchases.listing.company_name") %> <strong><%= @lead_purchase.lead.company_name %></strong></p>
    <p class="element"><%= t("lead_purchases.listing.address_label") %> <strong><%= @lead_purchase.lead.address %></strong></p>
    <p class="element"><%= t("lead_purchases.listing.phone_number") %> <strong><%= @lead_purchase.lead.phone_number %></strong></p>
    <p class="element"><%= t("lead_purchases.listing.www_address") %> <strong><%= @lead_purchase.lead.www_address %></strong></p>
    <p class="element"><%= t("lead_purchases.listing.email_address") %> <strong><%= @lead_purchase.lead.email_address %></strong></p>
    <p class="element"><%= t("lead_purchases.listing.contact_name") %> <strong><%= @lead_purchase.lead.contact_name %></strong></p>

</column-mc:>