<column-mc:>

  <header back="true"><%= t("buyer.lead_purchases.show.view.header") %></header>

  <h2><%= @lead_purchase.header %></h2>

  <div class="grid_280 fltl pdd_10 no_pdd_lr">
    <ul class="elements_list">
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.company_name") %></span>
          <%= @lead_purchase.lead.company_name %>
        </div>
      </li>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.address_label") %></span>
          <%= @lead_purchase.lead.address %>
        </div>
      </li>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.phone_number") %></span>
          <%= @lead_purchase.lead.phone_number %>
        </div>
      </li>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.email_address") %></span>
          <%= @lead_purchase.lead.email_address %>
        </div>
      </li>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.contact_name") %></span>
          <%= @lead_purchase.lead.contact_name %>
        </div>
      </li>
      <% if @lead_purchase.lead.linkedin_url.present? %>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.linkedin_url") %></span>
          <%= link_to "LinkedIn profile", @lead_purchase.lead.linkedin_url %>
          <%= link_to image_tag("icons/in_icon.png", :style => "vertical-align: top;"), @lead_purchase.lead.linkedin_url %>
        </div>
      </li>
      <% end %>
      <% if @lead_purchase.lead.facebook_url.present? %>
      <li>
        <div>
          <span class="label"><%= t("lead_purchases.listing.facebook_url") %></span>
          <%= link_to "Facebook profile", @lead_purchase.lead.facebook_url %>
          <%= link_to image_tag("icons/fb_icon.png", :style => "vertical-align: top;"), @lead_purchase.lead.facebook_url %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="grid_800 fltr pdd_10 no_pdd_r">
    <div class="element_description">
      <h3><%=  t("lead_purchases.listing.description_label") %></h3>

      <p><%= @lead_purchase.description %></p>


      <h3><%= t("lead_purchases.listing.hidden_description_label") %></h3>
      <p><%= @lead_purchase.hidden_description %></p>
    </div>
  </div>

  <clb/>

</column-mc:>