<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_articles_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.leads.index.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_subclass, t("administration.leads.index.search.article_label") %>
                <%= f.select :with_subclass, article_scope_for_select.sort, :include_blank => true %>
              </li>

              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("administration.articles.index.view.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("administration.articles.index.view.header") %>
    <% end %>
    <% section.block_actions do %>
      <%= form_tag administration_articles_path, :method => :post, :id => "form_new_article" do %>
        <ul class="header_actions">
          <li class="last">
            <%= bt_link_to :plus, t("administration.articles.index.view.new_article"), "javascript:void(0)", :onclick => "$('#form_new_article').submit()" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% if @articles.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table id="articles_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width: 10px"><%= link_to t("administration.articles.index.view.id"), order_for_scoped_search(:id) %></th>
          <th><%= t("administration.articles.index.view.type") %></th>
          <th><%= link_to t("administration.articles.index.view.title"), order_for_scoped_search(:title) %></th>
          <th class="ta_r"><%= t("administration.articles.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="4"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @articles.each do |article| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td class="ta_c"><%= article.id %></td>
              <td><%= article.show_type %></td>
              <td><%= article.title %></td>
              <td class="tda ta_r">
                <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                  <li>
                    <%= link_to t("administration.articles.index.view.edit_link"), edit_administration_article_path(article), :class => "default_action" %>
                  </li>
                  <li>
                    <%= link_to t("administration.articles.index.view.show_link"), administration_article_path(article) %>
                  </li>
                  <% if article.can_be_destroyed? %>
                      <li>
                        <%= link_to t("administration.articles.index.view.delete_link"), administration_article_path(article), :method => :delete, :confirm => t("administration.articles.index.view.delete_confirmation") %>
                      </li>
                  <% end %>
                </ul></div>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="6" class="ta_c">
                <%= will_paginate @hints, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>
