<% unless communication.related.nil? %>
<li>
  <div class="news_content">
    <h4><%= link_to communication.title,
                    communication.archived_email? ? callers_campaign_agent_work_screen_index_path(communication.related.contact.campaign, :selected_call_result_id => communication.related_id) :
                    send("#{current_user.role.to_s.pluralize}_leads_path".to_sym, :unfold_comment_id => communication.related_id, :search => {:with_keyword => communication.related.header, :without_inactive => "false", :without_outdated => "false"}) %></h4>
    <div class="news_text">
      <% if communication.archived_email? %>
      <%= t("agent_home.show.view.communication.email") %>: <%= communication.email %><br />
      <%= t("agent_home.show.view.communication.status") %>: <%= t("models.archived_emails.status.status#{communication.status}")  %><br />
      <% end %>
      <%= t("agent_home.show.view.communication.date") %>: <%= format_date communication.created_at, true %><br />

    </div>
    <%= link_to t("supplier_home.show.view.read_more_link"),
                communication.archived_email? ? callers_campaign_agent_work_screen_index_path(communication.related.contact.campaign, :selected_call_result_id => communication.related_id) :
                send("#{current_user.role.to_s.pluralize}_leads_path".to_sym, :unfold_comment_id => communication.related_id, :search => {:with_keyword => communication.related.header, :without_inactive => "false", :without_outdated => "false"}), :class => "read_more" %>
  </div>
</li>
<% end %>