<column-mc:>
  <header>
    <param:content>
      <% if current_user and current_user.has_any_role?(:call_centre, :call_centre_agent) %>
          <%= t("home.show.view.call_centre_header", :name => screen_name_with_company_name(current_user)) %>
      <% else %>
          <%= t("agent_home.show.view.header") %>
      <% end %>
    </param:content>

    <param:actions>
      <%= form_tag self.send((user_signed_in? and !current_user.call_centre? and current_user.agent?) ? "new_#{current_user.role.to_s.pluralize}_lead_path" : "root_path"), :method => :get, :id => "form_new_lead" do %>
      <% if user_signed_in? and !current_user.call_centre? and current_user.agent? %>
      <span style="position:absolute;top: 5px; right: 300px;">
        <% categories = LeadCategory.without_locked.with_agent_unique(current_user).all %>
        <%= select_tag :category_id, options_for_select(nested_set_options(categories), :selected => default_category_for_select(categories), :disabled => categories.select { |c| !c.can_publish_leads? }.map(&:id)) %>
      </span>
      <% end %>
      <ul class="header_actions">
        <% if user_signed_in? %>
            <% if !current_user.call_centre? and current_user.agent? %>
            <li>
              <div class="hidden">
                <%= submit_tag "New" %>
              </div>
              <%= bt_link_to :plus, t("agent_home.show.view.new_lead"), "javascript:void", :onclick => "$('#form_new_lead').submit()" %>
            </li>
            <% end %>
            <% if current_user.deal_maker? %>
            <li>
                <%= bt_link_to :plus, t("agent_home.show.view.new_deal"), self.send("new_#{current_user.role.to_s.pluralize}_deal_path") %>
            </li>
            <% end %>
            <li class="last">

              <%= bt_link_to :key, t("supplier_home.show.view.sign_out"), '/logout' %>
          <% else %>
              <%= bt_link_to :user, t("agent_home.show.view.create_new_agent_account"), new_agent_account_path %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </param:actions>
  </header>

  <div class="pdd_5">
    <%= render :partial => '/callers/agent_work_screen/agent_information' %>
  </div>

  <div class="pdd_5 no_pdd_b">

    <div>
      <% if current_user and current_user.has_any_role?(:call_centre, :call_centre_agent) %>
          <p><%= blurb("blurb_call_centre_home") %></p>
      <% else %>
          <p><%= blurb("blurb_agent_home#{'_logged_in' if user_signed_in?}") %></p>
      <% end %>
    </div>

    <clb/>

  </div>

  <hl pdd="15"></hl>

  <% if user_signed_in? %>
  <div id="leads_summary">
    <div class="column_1to3 fltl" id="campaigns">
      <frm title="#{t('agent_home.show.view.header_campaigns')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), callers_campaigns_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @campaigns.any? %>
                <%= render :partial => 'campaigns', :collection => @campaigns, :as => :campaign %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" style="padding: 0 15px" id="history">
      <frm title="#{t('agent_home.show.view.header_history')}" c="no_marg">
        <param:header>

        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @call_results.any? %>
                <%= render :partial => 'call_results', :collection => @call_results, :as => :call_result %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" id="communication">
      <frm title="#{t('agent_home.show.view.header_communication')}" c="no_marg">
        <param:header>

        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @communications.any? %>
                <%= render :partial => 'communication', :collection => @communications, :as => :communication %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <clb/>
   </div>

  <% else %>

  <div id="leads_summary">
    <div class="column_1to3 fltl" id="news">
      <frm title="#{t('agent_home.show.view.header_news')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), news_index_path(:search => {:with_subclass => "Agent"}), :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @news.any? %>
                <%= render :partial => 'news', :collection => @news, :as => :news %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" style="padding: 0 15px" id="new_leads">
      <frm title="#{@new_comments.any? ? t('agent_home.show.view.header_my_new_comments') : t('agent_home.show.view.header_my_new_leads')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), agents_leads_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @new_comments.any? %>
                <%= render :partial => 'comment', :collection => @new_comments, :as => :comment %>
            <% elsif @new_leads.any? %>
                <%= render :partial => 'lead', :collection => @new_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>         
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" id="sold_leads">
      <frm title="#{t('agent_home.show.view.header_my_sold_leads')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), agents_leads_path(:search => {:purchased => true, :without_inactive => false, :without_outdated => false}), :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @sold_leads.any? %>
                <%= render :partial => 'lead', :collection => @sold_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <clb/>
  </div>
  <% end %>

</column-mc:>

<js:>
  <script type="text/javascript">

      jQuery(document).ready(function() {
          jQuery(".solid_list li:not(.no_data)").bind("click", function() {
              window.location = $(this).find('a.read_more').attr("href");
          });
      });

  </script>
</js:>

