<column-mc:>
  <header>
    <param:content>
      <% if current_user and current_user.has_any_role?(:call_centre, :call_centre_agent) %>
          <%= t("home.show.view.call_centre_header", :name => screen_name_with_company_name(current_user)) %>
      <% else %>
          <%= t("agent_home.show.view.header") %>
      <% end %>
    </param:content>

    <param:actions>
      <%= form_tag self.send((user_signed_in? and !current_user.call_centre? and current_user.agent?) ? "new_#{current_user.role.to_s.pluralize}_lead_path" : "root_path"), :method => :get, :id => "form_new_lead" do %>
      <% if user_signed_in? and !current_user.call_centre? and current_user.agent? %>
      <span style="position:absolute;top: 5px; right: 450px;">
        <%= select_tag :category_id, [], :style => "width:200px" %>
      </span>
      <% end %>
      <ul class="header_actions">
        <% if user_signed_in? %>
            <% if !current_user.call_centre? and current_user.agent? %>
            <li>
              <div class="hidden">
                <%= submit_tag "New" %>
              </div>
              <%= bt_link_to :plus, t("agent_home.show.view.new_lead"), "#", :id => "new_lead_button" %>
            </li>
            <% end %>
            <% if current_user.deal_maker? %>
            <li>
                <%= bt_link_to :plus, t("agent_home.show.view.new_deal"), self.send("new_#{current_user.role.to_s.pluralize}_deal_path") %>
            </li>
            <% end %>
            <li>
              <%= bt_link_to :plus, t("agent_home.show.view.request_login_time"), new_callers_login_time_request_path %>
            </li>
            <li class="last">

              <%= bt_link_to :key, t("supplier_home.show.view.sign_out"), '/logout' %>
          <% else %>
              <%= bt_link_to :user, t("agent_home.show.view.create_new_agent_account"), new_agent_account_path %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </param:actions>
  </header>

  <div class="pdd_5">
    <div id="agent_information"></div>
  </div>

  <div class="pdd_5 no_pdd_b">

    <div>
      <% if current_user and current_user.has_any_role?(:call_centre, :call_centre_agent) %>
          <p><%= blurb("blurb_call_centre_home") %></p>
      <% else %>
          <p><%= blurb("blurb_agent_home#{'_logged_in' if user_signed_in?}") %></p>
      <% end %>
    </div>

    <clb/>

  </div>

  <hl pdd="15"></hl>

  <% if user_signed_in? %>
  <div id="agent_performance">
    <div class="column_2to3 fltl" style="padding: 0 15px 0 0" id="agent_performance_table">
      <frm title="#{t('agent_home.show.view.header_campaigns')}" c="no_marg">
        <param:content>
          <%= form_tag '', :id => "performance_form", :method => :get do %>
              <fieldset class="inputs_vertical" style="width:95%;margin:auto;">
                <ol class="no_pdd">
                  <li class="date">
                    <%= label_tag :date_from, t("campaigns.show.search.date_from") %>
                    <%= text_field_tag :date_from, params[:date_from], :class => "datepicker" %>
                  </li>
                  <li class="date">
                    <%= label_tag :date_to, t("campaigns.show.search.date_to") %>
                    <%= text_field_tag :date_to, params[:date_to], :class => "datepicker" %>
                  </li>
                  <li class="select">
                    <%= label_tag :currency_id, t("campaigns.show.search.currency_id") %>
                    <%= select_tag :currency_id, options_for_select(Currency.active.map{|c| [c.name.to_s, c.id]}.sort, params[:currency_id]) %>
                  </li>
                  <li>
                    <p class="pdd_10">
                      <%= t("agent_home.show.view.agent_performance.time_range") %>:<br/>
                      <%= link_to t("campaigns.show.ranges.all"), 'javascript:void(0)', TimeSearchFilter.get_filter_data(:filter => :today, :from => Date.new(2010), :field_id_from => "date_from", :field_id_to => "date_to", :format => TimeSearchFilter::FORMAT_YYYY_MM_DD, :submit => true) %>&nbsp;

                      <%- [:this_year, :this_quarter, :this_month, :this_week, :today].each do |filter| %>
                        <%= link_to t("campaigns.show.ranges.#{filter}"), 'javascript:void(0)', TimeSearchFilter.get_filter_data(:filter => filter, :field_id_from => "date_from", :field_id_to => "date_to", :format => TimeSearchFilter::FORMAT_YYYY_MM_DD, :submit => true) %>&nbsp;
                        <%- if filter == :this_quarter %>
                          <br/>
                        <%- end %>
                      <%- end %>
                    </p>
                  </li>
                  <li style="padding-top:15px;float:right">
                    <ibt c="bt_green" icon="magnify" style="margin-top:20px;">
                      <%= submit_tag t("agent_home.show.view.agent_performance.filter") %>
                    </ibt>
                  </li>
                 </ol>
              </fieldset>
          <% end %>

          <table class="generic" style="width:95%;margin:auto;margin-top:10px;">
            <thead>
              <tr>
                <th class="hl"></th>
                <th><%= t("agent_home.show.view.agent_performance.table.campaign") %></th>
                <th><%= t("agent_home.show.view.agent_performance.table.payout") %></th>
                <th><%= t("agent_home.show.view.agent_performance.table.hours") %></th>
                <th><%= t("agent_home.show.view.agent_performance.table.rate") %></th>
                <th class="hr"></th>
              </tr>
            </thead>
            <tbody>
              <% @performance_campaigns.to_a.each do |campaign| %>
                <% agent_performance = AgentPerformance.new(params[:date_from], params[:date_to], current_user, campaign, params[:currency_id]) %>
                <tr>
                  <td></td>
                  <td><%= link_to campaign, callers_campaign_call_results_path(campaign), :class => "default_action" %></td>
                  <td><%= as_currency(agent_performance.payout, agent_performance.currency, 0) %></td>
                  <td><%= agent_performance.time.to_f.as_hours_and_minutes %></td>
                  <td><%= as_currency(agent_performance.rate, agent_performance.currency, 0) %></td>
                  <td></td>
                </tr>
              <% end %>
              <% agent_performance = AgentPerformance.new(params[:date_from], params[:date_to], current_user, @performance_campaigns, params[:currency_id]) %>
              <tr style="font-weight: bold;">
                <td></td>
                <td></td>
                <td><%= as_currency(agent_performance.payout, agent_performance.currency, 0) %></td>
                <td><%= agent_performance.time.to_f.as_hours_and_minutes %></td>
                <td><%= as_currency(agent_performance.rate, agent_performance.currency, 0) %></td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
              <td class="fl"></td>
              <td colspan="4"></td>
              <td class="fr"></td>
            </tfoot>
          </table>
        </param:content>
      </frm>
    </div>

    <div class="column_1to3 fltl" id="agent_performance_graph">
      <frm title="#{t('agent_home.show.view.header_graph')}" c="no_marg">
        <param:content>
          <div style="padding:10px">
            <div id="agent_performance_graph_container" style="height:<%= 136+(@performance_campaigns.count*34) %>px; padding:10px"></div>
          </div>
        </param:content>
      </frm>
    </div>
    <clb/>
  </div>

  <hl pdd="15"></hl>

  <div id="leads_summary">
    <div class="column_1to3 fltl" id="campaigns">
      <frm title="#{t('agent_home.show.view.header_campaigns')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), callers_campaigns_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @campaigns.any? %>
                <%= render :partial => 'campaigns', :collection => @campaigns.last(4), :as => :campaign %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" style="padding: 0 15px" id="history">
      <frm title="#{t('agent_home.show.view.header_history')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), callers_history_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @call_results.any? %>
                <%= render :partial => 'call_results', :collection => @call_results, :as => :call_result %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" id="communication">
      <frm title="#{t('agent_home.show.view.header_communication')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), callers_communication_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list row_4">
            <% if @communications.any? %>
                <%= render :partial => 'communication', :collection => @communications, :as => :communication %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <clb/>
   </div>

  <% else %>

  <div id="leads_summary">
    <div class="column_1to3 fltl" id="news">
      <frm title="#{t('agent_home.show.view.header_news')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), news_index_path(:search => {:with_subclass => "Agent"}), :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @news.any? %>
                <%= render :partial => 'news', :collection => @news, :as => :news %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" style="padding: 0 15px" id="new_leads">
      <frm title="#{@new_comments.any? ? t('agent_home.show.view.header_my_new_comments') : t('agent_home.show.view.header_my_new_leads')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), agents_leads_path, :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @new_comments.any? %>
                <%= render :partial => 'comment', :collection => @new_comments, :as => :comment %>
            <% elsif @new_leads.any? %>
                <%= render :partial => 'lead', :collection => @new_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <div class="column_1to3 fltl" id="sold_leads">
      <frm title="#{t('agent_home.show.view.header_my_sold_leads')}" c="no_marg">
        <param:header>
          <%= bt_link_to nil, t("agent_home.show.view.complete_list_link"), agents_leads_path(:search => {:purchased => true, :without_inactive => false, :without_outdated => false}), :class => "fltr" %>
        </param:header>
        <param:content>
          <ul class="solid_list">
            <% if @sold_leads.any? %>
                <%= render :partial => 'lead', :collection => @sold_leads, :as => :lead %>
            <% else %>
                <%= render :partial => 'shared/blank_data_li' %>
            <% end %>
          </ul>
        </param:content>
      </frm>
    </div>
    <clb/>
  </div>
  <% end %>

</column-mc:>

<js:>
  <script type="text/javascript">

      jQuery(document).ready(function() {
          jQuery(".solid_list li:not(.no_data)").bind("click", function() {
              window.location = $(this).find('a.read_more').attr("href");
          });
      });

      $(function(){
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
          $.get('<%= callers_agent_information_path(:currency_id => params[:currency_id]) %>');

          $.get('<%= categories_path(:format => :js) %>', function() {
              $('#new_lead_button').bind('click', function(){
                  $('#form_new_lead').submit();
              });
          });
      });

      $(function () {
          <% agent_performance = AgentPerformance.new(params[:date_from], params[:date_to], current_user, @performance_campaigns, params[:currency_id]) %>
          var performance_data = <%= agent_performance.flot_chart.to_json.html_safe %>;

          function euroFormatter(v, axis) {
              return v.toFixed(axis.tickDecimals) +" <%= agent_performance.currency.name %>";
          }

          function doPlot(position) {
              $.plot($("#agent_performance_graph_container"),
                      [
                          {
                              data: performance_data.hours, label: "Hours",
                              bars:
                                    {
                                        show: true,
                                        barWidth: 1000*60*60*6,
                                    },
                          },
                          {
                              data: performance_data.payout, label: "PayOut", yaxis: 2,
                              bars:
                                    {
                                        show: true,
                                        barWidth: 1000*60*60*6,
                                    },
                          }
                      ],
                      {
                          xaxes: [ { mode: 'time', minTickSize: [1, "day"] } ],
                          yaxes: [ { min: 0 },
                              {
                                  // align if we are to the right
                                  alignTicksWithAxis: position == "right" ? 1 : null,
                                  position: position,
                                  tickFormatter: euroFormatter
                              } ],
                          legend: { position: 'sw' }
                      });
          }

          doPlot("right");
      });

  </script>
</js:>

