<column-mc:>
  <header><%= t("devise.sessions.new.view.header") %></header>

  <% if @failed_rpx %>
      Hi <%= @first_name %>! We have no fairleads account assosiated to
      your <%= User.social_provider(@rpx_identifier) %> profile, do you want to create a new
      fairleds account and link it to this <%= User.social_provider(@rpx_identifier) %> account?<br/><br/>

      <%= link_to_function "link this account", "$('#modal_for_new_account').dialog({autoOpen: false,minWidth: 400,buttons: { 'Cancel': function() {$(this).dialog('close');}}});$('#modal_for_new_account').dialog('open')" %>

      <div id="modal_for_new_account" style="display:none">
        Thank you for linking, now lets set up your account.<br/>Please chose account type:<br/><br/>

        <%= link_to "Sales manager", new_buyer_account_path %> (If you want to buy new leads to your business)<br/>
        <%= link_to " Procurement manager", new_purchase_manager_account_path %> (If you want to a bid on you
        business)<br/>
        <%= link_to "Agent", new_agent_account_path %> (If you are really good at creating new leads)
      </div>

      <br/><br/>or do you want to log in using another account?
      <%= render(:partial => "shared/accounts/rpx_linked_in_note") if User.social_provider(@rpx_identifier) == "Linked In" %>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="grid_440 grid_c">
        <frm title="Type your email">
          <div class="pdd_10">
            <fieldset class="inputs labels_100 inputs_180 no_pdd">
              <ol class="align_inputs no_pdd">
                <%= render :partial => "shared/accounts/social_login_for_sign_in" %>
              </ol>
            </fieldset>
            <fieldset class="inputs labels_100 inputs_280">
              <ol class="align_inputs">
                <li class="string">
                  <%= f.label :email %>
                  <%= f.text_field :email %>
                </li>
                <li class="password">
                  <%= f.label raw(t("activerecord.attributes.user.password") + content_tag("br") + content_tag(:span, link_to(t("home.show.view.forgotten_password_link"), new_password_path(User)), :class => "label_link")) %>
                  <%= f.password_field :password %>
                </li>
                <% if devise_mapping.rememberable? -%>
                    <li class="boolean">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </li>
                <% end -%>
                <li class="commit">
                  <ibt>
                    <%= f.submit "Sign in" %>
                  </ibt>
                  <p>or <%= link_to t("buyer_home.show.view.create_new_buyer_account"), new_buyer_account_path %></p>
                </li>
              </ol>
            </fieldset>
          </div>
        </frm>
      </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</column-mc:>