<column-mc:>
  <header>Sign in</header>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset class="inputs labels_100">
        <ol class="align_inputs">
          <li class="string">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </li>
          <li class="password">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>
          <% if devise_mapping.rememberable? -%>
              <li class="boolean">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </li>
          <% end -%>
          <li class="commit">
            <ibt>
              <%= f.submit "Sign in" %>
            </ibt>
          </li>
        </ol>
      </fieldset>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</column-mc:>