<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :url %>
      <%= form.input :locale_code, :collection => Locale.all.map(&:code), :as => :select, :include_blank => false %>
      <%= form.input :site, :collection => YoutubeIntroduction::SITES, :as => :select, :include_blank => false %>
      <%= form.semantic_fields_for :image, @youtube_introduction.image || Asset::YoutubeImage.new do |image| %>
        <%= image.input :asset,
                        :as => :file,
                        :required => false,
                        :label => I18n.t("administration.categories.edit.view.upload_image"),
                        :name => "youtube_introduction[image_attributes][asset]" %>
      <% end %>
      <li class="string">
        <label>&nbsp;</label>
        <%= image_tag(@youtube_introduction.image.url, :class => "thumb") unless @youtube_introduction.image.nil? %>
      </li>
    </ol>
  </fieldset>
</div>
