<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("validate_voucher.show.header") %>
    <% end %>
  <% end %>

  <h3><%= t("validate_voucher.show.text") %></h3>
  <br/>

  <%= form_tag validate_voucher_path, :method => :post do %>
      <fieldset class="inputs">
        <ol>
          <li class="string">
            <label><%= t("validate_voucher.show.deal_id_label") %></label>
            <%= text_field_tag "deal_unique_id", nil, :style => "width:60px" %>
          </li>
          <li class="string">
            <label><%= t("validate_voucher.show.voucher_number_label") %></label>
            <%= text_field_tag "voucher_number", nil %>
          </li>
          <li class="commit">
            <%= ibt do %>
              <%= submit_tag t("validate_voucher.show.validate_button") %>
            <% end %>
          </li>
        </ol>
      </fieldset>
  <% end %>
<% end %>

