<column-mc:>
  <header><%= t("activate_voucher.show.header") %></header>
  <%= t("activate_voucher.show.text") %><br/><br/>
  <%= form_tag activate_voucher_path, :method => :post do %>
      <label><%= t("activate_voucher.show.deal_id_label") %></label> <%= text_field_tag "deal_unique_id", @deal_unique_id, :style => "width:80px;background-color:#EEFFEE;", :disabled => true; %>
      <label><%= t("activate_voucher.show.voucher_number_label") %></label> <%= text_field_tag "voucher_number", @voucher_number, :style => "width:200px;background-color:#EEFFEE", :disabled => true; %>

      <%= hidden_field_tag "deal_unique_id", @deal_unique_id %>
      <%= hidden_field_tag "voucher_number", @voucher_number %>

      <%= submit_tag t("activate_voucher.show.activate_button") %>

      <%= link_to t("activate_voucher.show.back_link"), validate_voucher_path %>

  <% end %>

</column-mc:>