<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :name %>
      <%= form.input :symbol %>
      <%= form.input :format %>
      <%= form.input :separator %>
      <%= form.input :delimiter %>
      <%= form.input :unit_name %>
      <%= form.input :subunit_name %>
      <%= form.input :active %>
      <%= form.input :global_default %>
    </ol>
  </fieldset>
</div>

