<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("administration.currencies.edit.view.header", :name => @currency.name) %>
    <% end %>
  <% end %>


  <p><%= blurb("blurb_currencies") %></p>

  <%= semantic_form_for @currency, :url => administration_currency_path do |form| %>
      <frm title="#{@currency.name}">
        <param:content>
          <%= render :partial => 'form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("administration.currencies.edit.view.button_update_currency") %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.currencies.edit.view.button_cancel"), href(administration_currencies_path) %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>
<% end %>
