<column-mc:>
  <header>
    <param:content>
      <%= t("administration.currencies.index.view.title") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("administration.currencies.index.view.new_currency"), "javascript:void(0)", :onclick => "$('#form_new_currency').submit()" %>
        </li>
      </ul>
    </param:actions>
  </header>

  <div class="hidden">
    <%= form_tag new_administration_currency_path, :method => :get, :id => "form_new_currency" do %>
        <%= submit_tag t("administration.currencies.index.view.new_currency") %>
    <% end %>
  </div>

  <% if @currencies.blank? %>
      <%= render "shared/blank_data", :msg => t("administration.currencies.index.view.no_currencies_defined") %>
  <% else %>
      <table id="currencies_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= t("administration.currencies.index.view.table.id") %></th>
          <th><%= t("administration.currencies.index.view.table.name") %></th>
          <th><%= t("administration.currencies.index.view.table.symbol") %></th>
          <th><%= t("administration.currencies.index.view.table.format") %></th>
          <th><%= t("administration.currencies.index.view.table.active") %></th>
          <th class="ta_r"><%= t("administration.currencies.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="6"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @currencies.each do |currency| %>
            <tr id="currency_<%= currency.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= currency.id %></td>
              <td><%= currency.name %></td>
              <td><%= currency.symbol %> (<%= raw currency.symbol %>)</td>
              <td><%= currency.format %> (<%= raw number_to_currency(100, :format => currency.format, :unit => currency.symbol) %>)</td>
              <td><%= currency.active %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li>
                    <%= link_to t("administration.currencies.index.view.edit"), edit_administration_currency_path(currency) %>
                  </li>
                  <li>
                    <%= link_to t("administration.currencies.index.view.delete"), administration_currency_path(currency), {:method => :delete, :confirm => t("administration.currencies.index.view.delete_confirmation_message")} %>
                  </li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</column-mc:>