<column-mc:>
  <header>
    <param:content>
      <%= t("administration.currencies.index.view.title") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("administration.currencies.index.view.new_currency"), "javascript:void(0)", :onclick => "$('#form_new_currency').submit()" %>
        </li>
      </ul>
    </param:actions>
  </header>

  <div class="hidden">
    <%= form_tag new_administration_currency_path, :method => :get, :id => "form_new_currency" do %>
        <%= submit_tag t("administration.currencies.index.view.new_currency") %>
    <% end %>
  </div>

  <% if @currencies.blank? %>
      <%= blank_state_message( t("administration.currencies.index.view.no_currencies_defined") ) %>
  <% else %>
      <table id="currencies_table" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width:10px"><%= t("administration.currencies.index.view.table.name") %></th>
          <th><%= t("administration.currencies.index.view.table.symbol") %></th>
          <th><%= t("administration.currencies.index.view.table.format") %></th>
          <th><%= t("administration.currencies.index.view.table.separator") %></th>
          <th><%= t("administration.currencies.index.view.table.delimiter") %></th>
          <th><%= t("administration.currencies.index.view.table.unit_name") %></th>
          <th><%= t("administration.currencies.index.view.table.subunit_name") %></th>
          <th class="ta_c"><%= t("administration.currencies.index.view.table.active") %></th>
          <th class="ta_c"><%= t("administration.currencies.index.view.table.global_default") %></th>
          <th class="ta_r"><%= t("administration.currencies.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="10"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @currencies.each do |currency| %>
            <tr id="currency_<%= currency.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td class="ta_c"><%= currency.name %></td>
              <td><%= currency.symbol %> (<%= raw currency.symbol %>)</td>
              <td>
                <%= currency.format %> (<%= raw as_currency(1000, currency) %>)
              </td>
              <td><%= currency.separator %></td>
              <td><%= currency.delimiter %></td>
              <td><%= currency.unit_name %></td>
              <td><%= currency.subunit_name %></td>
              <td class="ta_c"><%= translate_boolean(currency.active) %></td>
              <td><%= translate_boolean(currency.global_default) %></td>
              <td class="tda ta_r">
                <ul-actions>
                  <li>
                    <%= link_to t("administration.currencies.index.view.edit"), edit_administration_currency_path(currency), :class => "default_action" %>
                  </li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</column-mc:>