<column-mc:>
  <header back="true"><%= t("buyer_accounts.new.view.title") %></header>

  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
  </div>
  
  <hl pdd="15"/>

  <%= semantic_form_for @user, :url => buyer_accounts_path do |form| %>
      <frm title="Create new account" c="no_marg">
        <param:content>
          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_240">
              <ol>
                <%= form.input :first_name %>
                <%= form.input :last_name %>
                <%= form.input :phone %>
                <%= form.input :email %>
                <%= form.input :screen_name %>
                <%= form.input :password %>
                <%= form.input :password_confirmation %>
              </ol>
            </fieldset>
          </div>

          <hl/>

          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_240">
              <ol class="align_inputs">
                <%= form.input :street %>
                <%= form.input :city %>
                <%= form.input :zip_code %>
                <%= form.input :county %>
                <%= form.input :vat_number %>
              </ol>
            </fieldset>
          </div>

          <hl/>

          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_240">
              <ol class="align_inputs">
                <%= form.input :country, :as => :select, :collection => Country.all %>
                <%= form.input :team_buyers, :as => :boolean, :label => t("buyer_accounts.new.view.enable_team_buyers") %>
                <%= form.input :agreement_read, :as => :boolean %>
                <%= form.input :newsletter_on, :as => :boolean %>
              </ol>
            </fieldset>
          </div>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="plus">
            <%= form.submit t("buyer_accounts.new.view.button_create_account") %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
</column-mc:>