<% unless primary_deal.blank? %>
  <% email_form_id = "#{dom_id(primary_deal)}_#{rand(9999)}" %>
  <% cache("#{I18n.locale}_primary_deal_#{primary_deal.id}_part1") do %>
      <div class="frm_plain primary_deal">
        <div class="frm_head">
            <%= image_tag primary_deal.logo.url(:featured) if primary_deal.logo %>

            <% if primary_deal.premium_deal? %>
              <div class="splash splash_premium">
                <span>
                  <%= t("deals.index.view.premium_deal_splash_label") %>
                </span>
              </div>
            <% elsif primary_deal.group_deal? %>
              <div class="splash splash_group">
                <span>
                  <%= t("deals.index.view.group_deal_splash_label") %>
                </span>
              </div>
            <% else %>
              <div class="splash splash_fair">
                <span>
                  <%= t("deals.index.view.fair_deal_splash_label") %>
                </span>
              </div>
            <% end %>
        </div>
        <div class="frm_content">
          <div class="deal_ft_desc">
            <%= image_tag(primary_deal.images.first.url, :size => "300x210", :class => "deal_ft_img") if primary_deal.images.first %>

            <h4><%= link_to primary_deal.header, deal_path(primary_deal.slug), :style => "text-decoration:none;color:#fff" %></h4>

            <% if primary_deal.group_deal? %>
                <div id="countdown_<%= email_form_id %>" class="countdown">
                  <span class="countdown_title">Time left:</span>

                  <div class="dash days_dash">
                    <span class="dash_title"><%= t("deals.show.view.days") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash hours_dash">
                    <span class="dash_title"><%= t("deals.show.view.hours") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash minutes_dash">
                    <span class="dash_title"><%= t("deals.show.view.minutes") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash seconds_dash">
                    <span class="dash_title"><%= t("deals.show.view.seconds") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                </div>
            <% end %>

            <% if primary_deal.general_discount? %>
                <div class="deal_ft_discount">
                  <p class="row" style="text-transform:uppercase;"><%= t("deals.index.view.save") %> <%= primary_deal.saving %></p>
                </div>
            <% else %> 
                <div class="deal_ft_prices">
                  <p class="row"><%= t("deals.index.view.price") %>: <%= as_currency(primary_deal.deal_price, primary_deal.currency) %></p>
                  <p class="row"><%= t("deals.index.view.save") %>: <%= as_currency(primary_deal.discounted_price, primary_deal.currency) %></p>
                  <p class="cell" style="text-transform:uppercase;"><%= t("deals.index.view.save") %><br/><%= primary_deal.saving %></p>
                </div>
            <% end %>

          </div>

          <div class="deal_info" style="display: none">
            <p>
              <%= image_tag primary_deal.logo.url if primary_deal.logo %>
            </p>

            <% if primary_deal.general_discount? %>
                <%= t("deals.index.view.save") %> <%= primary_deal.saving %>
            <% else %>
                <%= t("deals.index.view.normal_price") %>: <%= as_currency(primary_deal.deal_price, primary_deal.currency) %>
                <br/>
                <%= t("deals.index.view.fairdeals_price") %>:<br/><%= as_currency(primary_deal.discounted_price, primary_deal.currency) %>
                <br/>
                <%= t("deals.index.view.you_save") %>:<%= as_currency(primary_deal.deal_price - primary_deal.discounted_price, primary_deal.currency) %> (<%= primary_deal.saving %>)

            <% end %>

            <p><%= group_deal_leads_created_and_missing(primary_deal) %></p>

          </div>

          <div class="deal_desc" style="display: none">
            <h3><%= link_to primary_deal.header, deal_path(primary_deal.slug) %></h3>

          </div>

          <clb/>


    <% end %>
    <!-- not cached content -->
          <!-- end / main deal -->

          <% if defined? comments_enbaled and comments_enbaled %>
            <%= link_to primary_deal.comment_threads.count.zero? ? !user_signed_in? ? t("deals.listing.no_comments") : t("deals.listing.create_comment") : t("deals.listing.show_comments"), "javascript:void(0)", :class => "toggle_comments show_comments#{' toggle_row_unread' if primary_deal.has_unread_comments_for_user?(current_user)}", :onclick => "load_deal_comments(#{primary_deal.id},#{user_signed_in?})" %>
            <%= link_to t("deals.listing.hide_comments"), "javascript:void(0)", :class => "toggle_comments hide_comments", :style => "display:none" %>
          <% end %>
        </div>

        <div class="frm_comments" style="display: none;">
          <% if defined? comments_enbaled and comments_enbaled %>
          <div class="row_tooltip_content comments_details" id="comments_for_deal_<%= primary_deal.id %>">
            <%#= render :partial => "/shared/deal_comments/deal_threads", :locals => {:deal => primary_deal, :threads => primary_deal.comment_threads.roots.order("created_at DESC")} %>
          </div>
          <% end %>
        </div>

        <div class="frm_foot">
          <div class="deal_foot">
            <%= ratings_for(primary_deal, :force_static => !current_user_has_role?(:member)) %>
            <%= bt_link_to nil, t("deals.index.view.view_deal"), deal_path(primary_deal.slug) %>
          </div>

          <div class="deal_sm">
            <%= link_to_function image_tag("fairdeals/bt/social_email.png"), "$('#modal_for_share_deal_by_email').html('').load('#{new_share_deal_by_email_path(:deal_id => primary_deal.id)}').dialog('open');" %>
            <!-- end / not cached content -->
            <% cache("#{I18n.locale}_primary_deal_#{primary_deal.id}_part2") do %>
                <%= link_to_function image_tag("fairdeals/bt/social_linkedin.png"), "window.open('https://www.linkedin.com/cws/share?url=#{escape_uri(deal_url(:id => primary_deal.slug))}&isFramed=true','', 'width=400,height=320,location=0,toolbar=0,menubar=0')" %>
                <%= link_to_function image_tag("fairdeals/bt/social_facebook.png"), "window.open('https://www.facebook.com/sharer.php?u=#{escape_uri(deal_url(:id => primary_deal.slug))}','', 'width=400,height=320,location=0,toolbar=0,menubar=0')" %>
                <%= link_to_function image_tag("fairdeals/bt/social_twitter.png"), "window.open('https://twitter.com/share?url=#{escape_uri(deal_url(:id => primary_deal.slug))}&text=#{escape_javascript(primary_deal.social_media_description)}','tweet', 'width=400,height=320,location=0,toolbar=0,menubar=0')" %>
          </div>
          <clb/>

        </div>

    </div>

    <script>
    <% if primary_deal.group_deal? %>
    jQuery(document).ready(function() {
        d = new Date();
        seconds = (<%= primary_deal.end_date.to_i %> - parseInt(d.getTime() / 1000));
        $('#countdown_<%= email_form_id %>').countDown({
            targetOffset: {
                'year':     0,
                'month':    0,
                'day':      0,
                'hour':     0,
                'min':      0,
                'sec':      seconds
            },
            omitWeeks: true
        });
    });
    <% end %>

    $('#modal_for_share_deal_by_email').dialog({
        autoOpen: false,
        width: 350,
        title: '<%= t("deals.show.view.share_by_email_modal_title") %>',
        modal: true,
        position: ['center', 100],
        buttons:
        { "<%= t("deals.show.view.send_share_by_email_button") %>": function() {
            if (validate_template_editor_fields("#modal_for_share_deal_by_email") == 0) {
                $('#form_share_deal_by_email').submit();
            }
        },
            "<%= t("deals.show.view.cancel") %>": function() {
                $(this).dialog('close');
            }
        }
    });


    </script>
  <% end %>
<% end %>