<% unless primary_deal.blank? %>
    <% email_form_id = ActiveSupport::SecureRandom.hex(16) %>
      <div class="frm_plain primary_deal">
        <%= link_to "previous", group_deal_path(primary_deal, :previous => true), :class => "arrow_left", :remote => true %>
        <%= link_to "next", group_deal_path(primary_deal, :next => true), :class => "arrow_right", :remote => true %>
        <div class="frm_head">
            <h2><%= link_to primary_deal.header, deal_path(primary_deal.slug) %></h2>
            <div class="splash splash_red"><span><%= primary_deal.group_deal? ? t("deals.index.view.group_deal_splash_label") : t("deals.index.view.fair_deal_splash_label") %></span></div>
        </div>
        <div class="frm_content">

          <div class="deal_info">
            <p>
              <%= image_tag primary_deal.logo.url if primary_deal.logo %>
            </p>

            <% if primary_deal.general_discount? %>
                 <p style="font-size:20px; padding: 4px 0 10px">
                <%= t("deals.index.view.save") %> <span class="b red"><%= primary_deal.saving %></span>
                 </p>
            <% else %>
                <p class="b">
                  <%= as_currency(primary_deal.deal_price, primary_deal.currency) %> - <%= t("deals.index.view.save") %> <%= primary_deal.saving %>
                </p>

                <p class="new_price">
                  <%= as_currency(primary_deal.discounted_price, primary_deal.currency) %>
                </p>
            <% end %>

            <p>
              <%= bt_link_to nil, t("deals.index.view.view_deal"), deal_path(primary_deal.slug) %>
            </p>
            <br />
            <p><%= group_deal_leads_created_and_missing(primary_deal) %></p>

          </div>

          <div class="deal_desc">
            <p class="deal_featured_desc">
              <%= raw primary_deal.featured_description %>
            </p>

            <% if primary_deal.group_deal? %>
                <div id="countdown" class="countdown">
                  <span class="countdown_title">Time left:</span>
                  <div class="dash days_dash">
                    <span class="dash_title"><%= t("deals.show.view.days") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash hours_dash">
                    <span class="dash_title"><%= t("deals.show.view.hours") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash minutes_dash">
                    <span class="dash_title"><%= t("deals.show.view.minutes") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                  <div class="dash seconds_dash">
                    <span class="dash_title"><%= t("deals.show.view.seconds") %></span>

                    <div class="digit">0</div>
                    <div class="digit">0</div>
                  </div>
                </div>
            <% end %>

          </div>

          <clb/>

          <div>
            <div id="modal_for_share_deal_by_email_<%= email_form_id %>" style="display:none;">
              <%= render :partial => "share_deal_by_email/new", :locals => {:deal => primary_deal, :email_form_id => email_form_id } %>
            </div>
          </div>
          <!-- end / main deal -->
        </div>

        <div class="frm_foot">
          <p>
            <%= link_to_function image_tag("fairdeals/bt/social_email.png"), "$('#modal_for_share_deal_by_email_#{email_form_id}').dialog('open');" %>
            <%= link_to_function image_tag("fairdeals/bt/social_linkedin.png"), "window.open('https://www.linkedin.com/cws/share?url=#{escape_uri(deal_url(:id => primary_deal.slug))}&text=#{escape_javascript(primary_deal.social_media_description)}&isFramed=true','tweet', 'width=400,height=320,location=0,toolbar=0,menubar=0')" %>
            <%= link_to_function image_tag("fairdeals/bt/social_facebook.png"), "window.open('https://www.facebook.com/sharer.php?u=#{escape_uri(deal_url(:id => primary_deal.slug))}&text=#{escape_javascript(primary_deal.social_media_description)}','tweet', 'width=400,height=320,location=0,toolbar=0,menubar=0')" %>
            <%= link_to_function image_tag("fairdeals/bt/social_twitter.png"), "window.open('https://twitter.com/share?url=#{escape_uri(deal_url(:id => primary_deal.slug))}&text=#{escape_javascript(primary_deal.social_media_description)}','tweet', 'width=400,height=320,location=0,toolbar=0,menubar=0')"  %>
          </p>
        </div>
      </div>

    <script>
    <% if primary_deal.group_deal? %>
    jQuery(document).ready(function() {
        d = new Date();
        seconds = (<%= primary_deal.end_date.to_i %> - parseInt(d.getTime() / 1000));
        $('#countdown').countDown({
            targetOffset: {
                'year':     0,
                'month':    0,
                'day':      0,
                'hour':     0,
                'min':      0,
                'sec':      seconds
            },
            omitWeeks: true
        });
    });
    <% end %>

    $('#modal_for_share_deal_by_email_<%= email_form_id %>').dialog({
        autoOpen: false,
        width: 400,
        title: '<%= t("deals.show.view.share_by_email_modal_title") %>',
        modal: true,
        buttons:
        { "<%= t("deals.show.view.send_share_by_email_button") %>": function() {
            if (validate_template_editor_fields("#modal_for_share_deal_by_email_<%= email_form_id %>") == 0) {
                $('#form_share_deal_by_email_<%= email_form_id %>').submit();
                $(this).dialog("close");
            }
        },
            "<%= t("deals.show.view.cancel") %>": function() {
                $(this).dialog('close');
            }
        }
    });
    </script>
  <% end %>