    <div id="secondary_featured_deal_<%= position %>" class="secondary_featured_deal">
      <% if featured.present? %>
          <frm>
            <param:header>
              <!-- not cached content -->
              <%= ratings_for(featured, :force_static => !current_user_has_role?(:member)) %>

              <h2>
                <%= link_to featured.header, deal_path(featured.slug) %>

                <span class="highlighted">/
                    <% if featured.general_discount? %>
                        <%= t("deals.index.view.save") %> <%= featured.saving %>
                    <% else %>
                        <%= t("deals.index.view.fairdeals_price") %>:
                        <%= as_currency(featured.discounted_price, featured.currency) %>
                        /
                        <%= t("deals.index.view.you_save") %>:
                        <%= featured.saving %>
                    <% end %>
                </span>
              </h2>


            </param:header>
            <% cache("#{I18n.locale}_secondary_deal_#{featured.id}_part1") do %>
              <param:content>
              <div class="pdd_15">
                <div class="deal_info">
                  <div class="deal_price">

                  <% end %>

                    <%= group_deal_leads_created_and_missing(featured) %>
                    <!-- end / not cached content -->

                    <% cache("#{I18n.locale}_secondary_deal_#{featured.id}_part2") do %>
                  </div>

                  <div class="deal_description">
                    <%= image_tag featured.logo.url(:featured), :class => "logo" if featured.logo %>
                    <p><%= featured.short_featured_description.to_s.html_safe %></p>
                    <%= bt_link_to nil, t("deals.index.view.view_deal"), deal_path(featured.slug), :class => 'default_action' %>
                  </div>

                  <clb/>

                </div>

                <div class="deal_thumb">
                  <p>
                    <%= image_tag featured.images.first.url(:featured), :class => "thumb" if featured.images.first %>
                  </p>
                </div>

                <clb/>

              </div>
            </param:content>
          </frm>
          <% end %>
      <% elsif !defined?(skip_blank) %>
          <frm c="no_marg"></frm>
      <% end %>
    </div>
