<div class="col <%= (defined? middle) ? middle : '' %>" id="secondary_featured_deal_<%= position %>">
  <% unless featured.blank? %>
      <frm c="no_marg" title="#{link_to featured.header, deal_path(featured.slug)}">
        <param:content>
          <div class="pdd_10">
            <p class="deal_desc"><%= featured.short_featured_description.to_s.truncate_letters(55) %></p>

            <p class="deal_thumb">
              <%= image_tag featured.logo.url(:preview), :class => "thumb" if featured.logo %>
            </p>

            <p class="deal_price">
              <% if featured.general_discount? %>
                <%= t("deals.index.view.save") %> <span class="b red"><%= featured.saving %></span>
              <% else %>
              <%= t("deals.index.view.price") %>
              <span class="b green"><%= as_currency(featured.discounted_price, featured.currency) %></span>
              <br/>
              <%= t("deals.index.view.save") %> <span class="b red"><%= featured.saving %></span>
              <% end %>
              <%= bt_link_to nil, t("deals.index.view.view_deal"), deal_path(featured.slug), :class => 'default_action' %>
              <br />
              <%= group_deal_leads_created_and_missing(featured) %>
              <clb/>
            </p>
          </div>
        </param:content>
      </frm>
  <% else %>
      <frm c="no_marg"></frm>
  <% end %>
</div>