<%= content_for :column_mc do -%>

  <div class="grid_680 fltl">
    <%= render :partial => 'group', :locals => {:deals => @deals} %>
    <div id="deal_loader" class="ta_c" style="display:none"><%= image_tag('global_loader.gif') %></div>
  </div>

  <div class="grid_280 fltr">
    <%= render :partial => "right_panel" %>
  </div>
  <div class="clb"></div>

  <script>
      $(document).ready(function() {
          $('.introduction_video').colorbox({iframe:true, innerWidth:560, innerHeight:349});
      });
  </script>

<% end %>

<js:>
  <script type="text/javascript">
      var PAGE = 6;
      var LAST_PAGE = <%= @last_page %>;

      function loadMoreDeals() {
        $.ajax({
            url: '<%= all_deals_path %>.js',
            type: 'POST',
            data: { page: PAGE },
            beforeSend: function(xhr) {
                PAGE = PAGE + 1;
            }
        });
      }

      $(window).scroll(function(){
              if  ($(window).scrollTop() == $(document).height() - $(window).height() && (PAGE <= LAST_PAGE)){
                 loadMoreDeals();
              }
      });

      $(document).ajaxStart(function(){$("#deal_loader").show()});
      $(document).ajaxStop(function(){$("#deal_loader").hide()});
  </script>
</js:>
