<column-mc:>

  <div class="grid_680 fltl">
    <% if youtube_introduction %>
        <div class="homepage_intro">
          <div class="youtube_thumb">
            <%= link_to image_tag(youtube_introduction.image ? youtube_introduction.image.url : "https://img.youtube.com/vi/#{youtube_introduction.url.extract_youtube_video_id}/default.jpg"), "https://www.youtube.com/embed/#{youtube_introduction.url.extract_youtube_video_id}?autoplay=1&rel=0&border=0", :class => "introduction_video", :id => "introduction_video_link" %>
          </div>
        </div>
    <% end %>

    <% unless @primary_deal.blank? %>
      <div class="primary_deals_wrapper">
          <%= link_to_function "previous", '#', :class => "arrow_left" %>
          <%= link_to_function "next", '#', :class => "arrow_right" %>
          <div id="primary_deals">
            <div id="primary_group_deal">
              <%= render :partial => 'primary_deal', :locals => {:primary_deal => @primary_deal} %>
            </div>
            <% @featured_deals[1..9].each do |deal| %>
                <div style="display:none">
                  <%= render :partial => 'primary_deal', :locals => {:primary_deal => deal} %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <!--- other deals --->
    <% [(1..Settings.number_of_secondary_featured_deals.to_i).to_a].each do |array| %>
        <div class="other_deals">
          <% array.each do |position| %>
              <% if @featured_deals[position] %>
                <%= render :partial => 'secondary_deal', :locals => {:position => position, :featured => @featured_deals[position], :middle => nil} %>
                <clb/>
              <% end %>
          <% end %>
        </div>
        <br/>
    <% end %>
    <!--- end / other deals --->

    <div class="pdd_5 ta_c">
      <%= bt_link_to :arrow_down, t("fairdeals_home.show.view.see_all_deals"), all_deals_path %>
    </div>

  </div>

  <div class="grid_280 fltr">
    <%= render :partial => "right_panel" %>
  </div>
  <clb/>

  <script>
      $(document).ready(function() {
          $('.introduction_video').colorbox({iframe:true, innerWidth:560, innerHeight:349});
      });
  </script>

</column-mc:>

<js:>
  <script type="text/javascript">

      function validate_request_deal_form() {
          name_is_valid = custom_form_validator_for_field("#request_deal_form", "email_deal_request_preview_name", "not_empty");
          phone_is_valid = custom_form_validator_for_field("#request_deal_form", "email_deal_request_preview_phone_number", "not_empty");
          email_is_valid = custom_form_validator_for_field("#request_deal_form", "email_deal_request_preview_email_from", "valid_email");
          deal_description_is_valid = custom_form_validator_for_field("#request_deal_form", "email_deal_request_preview_deal_description", "not_empty");

          if (name_is_valid && phone_is_valid && email_is_valid && deal_description_is_valid) {
              $('#request_deal_form').submit();
          }
      }

      $('#primary_deals').cycle({
        fx:     'fade',
        timeout: 5000,
        next: '.arrow_right',
        prev: '.arrow_left',
        pause: 1,
        width: 680,
        fit: 1
      });

  </script>
</js:>
