<column-mc:>

  <hl pdd="15"/>

  <div class="grid_750 fltl" id="introduction_video">
    <% if youtube_introduction %>
        <div class="youtube_thumb">
          <%= link_to image_tag(youtube_introduction.image ? youtube_introduction.image.url : "http://img.youtube.com/vi/#{youtube_introduction.url.extract_youtube_video_id}/default.jpg", :class => "thumb"), "http://www.youtube.com/embed/#{youtube_introduction.url.extract_youtube_video_id}?autoplay=1&rel=0&border=0", :class => "introduction_video", :id => "introduction_video_link" %>
        </div>
    <% end %>
    <div class="intro_content">
      <%= blurb("blurb_start_page_fairdeals") %>
    </div>
  </div>


  <% unless user_signed_in? %>
      <div class="grid_340 fltr">
        <frm title="I have an account" c="no_marg">
          <div class="pdd_10">
            <%= semantic_form_for(:user, :url => session_path(:user)) do |f| %>

                <!--<fieldset class="inputs labels_100 inputs_180 no_pdd">-->
                  <!--<ol class="align_inputs no_pdd">-->
                    <!--<%= render :partial => "shared/accounts/social_login_for_sign_in" %>-->
                  <!--</ol>-->
                <!--</fieldset>-->


                <fieldset class="inputs labels_100 inputs_180 no_pdd">
                  <ol class="align_inputs no_pdd">

                    <%= f.input :email, :input_html => {:tabindex => 1} %>
                    <%= f.input :password, :label => raw(I18n.t("activerecord.attributes.user.password") + content_tag(:span, link_to(t("home.show.view.forgotten_password_link"), new_password_path(User)), :class => "label_link")), :input_html => {:tabindex => 2}, :wrapper_html => {:class => "rltv"} %>
                    <%= f.input :remember_me, :as => :boolean, :required => false, :input_html => {:tabindex => 3} %>
                    <!--<li class="commit">-->
                      <!--<ibt>-->
                        <!--<%= f.submit t("home.show.view.sign_in"), :tabindex => 4 %>-->
                      <!--</ibt>-->
                    <!--</li>-->
                  </ol>
                </fieldset>
            <% end %>
          </div>
        </frm>
      </div>
  <% end %>

  <clb/>
  <hl pdd="15"/>

  <div class="grid_750 fltl" id="primary_featured_deal">
    <frm c="no_marg">
      <param:content>
        <% if @primary_deal %>
            <%= image_tag @primary_deal.logo.url if @primary_deal.logo %>
            <%= @primary_deal.header %>
            <%= @primary_deal.description %>
        <% end %>
      </param:content>
    </frm>
  </div>

  <clb/>
  <hl pdd="15"/>

  <div class="grid_250 fltl" id="secondary_featured_deal_1">
    <frm c="no_marg">
      <param:content>
        <% if featured = FeaturedDeal.where(:position => 1).first and featured.deal %>
            <%= image_tag featured.deal.logo.url if featured.deal.logo %>
            <%= featured.deal.header %>
        <% end %>
      </param:content>
    </frm>
  </div>

  <div class="grid_250 fltl" id="secondary_featured_deal_2">
    <frm c="no_marg">
      <param:content>
        <% if featured = FeaturedDeal.where(:position => 2).first and featured.deal %>
            <%= image_tag featured.deal.logo.url if featured.deal.logo %>
            <%= featured.deal.header %>
        <% end %>
      </param:content>
    </frm>
  </div>

  <div class="grid_250 fltl" id="secondary_featured_deal_3">
    <frm c="no_marg">
      <param:content>
        <% if featured = FeaturedDeal.where(:position => 3).first and featured.deal %>
            <%= image_tag featured.deal.logo.url if featured.deal.logo %>
            <%= featured.deal.header %>
        <% end %>
      </param:content>
    </frm>
  </div>

  <div class="column_1to3 fltr" id="news">
    <frm title="#{t('purchase_manager_home.show.view.header_news')}" c="no_marg">
      <param:header>
        <%= bt_link_to nil, t("purchase_manager_home.show.view.complete_list_link"), news_index_path(:search => {:with_subclass => 'PurchaseManager'}), :class => "fltr" %>
      </param:header>
      <param:content>
        <ul class="solid_list">
          <% if @news.any? %>
              <%= render :partial => 'news', :collection => @news, :as => :news %>
          <% else %>
              <%= render :partial => 'shared/blank_data_li' %>
          <% end %>
        </ul>
      </param:content>

    </frm>
  </div>

  <clb/>

  <script>
      $(document).ready(function() {
          $('.introduction_video').colorbox({iframe:true, innerWidth:560, innerHeight:349});
      });
  </script>

</column-mc:>
