<div class="invoice_show <%= version == :original ? "original" : "copy" %>">

  <div class="general_data">
    <table cellpadding="0" cellspacing="0">
      <tr><td class="h"><%= t("customer.invoices.show.view.number") %>: </td><td><%= invoice.number %>/<%=invoice.creation_date.year%></td></tr>
      <tr><td class="h"><%= t("customer.invoices.show.view.payment_deadline") %>: </td><td><%= invoice.payment_deadline_date %></td></tr>
      <tr><td class="h"><%= t("customer.invoices.show.view.creation_date") %>: </td><td><%= invoice.creation_date %></td></tr>
    </table>
  </div>

  <div class="hInvoice"><%= t("customer.invoices.show.view.header") %></div>

  <div class="sides">
        <table cellpadding="0" cellspacing="0">
        <tr><td class="bigger"><%= t("customer.invoices.show.view.from") %></td><td class="bigger"><%= t("customer.invoices.show.view.to") %></td></tr>
        <tr><td class="h"><%= invoice.seller_name %></td><td class="h"><%= invoice.customer_name %></td></tr>
        <tr><td><%= invoice.seller_address %></td><td><%= invoice.customer_address %></td></tr>
        <tr><td><%= invoice.seller_vat_no %></td><td><%= invoice.customer_vat_no %></td></tr>
        <% if invoice.ean_number.present? %>
          <tr><td></td><td><%= t("customer.invoices.show.view.ean_number") %>: <%= invoice.ean_number %></td></tr>
        <% end %>
        </table>
  </div>

  <div class="product_data">
    <table cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <td class="field_id">#</td>
        <td class="product_name"><%= t("customer.invoices.show.view.name") %></td>
        <td class="qty"><%= t("customer.invoices.show.view.quantity") %></td>
        <td class="netto_price"><%= t("customer.invoices.show.view.netto_price") %></td>
        <td class="vat"><%= t("customer.invoices.show.view.vat") %></td>
        <td class="vat_value"><%= t("customer.invoices.show.view.vat_value") %></td>
        <td class="brutto_value r"><%= t("customer.invoices.show.view.brutto_value") %></td>
      </tr>
      </thead>
      <tbody>

      <% invoice.invoice_lines.each_with_index do |invoice_line, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= invoice_line.name %></td>
            <td><%= invoice_line.quantity %> <%= invoice_line.unit %></td>
            <td><%= number_to_currency(invoice_line.netto_price, :unit => invoice.currency.symbol) %></td>
            <td><%= invoice_line.vat_rate.zero? ? (t :na, :scope => "customer.invoices.common.view") : number_to_percentage(invoice_line.vat_rate*100, :precision => 0) %></td>
            <td><%= number_to_currency(invoice_line.vat_value, :unit => invoice.currency.symbol) %></td>
            <td class="r"><%= number_to_currency(invoice_line.brutto_value, :unit=>invoice.currency.symbol) %></td>
          </tr>
      <% end %>

      <tr class="space"><td colspan="7"></td></tr>

      <tr class="totals">
        <td class="empty" colspan="2"></td>
        <td class="totals_h h r"><%= t("customer.invoices.show.view.total") %></td>
        <td><%= number_to_currency(invoice.total_netto, :unit => invoice.currency.symbol) %></td>
        <td></td>
        <td><%= number_to_currency(invoice.total_vat, :unit => invoice.currency.symbol) %></td>
        <td class="h r" ><%= number_to_currency(invoice.total, :unit => invoice.currency.symbol) %></td>
      </tr>

      <tr class="space"><td colspan="7"></td></tr>

      <% unless invoice.vat_paid_in_customer_country? %>
          <% invoice.invoice_lines_grouped_by_vat_rate.each_with_index do |invoice_line, index| %>
              <tr class="totals">
                <td class="empty" colspan="2"></td>
                <% if index.zero? %>
                    <td class="totals_h h r"><%= t("customer.invoices.show.view.including") %></td>
                <% else %>
                    <td class="empty"></td>
                <% end %>
                <td><%= number_to_currency(invoice_line.netto_value_sum, :unit => invoice.currency.symbol) %></td>
                <td><%= invoice_line.vat_rate.zero? ? (t :na, :scope => "customer.invoices.common.view") : number_to_percentage(invoice_line.vat_rate*100, :precision => 0) %></td>
                <td><%= number_to_currency(invoice_line.vat_value_sum, :unit => invoice.currency.symbol) %></td>
                <td class="r"><%= number_to_currency(invoice_line.brutto_value_sum, :unit => invoice.currency.symbol) %></td>
              </tr>
          <% end %>
      <% end %>

      </tbody>
    </table>
  </div>

  <div class="additional_data">
    <ul>
      <p><span class="h"><%= t("customer.invoices.show.view.total_in_words") %>:</span> <%= invoice.total_in_words %></p>
      <% if invoice.english_version %>
          <p><span class="h"><%= t("customer.invoices.show.view.vat_paid") %>
            :</span> <%= invoice.vat_paid_in_customer_country == true ? t("customer.invoices.show.view.yes_label") : t("customer.invoices.show.view.no_label") %> <%= "- #{invoice.vat_text_in_customer_country}" if invoice.vat_text_in_customer_country.present? %></p>
      <% end %>
      <p><span class="h"><%= t("customer.invoices.show.view.payment_method") %>
        :</span> <%= invoice.payment_method == "cash" ? t("customer.invoices.common.view.cash") : t("customer.invoices.common.view.bank_transfer") %>
      </p>
    </ul>
    <% if invoice.details.present? %>
        <br />
        <p><%= invoice.details %></p>
    <% end %>
  </div>

  <div class="status_data">
    <h2><%= t("customer.invoices.show.view.status") %></h2>
    <ul>
      <li><label class="h"><%= t("customer.invoices.show.view.creation_place") %></label><%= invoice.creation_place %></li>
      <li><label class="h"><%= t("customer.invoices.show.view.emailed_at") %></label><%= invoice.emailed_at or "-" %></li>
      <li><label class="h"><%= t("customer.invoices.show.view.paid_at") %></label><%= invoice.paid_at or "-" %></li>
      <li><label class="h"><%= t("customer.invoices.show.view.cashflow") %></label><%= number_to_currency(invoice.cash_flow, :unit => invoice.currency.symbol)%></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>