<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">

      <%= form_for @search, :url => lead_users_lead_requests_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("lead_user.lead_requests.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_category, t("lead_user.lead_requests.index.view.search.category_label") %>
                <%= f.select :with_category, @categories, {:include_blank => true} %>
              </li>
              <li class="string">
                <%= f.label :with_zip_code, t("lead_user.lead_requests.index.view.search.zip_code") %>
                <%= f.text_field :with_zip_code, :style => "width: 100px" %>
              </li>
              <li class="select">
                <%= f.label :with_country, t("lead_user.lead_requests.index.view.search.country_label") %>
                <%= f.select :with_country, @countries, {:include_blank => true} %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("lead_user.lead_requests.index.view.search.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>

    </div>
  </div>
<% end %>
<%= content_for :column_mc do -%>
  <header><%= t("lead_user.lead_requests.index.view.header") %></header>

  <% if @lead_requests.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= bulk_form do %>
          <%= lead_requests_listing @lead_requests, :show_checkboxes => true do |blocks| %>

              <% blocks.tools do |lead| %>
                  <% if current_user %>
                      <% if current_user.has_role?(:lead_user) %>
                          <%= bt_link_to nil, t("lead_user.lead_requests.index.view.destroy_lead_request"), lead_users_lead_request_path(:id => lead.id), :method => :delete %>
                      <% end %>
                  <% end %>

              <% end %>

              <% if user_signed_in? && current_user.has_role?(:lead_user) %>
                  <% blocks.bottom do %>
                      <%= hidden_field_tag :route_to %>
                      <%= bt_link_to :remove, t("lead_user.lead_requests.index.view.button_bulk_destroy_lead_request"), "javascript:void(0)", :onclick => "submitBulkForm('#{lead_users_bulk_lead_requests_path}#DELETE');" %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>

<% end %>