<column-mc:>
  <header>Forgot your password?</header>

  <%= form_for(resource, :as => resource_name, :url => user_password_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="inputs labels_100">
        <ol class="align_inputs">
          <li class="string"><%= f.label :email %>
            <%= f.text_field :email %></li>

          <li class="commit">
            <ibt>
              <%= f.submit t("devise.passwords.button_create") %>
            </ibt>
          </li>
        </ol>
      </fieldset>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</column-mc:>