<column-mc:>
  <header back="true">Forgot your password?</header>

  <%= form_for(resource, :as => resource_name, :url => user_password_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="grid_420">
        <frm title="Type your email">
          <div class="pdd_10">
            <fieldset class="inputs labels_100 no_pdd">
              <ol class="align_inputs no_pdd">
                <li class="string">
                  <%= f.label :email %>
                  <%= f.text_field :email %>
                  <span class="fltl" style="line-height: 28px; padding-left: 5px">
              <%= help_popup(t("common.help_link"), 'reset_password') %>
            </span>
                </li>

                <li class="commit">
                  <ibt>
                    <%= f.submit t("devise.passwords.button_create") %>
                  </ibt>
                </li>
              </ol>
            </fieldset>

          </div>
        </frm>
      </div>
  <% end %>

  <%#= render :partial => "devise/shared/links" %>

</column-mc:>