<%= t("buyer_home.show.view.header_news") %>

<ul>
    <% @best_sellers.each do |best_seller| %>
        <li>
          <%= link_to best_seller.header, lead_path(best_seller) %><br/>
          <%= t("buyer_home.show.view.purchase_value_label") %> <%= best_seller.purchase_value %>
          <%= t("buyer_home.show.view.lead_price_label") %> <%= best_seller.price %><br/>
          <%= t("buyer_home.show.view.description_label") %> <%= best_seller.description %><br/>
          <%= link_to t("buyer_home.show.view.read_more_label"), lead_path(best_seller) %>
        </li>
    <% end %>
</ul>
