<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("category_requests.new.view.header") %>
    <% end %>
  <% end %>

  <%= form_for :email_template_preview, :url => category_requests_path do |f| %>
    <%= frm(:title => "Contact Form") do %>
      <% section.block_content do %>
      <div class="pdd_10 no_pdd_t">

        <fieldset class="inputs labels_ta_r">
          <ol class="align_inputs">
            <li class="string">
              <%= f.label t("category_requests.new.view.email_from") %>
              <%= f.text_field :email_from %> <%= custom_error_for_object_and_field(@email_template_preview, :email_from) %>
              <p class="inline-hints"><%= hint_for("category_request", :email_from) %></p>
            </li>
            <li class="string">
              <%= f.label t("category_requests.new.view.phone_number") %>
              <%= f.text_field :phone_number %> <%= custom_error_for_object_and_field(@email_template_preview, :phone_number) %>
              <p class="inline-hints"><%= hint_for("category_request", :phone_number) %></p>
            </li>
            <li class="string">
              <%= f.label t("category_requests.new.view.category_name") %>
              <%= f.text_field :category_name %> <%= custom_error_for_object_and_field(@email_template_preview, :category_name) %>
              <p class="inline-hints"><%= hint_for("category_request", :category_name) %></p>
            </li>
            <li class="text">
              <%= f.label t("category_requests.new.view.lead_description") %>
              <%= f.text_area :lead_description, :size => "100x8" %><%= custom_error_for_object_and_field(@email_template_preview, :lead_description) %>
              <p class="inline-hints"><%= hint_for("category_request", :lead_description) %></p>
            </li>
            <li class="string">
              <%= f.label t("category_requests.new.view.leads_count_per_month_#{!current_user ? 'guest' : current_user.has_any_role?(:agent, :call_centre_agent) ? 'agent' : 'supplier'}") %>
              <%= f.text_field :leads_count_per_month %> <%= custom_error_for_object_and_field(@email_template_preview, :leads_count_per_month) %>
              <p class="inline-hints"><%= hint_for("category_request", "leads_count_per_month_#{!current_user ? 'guest' : current_user.has_any_role?(:agent, :call_centre_agent) ? 'agent' : 'supplier'}") %></p>
            </li>
            <li class="boolean">
              <%= f.label t("category_requests.new.view.can_be_contacted") %>
              <%= f.check_box :can_be_contacted %>
              <p class="inline-hints"><%= hint_for("category_request", :can_be_contacted) %></p>
            </li>
          </ol>
        </fieldset>
      </div>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri") do %>
          <%= submit_tag t("contact_us.new.view.send_email_button") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
