<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :first_name, :hint => hint_for(@user, :first_name) %>
      <%= form.input :last_name, :hint => hint_for(@user, :last_name) %>
      <%= form.input :mobile_phone, :hint => hint_for(@user, :mobile_phone) %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :phone, :hint => hint_for(@user, :phone) %>
      <%= form.input :email, :hint => hint_for(@user, :email) %>
      <%= form.input :mobile_phone, :hint => hint_for(@user, :mobile_phone) %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :department, :hint => hint_for(@user, :department) %>
      <%= form.input :lead_supplier_role_enabled, :hint => hint_for(@user, :lead_supplier_role_enabled), :as => :boolean %>
      <%= form.input :agreement_read, :as => :hidden, :value => "1" %>
      <%= form.input :hide_profile_page, :as => :boolean, :hint => hint_for(@user, :hide_profile_page) %>
      <%= form.input :hide_lead_prices, :as => :boolean, :hint => hint_for(@user, :hide_lead_prices) %>
    </ol>
  </fieldset>
</div>