<column-mc:>
  <header>
    <param:content>
      <%= t('supplier.subaccounts.index.view.title') %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <% unless current_user.auto_buy_enabled %>
        <li>
          <%= bt_link_to :user, t("supplier.subaccounts.index.view.new_lead_supplier"), new_suppliers_subaccount_path(:role => "lead_supplier") %>
        </li>
        <% end %>
        <li class="last">
          <%= bt_link_to :user, t("supplier.subaccounts.index.view.new_lead_user"), new_suppliers_subaccount_path(:role => "lead_user") %>
        </li>
      </ul>
    </param:actions>
  </header>

  <% unless @users.any? %>
      <%= blank_state_message %>
  <% else %>
      Per page:
      <% [10, 25, 50, 0].each do |per_page| %>
          <%= link_to per_page == 0 ? t("supplier.subaccounts.index.view.none_per_page") : per_page.to_s, suppliers_subaccounts_path(:per_page => per_page) %>
      <% end %>

      <%= bulk_form do %>
          <table id="users_table" class="generic">
            <thead>
            <tr>
              <th class="hl"></th>
              <th class="no_pdd_lr" style="width:10px"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
              <th><%= link_to t("supplier.subaccounts.index.view.first_name_column"), order_for_scoped_search(:first_name) %></th>
              <th><%= link_to t("supplier.subaccounts.index.view.last_name_column"), order_for_scoped_search(:last_name) %></th>
              <th><%= link_to t("supplier.subaccounts.index.view.department_column"), order_for_scoped_search(:department) %></th>
              <th class="ta_r"><%= link_to t("supplier.subaccounts.index.view.completed_leads_column"), order_for_scoped_search(:completed_leads_counter) %></th>
              <th class="ta_r"><%= link_to t("supplier.subaccounts.index.view.requested_leads_column"), order_for_scoped_search(:leads_requested_counter) %></th>
              <th class="ta_r"><%= link_to t("supplier.subaccounts.index.view.assigned_month_ago_column"), order_for_scoped_search(:leads_assigned_month_ago_counter) %></th>
              <th class="ta_r"><%= link_to t("supplier.subaccounts.index.view.assigned_year_ago_column"), order_for_scoped_search(:leads_assigned_year_ago_counter) %></th>
              <th class="ta_r"><%= link_to t("supplier.subaccounts.index.view.total_leads_assigned_column"), order_for_scoped_search(:total_leads_assigned_counter) %></th>
              <th class="ta_r"><%= t("supplier.subaccounts.index.view.actions_column") %></th>
              <th class="hr"></th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td class="cl"></td>
                  <td class="no_pdd_lr"><%= check_box_tag "user_ids[]", user.id %></td>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.department %></td>
                  <td class="ta_r"><%= user.completed_leads_counter %></td>
                  <td class="ta_r"><%= user.leads_requested_counter %></td>
                  <td class="ta_r"><%= user.leads_assigned_month_ago_counter %></td>
                  <td class="ta_r"><%= user.leads_assigned_year_ago_counter %></td>
                  <td class="ta_r"><%= user.total_leads_assigned_counter %></td>
                  <td class="tda ta_r">
                    <ul-actions>
                      <li><%= link_to t("supplier.subaccounts.index.view.assigned_leads"), suppliers_lead_purchases_path(:search => {:with_assignee => user.id}) %></li>
                      <li><%= link_to user.locked_at.blank? ? t("supplier.subaccounts.index.view.lock") : t("supplier.subaccounts.index.view.unlock"), suppliers_subaccount_path(user, {"user_#{user.role.to_s}".to_sym  => {:locked =>  user.locked_at.blank? ? "lock" : "unlock"}}), {:method => :put} %></li>
                      <li><%= link_to t("supplier.subaccounts.index.view.edit"), edit_suppliers_subaccount_path(user), :class => "default_action" %></li>
                      <li><%= link_to t("supplier.subaccounts.index.view.delete"), suppliers_subaccount_path(user), {:method => :delete, :confirm => t("supplier.subaccounts.index.view.delete_confirmation_message")} %></li>
                    </ul-actions>
                  </td>
                  <td class="cr"></td>
            <% end %>
            <tr class="pagination">
              <td colspan="12">
                <div class="td_select_all">
                  <%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %>
                  <%= label_tag "mark_all", "select all" %>
                </div>
                <%= will_paginate @users unless params[:per_page].to_i == 0 %>
              </td>
            </tr>
            <tr class="main_actions">
              <td class="cl"></td>
              <td colspan="10">
                <%= hidden_field_tag :route_to %>
                <%= hidden_field_tag :bulk_action_type %>
                <%= bt_link_to nil, t("supplier.subaccounts.index.view.unlock"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('unlock'); submitBulkForm('#{suppliers_bulk_subaccounts_update_path}#PUT');", :id => "unlock_selected" %>
                <%= bt_link_to nil, t("supplier.subaccounts.index.view.lock"), "javascript:void(0)", :onclick => "$('#bulk_action_type').val('lock'); submitBulkForm('#{suppliers_bulk_subaccounts_update_path}#PUT');", :id => "lock_selected" %>
              </td>
              <td class="cr"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td class="fl"></td>
              <td colspan="10"></td>
              <td class="fr"></td>
            </tr>
            </tfoot>
          </table>
      <% end %>
  <% end %>
</column-mc:>