<tr>
    <td><%= invoice.sale_date %></td>
    <td><%= link_to invoice.full_number, [:administration, :invoicing, invoice] %></td>
    <td><%= invoice.user %></td>
    <td><%= number_to_currency(invoice.revenue_frozen, :unit => invoice.currency.symbol) %></td>
    <td class="ta_c"><%= payment_status(invoice.paid?, "Paid", invoice.status.to_s.capitalize) %></td>
    <td>
        <%= link_to "Show invoice", administration_invoicing_invoice_path(invoice) %>
        <%= link_to "Edit invoice", edit_administration_invoicing_invoice_path(invoice) %>
        <%= link_to "Remove invoice", administration_invoicing_invoice_path(invoice), :method => :delete, :confirm => "Are you sure?" %>
        <%#= link_to_remote dollar_small_icon("Set invoice as paid"), :url => new_administration_invoicing_invoice_cash_flow_path(invoice.id), :method => :get %>
    </td>
</tr>