<search-box:>
  <div class="search_box">
    <h2><%= t("administration.invoices.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_invoicing_invoices_path do |f| %>
          <%= f.label :with_keyword, t("administration.invoices.index.view.search.with_keyword")%><%= f.text_field :with_keyword %>
          <%= f.label :with_sale_date_after_and_including, t("administration.invoices.index.view.search.with_sale_date_after_and_including")%><%= f.text_field :with_sale_date_after_and_including, :class => "datepicker" %>
          <%= f.label :with_sale_date_before_and_including, t("administration.invoices.index.view.search.with_sale_date_before_and_including")%><%= f.text_field :with_sale_date_before_and_including, :class => "datepicker" %>
          <%= f.label :with_paid, t("administration.invoices.index.view.search.payment_status")%><%= f.select :with_paid, options_for_with_paid, :include_blank => true %>
          <%= submit_tag t("administration.invoices.index.view.search_button") %>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>

  <header><%= t("administration.invoices.index.view.header") %></header>

  <%= semantic_form_for [:administration, :invoicing, Invoice.new] do |form| %>
      <%= form.inputs do %>
          <%= form.input :user, :include_blank => false %>
      <% end %>
      <%= form.commit_button t("administration.invoices.index.view.create_invoice") %>
  <% end %>

    <table class="generic" cellspacing="0" cellpadding="0" id="invoices">
      <thead>
        <tr>
          <th><%= link_to t("administration.invoices.index.view.sale_date"), order_for_scoped_search(:sale_date) %>
          <th id="invoice_number_header"><%= link_to t("administration.invoices.index.view.invoice_number"), order_for_scoped_search(:number) %></th>
          <th><%= link_to t("administration.invoices.index.view.customer"), order_for_scoped_search(:customer) %></th>
          <th><%= link_to t("administration.invoices.index.view.total"), order_for_scoped_search(:total) %></th>
          <th id="invoice_payment_status_header"><%= link_to t("administration.invoices.index.view.status"), order_for_scoped_search(:paid_at) %></th>
          <th>actions</th>
      </thead>
      <tbody id="invoices_list">
      <%= render @invoices %>
      </tbody>
    </table>
    <%= will_paginate @invoices %>

  <script>
    $(function() {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
  </script>
</column-mc:>
