<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("administration.invoices.new.view.header") %>
    <% end %>
  <% end %>

  <div class="clb"></div>

  <%= semantic_form_for [:administration, :invoicing, @invoice] do |form| %>
    <%= frm do |section| %>
      <% section.block_content do %>
        <div class="pdd_10 no_pdd_t">
          <fieldset class="inputs labels_ta_r labels_220">
            <ol class="align_inputs">
              <li class="header">
                <h3><%= t("administration.invoices.new.view.basic_information") %></h3>
              </li>
              <%= form.inputs do %>
                  <%= form.input :user_id, :collection => User.all, :include_blank => false %>
                  <%= form.input :seller_id, :collection => Seller.all, :include_blank => false %>
                  <%= form.input :currency_id, :as => :hidden%>
              <% end %>
            </ol>
          </fieldset>
        </div>
      <% end %>
      <% section.block_actions do %>
        <%= ibt(:class => "fltri", :icon => "save") do %>
          <%= form.submit t("administration.invoices.new.view.button_create") %>
        <% end %>
        <%= ibt(:class => "fltri bt_grey") do %>
          <%= button_to_function t("common.cancel_link"), "window.location='#{administration_invoicing_upcoming_invoices_path}'" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
