<column-mc:>

  <header><%= t("administration.invoices.show.view.header") %></header>

  <ul class="actions">
    <%= link_to_function t("administration.invoices.show.view.print_invoice"), '$("#invoice_container").printElement()', :icon => "print" %>
    <%= link_to t("administration.invoices.show.view.download_pdf"), administration_invoicing_invoice_path(@invoice, :format => :pdf) %>
    <%= link_to t("administration.invoices.show.view.set_as_paid"), new_administration_invoicing_invoice_cash_flow_path(@invoice.id), :method => :get %>
    <%= link_to t("administration.invoices.show.view.send"), new_administration_invoicing_invoice_mailing_path(@invoice), :method => :get %>
    <%= link_to t("administration.invoices.show.view.edit_invoice"), edit_administration_invoicing_invoice_path(@invoice) %>
    <%= link_to t("administration.invoices.show.view.go_back"), administration_invoicing_invoices_path %>
  </ul>

  <br/><h4><%= t("administration.invoices.show.view.status") %>: <%= @invoice.status.to_s.capitalize %></h4>

  <div class="invoice_container" id="invoice_container">
    <%= render :partial => "administration/invoicing/invoices/invoice_preview", :locals => {:version => :origina, :invoice => @invoicel} %> <hr/>
    <%= render :partial => "administration/invoicing/invoices/invoice_preview", :locals => {:version => :copy, :invoice => @invoice} %>
  </div>

<div id="osx-modal-content" style="display:none">
  <div id="osx-modal-title">Title</div>
  <div id="osx-modal-data"></div>
</div>
<%= javascript_include_tag 'jquery.simplemodal.js', 'osx.js', 'jquery-ui-1.8.5.custom.min' %>


</column-mc:>