<column-mc:>

  <header back="true"><%= t("administration.invoices.show.view.header") %></header>

  <div class="grid_550 ta_r fltr">
    <%= bt_link_to :printer, t("administration.invoices.show.view.print_invoice"), "javascript:void(0)", :onclick => '$("#invoice_container").printElement()' %>
    <%= bt_link_to :download, t("administration.invoices.show.view.download_pdf"), administration_invoicing_invoice_path(@invoice, :format => :pdf) %>
    <%= bt_link_to :chbox_selected, t("administration.invoices.index.view.set_as_paid"), administration_invoicing_invoice_path(@invoice.id, {:invoice_id => @invoice.id, :invoice => {:paid_at => Time.now, :cash_flow => @invoice.total}}), {:method => :put} unless @invoice.paid? %>
    <%= bt_link_to :mail, @invoice.sent? ? t("administration.invoices.show.view.resend") : t("administration.invoices.show.view.send"), new_administration_invoicing_invoice_mailing_path(@invoice), :method => :get, :confirm => send_invoice_warning(@invoice) %>
    <%= bt_link_to :pencil, t("administration.invoices.show.view.edit_invoice"), edit_administration_invoicing_invoice_path(@invoice) %>
  </div>

  <div class="grid_400 fltl">
    <h2><%= t("administration.invoices.show.view.status") %>: <%= @invoice.status.to_s.capitalize %></h2>
  </div>

  <clb/>


  <div class="pdd_10">


    <div class="invoice_container" id="invoice_container">
        <style type="text/css">
            @import url("/stylesheets/invoice.css") print;
        </style>
      <%= render :partial => "shared/invoices/invoice_preview", :locals => {:version => :original, :invoice => @invoice} %>
    </div>

    <% unless @invoice.payment_transactions.empty? %>
        <h2><%= t("administration.invoices.show.view.payment_transactions.header") %></h2>
        <table id="invoices_table" class="generic">
          <thead>
          <tr>
            <th class="hl"></th>
            <th style="width: 200px;"><%= t("administration.invoices.show.view.payment_transactions.type") %></th>
            <th style="width: 400px;"><%= t("administration.invoices.show.view.payment_transactions.paid_at") %></th>
            <th><%= t("administration.invoices.show.view.payment_transactions.amount") %></th>
            <th class="hr"></th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td class="fl"></td>
            <td colspan="3"></td>
            <td class="fr"></td>
          </tr>
          </tfoot>
          <tbody>
          <% @invoice.payment_transactions.each do |payment_transaction| %>
              <tr>
                <td class="cl"></td>
                <td><%= payment_transaction.class.to_s == "PaypalTransaction" ? t("administration.invoices.show.view.payment_transactions.type_paypal") : t("administration.invoices.show.view.payment_transactions.type_manual") %></td>
                <td><%= payment_transaction.paid_at.strftime("%d-%m-%Y") %></td>
                <td><%= payment_transaction.amount %></td>
                <td class="cr"></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

  </div>

</column-mc:>