<%= content_for :column_mc do -%>
  <%= header(:back => true, :backurl => call_centre_agents_deals_path) do |section| %>
    <% section.block_header do %>
      <%= t("call_centre_agent.deals.edit.view.title") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <li>
          <% if current_user.deal_maker? %>
            <%= bt_link_to nil, t("call_centre_agent.deals.edit.view.edit_deal_request_details_email_template"), edit_email_template_path(@deal.deal_request_details_email_template, :deal_id => @deal.id) %>
          <% end %>
        </li>
        <li class="last">
          <%= bt_link_to nil, t("call_centre_agent.deals.edit.view.preview"), deal_path(@deal) %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <% unless @deal.enabled? %>
    <div class="flash flash_notice"><%= t("deals.common.max_auto_buy_limit_reached") %></div>
  <% end %>

  <%= semantic_form_for [:call_centre_agents, @deal], :method => :put, :html => {:multipart => true} do |form| %>
    <%= frm(:title => "#{@deal.header}") do %>
      <% section.block_content do %>
        <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal} %>
        <%= render :partial => "shared/deals/assets_management", :locals => {:form => form, :path => "call_centre_agents_deal_assets_path",
                                                                             :remove_path => "call_centre_agents_deal_asset_path"} %>
      <% end %>
      <% section.block_actions do %>
        <%= render :partial => "shared/deals/update_buttons", :locals => { :form => form, :role => "call_centre_agent" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render :partial => "shared/deals/leads_listing", :locals => { :deal => @deal } %>
<% end %>
