<%= render :partial => "shared/deals/filter", :locals => {:search => @search, :path => call_centre_agents_deals_path} %>
<%= content_for :column_mc do -%>
  <%= render :partial => "shared/deals/actions", :locals => {:path => new_call_centre_agents_deal_path} %>

   <%= deals_table @deals, :show_checkboxes => true do |blocks| %>
      <% blocks.tools do |deal| %>
          <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
            <li>
              <%= link_to t("call_centre_agent.deals.index.view.edit"), edit_call_centre_agents_deal_path(deal), :class => "default_action" %>
            </li>
            <li>
              <%= link_to t("call_centre_agent.deals.index.view.destroy"), call_centre_agents_deal_path(deal), :method => :delete, :confirm => t("common.confirmation") %>
            </li>
          </ul></div>
      <% end %>

      <% blocks.rowtooltip do |deal| %>
          <p><%= render :partial => "/shared/deal_comments/deal_threads", :locals => { :deal => deal, :threads => deal.comment_threads.roots.order("created_at DESC") } %></p>
      <% end %>
  <% end %>
<% end %>