<column-mc:>
  <header back="true" backurl="#{call_centre_agents_deals_path}">
     <param:content>
        <%= t("call_centre_agent.deals.new.view.title") %>
     </param:content>
      <param:actions>
        <% if params[:deal_id] %>
          <ul class="header_actions">
            <li class="last">
              <%= bt_link_to nil, t("call_centre_agent.deals.new.view.change_supplier"), "#", :onclick => "setup_step(0)" %>
            </li>
          </ul>
        <% end %>
    </param:actions>
  </header>

  <div id="supplier_email_form">
    <%= label_tag :supplier_email, t("call_centre_agent.deals.new.view.email") %>
    <%= text_field_tag :supplier_email %>
    <%= bt_link_to nil, t("call_centre_agent.deals.new.view.check_supplier_email"), "javascript:void(0)", :onclick => "$('div#supplier_confirmation').hide();submit_query('check_email', 'call_centre_agents')" %>
    <%= t("call_centre_agent.deals.new.view.or") %>
    <%= bt_link_to nil, t("call_centre_agent.deals.new.view.certify"), "javascript:void(0)", :onclick => "submit_query('certify','call_centre_agents')" %>
  </div>
  <div id="supplier_confirmation" style="margin-top:10px;display:none">
    <div id="supplier_info" style="margin-bottom: 10px"></div>
    <%= bt_link_to nil, t("call_centre_agent.deals.new.view.confirm"), "javascript:void(0)", :onclick => "setup_step(1);$('div#supplier_confirmation').hide();" %>
  </div>

  <div id="deal_form" style="display:none;">
    <%= semantic_form_for [:call_centre_agents, @deal], :method => :post do |form| %>
        <frm title="#{t('call_centre_agent.deals.new.view.form_title')}">
          <param:content>
            <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal} %>
          </param:content>
          <param:actions>
            <ibt c="fltri" icon="save">
              <%= form.submit t("call_centre_agent.deals.new.view.create_button"), :name => "commit_create", :onclick => "select_options_to_submit('deal_deal_template_ids_')" %>
            </ibt>
            <ibt c="fltri bt_grey">
              <%= button_to_function t("common.cancel_link"), "history.go(-1)" %>
            </ibt>
          </param:actions>
        </frm>
    <% end %>
  </div>
</column-mc:>

<js:>
<%= javascript_include_tag("deal_creation") %>
  <script type="text/javascript">
      setup_step(<%= @deal.creation_step.to_i -%>)
  </script>
</js:>