<% if @deal.logo %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <li class="string">
          <label><%= t("deals.common.assets.view.logo_label") %></label>

          <div class="txt assets_elements">
            <ul>
              <li>
                <% if @deal.logo.id %>
                    <%= image_tag @deal.logo.url(:thumb) %> <%= link_to t("deals.common.assets.view.show_image"), @deal.logo.url, :rel => "colorbox_logo" %>
                    <%= link_to t("deals.common.assets.view.remove_logo"), self.send(remove_path, @deal, @deal.logo), :method => :delete, :confirm => t("common.confirmation") %>
                <% else %>
                    <%= custom_error_for_object(@deal.logo) %>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ol>
    </fieldset>
<% else %>
    <%= form.semantic_fields_for :logo, @deal.build_logo do |logo_form| %>
        <fieldset class="inputs labels_ta_r labels_200">
          <ol>
            <%= logo_form.input :data, :as => :file, :label => t("deals.common.assets.view.upload_logo") %>
          </ol>
        </fieldset>
    <% end %>
<% end %>


<% unless @images.blank? %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <li class="string">
          <label><%= t("deals.common.assets.view.images_label") %></label>

          <div class="txt assets_elements">
            <ul>
              <% @images.each do |image| %>
                  <% if image.id %>
                      <li>
                        <%= image_tag image.url(:thumb) %> <%= link_to t("deals.common.assets.view.show_image"), image.url, :rel => "colorbox" %>
                        <%= link_to t("deals.common.assets.view.remove_image"), self.send(remove_path, @deal, image), :method => :delete, :confirm => t("common.confirmation") %>
                      </li>
                  <% else %>
                      <li><%= custom_error_for_object(image) %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      </ol>
    </fieldset>
<% end %>

<%= form.semantic_fields_for :images, @deal.images.build do |images_form| %>
    <fieldset class="inputs labels_ta_r labels_200 no_pdd_t">
      <ol class="no_pdd_t">
        <%= images_form.input :data, :as => :file, :label => t("deals.common.assets.view.upload_image") %>
      </ol>
    </fieldset>
<% end %>

<div class="hl"></div>

<% unless @materials.blank? %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <li class="string">
          <label><%= t("deals.common.assets.view.materials_label") %></label>

          <div class="txt assets_elements materials">
            <ul>
              <% @materials.each do |material| %>
                  <% if material.id %>
                      <li>
                        <strong><%= material.data_file_name %></strong> <%= link_to t("deals.common.assets.view.download"), material.url %>
                        <%= link_to t("deals.common.assets.view.remove_material"), self.send(remove_path, @deal, material), :method => :delete, :confirm => t("common.confirmation") %>
                      </li>
                  <% else %>
                      <li><%= custom_error_for_object(material) %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      </ol>
    </fieldset>
<% end %>

<%= form.semantic_fields_for :materials, @deal.images.build do |materials_form| %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <%= materials_form.input :data, :as => :file, :label => t("deals.common.assets.view.upload_material") %>
      </ol>
    </fieldset>
    <br/>
<% end %>

<% unless @internal_documents.blank? %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <li class="string">
          <label><%= t("deals.common.assets.view.internal_documents_label") %></label>

          <div class="txt assets_elements materials">
            <ul>
              <% @internal_documents.each do |material| %>
                  <% if material.id %>
                      <li>
                        <strong><%= material.data_file_name %></strong> <%= link_to t("deals.common.assets.view.download"), material.url %>
                        <%= link_to t("deals.common.assets.view.remove_material"), self.send(remove_path, @deal, material), :method => :delete, :confirm => t("common.confirmation") %>
                      </li>
                  <% else %>
                      <li><%= custom_error_for_object(material) %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      </ol>
    </fieldset>
<% end %>

<%= form.semantic_fields_for :internal_documents, @deal.images.build do |materials_form| %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <%= materials_form.input :data, :as => :file, :label => t("deals.common.assets.view.upload_internal_document") %>
      </ol>
    </fieldset>
    <br/>
<% end %>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        $('a[rel=colorbox]').colorbox();
        $('a[rel=colorbox_logo]').colorbox();
    })
</script>
