<h2><%= t("deals.common.assets.view.logo_label") %></h2>
<% if @deal.logo and @deal.logo.id %>
    <div class="assets_elements">
      <ul>
        <li>
          <%= image_tag @deal.logo.asset.url(:thumb) %> <%= link_to t("deals.common.assets.view.show_image"), @deal.logo.asset.url, :target => "_blank" %>
          <%= link_to t("deals.common.assets.view.remove_logo"), self.send(remove_path, @deal, @deal.logo), :method => :delete, :confirm => t("common.confirmation") %>
        </li>
      </ul>
    </div>
<% else %>
    <%= form.semantic_fields_for :logo, @deal.build_logo do |logo_form| %>
        <fieldset class="inputs labels_ta_r labels_200">
          <ol>
            <%= logo_form.input :asset, :as => :file, :label => "Upload logo" %>
          </ol>
        </fieldset>
    <% end %>
<% end %>


<h2><%= t("deals.common.assets.view.images_label") %></h2>
<% unless @images.blank? %>
    <div class="assets_elements">
      <ul>
        <% @images.each do |image| %>
            <% if image.id %>
                <li>
                  <%= image_tag image.asset.url(:thumb) %> <%= link_to t("deals.common.assets.view.show_image"), image.asset.url, :target => "_blank" %>
                  <%= link_to t("deals.common.assets.view.remove_image"), self.send(remove_path, @deal, image), :method => :delete, :confirm => t("common.confirmation") %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form.semantic_fields_for :images, @deal.images.build do |images_form| %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <%= images_form.input :asset, :as => :file, :label => "Upload image" %>
      </ol>
    </fieldset>
<% end %>

<h2><%= t("deals.common.assets.view.materials_label") %></h2>
<% unless @materials.blank? %>
    <div class="assets_elements">
      <ul>
        <% @materials.each do |material| %>
            <% if material.id %>
                <li>
                  <%= material.asset_file_name %> <%= link_to t("deals.common.assets.view.download"), self.send(download_path, @deal, material) %>
                  <%= link_to t("deals.common.assets.view.remove_material"), self.send(remove_path, @deal, material), :method => :delete, :confirm => t("common.confirmation") %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form.semantic_fields_for :materials, @deal.images.build do |materials_form| %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol>
        <%= materials_form.input :asset, :as => :file, :label => "Upload material" %>
      </ol>
    </fieldset>
<% end %>