<% div_deal_html_id = f.object.new_record? ? "deal_lead_translations_attributes_#{defined?(counter) ? counter.to_i : 0}" : f.object.id %>
<div id="lead_translation_form_<%= div_deal_html_id %>">
  <div class="pdd_10 no_pdd_t rltv">
    <%= bt_link_to :remove, t("agent.leads.new.view.remove_language"), "javascript:void(0)", :onclick => "remove_language('#{div_deal_html_id}', '#{f.object.locale.blank? ? 'LOCALE_LANG' : f.object.locale}', #{f.object.new_record? ? 'null' : f.object.id})", :style => "position: absolute; left:8px; top:2px" %>
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <li class="header">
          <h3 class="locale_title">
            <%= t("models.locale.#{f.object.locale}") if f.object.respond_to?(:locale) %>
          </h3>
        </li>
        <li class="string">
          <%= f.label :header, t("shared.deals.form.header_label") %>
          <%= f.text_field :header %>
          <%= custom_error_for_field(f, :header) %>
        </li>

        <% unless user_signed_in? and current_user.has_role?(:member) %>
        <li class="text">
          <%= f.label :hidden_description, t("shared.deals.form.hidden_description_label") %>
          <%= f.text_area :hidden_description, :style => "height: 140px; width: 600px" %>
          <br/>
          <%= custom_error_for_field(f, :hidden_description) %>
        </li>

        <li class="text">
          <%= f.label :description, t("shared.deals.form.description_label") %>
          <%= f.text_area :description, :style => "height: 140px; width: 600px" %>
          <br/>
          <%= custom_error_for_field(f, :description) %>
        </li>
        <% end %>

        <li class="text">
          <%= f.label :fine_print, t("shared.deals.form.fine_print_label") %>
          <%= f.text_area :fine_print, :style => "height: 140px; width: 600px" %>
          <%= custom_error_for_field(f, :fine_print) %>
        </li>

        <li class="text">
          <%= f.label :company_description, t("shared.deals.form.company_description_label") %>
          <%= f.text_area :company_description, :style => "height: 140px; width: 600px" %>
          <%= custom_error_for_field(f, :company_description) %>
        </li>

        <li class="hidden">
          <%= f.hidden_field :locale, :class => "locale_hidden_field" %>
          <% if user_signed_in? and current_user.has_role?(:member) %>
            <%= f.hidden_field :skip_hidden_field_validation, :value => true %>
          <% end %>
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
      </ol>
    </fieldset>

    <span class="nested_locale_span"></span>
  </div>
  <div class="hl"></div>
</div>

