<%= javascript_include_tag :ckeditor %>
<div class="column_left">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r labels_200">
      <ol class="align_inputs">
        <% if deal.current_dcr and deal.current_dcr.active? %>
            <%= hidden_field_tag "accept", "false" %>
        <% end %>
        <% if user_signed_in? %>
            <%
               deal_categories = if current_user.supplier?
                                     DealCategory.without_locked.with_supplier_unique(current_user).all
                                 elsif current_user.agent?
                                     DealCategory.without_locked.with_agent_unique(current_user).all
                                 elsif current_user.admin?
                                     DealCategory.without_locked.all
                                 end
            %>
            <%= form.input :category_id, as: :select, :disabled => deal_categories.select { |c| !c.can_publish_leads? }.map(&:id), :collection => nested_set_options(deal_categories), :include_blank => false, :label => t("shared.deals.form.deal_category_label"), :input_html => {:style => "width: 245px"} %>
        <% end %>

        <% if user_signed_in? and current_user.has_any_role?(:agent, :call_centre, :call_centre_agent, :admin) %>
            <%
               lead_categories = if current_user.agent?
                                     LeadCategory.without_locked.with_agent_unique(current_user).all
                                 elsif current_user.admin?
                                     LeadCategory.without_locked.all
                                 end

            %>

            <%= form.input :lead_category_id, :disabled => lead_categories.select { |c| !c.can_publish_leads? }.map(&:id), :collection => nested_set_options(lead_categories), :include_blank => false, :input_html => {:style => "width: 245px"} %>
            <% if deal.new_record? %>
                <%= form.input :use_company_name_as_category, :as => :boolean %>
            <% end %>
        <% end %>
        <%= form.input :header, :label => t("shared.deals.form.name_label") %>
        <%= form.input :hidden_description, :label => t("shared.deals.form.detailed_description_label"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <%= form.input :fine_print, :label => t("shared.deals.form.fine_print_label"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <%= form.input :short_featured_description, :label => t("shared.deals.form.short_featured_description_label"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <%#= form.input :featured_description, :label => t("shared.deals.form.featured_description_label"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <% if user_signed_in? and current_user.deal_maker? %>
        <%= form.input :deal_confirmation_page, :label => t("shared.deals.form.deal_confirmation_page"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <% end %>
        <%= form.input :start_date, :as => :string,
                       :wrapper_html => {:class => "date"},
                       :input_html => {:class => "datepicker", :value => deal.start_date.to_date},
                       :hint => t('models.result_field.date_format') %>
        <%= form.input :end_date, :as => :string,
                       :wrapper_html => {:class => "date"},
                       :input_html => {:class => "datepicker", :value => deal.end_date.to_date},
                       :hint => t('models.result_field.date_format') %>
        <% if user_signed_in? and current_user.supplier? %>
            <%= form.input :price, :as => :hidden %>
            <%= form.input :currency_id, :value => Currency.default_currency.id, :as => :hidden %>
        <% else %>
            <%= form.input :price, :as => :string, :label => t("shared.deals.form.price_label") %>
            <%= form.input :currency_id, :collection => currencies_for_select, :include_blank => false %>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
            <%= form.input :payout %>
        <% end %>

        <%= form.input :max_auto_buy, :as => :string, :label => t("shared.deals.form.max_auto_buy_label") %>
        <%= form.input :deal_code %>
        <% if user_signed_in? and current_user.admin? %>
            <div id="group_deal_additional_fields">
              <%= form.input :min_created_leads, :label => t("shared.deals.form.min_created_leads") %>
            </div>
        <% end %>
        <% if user_signed_in? and current_user.deal_maker? %>
            <div>
              <%= form.input :group_deal, :wrapper_html => {:style => "margin-left:200px"}, :onclick => "enable_group_deal();" %>
              <%= form.input :premium_deal, :wrapper_html => {:style => "margin-left:200px"} %>
            </div>
            <div id="group_deal_fields">
              <%= form.input :deal_price, :required => (@deal.group_deal == true or @deal.voucher_enabled == true) %>
              <%= form.input :discounted_price, :required => (@deal.group_deal == true or @deal.voucher_enabled == true), :label => t("shared.deals.form.discounted_price_label") %>
              <%= form.input :saving, :label => t("shared.deals.form.saving") %>
              <%#= form.input :saving_in_money, :label => t("shared.deals.form.saving_in_money") %>
              <%= form.input :social_media_description, :input_html => {:style => "height: 150px;width:280px;"}, :required => @deal.group_deal == true %>
            </div>

            <% unless @deal.new_record? %>
                <li class="string"><%= form.label :url, :label => t("shared.deals.form.url_label") %>
                  <span style="margin-top:8px;display:inherit;">
                     <%= link_to deal_url(:protocol => "http://", :host => "www.fairdeals.dk", :id => @deal.slug), deal_url(:protocol => "http://", :host => "www.fairdeals.dk", :id => @deal.slug) %>
                  </span>
                </li>
            <% end %>
            <%= form.input :domains, :as => :select, :collection => Domain.all %>
        <% end %>
      </ol>
    </fieldset>
  </div>
</div>

<div class="column_right">
  <div class="pdd_10 no_pdd_t">
    <fieldset class="inputs labels_ta_r">
      <ol class="align_inputs">
        <%= form.input :company_name %>
        <%= form.input :company_description, :label => t("shared.deals.form.company_description_label"), :as => :ckeditor, :input_html => {:width => '350px', :height => '150px', :toolbar => "Lite", :customConfig => 'ckeditor/config.js'}, :wrapper_html => {:class => "text"} %>
        <%= form.input :contact_name %>
        <%= form.input :email_address %>
        <%= form.input :phone_number %>
        <%= form.input :company_website %>
        <%= form.input :address_line_1 %>
        <%= form.input :address_line_2 %>
        <%= form.input :address_line_3 %>
        <%= form.input :zip_code %>
        <%= form.input :country_id, :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('deal');"}, :include_blank => false %>
        <%= form.input :region_id, :as => :select, :collection => @deal.country.present? ? @deal.country.regions : [], :include_blank => false %>
        <% if user_signed_in? and current_user.admin? %>
            <%= form.input :created_leads %>
        <% end %>
        <% if user_signed_in? and (current_user.admin? or current_user.deal_maker?) %>
            <span id="deal_published">
                <%= form.input :published %>
            </span>
        <% end %>
        <% if user_signed_in? and current_user.admin? and !form.object.new_record? %>
            <span id="deal_admin">
                <%= form.input :deal_admin_email %>
            </span>
        <% end %>
        <% if user_signed_in? and (current_user.admin? or current_user.deal_maker?) %>
            <%= form.input(:voucher_enabled, :onclick => "enable_voucher();") if @deal.voucher_can_be_disabled %>
            <div id="voucher_additional_fields" style="display:<%= @deal.voucher_enabled? ? "block" : "none" %>">
              <li class="string optional">
                <%= form.label :deal_unique_id, :label => t("shared.deals.form.deal_unique_id_label") %>
                <span style="margin-top:9px;display:inherit;"><%= @deal.deal_unique_id %></span>
              </li>

              <% unless @deal.new_record? %>
                  <% if @deal.voucher_heading_picture and @deal.voucher_heading_picture.id %>
                      <%= render :partial => "shared/deals/voucher_heading_picture", :locals => {:deal => @deal} %>
                  <% else %>
                      <%= form.semantic_fields_for :voucher_heading_picture, @deal.build_voucher_heading_picture do |voucher_heading_picture_form| %>
                          <fieldset class="inputs labels_ta_r labels_200">
                            <ol>
                              <%= voucher_heading_picture_form.input :asset, :as => :file, :label => "Upload voucher heading image" %>
                            </ol>
                          </fieldset>
                      <% end %>
                  <% end %>
              <% end %>

              <%= form.input :voucher_how_to_redeem, :label => t("shared.deals.form.how_to_redeem_label"), :as => :ckeditor, :input_html => {:width => '350px', :height => '150px', :toolbar => "Lite", :customConfig => 'ckeditor/config.js'}, :wrapper_html => {:class => "text"} %>
              <div class="clb"></div>
              <div style='height:84px'>
                <%= form.input :voucher_until_type, :as => :radio, :collection => Deal.until_type_for_radio %>
              </div>
              <%= form.input :voucher_end_date, :as => :string, :wrapper_html => {:class => "date"},
                             :input_html => {:class => "datepicker", :value => deal.voucher_end_date ? deal.voucher_end_date.to_date : deal.end_date.to_date},
                             :hint => t('models.result_field.date_format') %>
              <%= form.input :voucher_number_of_weeks %>
              <%= form.input :voucher_max_number %>
              <li class="string optional">
                <label></label><%= link_to(t("shared.deals.form.edit_voucher_number_link"), edit_voucher_number_path(@deal)) if @deal.voucher_numbers.size > 0 %>
              </li>
            </div>
        <% elsif user_signed_in? and !form.object.new_record? and current_user.supplier? %>
            <li class="string optional">
              <%= form.label :voucher_enabled %>
              <span style="margin-top:9px;display:inherit;"><%= @deal.voucher_enabled ? t("common.yes_label") : t("common.no_label") %></span>
            </li>
            <% if @deal.voucher_enabled? %>
                <li class="string optional">
                  <%= form.label :deal_unique_id, :label => t("shared.deals.form.deal_unique_id_label") %>
                  <span style="margin-top:9px;display:inherit;"><%= @deal.deal_unique_id %></span>
                </li>
                <% if @deal.voucher_heading_picture and @deal.voucher_heading_picture.id %>
                    <%= render :partial => "shared/deals/voucher_heading_picture", :locals => {:deal => @deal} %>
                <% end %>
                <li class="string optional">
                  <%= form.label :voucher_how_to_redeem, :label => t("shared.deals.form.how_to_redeem_label") %>
                  <span style="margin-top:9px;display:inherit;"><%= @deal.voucher_how_to_redeem %></span>
                </li>
                <li class="string optional">
                  <% if @deal.voucher_until_type == Deal::VOUCHER_UNTIL_TYPE_DATE %>
                      <%= form.label :voucher_end_date %>
                      <span style="margin-top:9px;display:inherit;"><%= @deal.voucher_end_date.strftime("%d-%m-%Y") %></span>
                  <% else %>
                      <%= form.label :voucher_number_of_weeks %>
                      <span style="margin-top:9px;display:inherit;"><%= @deal.voucher_number_of_weeks %></span>
                  <% end %>
                </li>
                <li class="string optional">
                  <%= form.label :voucher_max_number %>
                  <span style="margin-top:9px;display:inherit;"><%= @deal.voucher_max_number %> <%= link_to_function "display voucher numbers", "$('#voucher_numbers_container').toggle();" %></span>

                  <div id="voucher_numbers_container" style="display: none;margin: 10px 0 0 160px">
                  <% @deal.voucher_numbers.each do |voucher_number| %>
                      <%= voucher_number.number %> (<%= voucher_number.translated_state %>)<br/>
                  <% end %>
                  </div>
                </li>
            <% end %>
        <% end %>
        <% if user_signed_in? %>
            <%= form.input :internal_note, :label => t("shared.deals.form.internal_note_label"), :as => :ckeditor, :input_html => lite_ckeditor_params, :wrapper_html => {:class => "text"} %>
        <% end %>
      </ol>
    </fieldset>
    <% if user_signed_in? and (current_user.admin? or current_user.agent?)  %>
      <%= render :partial => "/shared/tags/assigned_tags", :locals => { :object => @deal } %>
    <% end %>
  </div>
</div>

<% if user_signed_in? and current_user.supplier? %>
    <% unless (deal.current_dcr and deal.current_dcr.active?) %>
        <div class="clb"></div>

        <div class="hl"></div>
        <div id="deal_templates">
          <div class="pdd_10">
            <div class="grid_210 fltl">&nbsp;</div>
            <div class="grid_240 fltl">
              <h3><%= t("supplier.deals.form.all_templates") %></h3>
              <%= select_tag "all_templates", options_for_select((LeadTemplate.with_category(current_user.deal_category_id).with_creator(current_user.id)-(@deal.deal_templates + [@template]).compact.uniq).map { |c| [c.name.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
            </div>

            <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
              <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_templates','deal_deal_template_ids_')", :id => "move_right" %></p>

              <p class="ta_c pdd_5"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('deal_deal_template_ids_','all_templates')", :id => "move_left" %></p>

              <p class="ta_c pdd_5 no_pdd_lr">
                <% if current_user.supplier? and current_user.deal_category_id.present? %>
                    <%= bt_link_to nil, t("supplier.deals.edit.view.new_template"), new_suppliers_lead_template_path(:deal_id => @deal.id) %>
                <% end %>
              </p>
            </div>

            <div class="grid_240 fltl">
              <h3><%= t("supplier.deals.form.selected_templates") %></h3>
              <%= select_tag "deal[deal_template_ids][]", options_for_select(([@template]+@deal.deal_templates).compact.uniq.map { |c| [c.name.to_s, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
            </div>
            <div class="clb"></div>
          </div>
        </div>
    <% end %>
<% end %>

<div class="clb"></div>

<div class="nested_locale_container"></div>
<% counter = -1 %>
<%= form.fields_for :lead_translations, deal.lead_translations.select { |lt| lt.locale != I18n.locale.to_s } do |builder| %>
    <%= render :partial => "/shared/deals/deal_fields", :locals => { :f => builder, :counter => (counter += 1) } %>
<% end %>

<div class="clb"></div>


<div class="pdd_10 no_pdd_t" id="locale_picker_div">
  <fieldset class="inputs labels_ta_r labels_200">
    <ol class="align_inputs">
      <li class="header">
        <h3><%= t("shared.deals.form.additional_language") %></h3>
      </li>
      <li class="select">
        <%= form.label :locale, t("shared.deals.form.new_translation") %>
        <%= select_tag :locale, options_for_select(available_locales_list(deal.lead_translations)),
                       {:id => "locale_picker", :include_blank => true, :onchange => fields_for_deals_translations(form)} %>
      </li>
    </ol>
  </fieldset>
</div>
<div class="hl"></div>

<%= content_for :js do -%>
  <%= javascript_include_tag 'jquery.counter-1.0.min.js' %>
  <script type="text/javascript">
      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
//          $("#deal_description").counter({
//              count: 'up',
//              goal: 140
//          });
      });
      var nestedFormsCount = <%= deal.lead_translations.reject{ |lt| lt.locale == I18n.locale.to_s }.size %>;
      var language_names = [];
      <% Locale.enabled.each do |locale| %>
      <%= "language_names['#{locale.code}'] = '#{t('models.locale.' + locale.code)}';".html_safe -%>
      <% end %>

      function mark_as_required(field_id, is_enabled) {
          if (is_enabled) {
              $('<abbr title=\"required\">*</abbr>').appendTo(field_id + ' label');
          }
          else {
              $(field_id + ' label abbr').remove();
          }
      }

      function enable_group_deal_additional_fields(is_enabled) {
          if (is_enabled) {
              $('#group_deal_additional_fields').show();
          }
          else {
              $('#group_deal_additional_fields').hide();
          }
      }

      function enable_voucher() {
          if ($('#deal_voucher_enabled').is(':checked')) {
              mark_as_required('#deal_deal_price_input', false);
              mark_as_required('#deal_discounted_price_input', false);
              mark_as_required('#deal_deal_price_input', true);
              mark_as_required('#deal_discounted_price_input', true);
              $('#voucher_additional_fields').show();

          }
          else {
              if (!($('#deal_group_deal').is(':checked'))) {
                  mark_as_required('#deal_deal_price_input', false);
                  mark_as_required('#deal_discounted_price_input', false);
              }
              $('#voucher_additional_fields').hide();
          }
      }

      function enable_group_deal() {
          if ($('#deal_group_deal').is(':checked')) {
              mark_as_required('#deal_deal_price_input', false);
              mark_as_required('#deal_discounted_price_input', false);
              mark_as_required('#deal_deal_price_input', true);
              mark_as_required('#deal_discounted_price_input', true);
              mark_as_required('#deal_social_media_description_input', true);
              enable_group_deal_additional_fields(true)
          }
          else {
              if (!($('#voucher_additional_fields').is(':visible'))) {
                  mark_as_required('#deal_deal_price_input', false);
                  mark_as_required('#deal_discounted_price_input', false);
              }
              mark_as_required('#deal_social_media_description_input', false);
              enable_group_deal_additional_fields(false)
          }
      }

      jQuery(document).ready(function() {
          $('a[rel=colorbox_voucher]').colorbox();
      });

      <%= "enable_group_deal_additional_fields(#{@deal.group_deal? ? 'true' : 'false'})" if user_signed_in? and current_user.admin? -%>

  </script>
  <%= javascript_include_tag 'lead_translation_functions.js' %>
<% end %>
