<%
   cols = 6
   cols += 1 if show_checkboxes
   cols += 1 if not block_tools.nil?
   cols -= 1 if current_user.admin?
-%>

<table id="deals" class="generic">
  <thead>
  <tr>
    <th class="hl"></th>
    <% if show_checkboxes %>
        <th><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
    <% end %>
    <th><%= link_to t("shared.deals.table.creation_date"), order_for_scoped_search(:created_at) %></th>
    <th><%= link_to t("shared.deals.table.name"), order_for_scoped_search(:header) %></th>
    <th><%= link_to t("shared.deals.table.company_name"), order_for_scoped_search(:company_name) %></th>
    <th><%= link_to t("shared.deals.table.expires"), order_for_scoped_search(:end_date) %></th>
    <% unless current_user.admin? %>
        <th><%= t("shared.deals.table.likes") %></th>
    <% end %>
    <th><%= link_to t("shared.deals.table.published"), order_for_scoped_search(:published) %></th>
    <% if block_tools %>
        <th class="ta_r">
          <%= t("shared.deals.table.actions") %>
        </th>
    <% end %>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= cols %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% collection.each do |deal| %>
      <tr id="deal_<%= deal.id %>" class="<%= cycle("odd", "even") %>">
        <td class="cl"></td>
        <% if show_checkboxes %>
            <td><%= check_box_tag("deal_ids[]", deal.id) %></td>
        <% end %>
        <td><%= format_date deal.created_at %></td>
        <td>
          <%= deal.header %>
          <%if deal.awaiting_approval? %>
              <br/>
              (<%= t("shared.deals.table.awaiting_approval") %>)
          <% end %>
        </td>
        <td>
          <%= deal.company_name %>
        </td>
        <td><%= format_date deal.end_date %></td>
        <% unless current_user.admin? %>
            <td>
              <% if Rails.env != "test" %>

                  <iframe src="https://www.facebook.com/plugins/like.php?app_id=101408449959161&amp;href=<%= escape_uri(deal_url(deal)) %>&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
                  <!--<iframe src="https://www.facebook.com/plugins/like.php?app_id=101408449959161&amp;href=<%= escape_uri("https://fairleads.com/deals/7295") %>&amp;send=true&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>-->
              <% end %>
            </td>
        <% end %>
        <td><%= deal.published %></td>
        <% if block_tools %>
            <td class="tda ta_r">
              <%= with_output_buffer { block_tools.call(deal) } %>
            </td>
        <% end %>
        <td class="cr va_b">
          <div class="row_tooltip_actions">
            <%= link_to t("comments.shared.show_comments")+" (#{deal.comments_count_for(current_user)})", "javascript:void(0);", :class => "toggle_row show_comments#{' toggle_row_unread' if deal.has_unread_comments_for_user?(current_user)}", :onclick => "load_deal_comments(#{deal.id},#{user_signed_in?})" %>
            <%= link_to t("comments.shared.hide_comments"), "javascript:void(0);", :class => "toggle_row hide_comments", :style => "display:none" %>
          </div>
        </td>
      </tr>

      <% if block_rowtooltip %>
          <tr class="row_tooltip">
            <td class="cl no_pdd"></td>
            <td colspan="<%= cols %>" class="no_pdd">
              <div class="row_tooltip_content pdd_10">
                <%= with_output_buffer { block_rowtooltip.call(deal) } %>
              </div>
            </td>
            <td class="cr no_pdd"></td>
          </tr>
      <% end %>
  <% end %>

  <% if will_paginate or params[:show_all] == "1" %>
      <tr class="pagination">
        <td colspan="<%= cols + 3 %>" class="ta_c">
          <%= will_paginate collection, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          <%= link_to_show_all_without_pagination "#search_new" %>
        </td>
      </tr>
  <% end %>

  <% if user_signed_in? and current_user.has_any_role?(:admin, :call_centre, :call_centre_agent, :agent) %>
      <tr class="main_actions">
        <td class="cl"></td>
        <td colspan="<%= cols %>" class="no_pdd_lr ta_l">
          <%= bulk_form do %>
            <%= hidden_field_tag :route_to %>
            <%= render :partial => "/shared/tags/assign_tags", :locals => { :ids_container => "deal_ids", :taggable_class_name => "Deal" } %>
          <% end %>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type=text/javascript>
    function hideRowButtons() {
        $(".toggle_row.hide_comments:visible").hide().prev().show();
    }

    jQuery(document).ready(function() {
        $(".toggle_row.show_comments").bind("click", function() {
            $(".row_tooltip").filter(":not(:eq(" + $(this).parents("tr:first").next().index(".row_tooltip") + "))")
                    .filter(":visible").find(".row_tooltip_content:visible").slideUp("normal", function() {
                        $(this).parents("tr.row_tooltip").hide()
                    });

            hideRowButtons();


            $(this).hide().next().show().parents("tr:first")
                    .next("tr.row_tooltip").show()
                    .find(".row_tooltip_content").slideDown();
        });

        $(".toggle_row.hide_comments").bind("click", function() {
            hideRowButtons();

            $(this).hide().prev().show().parents("tr:first")
                    .next("tr.row_tooltip")
                    .find(".row_tooltip_content").slideUp('normal', function() {
                        $(this).parents("tr.row_tooltip").hide();
                    });
        });
    });

</script>
<%= javascript_include_tag 'deal_comments' %>