<%= content_for :search-box do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("call_centre.leads.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => call_centres_leads_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("call_centre.leads.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label :with_created_by, t("call_centre.leads.index.view.search.with_created_by") %>
                <%= f.select :with_created_by, options_for_select(@call_centre_agents, @search.with_created_by), :include_blank => true %>
              </li>
              <li class="select">
                <%= f.label t("leads.index.search.category_label") %>
                <%= f.select :with_category, nested_set_options(@categories.all), :include_blank => true %>
              </li>
              <li class="boolean">
                <%= f.check_box :without_inactive, {}, "true", "false" %>
                <%= f.label :without_inactive, t("call_centre.leads.index.view.search.filter_with_inactive") %>
              </li>
              <li class="boolean">
                <%= f.check_box :without_outdated, {}, "true", "false" %>
                <%= f.label :without_outdated, t("call_centre.leads.index.view.search.filter_with_outdated") %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("call_centre.leads.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>


      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>

  <header>
    <param:content>
      <%= t("call_centre.leads.index.view.header") %>
    </param:content>
    <param:actions>
    </param:actions>
  </header>

  <% if @leads.blank? %>
      <%= blank_state_message %>
  <% else %>

      <% cols = 13 -%>
      <table id="leads" class="generic">
        <thead>
        <tr>
          <th class="hl"></th>
          <th><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
          <th><%= link_to t("leads.table.header"), order_for_scoped_search(:header) %></th>
          <th class="ta_r"><%= link_to t("leads.table.purchase_value"), order_for_scoped_search(:purchase_value) %></th>
          <th class="ta_r"><%= link_to t("leads.table.price"), order_for_scoped_search(:price) %></th>
          <th class="ta_r"><%= t("leads.table.clicks") %></th>
          <th class="ta_r"><%= t("leads.table.exposures") %></th>
          <th class="ta_r"><%= t("leads.table.hottness") %></th>
          <th class="ta_r"><%= t("leads.table.novelty") %></th>
          <th class="ta_c"><%= t("leads.table.created_by") %></th>
          <th class="ta_c"><%= t("leads.table.rating") %></th>
          <th class="ta_c"><%= t("leads.table.certification") %></th>
          <th class="ta_r"><%= link_to t("leads.table.created_at"), order_for_scoped_search(:created_at) %></th>
          <th class="ta_c"><%= t("leads.table.status") %></th>
          <th class="ta_r">
            <%= t("leads.table.actions") %>
          </th>

          <th class="hr"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="<%= cols + 1 %>"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody>
        <% @leads.each do |lead| %>
            <tr id="lead_<%= lead.id %>" class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= check_box_tag("lead_ids[]", lead.id) %></td>
              <td>
                <div class="rltv" style="padding-bottom: 20px;">
                  <%= lead.header %>
                  <% if lead.can_be_commented? %>
                      <div class="row_tooltip_actions">
                        <%= link_to t("comments.shared.show_comments")+" (#{lead.comment_threads.roots.count})", "javascript:void(0)", :class => "toggle_row show_comments#{' toggle_row_unread' if lead.has_unread_comments_for_user?(current_user)}", :onclick => "mark_comments_as_read(#{lead.id}); mark_row_as_read('lead_#{lead.id}')" %>
                        <%= link_to t("comments.shared.hide_comments"), "javascript:void(0)", :class => "toggle_row hide_comments", :style => "display:none" %>
                      </div>
                  <% end %>
                </div>
              </td>
              <td class="ta_r"><%= as_currency(lead.purchase_value, lead.currency) %></td>
              <td class="ta_r"><%= as_currency(lead.price, lead.currency) %></td>
              <td class="ta_r"><%= lead.clicks_count %></td>
              <td class="ta_r"><%= lead.exposures_count %></td>
              <td class="ta_r"><%= t("models.lead.hotness.lvl#{lead.hotness_level}") %></td>
              <td class="ta_c"><%= lead.published ? t("models.lead.novelty.lvl#{lead.novelty_level}") : "-" %></td>
              <td class="ta_c"><%= lead.creator_name %></td>
              <td class="ta_c"><%= lead.average_rating == -1 ? t("leads.table.average_rating_none_label") : lead.average_rating_as_text %></td>
              <td class="ta_c"><%= t("models.lead.certification.lvl#{lead.certification_level}") %></td>
              <td class="ta_r"><%= lead.created_at.strftime("%d-%m-%Y") %></td>
              <td class="ta_c">
                <%= form_for [:call_centres, lead], :method => :put do |f| %>
                    <%= f.select :published, [[t("call_centre.leads.index.view.option_published"), 1], [t("call_centre.leads.index.view.option_not_published"), 0]], {:selected => lead.published ? 1 : 0}, {:onchange => "jQuery(this.form).callRemote()"} %>
                <% end %>
              </td>
              <td class="tda ta_r">
                <ul-actions>
                  <li>
                    <%= link_to t("call_centre.leads.index.view.edit"), edit_call_centres_lead_path(lead), :class => "default_action" %>
                  </li>
                  <li>
                    <%= link_to t("call_centre.leads.index.view.destroy"), call_centres_lead_path(lead), :confirm => t("call_centre.leads.index.view.destroy_confirmation"), :method => :delete %>
                  </li>
                </ul-actions>
              </td>
              <td class="cr"></td>
            </tr>
            <tr class="row_tooltip">
              <td class="cl no_pdd"></td>
              <td colspan="<%= 13 %>" class="no_pdd">
                <div class="row_tooltip_content pdd_10">
                  <p><%= render :partial => "/shared/comments/lead_threads", :locals => {:lead => lead, :threads => lead.comment_threads.roots.order("created_at DESC")} %></p>
                </div>
              </td>
              <td class="cr no_pdd"></td>
            </tr>
        <% end %>

        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="<%= cols + 3 %>" class="ta_c">
                <%= will_paginate @leads, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% end %>
        <tr class="main_actions">
          <td class="cl"></td>
          <td colspan="<%= cols +1 %>" class="no_pdd_lr ta_l">
            <%= bulk_form do %>
              <%= hidden_field_tag :route_to %>
              <%= render :partial => "/shared/tags/assign_tags", :locals => { :ids_container => "lead_ids", :taggable_class_name => "Lead" } %>
            <% end %>
          </td>
          <td class="cr"></td>
        </tr>
        </tbody>
      </table>
  <% end %>


  <script type=text/javascript>

      function hideRowButtons() {
          $(".toggle_row.hide_comments:visible").hide().prev().show();
      }

      jQuery(document).ready(function() {
          $(".toggle_row.show_comments").bind("click", function() {
              $(".row_tooltip").filter(":not(:eq(" + $(this).parents("tr:first").next().index(".row_tooltip") + "))")
                      .filter(":visible").find(".row_tooltip_content:visible").slideUp("normal", function() {
                          $(this).parents("tr.row_tooltip").hide()
                      });

              hideRowButtons();


              $(this).hide().next().show().parents("tr:first")
                      .next("tr.row_tooltip").show()
                      .find(".row_tooltip_content").slideDown();
          });

          $(".toggle_row.hide_comments").bind("click", function() {
              hideRowButtons();

              $(this).hide().prev().show().parents("tr:first")
                      .next("tr.row_tooltip")
                      .find(".row_tooltip_content").slideUp('normal', function() {
                          $(this).parents("tr.row_tooltip").hide();
                      });
          });
      });

  </script>

  <% if params[:unfold_comment_id] %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('tr[id=lead_<%= params[:unfold_comment_id] %>] a[class~=show_comments]').click();
    })
  </script>
  <% end %>
<% end %>