<column-mc:>

  <script type="text/javascript">
      $(function() {
          advanced_import_load_sortable_lists("contact");
      });
  </script>

  <header><%= t("callers.advanced_import.choose.view.title") %></header>

  <div style="float:left">
    <p class="sortable_div_header"><%= t("callers.advanced_import.choose.view.contact_fields_label") %></p>
    <clb/>
    <ul id="sortable_contact_fields_removed" class="sortable_contact_fields_class">
      <p class="disabled"><%= t("callers.advanced_import.choose.view.contact_not_selected_fields_label") %></p>
    </ul>

    <ul id="sortable_contact_fields" class="sortable_contact_fields_class">
      <p class="disabled"><%= t("callers.advanced_import.choose.view.contact_selected_fields_label") %></p>
      <% @campaign.import_fields.each do |name| %>
          <% required = ["company_name", "company_phone_number", "country"].include?(name) %>
          <li class="ui-state-highlight <%= "disabled" if required %>"><%= name.humanize %><%= " *" if required %>
            <span style=display:none><%= name %></span></li>
      <% end %>
    </ul>
  </div>

  <div style="float:left">
    <p class="sortable_div_header"><%= t("callers.advanced_import.choose.view.spreadsheet_fields_label") %></p>
    <clb/>
    <ul id="sortable_spreadsheet_fields" class="sortable_spreadsheet_fields_class">
      <p class="disabled"><%= t("callers.advanced_import.choose.view.spreadsheet_selected_fields_label") %></p>
      <% @spreadsheet_headers.each do |name| %>
          <li class="ui-state-default"><%= name %></li>
      <% end %>
    </ul>

    <ul id="sortable_spreadsheet_fields_removed" class="sortable_spreadsheet_fields_class">
      <p class="disabled"><%= t("callers.advanced_import.choose.view.spreadsheet_not_selected_fields_label") %></p>
    </ul>
  </div>

  <clb/>
  <% form_tag preview_callers_campaign_advanced_import_index_path(@campaign), :id => "go_to_browse_page_form", :method => :post, :multipart => true do %>
      <%= hidden_field_tag :contact_field, nil %>
      <%= hidden_field_tag :spreadsheet_field, nil %>
      <%= hidden_field_tag :attachment, @attachment_file %>
  <% end %>

  <%= link_to t("callers.advanced_import.choose.view.cancel_button"), new_callers_campaign_contact_path(@campaign, :type => "import") %>
  <%= button_to_function t("callers.advanced_import.choose.view.next_button"), "advanced_import_next_button('#{t("callers.advanced_import.choose.view.warning_list_not_equal")}', 'contact');" %>

</column-mc:>