<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_100 labels_ta_r">
      <ol>
        <li class="boolean">
          <%= f.label :is_reported, t("shared.results.form.is_reported") %>
          <%= f.check_box :is_reported %>
        </li>
        <li class="boolean">
          <%= f.label :is_success, t("shared.results.form.is_success") %>
          <%= f.check_box :is_success %>
        </li>
        <li class="string">
          <%= f.label :value %>
          <%= f.text_field :value %>
          <p class="inline-hints"><%= campaign.currency.to_s %></p>
        </li>
        <li class="boolean">
          <%= f.label :is_dynamic_value, t("shared.results.form.is_dynamic_value") %>
          <%= f.check_box :is_dynamic_value, :onclick => "enable_dynamic_value()" %>
        </li>
        <li class="string">
          <%= f.label :expected_completed_per_hour %>
          <%= f.text_field :expected_completed_per_hour %>
        </li>
        <li class="select">
          <%= f.label :chain_mail_type_id %>
          <%= f.select :chain_mail_type_id, options_for_select(campaign.chain_mail_types.with_active.with_result(f.object.result).map{|cmt| [cmt.name,cmt.id]}, f.object.chain_mail_type_id), :include_blank => true %>
        </li>
      </ol>
    </fieldset>
</div>