<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_100 labels_ta_r">
      <ol>
        <li class="string">
          <%= f.label :value %>
          <%= f.text_field :value %>
          <p class="inline-hints"><%= campaign.currency.to_s %></p>
        </li>
        <li class="boolean">
          <%= f.label :is_dynamic_value, t("shared.results.form.is_dynamic_value") %>
          <%= f.check_box :is_dynamic_value, :onclick => "enable_dynamic_value()" %>
        </li>
        <li class="string">
          <%= f.label :expected_completed_per_hour %>
          <%= f.text_field :expected_completed_per_hour %>
        </li>
      </ol>
    </fieldset>
</div>