<tr>
  <td class="cl"></td>
  <td class="no_pdd_lr">
    <%= check_box_tag "result_ids_#{result.id}", result.id, campaign.results.include?(result), :name => "campaign_result_ids[]", :class => "cb_cu_#{result.id}" %>
  </td>
  <td><%= result.name %></td>
  <td><%= result.list_of_fields %></td>
  <% if result.final? and result.can_be_managed_by?(current_user) %>
      <% cr = result.campaigns_results.detect { |cr| cr.campaign_id == campaign.id } %>
      <td><%= text_field_tag "result[#{result.id}][campaign_result][value]", cr ? cr.value : '' %>&nbsp;<%= campaign.currency.to_s %></td>
      <td><%= text_field_tag "result[#{result.id}][campaign_result][expected_completed_per_hour]", cr ? cr.expected_completed_per_hour : '' %></td>
  <% elsif result.final? %>
    <td colspan="2"><%= t("campaigns.index.not_allowed_to_edit") %></td>
  <% end %>
  <td class="tda ta_r">
    <% if result.can_be_managed_by?(current_user) %>
        <ul-actions>
          <li>
            <%= link_to t("campaigns.index.edit"), url_for(:controller => "callers/results", :action => "edit", :id => result, :campaign_id => campaign) %>
          </li>
          <% unless result.generic? %>
          <li>
            <%= link_to t("campaigns.index.destroy"), url_for(:controller => "callers/results", :action => "destroy", :id => result, :campaign_id => campaign), :confirm => t("campaigns.index.destroy_confirmation"), :method => :delete %>
          </li>
          <% end %>
        </ul-actions>
    <% end %>
  </td>
  <td class="cr"></td>
</tr>

<script>
  $('#result_ids_<%= result.id %>').bind('change', function() {
    $('#result_<%= result.id %>_campaign_result_value, #result_<%= result.id %>_campaign_result_expected_completed_per_hour').attr('disabled', !$(this).attr('checked'));
  })
  $('#result_<%= result.id %>_campaign_result_value, #result_<%= result.id %>_campaign_result_expected_completed_per_hour').attr('disabled', !$('#result_ids_<%= result.id %>').attr('checked'));
</script>