<column-mc:>

  <header>
    <param:content>
      <%= t("chain_mails.index.header") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last"><%= bt_link_to :plus, t("chain_mails.index.new"), new_administration_chain_mail_path %></li>
      </ul>
    </param:actions>
  </header>

  <% if @chain_mails.empty? %>
      <%= blank_state_message %>
  <% else %>
      <%= generic_table @chain_mails, :table_class => "chain_mails", :default_action => :edit, :cols => 1 do |blocks| %>

          <% blocks.headers do %>
            <th><%= t("chain_mails.table.name") %></th>
          <% end %>
              
          <% blocks.cells do |chain_mail| %>
              <td class="cl"><%= chain_mail.name %></td>
          <% end %>

      <% end %>
  <% end %>

</column-mc:>
