<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">

      <%= form_for @search, :url => agents_lead_templates_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("agent.lead_templates.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="select">
                <%= f.label t("agent.lead_templates.index.view.search.category_label") %>
                <%= f.select :with_category, @categories, :include_blank => true %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("agent.lead_templates.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<%= content_for :column_mc do -%>

  <header>
    <param:content>
      <%= t("agent.lead_templates.index.view.header") %>
    </param:content>
    <param:actions>

      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("agent.lead_templates.index.view.new_template"), new_agents_lead_template_path(:lead_template => {:category_id => @search.with_category}) %>
        </li>
      </ul>
    </param:actions>
  </header>

  <% if @lead_templates.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= lead_templates_table @lead_templates, :show_checkboxes => false, :show_active_column => true, :paginate_table => true do |blocks| %>
          <% blocks.tools do |lead_template| %>
              <ul-actions>
                <li><%= link_to t("agent.lead_templates.index.view.edit"), edit_agents_lead_template_path(lead_template), :class => "default_action" %></li>
                <li><%= link_to t("agent.lead_templates.index.view.duplicate"), new_agents_lead_template_path(:template_id => lead_template.id, :lead_template => {:category_id => @search.with_category}) %></li>
                <li><%= link_to t("agent.lead_templates.index.view.destroy"), agents_lead_template_path(lead_template), :method => :delete, :confirm => t("agent.lead_templates.index.view.destroy_template_confirmation_message") %></li>
              </ul-actions>
          <% end %>
      <% end %>
  <% end %>


<% end %>