<%= content_for :column_mc do -%>
  <header>
     <param:content>
        <%= t("administration.subscription_plans.edit.view.header", :name => @subscription_plan.name) %>
     </param:content>
      <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to nil, t("administration.subscription_plans.edit.view.edit_email_template"), edit_administration_email_template_path(@subscription_plan.invoice_email_template) %>
        </li>
      </ul>
    </param:actions>
  </header>

  <%= semantic_form_for @subscription_plan, :url => administration_subscription_plan_path(@subscription_plan) do |form| %>
      <frm>
        <param:content>
          <%= render :partial => 'form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("administration.subscription_plans.edit.view.button_update") %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.subscription_plans.edit.view.button_cancel"), "history.go(-1)" %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>
<% end %>