<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_200">
    <ol class="align_inputs">
      <% if call_result.new_record? or (call_result.valid? and (call_result.result.upgrades_to_lead? or call_result.result.upgrades_to_any_user? or call_result.result.send_material?)) %>
          <li class="string">
            <label><%= t("call_results.new.result") %></label>

            <div class="txt">
              <strong><%= call_result.result.name %></strong>
            </div>
          </li>
          <%= form.input :result_id, :as => :hidden %>
      <% else %>
        <%= form.input :result_id_changed, :as => :hidden %>
        <%= form.input :result_id, :as => :select,  :collection => call_result.contact.campaign.results, :include_blank => false, :input_html => { :onchange => "$('#call_result_result_id_changed').val('1');$('#edit_call_result_#{call_result.id}').submit();" } %>
      <% end %>
      <%= form.input :note, :as => :text, :input_html => {:style => "width: 400px;height:120px"} %>

      <% if call_result.result.upgrades_to_any_user? %>
          <% if call_result.errors.on(:upgraded_user) %>
              <li class="string">
                <b><%= t("call_results.new.upgraded_user_has_other_errors") %>: <%= call_result.errors.on(:upgraded_user) %></b>
              </li>
          <% end %>

          <% [:company_name, :first_name, :last_name, :phone_number, :address_line_1, :address_line_2, :address_line_3, :zip_code].each do |field| %>
          <li class="string">
            <%
               required_fields = [:first_name, :last_name, :address_line_1, :address_line_3, :zip_code]
               required_fields << [:company_name, :phone_number] if call_result.result.upgrades_to_member?
               required_fields.flatten!
            %>
            <%= label_tag "call_result[contact_email_address]", "#{t("call_results.new.contact_#{field}")}#{'<abbr>*</abbr>' if required_fields.include?(field)}".html_safe %>
            <%= text_field_tag "call_result[contact_#{field}]", call_result.send("contact_#{field}".to_sym) || (contact.send(field) if contact.respond_to?(field)) %>
            <%= custom_error_for_object_and_field(call_result, "contact_#{field}".to_sym) %>
          </li>
          <% end %>
          <li class="select">
            <%= label_tag "call_result[contact_country_id]", "#{t("call_results.new.contact_country")}<abbr>*</abbr>".html_safe %>
            <%= select_tag "call_result[contact_country_id]", options_for_select(Country.all.map{|c| [c.name, c.id]}.sort, call_result.contact_country_id || (contact.country_id if contact.respond_to?(:country_id))) %>
            <%= custom_error_for_object_and_field(call_result, :contact_country_id) %>
          </li>
          <li class="select">
            <%= label_tag "call_result[contact_subscription_plan_id]", "#{t("call_results.new.contact_subscription_plan")}<abbr>*</abbr>".html_safe %>
            <%= select_tag "call_result[contact_subscription_plan_id]", options_for_select(SubscriptionPlan.active.for_role(call_result.result.upgrades_to_user_role).without_paypal.map{ |s| [s.name, s.id] }.sort, call_result.contact_subscription_plan_id.nil? ? SubscriptionPlan.active.free.for_role(call_result.result.upgrades_to_user_role).first.id : call_result.contact_subscription_plan_id), :onchange => "if($('#call_result_contact_requested_deal_ids').val()) { select_deals_for_request_from_upgrade_panel(); }" %>
            <%= custom_error_for_object_and_field(call_result, :contact_subscription_plan_id) %>
          </li>
          <li class="boolean">
            <%= label_tag "call_result[contact_newsletter_on]", t("call_results.new.contact_newsletter_on") %>
            <%= check_box_tag "call_result[contact_newsletter_on]", 1, call_result.contact_newsletter_on %>
          </li>

          <% if (call_result.result.upgrades_to_category_supplier? or call_result.result.upgrades_to_supplier?) and call_result.new_record? %>
              <%= form.input :user_not_charge_vat, :as => :boolean, :label => t("call_results.new.user_not_charge_vat") %>
          <% end %>

          <% if call_result.result.upgrades_to_member? %>
              <%= form.input :contact_requested_deal_ids, :as => :hidden %>
          <% end %>

          <% if call_result.result.upgrades_to_category_supplier? %>
          <li>
            <div id="category_supplier_categories">
                <div class="grid_210 fltl">&nbsp;</div>
                <div class="grid_240 fltl">
                  <h3><%= t("administration.users.edit.view.available_categories") %></h3>
                  <%= select_tag "all_categories", options_for_select((LeadCategory.roots.without_unique-call_result.buying_categories).map { |c| [c.name, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
                </div>

                <div class="grid_160 fltl" style="margin-right: 10px;margin-top:10px;">
                  <p class="ta_c pdd_5 no_pdd_lr"><%= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_selected('all_categories','call_result_buying_category_ids_')", :id => "move_right" %></p>

                  <p class="ta_c"><%= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_selected('call_result_buying_category_ids_','all_categories')", :id => "move_left" %></p>
                </div>

                <div class="grid_240 fltl">
                  <h3><%= t("administration.users.edit.view.selected_categories") %></h3>
                  <%= select_tag "call_result[buying_category_ids][]", options_for_select(call_result.buying_categories.map { |c| [c.name, c.id] }.sort), {:multiple => true, :size => 10, :style => "height:200px; width:250px;"} %>
                </div>
                <clb/>
              </div>
          </li>
          <% end %>
      <% end %>
      <% if call_result.result.upgrades_to_category_supplier? or call_result.result.send_material? %>
          <% [:subject, :from, :bcc, :cc, :body].each do |field| %>
              <%= form.input "email_template_#{field}", :as => :hidden %>
          <% end %>
          <% if call_result.errors.empty? %>
          <script type="text/javascript">
            window.template_initialised = 0;
            window.materials_repository_files = [];
          </script>
           <% elsif !call_result.errors.empty? and current_user.has_role?(:admin) %>
            <script type="text/javascript">
            window.materials_repository_files = deserialize_material_repository_array($('#serialized_materials_array_field').val());
            </script>
          <% end %>

          <% if call_result.result.upgrades_to_member? and agent_work_screen %>
          <li class="commit" style="padding-top:10px">
            <%= bt_link_to_function nil, t("call_results.new.select_deals_for_request"), "javascript:select_deals_for_request_from_upgrade_panel()" %>
            <b><span id="request_deal_ids_span"><%= call_result.contact_requested_deal_ids.present? ? "#{call_result.contact_requested_deal_ids.to_s.split(",").size} " + t("common.js.deals_chosen") : t("call_results.new.no_deals_selected_for_request") %></span></b>
          </li>
          <% end %>

          <script type="text/javascript">
            set_email_variables_for_popup(<%= "[#{call_result.result.email_template_variables_for_type.map{ |v| "'#{v}'" }.join(',')}]" %>);
          </script>
          <li class="commit" style="padding-top:10px">
            <%= bt_link_to_function nil, t("call_results.new.customize_email_template"), "javascript:set_email_template_editor_init_values_function_name('fill_editor_with_#{call_result.result.email_template_name_for_type}_template_values()');$('#modal_for_email_template_edit').dialog('open');#{'reload_ck_editor();' if call_result.result.send_material?}" %>
          </li>
      <% end %>
    </ol>
  </fieldset>
</div>

<clb/>

<% if call_result.result.result_fields.present? %>
    <hl/>
    <%= render :partial => "/shared/results/result_fields", :locals => {:contact => contact, :call_result => call_result, :form => form} %>
<% end %>

<% if call_result.result.upgrades_to_lead? %>
    <hl/>
    <div class="pdd_10">
      <%= render :partial => "/shared/results/add_result_lead_fields", :locals => {:call_result => call_result, :form => form} %>
    </div>
<% end %>

<% @campaign = call_result.contact.campaign if @campaign.nil? %>
<% if cr = call_result.result.campaigns_results.detect { |cr| cr.campaign_id == @campaign.id } and chain_mail_type = cr.chain_mail_type %>
    <hl/>
    <div class="pdd_10 no_pdd_t">
      <fieldset class="inputs labels_ta_r labels_200">
        <ol class="align_inputs">
          <li class="boolean">
              <%= label_tag "call_result[chain_mail_type_id]", "#{t("call_results.new.chain_mail_enabled")}".html_safe %>
              <%= check_box_tag "call_result[chain_mail_type_id]", chain_mail_type.id, (call_result.chain_mail.present? or call_result.new_record?) %>
              <%= custom_error_for_object_and_field(call_result, :chain_mail) %>
          </li>
        </ol>
      </fieldset>
    </div>
<% end %>

<script type="text/javascript">
  $("#call_result_contact_attributes_category_id").change(function(){
      var path = '<%= reload_path %>'+'&category_id='+$(this).val();
     <% if agent_work_screen %>
        $.get(path);
     <% else %>
        window.location = path;
     <% end %>
  });

<% if @campaign or call_result.contact.campaign%>
  <% campaign = @campaign.nil? ? call_result.contact.campaign : @campaign %>

  <% campaign.cloned_email_templates.each do |template| %>
    function fill_editor_with_<%= template.uniq_id -%>_template_values(){
     <%=
     "fill_email_template_editor_with_values('#{template.subject}', '#{template.from}', '#{template.bcc}', '#{template.cc}', '#{template.body_sanitized}', '#{template.uniq_id}')".html_safe
     -%>
    }
  <% end %>
<% end %>

  var stored_chain_mail_type_id = $('#call_result_chain_mail_type_id').val();
  $('#call_result_chain_mail_type_id').bind('click', function(){
      if ($('#contact_email_address').val() == '' && $('#call_result_contact_email_address').val() == '') {
        alert("You must enter contact email address to change this");
        $('#call_result_chain_mail_type_id').val(stored_chain_mail_type_id);
        return false;
      }
  });
</script>
