<search-box:>
  <div class="search_box">
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_archived_paypal_responses_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.leads.index.search.keyword_label") %>
                <%= f.text_field :with_keyword, :style => "width:140px" %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.leads.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>


<column-mc:>
  <header>
    <param:content>
      <%= t("administration.archived_paypal_responses.index.view.title") %>
    </param:content>

    <param:actions>
    </param:actions>
  </header>

  <% if @archived_paypal_responses.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= render :partial => 'table', :locals => {:responses => @archived_paypal_responses, :collection => collection}%>
  <% end %>
</column-mc:>