<%= t("newsletter.newsletter_lists.form.keyword_for_autocompleter") %><%= text_field_tag "autocompleter", nil %>

<a data-remote="true" data-method="get" id="autocompleter_sourceable_form" href="<%= sourceable_for_search_newsletters_newsletter_lists_path(:format => :js) %>" class="display:none"></a>

<script language="javascript">
    $(document).ready(function() {
        jQuery.ajaxSetup({
            'beforeSend': function(xhr) {
                xhr.setRequestHeader("Accept", "text/javascript")
            }
        });
        $("#autocompleter").autocomplete({
                    url : '<%= sourceable_for_search_newsletters_newsletter_lists_path(:format => :js) %>',
                    mustMatch : false
                }
        ).result(function(event, item) {
                    $("#newsletter_list_sourceable_items").
                                append($("<option></option>").
                                attr("value", item[1] + "_" + item[2]).
                                text(item[0]));
                    $('#autocompleter').val('');
                    //$('<p>' +item[0]+ '</p>').insertBefore("#newsletter_sources_append")
                    $("#ul_sources_list").append("<li>" + item[0] + "</li>");
                });

        $("#autocompleter").autocomplete('<%= sourceable_for_search_newsletters_newsletter_lists_path(:format => :js) %>', function(event, data, formatted) {
        });
    });

    function select_sourceable_items(){
        $("#newsletter_list_sourceable_items option").each(function()
        {
            $(this).attr("selected","selected");
        });
    }
</script>