<% show_checkboxes ||= false %>
<% extra_columns_count = show_checkboxes ? 1 : 0 %>

<% if newsletter_subscribers.blank? %>
    <% msg = (@newsletter_list.newsletter_sources.present? and @newsletter_list.newsletter_source_synches.present?) ? t("newsletters.newsletter_lists.edit.view.sources_synch_pending") : t("common.nothing_to_display") %>
    <%= blank_state_message(msg) %>
<% else %>
<table id="newsletter_lists_table" class="generic">
  <thead>
  <tr>
    <th class="hl"></th>
    <% if show_checkboxes %>
        <th class="no_pdd_lr" style="width: 10px;"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
    <% end %>
    <th><%= t("newsletters.newsletter_lists.edit.view.subscribers.email_column") %></th>
    <th><%= t("newsletters.newsletter_lists.edit.view.subscribers.name_column") %></th>
    <th><%= t("newsletters.newsletter_lists.edit.view.subscribers.source_column") %></th>
    <th class="ta_r"><%= t("newsletters.newsletter_lists.index.view.actions_column") %></th>
    <th class="hr"></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="fl"></td>
    <td colspan="<%= 4 + extra_columns_count %>"></td>
    <td class="fr"></td>
  </tr>
  </tfoot>
  <tbody>
  <% newsletter_subscribers.each do |newsletter_subscriber| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="cl"></td>
        <% if show_checkboxes %>
            <td class="no_pdd_lr">
              <%= check_box_tag "cb_newsletter_subscriber_#{newsletter_subscriber.id}", newsletter_subscriber.id, false, :class => "cb_newsletter_subscriber_id" %>
            </td>
        <% end %>
        <td><%= newsletter_subscriber.email_address %></td>
        <td><%= newsletter_subscriber.name %></td>
        <td><%= newsletter_subscriber.newsletter_source_as_text %></td>
        <td class="tda ta_r">
          <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
              <li>
                  <%= link_to t("newsletters.newsletter_lists.edit.view.subscribers.edit"), edit_newsletters_newsletter_list_newsletter_list_subscriber_path(@newsletter_list, newsletter_subscriber), :class => "default_action" %>
              </li>
          </ul></div>
        </td>
        <td class="cr"></td>
      </tr>
  <% end %>
  <% if will_paginate(newsletter_subscribers) %>
      <tr class="pagination">
        <td colspan="<%= 6 + extra_columns_count %>" class="ta_c">
          <%= will_paginate newsletter_subscribers %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>