<column-mc:>
  <%= javascript_include_tag "jquery.autocomplete.min.js" %>

  <header back="true">
    <param:content>
      <%= t("newsletters.newsletter_lists.edit.view.header") %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.synchronize"),  newsletters_newsletter_list_newsletter_synchronizations_path(@newsletter_list), :method => :post %>
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.new_subscriber"),  new_newsletters_newsletter_list_newsletter_list_subscriber_path(@newsletter_list) %>
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.import"),  subscribers_advanced_import_path(:newsletter_list_id => @newsletter_list.id) %>
        </li>
      </ul>
    </param:actions>
  </header>

  <%= semantic_form_for @newsletter_list, :remote => true, :url => newsletters_newsletter_list_path do |form| %>
      <frm>
        <param:content>
            <%= render :partial => 'form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("newsletters.newsletter_lists.edit.view.button_update"), :onclick => "serialize_tag_groups_items();select_sourceable_items()" %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("newsletters.newsletter_lists.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
          <ibt c="fltri show" s="display:none;">
            <%= link_to_function "Show", "$('.form_newsletter, .frm_foot_actions .bt').toggle('slow');" %>
          </ibt>
          <ibt c="fltri hide">
            <%= link_to_function "Hide", "$('.form_newsletter, .frm_foot_actions .bt').toggle('slow');" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>


  <header>
    <param:content>
      <%= t("newsletters.newsletter_lists.edit.view.title_subscribers") %>
    </param:content>

    <param:actions>
      <%#= form_tag administration_articles_path, :method => :post, :id => "form_new_article" do %>
          <ul class="header_actions">
            <li class="last">
              <%= bt_link_to :download, t("newsletters.newsletter_lists.edit.view.button_bulk_download_link"), "", :id => "export_subscribers" %>
            </li>

          </ul>
      <% #end %>
    </param:actions>
  </header>

  <div class="fltl">
    <%= bt_link_to_function nil, "Select / Unselect", "$('input.cb_newsletter_subscriber_id').each(function(){this.checked=!this.checked});" %>
  </div>

  <div class="fltr">
    <%= form_for @search, :url => edit_newsletters_newsletter_list_path(@newsletter_list) do |f| %>
        <p>
          <%= f.text_field :with_keyword, {:placeholder => t("contacts.filter.keyword_label") } %>
          <%= bt_link_to nil, t("contacts.filter.search_button"), "javascript:void(0)", :onclick => "$(this).parents('form').submit()" %>
        </p>
    <% end %>
  </div>

  <clb/>

  <%= form_tag bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :xls), :method => :post, :id => "export_subscribers_form" do %>
  <% end %>


  <%= render :partial => "subscribers_list", :locals => { :newsletter_subscribers => @newsletter_subscribers, :show_checkboxes => true } %>
</column-mc:>

<js:>
  <script type="text/javascript">
    $('.show').hide();

    $('#export_subscribers').click(function(e){
        exportDialog(e, "#export_subscribers_form", {
          "XLS" : '<%= bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :xls) %>',
          "CSV" : '<%= bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :csv) %>'
        });
    });
  </script>
</js:>