<%- header_text = "%s: %d, %s: %s" % [
  "Subscribers count",
  @newsletter_list_subscribers_count,
  "Last synced at",
  @newsletter_list_last_synchronized_at
  ]
%>

<%= content_for :column_mc do -%>
  <%= javascript_include_tag "jquery.autocomplete.min.js" %>

  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("newsletters.newsletter_lists.edit.view.header") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.synchronize_sources"),  newsletters_newsletter_list_newsletter_synchronizations_path(@newsletter_list, :sources_synch => 1, :campaign_monitor_synch => 0), :method => :post %>
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.synchronize_cm"),  newsletters_newsletter_list_newsletter_synchronizations_path(@newsletter_list, :sources_synch => 0, :campaign_monitor_synch => 1), :method => :post %>
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.new_subscriber"),  new_newsletters_newsletter_list_newsletter_list_subscriber_path(@newsletter_list) %>
          <%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.import"),  subscribers_advanced_import_path(:newsletter_list_id => @newsletter_list.id) %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= semantic_form_for @newsletter_list, :remote => true, :url => newsletters_newsletter_list_path do |form| %>
      <%= frm(:title => "#{header_text}") do %>
        <% section.block_content do %>
            <%= render :partial => 'form', :locals => {:form => form} %>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("newsletters.newsletter_lists.edit.view.button_update"), :onclick => "serialize_tag_groups_items();select_sourceable_items()" %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("newsletters.newsletter_lists.edit.view.button_cancel"), "history.go(-1)" %>
          <% end %>
          <%= ibt(:class => "fltri show" s="display:none;") do %>
            <%= link_to_function "Show", "$('.form_newsletter, .frm_foot_actions .bt').toggle('slow');" %>
          <% end %>
          <%= ibt(:class => "fltri hide") do %>
            <%= link_to_function "Hide", "$('.form_newsletter, .frm_foot_actions .bt').toggle('slow');" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <div id="tagger_container">
     <%= render :partial => 'tagger_form', :locals => {:tagger => @tagger, :newsletter_list => @newsletter_list} %>
  </div>

  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("newsletters.newsletter_lists.edit.view.title_subscribers") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :download, t("newsletters.newsletter_lists.edit.view.button_bulk_download_link"), "", :id => "export_subscribers" %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <div class="fltl">
    <%= bt_link_to_function nil, "Select / Unselect", "$('input.cb_newsletter_subscriber_id').each(function(){this.checked=!this.checked});" %>
  </div>

  <div class="fltr">
    <%= form_for @search, :url => edit_newsletters_newsletter_list_path(@newsletter_list) do |f| %>
        <p>
          <%= f.text_field :with_keyword, {:placeholder => t("contacts.filter.keyword_label") } %>
          <%= bt_link_to nil, t("contacts.filter.search_button"), "javascript:void(0)", :onclick => "$(this).parents('form').submit()" %>
        </p>
    <% end %>
  </div>

  <div class="clb"></div>

  <%= form_tag bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :xls), :method => :post, :id => "export_subscribers_form" do %>
    <div id="bulk_export_data" class="hidden"></div>
  <% end %>


  <%= render :partial => "subscribers_list", :locals => { :newsletter_subscribers => @newsletter_subscribers, :show_checkboxes => true } %>
<% end %>

<%= content_for :js do -%>
  <script type="text/javascript">
    $('.show').hide();

    $('#export_subscribers').click(function(e){
      var dataContainer = $('#bulk_export_data');
      // remove previous exports data
      dataContainer.empty();

      // bind new export data
      $(".cb_newsletter_subscriber_id:checked").each(function() {
        var id = $(this).val();
        var input = $("<input type='hidden' name='ids[]' />");
        input.val(id);
        dataContainer.append(input);
      });

      // start export dialog
      exportDialog(e, "#export_subscribers_form", {
        "XLS" : '<%= bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :xls) %>',
        "CSV" : '<%= bulk_subscribers_export_newsletters_newsletter_list_path(@newsletter_list, :format => :csv) %>'
      });
    });
  </script>
<% end %>
