<search-box:>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("common.search") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => newsletters_newsletter_lists_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("newsletters.newsletter_lists.index.view.search.keyword_label") %>
                <%= f.text_field :with_keyword, :style => "width:140px" %>
              </li>

              <li class="select">
                <%= f.label t("newsletters.newsletter_lists.index.view.search.archived") %>
                <%= f.select :with_archived, [[t("common.yes_label"), 1], [t("common.no_label"), 0]] %>
              </li>

              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("newsletters.newsletter_lists.index.view.search.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
</search-box:>

<column-mc:>
  <header>
      <param:content>
        <%= t("newsletters.newsletter_lists.index.view.header") %>
      </param:content>

      <param:actions>
        <ul class="header_actions">
          <li class="last"><%= bt_link_to :plus, t("newsletters.newsletter_lists.index.view.new_newsletter_list"), new_newsletters_newsletter_list_path %></li>
        </ul>

      </param:actions>
   </header>

  <% if @newsletter_lists.blank? %>
      <%= blank_state_message %>
  <% else %>
  <table id="newsletter_lists_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= t("newsletters.newsletter_lists.index.view.owner_column") %></th>
      <th><%= t("newsletters.newsletter_lists.index.view.name_column") %></th>
      <th><%= t("newsletters.newsletter_lists.index.view.number_of_subscribers_column") %></th>
      <th><%= t("newsletters.newsletter_lists.index.view.last_sync_date_column") %></th>
      <th class="ta_r"><%= t("newsletters.newsletter_lists.index.view.actions_column") %></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="5"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% @newsletter_lists.each do |newsletter_list| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="cl"></td>
          <td><%= newsletter_list.owner.screen_name %></td>
          <td><%= newsletter_list.name %></td>
          <td><%= newsletter_list.fetch_all_subscribable_objects.count %></td>
          <td><%= newsletter_list.last_synchronized_at %></td>
          <td class="tda ta_r">
            <ul-actions>
                <li>
                    <%= link_to t("newsletters.newsletter_lists.index.view.edit"),  edit_newsletters_newsletter_list_path(newsletter_list), :class => "default_action" %>
                </li>
                <li>
                    <%= link_to newsletter_list.is_archived? ? t("newsletters.newsletter_lists.index.view.retrieve") : t("newsletters.newsletter_lists.index.view.archive"), archive_newsletters_newsletter_list_path(newsletter_list), :method => :post %>
                </li>
            </ul-actions>
          </td>
          <td class="cr"></td>
        </tr>
    <% end %>
    <% if will_paginate %>
        <tr class="pagination">
          <td colspan="5" class="ta_c">
            <%= will_paginate @newsletter_lists, :previous_label => '&laquo;', :next_label => '&raquo;' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</column-mc:>