$("#edit_newsletter_list_<%= @newsletter_list.id %> li[id*='newsletter_list_']").removeClass("error");
$("#edit_newsletter_list_<%= @newsletter_list.id %> li[id*='newsletter_list_'] p[class='inline-errors']").remove();

<% if @newsletter_list.valid? %>
window.location.reload();
<% else %>
    <% @newsletter_list.errors.each_pair do  |field, msg| %>
        $("#edit_newsletter_list_<%= @newsletter_list.id %> li[id='newsletter_list_<%= field %>_input']").addClass("error");
        $("#edit_newsletter_list_<%= @newsletter_list.id %> li[id='newsletter_list_<%= field %>_input']").append("<p class='inline-errors'><%= msg %></p>");
    <% end %>
<% end %>