<%= content_for :column_mc do -%>
  <header back="true"><%= t("lead_user.contact_lead_by_email.new.view.header") %></header>

  <%= form_for @email_template_preview, :as => :email_template_preview, :url => lead_users_lead_purchase_lead_email_path() do |f| %>
      <frm title="#{t('lead_user.contact_lead_by_email.new.view.form_title')}">
        <param:content>

          <div class="pdd_10 no_pdd_t">
            <fieldset class="inputs labels_ta_r labels_240">
              <ol>
                <li class="string">
                  <%= f.label :recipients, t("lead_user.contact_lead_by_email.new.view.recipient_label") %>
                  <%= f.text_field :recipients, :readonly => true %>
                </li>
                <li class="string">
                  <%= f.label :subject, t("lead_user.contact_lead_by_email.new.view.subject_label") %>
                  <%= f.text_field :subject %>
                </li>
                <li class="text">
                  <%= f.label :body, t("lead_user.contact_lead_by_email.new.view.body_label") %>
                  <%= f.text_area :body, :style => "width: 600px; height: 250px" %>
                </li>
              </ol>
            </fieldset>
          </div>

        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri") do %>
            <%= f.submit t("lead_user.contact_lead_by_email.new.view.send_email_button") %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>

<% end %>