<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :name %>
      <li class="select">
        <label></label>
        <%= form.select :parent_id, nested_set_options(Category, @category) { |name, level| "#{'-' * level} #{name}" }, {:include_blank => t("administration.categories.form.no_parent_category")} %>  
      </li>
      <%= form.input :description, :as => :text %>
      <%= form.input :is_locked %>
      <%= form.semantic_fields_for :image, @category.image || Asset::CategoryImage.new do |image| %>
          <%= image.input :asset,
                          :as => :file,
                          :required => false,
                          :label => I18n.t("administration.categories.edit.view.upload_image"),
                          :name => "category[image_attributes][asset]" %>
      <% end %>
    </ol>
  </fieldset>
</div>

<%= link_to t("administration.categories.edit.view.new_template"), new_administration_lead_template_path(:category_id => @category.id) %>

<% unless @category.lead_templates.empty? %>
<hl/>

<ul>
  <% @category.lead_templates.each do |lead_template| %>
    <li>
      <%= lead_template.name %>
      <%= link_to t("administration.categories.edit.view.edit_template"), edit_administration_lead_template_path(lead_template) %>
      <%= link_to t("administration.categories.edit.view.destroy_template"), administration_lead_template_path(lead_template), :method => :delete, :confirm => t("administration.categories.edit.view.destroy_template_confirmation_message") %>
    </li>
  <% end %>
</ul>
<% end %>


