<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :name %>
      <li class="select">
        <label></label>
        <%= form.select :parent_id, nested_set_options(Category, @category) { |name, level| "#{'-' * level} #{name}" }, {:include_blank => t("administration.categories.form.no_parent_category")} %>  
      </li>
      <%= form.input :description, :as => :text %>
      <%= form.input :is_locked %>
      <%= form.semantic_fields_for :image, @category.image || Asset::CategoryImage.new do |image| %>
          <%= image.input :asset,
                          :as => :file,
                          :required => false,
                          :label => I18n.t("administration.categories.edit.view.upload_image"),
                          :name => "category[image_attributes][asset]" %>
      <% end %>
    </ol>
  </fieldset>
</div>



