<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
      <%= form.input :name %>
      <li class="select">
        <label></label>
        <%= form.select :parent_id, nested_set_options(Category, @category) { |name, level| "#{'-' * level} #{name}" }, {:include_blank => t("administration.categories.form.no_parent_category")} %>  
      </li>
      <%= form.input :description, :as => :text, :input_html => { :style => "width:400px;height:150px" } %>
      <%= form.input :is_locked %>
      <%= form.input :is_customer_unique %>

      <%= render :partial => "users_selection", :locals => { :users_type => "customers", :form => form } %>

      <%= form.input :is_agent_unique %>

      <%= render :partial => "users_selection", :locals => { :users_type => "agents", :form => form } %>

      <%= form.semantic_fields_for :image, @category.image || Asset::CategoryImage.new do |image| %>
          <%= image.input :asset,
                          :as => :file,
                          :required => false,
                          :label => I18n.t("administration.categories.edit.view.upload_image"),
                          :name => "category[image_attributes][asset]" %>
      <% end %>
      <li class="string">
        <label>&nbsp;</label>
        <%= image_tag(@category.image.url, :class => "thumb") unless @category.image.nil? %>
      </li>

    </ol>
  </fieldset>
</div>


<script type="text/javascript">
  function move_users_to_all(users_type){
    $("#all_" + users_type + " option:selected").each(function()
    {
        $("#selected_" + users_type).
                append($("<option></option>").
                attr("value", $(this).val()).
                text($(this).text()));
        $(this).remove();
    });
  }

  function move_users_to_selected(users_type){
    $("#selected_" + users_type + " option:selected").each(function()
    {
        $("#all_" + users_type).
                append($("<option></option>").
                attr("value", $(this).val()).
                text($(this).text()));
        $(this).remove();
    });
  }

  function select_all_options(users_type){
    $("#selected_" + users_type + " option").each(function()
    {
        $(this).attr("selected","selected");
    });
  }
</script>


