<div id="lead_template_form_<%= f.object.new_record? ? 'category_lead_templates_attributes_0' : f.object.id %>">
      <%= bt_link_to :remove, t("administration.categories.new.view.remove_lead_template"), "javascript:void(0)", :onclick => "remove_lead_template('#{f.object.new_record? ? 'category_lead_templates_attributes_0' : f.object.id}', #{f.object.new_record? ? 'null' : f.object.id})", :style => "position: relative; left:8px; top:2px" %>
  <fieldset class="inputs labels_ta_r">
    <ol class="align_inputs">
        <li class="string">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= custom_error_for_field(f, :name) %>
        </li>
        <li class="boolean">
          <%= f.label :is_mandatory %>
          <%= f.check_box :is_mandatory %>
        </li>
        <li class="hidden">
          <% unless f.object.new_record? %>
              <%= f.hidden_field :_destroy, :id => "destroy_hidden_field_#{f.object.id}" %>
          <% end %>
        </li>
    </ol>
  </fieldset>
  <%= link_to_function t("administration.categories.new.view.new_lead_template_field"), fields_for_leads_template_fields(f, f.object.new_record? ? 'category_lead_templates_attributes_0' : f.object.id) %>
  <div class="nested_template_field_container_<%= f.object.new_record? ? 'category_lead_templates_attributes_0' : f.object.id %>"></div>

  <%= f.fields_for :lead_template_fields, f.object.lead_template_fields do |builder| %>
    <%= render :partial => "lead_template_field_fields", :locals => {:f => builder} %>
  <% end %>
</div>