<div style="<%= 'display:none' unless @category.send("is_#{users_type.singularize}_unique".to_sym)  %>">
<fieldset class="inputs_vertical">
    <ol>
     <%= select_tag "all_#{users_type}", options_for_select((users_type == "customers" ? (User.with_customers -  @category.customers) : User.with_agents - @category.agents).map{ |u| [u.email, u.id] }), { :multiple => true, :size => 10, :style => "height:300px; width:250px;" } %>
     <%= button_to_function t("administration.categories.form.move_users_right"), "move_users_to_all('#{users_type}')" %>
     <%= button_to_function t("administration.categories.form.move_users_left"), "move_users_to_selected('#{users_type}')" %>
     <%= form.input users_type == "customers" ? :customer_ids : :agent_ids, :as => :select, :required => false, :label => false, :include_blank => false, :collection => (users_type == "customers" ? @category.customers : @category.agents).map{ |u| [u.email, u.id] }, :input_html => {:id => "selected_#{users_type}", :multiple => true, :size => 10, :style => "height:300px; width:250px;" } %>
    </ol>
</fieldset>
</div>