<%= content_for :column_mc do -%>
  <%= javascript_include_tag :ckeditor %>

  <header back="true"><%= t("administration.categories.edit.view.header", :category_name => @category.name) %><%= image_tag_for_locale %></header>
  <%= semantic_form_for @category, :as => :category, :url => administration_category_path(@category), :method => :post, :html => {:multipart => true} do |form| %>
      <frm title="">
        <param:header>
          <%= bt_link_to nil, t("administration.categories.edit.view.edit_email_template"), edit_administration_category_email_template_path(@category), :class => "fltr" %>
          <%= bt_link_to nil, t("administration.categories.edit.view.new_template"), new_administration_lead_template_path(:category_id => @category.id), :class => "fltr" %>
        </param:header>
        <param:content>          
          <%= render :partial => 'form', :locals => {:form => form} %>
        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("administration.categories.edit.view.button_update"), :onclick => "select_options_onsubmit();" %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), href(categories_path) %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>

  <% unless @category.lead_templates.empty? %>
      <br />
      <header><%= t("administration.categories.edit.view.header_templates") %></header>

      <%= lead_templates_table @category.lead_templates, :show_checkboxes => false, :show_active_column => false, :paginate_table => false do |blocks| %>
          <% blocks.tools do |lead_template| %>
              <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                <li>
                  <%= link_to t("administration.categories.edit.view.edit_template"), edit_administration_lead_template_path(lead_template), :class => "default_action" %>
                </li>
                <li><%= link_to t("administration.categories.edit.view.duplicate_template"), new_administration_lead_template_path(:template_id => lead_template.id, :lead_template => {:category_id => @category.id}) %></li>
                <li>
                  <%= link_to t("administration.categories.edit.view.destroy_template"), administration_lead_template_path(lead_template), :method => :delete, :confirm => t("administration.categories.edit.view.destroy_template_confirmation_message") %>                  
                </li>
              </ul></div>
          <% end %>
      <% end %>
  <% end %>

  <script type="text/javascript">
    function auto_buy() {
        if ($('#selected_customers option').size() == 1) {
            $('#category_auto_buy').attr("disabled", false);
        } else {
            $('#category_auto_buy').attr("disabled", true);
            $('#category_auto_buy').attr("checked", false);
        }
    }
    auto_buy();
  </script>
<% end %>