<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("administration.categories.index.view.header") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <li class="last">
          <%= bt_link_to :plus, t("administration.categories.index.view.new_category"), new_administration_category_path %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= all_categories_tree(:category_label => lambda { |c| c.name },
                          :after_category => lambda do |c|
                              [].tap do |links|
                                  links << link_to(t("administration.categories.index.view.edit_link"), edit_administration_category_path(c))
                                  links << link_to(t("administration.categories.index.view.destroy_link"), administration_category_path(c),
                                                   :method  => :delete,
                                                   :confirm => I18n.t("common.confirmation")) if c.is_empty?
                              end.join(" | ").html_safe
                          end) %>

  <div class="clb"></div>
<% end %>
