<%= content_for :column_mc do -%>
  <%= javascript_include_tag :ckeditor %>

  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <% @category_type == "LeadCategory" ? t("administration.categories.new.title") : t("administration.categories.new.deal_title") %>
      <%= image_tag_for_locale %>
    <% end %>
  <% end %>

  <%= semantic_form_for  @category, :as => :category, :url => administration_categories_path, :method => :put, :html => {:multipart => true} do |form| %>
      <frm>
        <param:header>
        </param:header>
        <param:content>
          <%= render :partial => 'form', :locals => {:form => form} %>
          <%= hidden_field_tag :category_type, @category_type %>
        </param:content>
        <param:actions>
          <%= ibt(:class => "fltri", :icon => "plus") do %>
            <%= form.submit t("administration.categories.new.view.button_create"), :onclick => "select_options_onsubmit();" %>
          <% end %>
          <%= ibt(:class => "bt_grey fltri") do %>
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), href(categories_path) %>
          <% end %>
        </param:actions>
      </frm>
  <% end %>

  <% unless @category.lead_templates.empty? %>
      <%= lead_templates_table @category.lead_templates, :show_checkboxes => false, :show_active_column => false, :paginate_table => false do |blocks| %>
          <% blocks.tools do |lead_template| %>
              <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
                <li><%= link_to t("administration.categories.edit.view.edit_template"), edit_administration_lead_template_path(lead_template) %></li>
                <li><%= link_to t("administration.categories.edit.view.destroy_template"), administration_lead_template_path(lead_template), :method => :delete, :confirm => t("administration.categories.edit.view.destroy_template_confirmation_message") %></li>
              </ul></div>
          <% end %>
      <% end %>
  <% end %>
<% end %>
