<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs">
    <ol>
      <%= form.input :country, :include_blank => false %>
      <%= form.input :bank_name %>
      <%= form.input :bank_address %>
      <%= form.input :iban_no %>
      <%= form.input :local_bank_number %>
      <%= form.input :swift %>
      <%= form.input :payment_conditions %>
      <%= form.input :country_default, :label => t("administration.bank_accounts.form.view.country_default") %>
      <%= form.input :global_default, :label => t("administration.bank_accounts.form.view.global_default"), :input_html => {:disabled => form.object.global_default?} %>
    </ol>
  </fieldset>
</div>
