<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs">
    <ol>
      <%= form.input :bank_name %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs">
    <ol>
      <%= form.fields_for :address do |address_form| %>
          <%= address_form.input :country, :as => :select, :collection => Country.all, :include_blank => false %>
          <%= address_form.input :address_line_1 %>
          <%= address_form.input :address_line_2 %>
          <%= address_form.input :address_line_3 %>
          <%= address_form.input :zip_code %>
      <% end %>
    </ol>
  </fieldset>
</div>

<hl/>

<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs">
    <ol>
      <%= form.input :iban_no %>
      <%= form.input :local_bank_number %>
      <%= form.input :swift %>
      <%= form.input :payment_conditions %>
      <%= form.input :country_default, :label => t("administration.bank_accounts.form.view.country_default") %>
      <%= form.input :global_default, :label => t("administration.bank_accounts.form.view.global_default") %>
    </ol>
  </fieldset>
</div>
