<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t('administration.bank_accounts.show.view.header') %>
    <% end %>
  <% end %>

  <%= frm(:title => "#{@bank_account.bank_name}") do |section| %>
    <% section.block_header do %>
      <%= bt_link_to nil, t("common.edit_link"), edit_administration_bank_account_path(@bank_account), :class => "fltr" %>
    <% end %>
    <% section.block_content do %>
      <div class="pdd_10 lh_22">
        <div class="grid_1to3 fltl">
          <p>
            <%= t("administration.bank_accounts.show.view.country") %>:
            <strong><%= @bank_account.country.name %></strong>
          </p>

          <p>
            <%= t("administration.bank_accounts.show.view.bank_name") %>:
            <strong><%= @bank_account.bank_name %></strong>
          </p>
        </div>
        <div class="grid_1to3 fltl">
          <p>
            <%= t("administration.bank_accounts.show.view.bank_address") %>:<br/><strong><%= @bank_account.bank_address %></strong>
          </p>
        </div>
        <div class="grid_1to3 fltl">
          <p>
            <%= t("administration.bank_accounts.show.view.country_default") %>:
            <strong><%= @bank_account.country_default %></strong>
          </p>

          <p>
            <%= t("administration.bank_accounts.show.view.global_default") %>:
            <strong><%= @bank_account.global_default %></strong>
          </p>
        </div>

        <div class="clb"></div>

        <div class="hl" style="padding: 15px 0"></div>

        <p>
          <%= t("administration.bank_accounts.show.view.country") %>: <%= @bank_account.address.country.name %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.local_bank_number") %>:
          <strong><%= @bank_account.local_bank_number %></strong>
        </p>

        <p>
          <%= t("administration.bank_accounts.show.view.address_line_1") %>: <%= @bank_account.address.address_line_1 %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.address_line_2") %>: <%= @bank_account.address.address_line_2 %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.address_line_3") %>: <%= @bank_account.address.address_line_3 %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.zip_code") %>: <%= @bank_account.address.zip_code %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.iban_no") %>: <%= @bank_account.iban_no %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.local_bank_number") %>: <%= @bank_account.local_bank_number %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.swift") %>: <%= @bank_account.swift %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.country_default") %>: <%= @bank_account.country_default %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.global_default") %>: <%= @bank_account.global_default %>
        </p><br/>
        <p>
          <%= t("administration.bank_accounts.show.view.payment_conditions") %>: <%= @bank_account.payment_conditions %>
        </p>
        <div class="hl" style="padding: 15px 0"></div>

        <h2><%= t("administration.bank_accounts.show.view.payment_conditions") %>:</h2>
        <p><%= @bank_account.payment_conditions %></p>
      </div>
    <% end %>
  <% end %>

<% end %>
