<column-mc:>
  <%= javascript_include_tag 'lead_template_functions.js' %>
  <header back="true"><%= @lead.deal.header %><%= image_tag_for_locale %></header>
  <%= semantic_form_for [:members, @lead], :method => :put do |form| %>
      <frm title="Edit">
        <param:content>
          <div class="column_left">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_160">
                <ol class="align_inputs">
                  <% unless @lead.deal.deal_confirmation_page.blank?  %>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.confirmation_page_label") %>
                    <div class="txt"><%= @lead.deal.deal_confirmation_page.to_s.html_safe %></div>
                  </li>
                  <% end %>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.deal_code_label") %>
                    <div class="txt"><%= @lead.deal.deal_code_is_url? ? link_to(@lead.deal.deal_code, @lead.deal.deal_code_as_url) : @lead.deal.deal_code %></div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.company_name_label") %>
                    <div class="txt"><strong><%= @lead.deal.company_name %></strong></div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.company_address_label") %>
                    <div class="txt">
                      <%= @lead.deal.address_line_1 %><%= @lead.deal.address_line_2 %>
                      <br/>
                      <%= @lead.deal.zip_code %> <%= @lead.deal.address_line_3 %> <%= @lead.deal.country.name %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.contact_name_label") %>
                    <div class="txt">
                      <%= @lead.deal.contact_name %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.contact_email_label") %>
                    <div class="txt">
                      <%= link_to @lead.deal.email_address, "mailto:#{@lead.deal.email_address}" %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.contact_phone_number_label") %>
                    <div class="txt">
                      <%= @lead.deal.phone_number %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.company_website_label") %>
                    <div class="txt">
                      <%= @lead.deal.company_website.present? ? link_to(@lead.deal.company_website_with_protocol, @lead.deal.company_website_with_protocol) : "-" %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.short_deal_description_label") %>
                    <div class="txt">
                      <%= @lead.deal.description %>
                    </div>
                  </li>
                  <li class="string">
                    <%= form.label t("member.leads.edit.view.deal_description_label") %>
                    <div class="txt">
                      <%= link_to t("member.leads.edit.view.view_description_link"), deal_path(:id => @lead.deal.slug) %>
                    </div>
                  </li>
                  </li>
                  <% if @lead.deal.voucher_numbers.where(:user_id => current_user.id).first %>
                      <li class="string">
                        <%= form.label t("member.leads.edit.view.voucher_label") %>
                        <div class="txt">
                          <%= link_to t("member.leads.edit.view.voucher_link"), pdf_members_lead_path(@lead) %>
                        </div>
                      </li>

                      <% unless @lead.deal.voucher_how_to_redeem.blank? %>
                          <li class="string">
                            <%= form.label t("member.leads.edit.view.voucher_how_to_redeem_label") %>
                            <div class="txt">
                              <%= @lead.deal.voucher_how_to_redeem.to_s.html_safe %>
                            </div>
                          </li>
                      <% end %>
                  <% end %>

                  <% if params[:get_deal] == "1" %>
                      <%= form.input :hidden_description, :required => false, :label => t("member.leads.new.view.lead_note"), :input_html => {:style => "height: 150px;width:230px;"} %>
                  <% end %>
                </ol>
              </fieldset>
            </div>
          </div>
          <%= hidden_field_tag :get_deal, params[:get_deal] %>
          <div class="column_left">
              <% unless params[:get_deal] == "1" %>
                  <%= render :partial => "form1", :locals => {:form => form} %>
              <% end %>

              <%= render :partial => "form2", :locals => {:form => form} %>
          </div>
          <clb/>
        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("member.leads.edit.view.button_update") %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
</column-mc:>