<column-mc:>
  <%= javascript_include_tag 'lead_template_functions.js' %>
  <header back="true"><%= @deal.header %><%= image_tag_for_locale %></header>

  <%= semantic_form_for [:members, @lead], :method => :post do |form| %>
      <frm title="#{t('deals.new.view.frame_header')}">
        <param:content>
          <div class="column_left">
            <div id="step_1">
              <%= render :partial => "form1", :locals => {:form => form} %>
            </div>
            <%= hidden_field_tag :deal_id, params[:deal_id] %>
            <clb/>

            <%= render :partial => "form2", :locals => {:form => form} %>
          </div>
          <div class="column_right">
            <div class="pdd_10">
              <div class="element_description">
                <h3><%= t("deals.show.view.short_description_label") %></h3>

                <p class="i expandable"><%= @deal.description %></p>

                <h3><%= t("deals.show.view.detailed_description_label") %></h3>

                <p class="i expandable"><%= @deal.hidden_description.to_s.html_safe %></p>

                <h3><%= t("deals.show.view.fine_print_label") %></h3>

                <p class="i expandable"><%= @deal.fine_print.to_s.html_safe %></p>

                <% if @deal.logo %>
                    <p><%= image_tag(@deal.logo.url) %></p>
                <% end %>

                <p><%= @deal.company_name %></p>

                <p class="i expandable"><%= @deal.company_description.to_s.html_safe %></p>
              </div>
            </div>
          </div>
          <clb/>

        </param:content>
        <param:actions>
          <ibt c="fltri" icon="save">
            <%= form.submit t("member.leads.new.view.button_create") %>
          </ibt>
          <ibt c="bt_grey fltri">
            <%= button_to_function t("administration.settings.edit.view.button_cancel"), "history.go(-1)" %>
          </ibt>
        </param:actions>
      </frm>
  <% end %>
</column-mc:>