<column-mc:>
  <div>
    <p><%= blurb("blurb_voucher_confirmation_page") %></p>
  </div>

  <% unless @lead.deal.deal_confirmation_page.blank? %>
      <br />
      <div>
        <p><%= @lead.deal.deal_confirmation_page.to_s.html_safe %></p>
      </div>
  <% end %>

  <br/>

  <div class="frm_tiny pdd_15 ta_c">
    <% if @lead.deal.voucher_enabled and !@lead.deal.voucher_numbers.available_for_now(Time.now).blank? %>
        <h2><%= t("member.leads.show.view.voucher_confirmation_message") %></h2>
    <% else %>
        <h2><%= t("member.leads.show.view.confirmation_message") %></h2>
    <% end %>

    <div class="pdd_10 grid_50 grid_c">
      <ibt>
        <% if @lead.deal.voucher_enabled and !@lead.deal.voucher_numbers.available_for_now(Time.now).blank? %>
            <%= button_to t("member.leads.show.view.go_to_paypal"), redirect_to_paypal_members_lead_path(@lead), :method => :get %>
        <% else %>
            <%= button_to t("member.leads.show.view.ok_confirmation"), deal_path(@lead.deal), :method => :get %>
        <% end %>
      </ibt>
    </div>
    <div class="clb"></div>

  </div>

  <% if Rails.env.production? %>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1034155936;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "bvx7CKCVngIQoO-P7QM";
    var google_conversion_value = 0;

    /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1034155936/?label=bvx7CKCVngIQoO-P7QM&guid=ON&script=0"/> </div>
    </noscript>
  <% end %>

</column-mc:>