<column-mc:>
  <header back="true" backurl="#{agents_deals_path}"><%= t("agent.deals.edit.view.title") %></header>

  <% unless @deal.enabled? %>
    <div class="flash flash_notice"><%= t("deals.common.max_auto_buy_limit_reached") %></div>
  <% end %>

  <%= semantic_form_for [:agents, @deal], :method => :put, :html => {:multipart => true} do |form| %>
      <frm title="#{@deal.header}">
        <param:content>
          <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal} %>
          <%= render :partial => "shared/deals/assets_management", :locals => {:form => form, :path => "agents_deal_assets_path",
                                                                               :remove_path => "agents_deal_asset_path"} %>
        </param:content>
        <param:actions>
            <%= render :partial => "shared/deals/update_buttons", :locals => { :form => form, :role => "call_centre_agent" } %>
        </param:actions>
      </frm>
  <% end %>

  <%= render :partial => "shared/deals/leads_listing", :locals => { :deal => @deal } %>
</column-mc:>