<%= content_for :column_mc do -%>
  <%= header(:back => true, :backurl => agents_deals_path) do |section| %>
    <% section.block_header do %>
      <%= t("agent.deals.new.view.title") %>
    <% end %>
    <% section.block_actions do %>
      <% if params[:deal_id] %>
        <ul class="header_actions">
          <li class="last">
            <%= bt_link_to nil, t("agent.deals.new.view.change_supplier"), "#", :onclick => "setup_step(0)" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <div id="supplier_email_form">
    <%= label_tag :supplier_email, t("agent.deals.new.view.email") %>
    <%= text_field_tag :supplier_email %>
    <%= bt_link_to nil, t("agent.deals.new.view.check_supplier_email"), "javascript:void(0)", :onclick => "$('div#supplier_confirmation').hide();submit_query('check_email', 'agents')" %>
    <%= t("agent.deals.new.view.or") %>
    <%= bt_link_to nil, t("agent.deals.new.view.certify"), "javascript:void(0)", :onclick => "submit_query('certify','agents')" %>
  </div>
  <div id="supplier_confirmation" style="margin-top:10px;display:none">
    <div id="supplier_info" style="margin-bottom: 10px"></div>
    <%= bt_link_to nil, t("agent.deals.new.view.confirm"), "javascript:void(0)", :onclick => "setup_step(1);$('div#supplier_confirmation').hide();" %>
  </div>

  <div id="deal_form" style="display:none;">
    <%= semantic_form_for [:agents, @deal], :method => :post do |form| %>
      <%= frm(:title => t('agent.deals.new.view.form_title')) do %>
        <% section.block_content do %>
          <%= render :partial => 'shared/deals/form', :locals => {:form => form, :deal => @deal} %>
        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "save") do %>
            <%= form.submit t("agent.deals.new.view.create_button"), :name => "commit_create", :onclick => "select_options_to_submit('deal_deal_template_ids_')" %>
          <% end %>
          <%= ibt(:class => "fltri bt_grey") do %>
            <%= button_to_function t("common.cancel_link"), "history.go(-1)" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= content_for :js do -%>
<%= javascript_include_tag("deal_creation") %>
  <script type="text/javascript">
      setup_step(<%= @deal.creation_step.to_i -%>)
  </script>
<% end %>
