<column-mc:>
  <header><%= t("customer.subaccounts.index.view.title") %></header>
  <%= link_to t("customer.subaccounts.index.view.new_lead_buyer"), new_customers_subaccount_path(:role => "lead_buyer") %>
  <%= link_to t("customer.subaccounts.index.view.new_lead_user"), new_customers_subaccount_path(:role => "lead_user") %>

  <% [10, 25, 50, 0].each do |per_page| %>
      <%= link_to per_page == 0 ? t("customer.subaccounts.index.view.none_per_page") : per_page.to_s, customers_subaccounts_path(:per_page => per_page) %>
  <% end %>
  
  <%= bulk_form do %>
  <table id="users_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this.checked,'input:checkbox')" %></th>
      <th><%= link_to t("customer.subaccounts.index.view.first_name_column"), order_for_scoped_search(:first_name) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.last_name_column"), order_for_scoped_search(:last_name) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.department_column"), order_for_scoped_search(:department) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.completed_leads_column"), order_for_scoped_search(:completed_leads_counter) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.requested_leads_column"), order_for_scoped_search(:leads_requested_counter) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.assigned_month_ago_column"), order_for_scoped_search(:leads_assigned_month_ago_counter) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.assigned_year_ago_column"), order_for_scoped_search(:leads_assigned_year_ago_counter) %></th>
      <th><%= link_to t("customer.subaccounts.index.view.total_leads_assigned_column"), order_for_scoped_search(:total_leads_assigned_counter) %></th>
      <th class="ta_r"><%= t("customer.subaccounts.index.view.actions_column") %></th>      
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="5"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td class="cl"></td>
          <td><%= check_box_tag "user_ids[]", user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.department %></td>
            <td><%= user.completed_leads_counter %></td>
            <td><%= user.leads_requested_counter %></td>
            <td><%= user.leads_assigned_month_ago_counter %></td>
            <td><%= user.leads_assigned_year_ago_counter %></td>
            <td><%= user.total_leads_assigned_counter %></td>
          <td class="tda ta_r">
            <ul-actions>              
               <li><%= link_to t("customer.subaccounts.index.view.assigned_leads"), buyers_lead_purchases_path(:search => { :with_assignee => user.id }) %></li>
               <li><%= link_to user.locked_at.blank? ? t("customer.subaccounts.index.view.lock") : t("customer.subaccounts.index.view.unlock"), customers_subaccount_path(user, {"user_#{user.role.to_s}".to_sym  => {:locked =>  user.locked_at.blank? ? "lock" : "unlock"}}), {:method => :put} %></li>
               <li><%= link_to t("customer.subaccounts.index.view.edit"), edit_customers_subaccount_path(user) %></li>
               <li><%= link_to t("customer.subaccounts.index.view.delete"), customers_subaccount_path(user), {:method => :delete, :confirm => t("customer.subaccounts.index.view.delete_confirmation_message")} %></li>              
            </ul-actions>
          </td>
          <td class="cr"></td>
    <% end %>
    </tbody>
  </table>
     <%= hidden_field_tag :route_to %>
    <%= select_tag :locked, options_for_select([[t("customer.subaccounts.index.view.lock"), "locked"], [t("customer.subaccounts.index.view.unlock"), "unlock"]]) %>
    <%= button_to_function t("customer.subaccounts.index.view.button_bulk_subbaccounts_update"), "submitBulkForm('#{customers_bulk_subaccounts_update_path}#PUT');" %>
<% end %>
  <%= will_paginate @users unless params[:per_page].to_i == 0 %>
</column-mc:>