<column-mc:>
  <header><%= t("customer.subaccounts.index.view.title") %></header>
  <%= link_to t("customer.subaccounts.index.view.new_lead_buyer"), new_customers_subaccount_path(:role => "lead_buyer") %>
  <%= link_to t("customer.subaccounts.index.view.new_lead_user"), new_customers_subaccount_path(:role => "lead_user") %>

  <table id="users_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th style="width: 200px">User name</th>
      <th>Role</th>
      <th class="ta_r">Actions</th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="3"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td class="cl"></td>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.role.to_s %></td>
          <td class="tda ta_r">
            <ul-actions>
              <li>
                <%= link_to t("customer.subaccounts.index.view.edit"), edit_customers_subaccount_path(user) %>
              </li>
            </ul-actions>
          </td>
          <td class="cr"></td>
    <% end %>
    </tbody>
  </table>
</column-mc:>