<% @agent = (defined? @agent and @agent) ? @agent : current_user %>
<div class="frm_tiny">

  <p>
    <span style="float:left">
        <strong><%= t("agent_work_screen.index.agent_information.value_created") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %>: <%= as_currency(AgentInformation.today(@agent, @currency).value_created, @currency, 0) %> (<%= as_currency(TopAgent.value_for(:today, @currency), @currency, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %>: <%= as_currency(AgentInformation.week(@agent, @currency).value_created, @currency, 0) %> (<%= as_currency(TopAgent.value_for(:week, @currency), @currency, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_quarter") %>: <%= as_currency(AgentInformation.quarter(@agent, @currency).value_created, @currency, 0) %> (<%= as_currency(TopAgent.value_for(:quarter, @currency), @currency, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_year") %>: <%= as_currency(AgentInformation.year(@agent, @currency).value_created, @currency, 0) %> (<%= as_currency(TopAgent.value_for(:year, @currency), @currency, 0) %>)
    </span>

    <span style="float:right">
        <strong><%= t("agent_work_screen.index.agent_information.time") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %> <%= AgentInformation.today(@agent, @currency).time.to_f.as_hours_and_minutes %> (<%= TopAgent.today(Currency.dkk).time.to_f.as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %> <%= AgentInformation.week(@agent, @currency).time.to_f.as_hours_and_minutes %> (<%= TopAgent.week(Currency.dkk).time.to_f.as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.last_four_weeks") %> <%= AgentInformation.last_four_weeks(@agent, @currency).time.to_f.as_hours_and_minutes %> (<%= TopAgent.four_weeks(Currency.dkk).time.to_f.as_hours_and_minutes %>)
    </span>
  </p>

  <p>
    <span style="float:left">
        <strong><%= t("agent_work_screen.index.agent_information.number_of_calls") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %>: <%= AgentInformation.today(@agent).number_of_calls %> (<%= TopAgent.number_of_calls_for(:today) %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %>: <%= AgentInformation.week(@agent).number_of_calls %> (<%= TopAgent.number_of_calls_for(:week) %>),
        <%= t("agent_work_screen.index.agent_information.this_quarter") %>: <%= AgentInformation.quarter(@agent).number_of_calls %> (<%= TopAgent.number_of_calls_for(:quarter) %>),
        <%= t("agent_work_screen.index.agent_information.this_year") %>: <%= AgentInformation.year(@agent).number_of_calls %> (<%= TopAgent.number_of_calls_for(:year) %>)
    </span>

    <span style="float:right">
        <strong><%= t("agent_work_screen.index.agent_information.time_on_phone") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %> <%= AgentInformation.today(@agent).time_on_phone.to_f.as_hours_and_minutes %> (<%= TopAgent.time_on_phone_for(:today).as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %> <%= AgentInformation.week(@agent).time_on_phone.to_f.as_hours_and_minutes %> (<%= TopAgent.time_on_phone_for(:week).as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.last_four_weeks") %> <%= AgentInformation.last_four_weeks(@agent).time_on_phone.to_f.as_hours_and_minutes %> (<%= TopAgent.time_on_phone_for(:four_weeks).as_hours_and_minutes %>)
    </span>
  </p>

  <clb/>

</div>