<div class="frm_tiny pdd_10">

  <p>
    <span style="float:left">
        <strong><%= t("agent_work_screen.index.agent_information.value_created") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %>: <%= as_currency(AgentInformation.today(current_user).value_created, Currency.euro, 0) %> (<%= as_currency(TopAgent.value_for(:today), Currency.euro, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %>: <%= as_currency(AgentInformation.week(current_user).value_created, Currency.euro, 0) %> (<%= as_currency(TopAgent.value_for(:week), Currency.euro, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_quarter") %>: <%= as_currency(AgentInformation.quarter(current_user).value_created, Currency.euro, 0) %> (<%= as_currency(TopAgent.value_for(:quarter), Currency.euro, 0) %>),
        <%= t("agent_work_screen.index.agent_information.this_year") %>: <%= as_currency(AgentInformation.year(current_user).value_created, Currency.euro, 0) %> (<%= as_currency(TopAgent.value_for(:year), Currency.euro, 0) %>)
    </span>

    <span style="float:right">
        <strong><%= t("agent_work_screen.index.agent_information.time") %>: </strong>
        <%= t("agent_work_screen.index.agent_information.today") %> (<%= AgentInformation.today(current_user).time.to_f.as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.this_week") %> (<%= AgentInformation.week(current_user).time.to_f.as_hours_and_minutes %>),
        <%= t("agent_work_screen.index.agent_information.last_four_weeks") %> (<%= AgentInformation.last_four_weeks(current_user).time.to_f.as_hours_and_minutes %>)
    </span>
  </p>

  <clb/>

</div>