<div id="phoneDiv">

  <!--
  To use autologin function, please set value of
  this input equal to your autologin token.
  Leave it blank to ignore autologin.

  p.s. We need this input right here because IE click
  this input when you press Enter anywhere in the Phone
  When you press Enter - IE just take first element with
  "submit" type from the page and click it
  -->
  <input id="auto_login_token" type="submit" value=""/>

  <div id="controlPanel">
    <!--
    <div class="iconButton" id="settingsButton"></div>
    <div class="iconButton" id="cameraButtonInCallee"></div>
    -->
    <div id="micBack"><div id="micSlider"></div></div>
    <div id="speakerBack"><div id="speakerSlider"></div></div>

    <div><div class="iconButton" id="micButton"></div></div>
    <div><div class="iconButton" id="soundButton"></div></div>
    <!--<div><div class="iconButton" id="cameraButton"></div></div>-->


    <div id="loginMainButton" class="button">Log in</div>
    <div id="callerLogin"></div>
    <div id="logoutButton" class="button">Log out</div>

  </div>



  <input class="phone_screen_1" id="calleeText" value=""/>
  <div class="phone_screen_2"></div>

  <!-- <input class="chat_button" id="chatButton" type="submit" value="Chat" /> -->
  <!-- <input class="call_button" id="callButton" type="submit" value="Call" /> -->


  <div class="buttonLine">
    <!--<div class="button chat" id="chatButton">Chat</div>-->
    <div class="button call" id="callButton">Call</div>
  </div>

  <div class="buttonLine">
    <div class="button numberButton">1</div>
    <div class="button numberButton">2</div>
    <div class="button numberButton">3</div>
  </div>

  <div class="buttonLine">
    <div class="button numberButton">4</div>
    <div class="button numberButton">5</div>
    <div class="button numberButton">6</div>
  </div>

  <div class="buttonLine">
    <div class="button numberButton">7</div>
    <div class="button numberButton">8</div>
    <div class="button numberButton">9</div>
  </div>

  <div class="buttonLine">
    <div class="button numberButton">*</div>
    <div class="button numberButton">0</div>
    <div class="button numberButton">#</div>
  </div>

  <div id="versionOfProduct"></div>

  <!-- Call view -->
  <div id="callDiv" class="callDiv">
    <div id="caller" class="caller"></div>
    <div id="callState"></div>
    <div id="muteButton" class="muteButton">mute mic</div>
    <div id="holdButton" class="holdButton"></div>
  </div>
  <!-- ********* -->

</div>
<!-- *********** -->

<!-- Login view -->
<div id="loginDiv">
  <div class="bar">&nbsp;&nbsp;Login</div>

  <div class="login_label">Login</div>
  <div class="login_input"><input type="text" id="username" value=""/></div>

  <div class="login_label">Auth. name</div>
  <div class="login_input"><input type="text" id="authname" value=""/></div>

  <div class="login_label">Password</div>
  <div class="login_input"><input id="password" type="password" value=""/></div>

  <div class="login_label">Domain</div>
  <div class="login_input"><input type="text" id="domain" value="" /></div>

  <div class="login_label">Outbound proxy</div>
  <div class="login_input"><input type="text" id="outbound_proxy" value=""/></div>

  <div class="login_label">Port</div>
  <div class="login_input"><input type="text" id="port" /></div>

  <div id="loginButton" class="button">Log in</div>
  <div id="canselLoginDiv" class="button" style="width: 80px; margin: 10px 0 0 6px;">Cancel</div>
  <div class="closeButton"></div>
</div>
<!-- ************* -->


<!-- Incoming call view -->
<div id="incomingDiv">
  <div class="bar">&nbsp;&nbsp;Incoming call</div>
  <div id="callerField">Caller</div>
  calls you
  <div class="button call" id="answerButton">Answer</div>
  <div class="button hangup" id="hangupButton">Hangup</div>
  <div class="closeButton"></div>
</div>
<!-- ******************* -->

<!-- Connecting view -->
<div id="connectingDiv">
  <div id="connectingText">Connecting...</div>
</div>
<!-- Info view -->
<div id="infoDiv">
  <div id="infoText"></div>
</div>
<!-- **************** -->

<!-- Video + RequestUnmuted view -->
<div id="video_requestUnmuteDiv" class="init">
  <div class="bar">&nbsp;&nbsp;Security panel</div>
  <div id="requestUnmuteText">Please allow access to devices</div>
  <div id="closeButton_video_requestUnmuteDiv"></div>

  <div id="jsSWFDiv">
    <a href="http://www.adobe.com/go/getflashplayer">
      <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>
    </a>
  </div>

  <input type="button" class="button" id="sendVideo" value="Send video" />
</div>
<!-- *************************** -->

<!-- Transfer view -->
<div id="transfer">
  <div class="bar">&nbsp;&nbsp;Transfer</div>
  Transfer this call to
  <input id="transferInput" type="text" />
  <div id="transferOk" class="button">Ok</div>
  <div id="transferCansel" class="button">Cancel</div>
  <div class="closeButton"></div>
</div>
<!-- ************* -->

<!-- Chat view -->
<div id="chatDiv">
  <div class="bar">&nbsp;&nbsp;Chat</div>
  <ul id="tabul"><li></li></ul>
  <div id="tabcontent"></div>
  <div class="closeButton"></div>
</div>
<!-- ********* -->

<!-- Console -->
<div id="console">
</div>
<!-- ******* -->

<% if current_user.phone_enabled? %>
    <script>
      <% unless Rails.env.development? %>
      flashvars.token = '<%= current_user.flashphoner_token %>';
      <% end %>

      <% if @campaign.auto_dialer %>
      flashvars.auto_dial = true;
      <% end %>

      $(function(){
          $('#phoneDiv').draggable();
      });

      window.onbeforeunload = function (e) {
          if (currentCall != null) {
              var message = "Current call will be terminated",
                      e = e || window.event;
              // For IE and Firefox
              if (e) {
                  e.returnValue = message;
              }

              // For Safari
              return message;
          }
      };

      $('#muteButton').click(function(){
        if (flashphoner.getMicVolume() > 0) {
            lastMicVolume = flashphoner.getMicVolume();
            $("#micSlider").slider('value', 0);
            flashphoner.setMicVolume(0);
            $(this).text('unmute mic');
        } else {
            $("#micSlider").slider('value', lastMicVolume);
            flashphoner.setMicVolume(lastMicVolume);
            $(this).text('mute mic');
        }
      });

      function createCallLog(call) {
          $.post('/callers/call_logs', {
              call_log: {
                  call_id: call.id,
                  state: call.state,
                  holded: call.iHolded,
                  callee: call.callee,
                  caller: call.caller,
                  visible_name_callee: call.visibleNameCallee,
                  visible_name_caller: call.visibleNameCaller,
                  player_video_height: call.playerVideoHeight,
                  player_video_width: call.playerVideoWidth,
                  streamer_video_height: call.streamerVideoHeight,
                  streamer_video_width: call.streamerVideoWidth,
                  time_of_call: call.timeOfCall,
                  another_side_user: call.anotherSideUser,
                  incoming: call.incoming,
                  is_video_call: call.isVideoCall,
                  sip_state: call.sip_state,
                  caller_type: '<%= current_user.class.name %>',
                  caller_id: <%= current_user.id %>,
                  campaign_id: <%= @campaign.id %>,
                  <% if @contact %>
                  contact_id: <%= @contact.id %>
                  <% end %>
              }
          });
      }

    </script>
<% end %>