<header>
  <param:content><%= t('agent_work_screen.index.call_log') %></param:content>

  <param:actions>
    <ul class="header_actions">
      <li>
        <%= bt_link_to nil, t("agent_work_screen.index.show_call_log_for_current_contact"), "javascript:void(0)", :onclick => "$('#results_sheet').show();$('#call_sheet').hide();$('#pending_calls').hide();", :class => "bt_active" %>
      </li>
      <li class="">
        <%= bt_link_to nil, t("agent_work_screen.index.show_current_call_sheet"), "javascript:void(0)", :onclick => "$('#results_sheet').hide();$('#call_sheet').show();$('#pending_calls').hide();" %>
      </li>
      <li class="last">
        <%= bt_link_to nil, t("agent_work_screen.index.show_pending_calls"), "javascript:void(0)", :onclick => "$('#results_sheet').hide();$('#call_sheet').hide();$('#pending_calls').show();" %>
      </li>
    </ul>
  </param:actions>
</header>

<% form_for CallResult.new, :url => new_callers_campaign_agent_work_screen_contact_call_result_path(campaign, contact), :html => {:method => :get, :remote => true}  do %>
  <%= select_tag :result_id, options_for_select(campaign.results_for_select) %>
  <%= hidden_field_tag :aws, true %>
  <%= bt_link_to nil, t("call_results.edit.button_new_result"), "javascript:void(0)", :onclick => "$(this).parents('form').submit()" %>
<% end %>

<%= call_results_table contact.call_results, :agent_work_screen => true do |blocks| %>
    <% blocks.tools do |call_result| %>
        <ul-actions>
            <li>
              <%= link_to t("call_results.table.edit_link"), edit_callers_campaign_agent_work_screen_contact_call_result_path(campaign, contact, call_result), :class => "default_action", :remote => true %>
            </li>
            <li>
              <%= link_to t("call_results.table.remove_link"), callers_campaign_agent_work_screen_contact_call_result_path(campaign, contact, call_result), :confirm => t("call_results.table.remove_confirm"), :method => :delete, :remote => true %>
            </li>
        </ul-actions>
    <% end %>
<% end %>