<column-mc:>
  <header back="true" backurl="#{callers_campaigns_path}"><%= t("agent_work_screen.index.title") %> - <%= @campaign.name %></header>

  <div id="switch_campaign_form">
    <%= render :partial => "callers/agent_work_screen/switch_campaign_form", :locals => @locals %>
  </div>

  <clb/>

  <div id="flashes">
      <div class="flash flash_notice" style="display:none">
      </div>

      <div class="flash flash_alert" style="display:none">
      </div>
  </div>
  
  <div id="agent_work_screen_dashboard">
    <div id="contact_info">
      <%= render :partial => "callers/agent_work_screen/contact_form", :locals => @locals if @contact %>
    </div>

    <div id="call_info">
      <%= render :partial => "callers/agent_work_screen/call_interface", :locals => @locals if @contact %>
    </div>

    <br/>

    <div id="results_sheet">
      <%= render :partial => "callers/agent_work_screen/results_sheet", :locals => @locals %>
    </div>

    <div id="call_sheet" style="display:none">
      <%= render :partial => "callers/agent_work_screen/call_sheet", :locals => @locals %>
    </div>

    <div id="pending_calls" style="display:none">
      <%= render :partial => "callers/agent_work_screen/pending_calls", :locals => @locals %>
    </div>

    <div id="completed_contacts" style="display:none">
      <%= render :partial => "callers/agent_work_screen/completed_contacts", :locals => @locals %>
    </div>
  </div>

  <div id="agent_work_screen_call_result" style="display:none">

  </div>


</column-mc:>

<js:>
  <script type="text/javascript">
      <% if !@contact and @pending_contacts.any? %>
        display_notice("<%= escape_javascript(t("contacts.show.flash.you_have_only_callback_contacts")) %>", false);
      <% elsif !@contact%>
        display_notice("<%= escape_javascript(t("contacts.show.flash.you_have_no_contacts_assigned")) %>", false);
      <% end %>

      $("#change_campaign_id").live("change", function() {
          $(this).parents("form").submit()
      });

  </script>
</js:>

