<column-mc:>
  <%= javascript_include_tag :ckeditor %>
  <%= javascript_include_tag "popup_email_template_editor" %>
  <%= javascript_include_tag "global_field_validator" %>
  <%= javascript_include_tag "remote_deal_requests" %>

  <% if current_user.phone_enabled? %>
      <%= javascript_include_tag 'swfobject' %>
      <%= javascript_include_tag 'flashphoner/StaticData' %>
      <%= javascript_include_tag 'flashphoner/trackbar' %>
      <%= javascript_include_tag 'flashphoner/Phone' %>
      <%= javascript_include_tag 'flashphoner/flashLoader' %>
      <%= stylesheet_link_tag 'flashphoner/trackbar' %>
      <%= stylesheet_link_tag 'flashphoner/style_html' %>
      <%= render :partial => 'phone' %>
  <% end %>

  <div id="agent_information"></div>
  <%#= render :partial => "agent_information", :locals => @locals if current_user.has_any_role?(:agent,:call_centre_agent) %>

  <header back="true" backurl="#{callers_campaigns_path}">
    <param:content>
      <%= t("agent_work_screen.index.title") %> - <%= @campaign.name %>
    </param:content>
    <param:actions>
      <div id="switch_campaign_form">
        <%= render :partial => "callers/agent_work_screen/switch_campaign_form", :locals => @locals %>
      </div>
    </param:actions>
  </header>

  <div id="flashes">
    <div class="flash flash_notice" style="display:none">
    </div>

    <div class="flash flash_alert" style="display:none">
    </div>
  </div>

  <%= t("agent_work_screen.index.contact_search_label") %> <%= text_field_tag "autocompleter", nil %>
  <%= bt_link_to_function nil, t("agent_work_screen.index.new_contact"), "javascript:$('#modal_new_contact_form_div').dialog('open');" %>

  <% if @agent != current_user %>
      <b><%= t("agent_work_screen.index.logged_as_other_user", :user => @agent.screen_name) %></b>
  <% end %>

  <a data-remote="true" data-method="get" id="autocomplter_result_form" href="" class="display:none"></a>

  <script language="javascript">
      $(document).ready(function() {
          $( "#autocompleter" ).autocomplete({
          			source: "contacts_for_search.js",
          			minLength: 1,
          			select: function( event, ui ) {
                          $("#autocomplter_result_form").attr("href", "/callers/campaigns/<%= @campaign.id %>/agent_work_screen/contacts/" + ui.item.id).click();
          			}
          		});

      });

  </script>

  <div id="agent_work_screen_dashboard">
    <div id="contact_info">
      <%= render :partial => "callers/agent_work_screen/contact_form", :locals => @locals if @contact %>
    </div>

    <div id="call_info">
      <%= render :partial => "callers/agent_work_screen/call_interface", :locals => @locals if @contact %>
    </div>

    <br/>

    <header>

      <param:content>
        <div id="tab_change_header"><%= t('agent_work_screen.index.call_log') %></div>
      </param:content>

      <param:actions>
        <ul id="tab_change_links" class="header_actions">
          <li>
            <%= bt_link_to nil, t("agent_work_screen.index.show_call_log_for_current_contact"), "javascript:void(0)", :onclick => "displayWorkScreenTab('#results_sheet', ['#{t('agent_work_screen.index.call_log')}','#{t('agent_work_screen.index.call_sheet')}','#{t('agent_work_screen.index.pending_calls')}','#{t('agent_work_screen.index.completed_contacts')}'])", :class => "bt_active", :id => "results_sheet_switch_link" %>
          </li>
          <li>
            <%= bt_link_to nil, t("agent_work_screen.index.show_current_call_sheet"), "javascript:void(0)", :onclick => "displayWorkScreenTab('#call_sheet', ['#{t('agent_work_screen.index.call_log')}','#{t('agent_work_screen.index.call_sheet')}','#{t('agent_work_screen.index.pending_calls')}','#{t('agent_work_screen.index.completed_contacts')}'])", :id => "call_sheet_switch_link" %>
          </li>
          <li>
            <%= bt_link_to nil, t("agent_work_screen.index.show_pending_calls"), "javascript:void(0)", :onclick => "displayWorkScreenTab('#pending_calls', ['#{t('agent_work_screen.index.call_log')}','#{t('agent_work_screen.index.call_sheet')}','#{t('agent_work_screen.index.pending_calls')}','#{t('agent_work_screen.index.completed_contacts')}'])", :id => "pending_calls_switch_link" %>
          </li>
          <li>
            <%= bt_link_to nil, t("agent_work_screen.index.show_completed_contacts"), "javascript:void(0)", :onclick => "displayWorkScreenTab('#completed_contacts', ['#{t('agent_work_screen.index.call_log')}','#{t('agent_work_screen.index.call_sheet')}','#{t('agent_work_screen.index.pending_calls')}','#{t('agent_work_screen.index.completed_contacts')}'])", :id => "completed_contacts_switch_link" %>
          </li>
          <li class="last">
            <%= bt_link_to nil, t("agent_work_screen.index.show_my_results"), callers_production_path %>
          </li>
        </ul>
      </param:actions>
    </header>

    <div id="results_sheet">
      <%= render :partial => "callers/agent_work_screen/results_sheet", :locals => @locals %>
    </div>

    <div id="call_sheet" style="display:none">
      <%= image_tag "/images/global_loader.gif" %>
      <%#= render :partial => "callers/agent_work_screen/call_sheet", :locals => @locals %>
    </div>

    <div id="pending_calls" style="display:none">
      <%= image_tag "/images/global_loader.gif" %>
      <%#= render :partial => "callers/agent_work_screen/pending_calls", :locals => @locals %>
    </div>

    <div id="completed_contacts" style="display:none">
      <%= image_tag "/images/global_loader.gif" %>
      <%#= render :partial => "callers/agent_work_screen/completed_contacts", :locals => @locals %>
    </div>
  </div>

  <div id="agent_work_screen_call_result" style="display:none">

  </div>

  <div id="call_result_form">
    <%= render :partial => "callers/agent_work_screen/call_result_form", :locals => @locals %>
  </div>

  <div id="modal_new_contact_form_div">
    <% @lead = @new_contact = Contact.new %>
    <%= semantic_form_for @new_contact, :url => url_for(:controller => "/callers/agent_work_screen/contacts", :action => :create, :campaign_id => @campaign.id), :html => {:method => :post, :id => "new_contact_form"}, :remote => true do |form| %>
        <frm title="">
          <param:content>
            <%= render :partial => '/shared/leads/form', :locals => {:form => form, :campaign => @campaign, :contact => @new_contact} %>
          </param:content>
        </frm>
    <% end %>
  </div>

  <%= render "shared/email_template_popup/template_editor" %>
  <%= render :partial => "shared/email_template_popup/template_vars_popup", :locals => {:instance_name => "body_editor"} %>
  <%= render :partial => "shared/email_template_popup/template_deal_links", :locals => {:instance_name => "body_editor"} %>
  <%= render :partial => "shared/remote_deal_requests/deals_selection", :locals => { :dest_field => "call_result_contact_requested_deal_ids" } %>
  <%= render :partial => "shared/remote_deal_requests/deals_additional_info" %>

</column-mc:>

<js:>
  <script type="text/javascript">
      <% if @selected_call_result %>
        $(document).ready(function() {
          $.get('<%= edit_callers_campaign_agent_work_screen_contact_call_result_path(@campaign, @selected_call_result.contact, @selected_call_result) -%>')
        });
      <% end %>

      <% if @selected_contact %>
        $(document).ready(function() {
          $.get('<%= callers_campaign_agent_work_screen_contact_path(@campaign, @selected_contact) -%>')
        });
      <% end %>

      <% if !@contact and @pending_contacts and @pending_contacts.any? %>
      display_notice("<%= escape_javascript(t("contacts.show.flash.you_have_only_callback_contacts")) %>", false);
      <% elsif !@contact%>
      display_notice("<%= escape_javascript(t("contacts.show.flash.you_have_no_contacts_assigned")) %>", false);
      <% end %>

      $("#change_campaign_id").live("change", function() {
          $(this).parents("form").submit()
      });

      setup_jquery_dialog("call_result");
      setup_jquery_vars_popup_dialog();
      setup_jquery_deal_links_dialog();

      $(document).ready(function() {
          $.get('<%= callers_campaign_agent_work_screen_call_sheet_path(@campaign, :other_user_id => params[:other_user_id]) %>')
          $.get('<%= callers_campaign_agent_work_screen_pending_call_path(@campaign, :other_user_id => params[:other_user_id]) %>')
          $.get('<%= callers_campaign_agent_work_screen_complete_contact_path(@campaign, :other_user_id => params[:other_user_id]) %>')
          $.get('<%= callers_agent_information_path(:currency_id => @campaign.currency_id) %>')
      });

      $('#modal_new_contact_form_div').dialog({
          autoOpen: false,
          width: 1120,
          title: '<%= t("agent_work_screen.index.new_contact_title") %>',
          modal: true,
          buttons:
          { "<%= t("agent_work_screen.index.create") %>": function() {
              validate_new_contact_form();
          },
              "<%= t("agent_work_screen.index.cancel") %>": function() {
                  $(this).dialog('close');
                  custom_clear_form("#new_contact_form", window.fields_array)
              }
          }
      });

      var fields_array = ["contact_company_name", "contact_company_phone_number", "contact_country_id", "contact_company_website", "contact_address_line_1",
          "contact_address_line_2", "contact_address_line_3", "contact_zip_code", "contact_country_id", "contact_company_vat_no", "contact_company_ean_number",
          "contact_contact_name", "contact_contact_title", "contact_direct_phone_number", "contact_phone_number", "contact_email_address", "contact_linkedin_url",
          "contact_facebook_url", "contact_note"];

      function validate_new_contact_form() {
          company_name_is_valid = custom_form_validator_for_field("#new_contact_form", "contact_company_name", "not_empty");
          company_phone_is_valid = custom_form_validator_for_field("#new_contact_form", "contact_company_phone_number", "not_empty");
          country_is_valid = custom_form_validator_for_field("#new_contact_form", "contact_country_id", "selected");

          if (company_name_is_valid && company_phone_is_valid && country_is_valid) {
              $('#new_contact_form').submit();
              $('#modal_new_contact_form_div').dialog('close');
              custom_clear_form("#new_contact_form", window.fields_array)
          }
      }

      function select_deals_for_request_from_upgrade_panel(){
          select_deals_for_request($('#call_result_contact_subscription_plan_id option:selected').val(), $('#call_result_contact_requested_deal_ids').val(), 'call_result_contact_requested_deal_ids')
      }
  </script>
</js:>

