<%= content_for :column_mc do -%>
  <%= render :partial => "shared/accounts/new_account_title", :locals => {:accounts_type => "category_supplier_accounts", :user => @user} %>

  <div class="pdd_5 no_pdd_b">
    <%= blurb('blurb_sign_up') %>
  </div>

  <div class="hl" style="padding: 15px 0"></div>

  <div class="frm_tiny" style="margin-bottom:10px;">
    <div class="pdd_10">
      <p><%= t("member_accounts.new.view.janrain_sign_up_label") %>
        <% unless Rails.env.test? %>
            <%= link_to_rpx image_tag("icons/social_login.png"), "http#{"s" if RAILS_ENV == "production"}://#{Nbs::Application.config.action_mailer.default_url_options[:host]}/#{params[:slug]}/account" %>
            <%= javascript_include_rpx "http#{"s" if RAILS_ENV == "production"}://#{Nbs::Application.config.action_mailer.default_url_options[:host]}/#{params[:slug]}/account" %>
        <% end %>
      </p>

      <%= render(:partial => "shared/accounts/rpx_message", :locals => {:user => @user}) unless @user.rpx_identifier.blank? %>
    </div>
  </div>

  <%= semantic_form_for @user, :url => "/#{params[:slug]}/account" do |form| %>
      <%= frm(:title => "#{t('category_supplier_accounts.new.view.form_title')}" :class => "no_marg") do %>
        <% section.block_content do %>
          <div class="column_left">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r labels_200">
                <ol>
                  <%= form.input :first_name %>
                  <%= form.input :last_name %>
                  <%= form.input :company_name %>
                  <%= form.fields_for :address do |address_form| %>
                      <%= address_form.input :address_line_1 %>
                      <%= address_form.input :address_line_2 %>
                      <%= address_form.input :address_line_3 %>
                      <%= address_form.input :zip_code %>
                      <%= address_form.input :country_id, :as => :select, :collection => Country.all, :input_html => {:onchange => "refresh_regions_list('user_category_supplier_address_attributes');"} %>
                      <%= address_form.input :region_id, :as => :select, :collection => regions_collection_for(form.object.address.country) %>
                  <% end %>
                  <%= form.input :vat_number %>
                </ol>
              </fieldset>
            </div>
          </div>


          <div class="column_right">
            <div class="pdd_10 no_pdd_t">
              <fieldset class="inputs labels_ta_r">
                <ol class="align_inputs">
                  <%= form.input :phone %>
                  <%= form.input :email %>
                  <%= form.input :password, :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :password_confirmation, :as => @user.rpx_identifier.blank? ? :password : :hidden %>
                  <%= form.input :time_zone, :wrapper_html => {:class => "select"}, :input_html => {:style => "width: 240px"} %>
                  <%= form.input :agreement_read, :as => :boolean, :label => "#{t("common.agree_to")} #{link_to_main_page_article('terms_conditions', {:popup => true}, {:id => 'agreement_modal_box'})}".html_safe, :required => true %>
                  <%= form.input :newsletter_on, :as => :boolean %>
                </ol>
              </fieldset>
            </div>
          </div>

          <div class="clb"></div>

        <% end %>
        <% section.block_actions do %>
          <%= ibt(:class => "fltri", :icon => "plus") do %>
            <%= form.input :buying_category_ids, :as => :hidden %>
            <%= form.submit t("category_supplier_accounts.new.view.button_create_account") %>
          <% end %>
          <%= bt_link_to nil, t("shared.accounts.new_account_form.button_cancel"), root_path, :class => "bt_grey fltr" %>
        <% end %>
      <% end %>
  <% end %>
<% end %>