<%= content_for :search_box do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("supplier.invoices.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => suppliers_invoices_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("supplier.invoices.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="date">
                <%= f.label :with_sale_date_after_and_including, t("supplier.invoices.index.view.search.with_sale_date_after_and_including") %>
                <%= f.text_field :with_sale_date_after_and_including, :class => "formtastic-ui-datepicker"  %>
              </li>
              <li class="date">
                <%= f.label :with_sale_date_before_and_including, t("supplier.invoices.index.view.search.with_sale_date_before_and_including") %>
                <%= f.text_field :with_sale_date_before_and_including, :class => "formtastic-ui-datepicker" %>
              </li>
              <li class="select">
                <%= f.label :with_paid, t("supplier.invoices.index.view.search.payment_status") %>
                <%= f.select :with_paid, options_for_with_paid, :include_blank => true %>
              </li>
              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("supplier.invoices.index.view.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>
  <%= header do |section| %>
    <% section.block_header do %>
      <%= t("supplier.invoices.index.view.header") %>
    <% end %>
    <% section.block_actions do %>
      <ul class="header_actions">
        <% if current_user.big_buyer? %>
          <li><%= bt_link_to nil, t("supplier.invoices.index.view.pending_leads"), suppliers_not_invoiced_leads_path %></li>
        <% end %>
        <li><%= bt_link_to nil, t("supplier.invoices.index.view.due_invoices"), suppliers_invoices_path(:search => {:with_paid => 0}) %></li>
        <li class="last"><%= bt_link_to nil, t("supplier.invoices.index.view.paid_invoices"), suppliers_invoices_path(:search => {:with_paid => 1}) %></li>
      </ul>
    <% end %>
  <% end %>

  <% unless @invoices.any? %>
      <%= blank_state_message(t("supplier.invoices.index.view.no_invoices")) %>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0" id="invoices">
        <thead>
        <tr>
          <th class="hl"></th>
          <th style="width: 150px"><%= link_to t("supplier.invoices.index.view.sale_date"), order_for_scoped_search(:sale_date) %>
          <th style="width: 100px" class="ta_r" id="invoice_number_header"><%= link_to t("supplier.invoices.index.view.invoice_number"), order_for_scoped_search(:number) %></th>
          <th class="ta_c" id="invoice_payment_status_header"><%= link_to t("supplier.invoices.index.view.status"), order_for_scoped_search(:paid_at) %></th>
          <th class="ta_r"><%= link_to t("supplier.invoices.index.view.total"), order_for_scoped_search(:total) %></th>
          <th style="width: 150px" class="ta_r"><%= t("supplier.invoices.index.view.actions") %></th>
          <th class="hr"></th>
        </tr>
        </thead>
        <tbody id="invoices_list">
        <%= render(@invoices) %>
        <% if will_paginate %>
            <tr class="pagination">
              <td colspan="7">
                <%= will_paginate @invoices %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="5"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
      </table>
  <% end %>
<% end %>
