<%= content_for :column_mc do -%>
  <%= header(:back => true) do |section| %>
    <% section.block_header do %>
      <%= t("supplier.invoices.show.view.header") %>
    <% end %>
  <% end %>

  <div class="grid_550 ta_r fltr">
    <%= bt_link_to :download, t("supplier.invoices.show.view.download_pdf"), suppliers_invoice_path(@invoice, :format => :pdf) %>
  </div>

  <div class="grid_400 fltl">
    <h2><%= t("supplier.invoices.show.view.status") %>: <%= @invoice.status.to_s.capitalize %></h2>
  </div>

  <div class="clb"></div>

  <div class="pdd_10">

    <div class="invoice_container" id="invoice_container">
      <%= render :partial => "shared/invoices/invoice_preview", :locals => {:version => :original, :invoice => @invoice} %>
    </div>

    <% unless @invoice.payment_transactions.empty? %>
        <h2><%= t("supplier.invoices.show.view.payment_transactions.header") %></h2>
        <table id="invoices_table" class="generic">
          <thead>
          <tr>
            <th class="hl"></th>
            <th style="width: 200px;"><%= t("supplier.invoices.show.view.payment_transactions.type") %></th>
            <th style="width: 400px;"><%= t("supplier.invoices.show.view.payment_transactions.paid_at") %></th>
            <th><%= t("supplier.invoices.show.view.payment_transactions.amount") %></th>
            <th class="hr"></th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td class="fl"></td>
            <td colspan="3"></td>
            <td class="fr"></td>
          </tr>
          </tfoot>
          <tbody>
          <% @invoice.payment_transactions.each do |payment_transaction| %>
              <tr>
                <td class="cl"></td>
                <td><%= payment_transaction.class.to_s == "PaypalTransaction" ? t("supplier.invoices.show.view.payment_transactions.type_paypal") : t("supplier.invoices.show.view.payment_transactions.type_manual") %></td>
                <td><%= payment_transaction.paid_at.strftime("%d-%m-%Y") %></td>
                <td><%= payment_transaction.amount %></td>
                <td class="cr"></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
<% end %>
