<%= render :partial => "shared/deals/filter", :locals => {:search => @search, :path => suppliers_deals_path} %>
<%= content_for :column_mc do -%>
  <%= render :partial => "shared/deals/actions", :locals => {:path => new_suppliers_deal_path} %>

 <% unless current_user.can_create_deals? %>
    <div class="flash flash_notice"><%= t("supplier.deals.index.view.you_need_to_upgrade_subscription_warning") %></div>
 <% end %>

  <% if @deals.blank? %>
      <%= blank_state_message %>
  <% else %>
      <%= deals_table @deals do |blocks| %>
          <% blocks.tools do |deal| %>
              <ul-actions>
                <li>
                  <%= link_to t("supplier.deals.index.view.edit"), edit_suppliers_deal_path(deal), :class => "default_action" %>
                </li>
                <li>
                  <%= link_to t("supplier.deals.index.view.destroy"), suppliers_deal_path(deal), :method => :delete, :confirm => t("common.confirmation") %>
                </li>
              </ul-actions>
          <% end %>
          <% blocks.rowtooltip do |deal| %>
              <p><%= render :partial => "/shared/deal_comments/deal_threads", :locals => { :deal => deal, :threads => deal.comment_threads.roots.order("created_at DESC") } %></p>
          <% end %>
      <% end %>
  <% end %>
<% end %>