<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("administration.creditors.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_invoicing_creditors_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.creditors.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="commit">
                <ibt c="bt_green" icon="magnify">
                  <%= submit_tag t("administration.creditors.index.view.search_button") %>
                </ibt>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>


  <header>
    <param:content>
      <%= t("administration.creditors.index.view.header") %>
    </param:content>
    <param:actions>
    </param:actions>
  </header>

  <% if @credit_notes.blank? %>
      <%= blank_state_message %>
  <% else %>
      <table class="generic" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
        <th class="hl"></th>
        <th><%= t("administration.creditors.index.view.number") %></th>
        <th><%= t("administration.creditors.index.view.supplier_first_name") %></th>
        <th><%= t("administration.creditors.index.view.supplier_last_name") %></th>
        <th><%= t("administration.creditors.index.view.supplier_screen_name") %></th>
        <th><%= t("administration.creditors.index.view.type") %></th>
        <th><%= t("administration.creditors.index.view.total_value") %></th>
        <th class="hr"></th>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="6"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody id="invoices_list">
        <% @credit_notes.each do |credit_note| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td><%= credit_note.full_number %></td>
              <td><%= credit_note.supplier.first_name %></td>
              <td><%= credit_note.supplier.last_name %></td>
              <td><%= credit_note.supplier.screen_name %></td>
              <td><%= t("administration.creditors.index.view.type_#{credit_note.type_as_text}") %></td>
              <td class="ta_r"><%= as_currency(credit_note.total, credit_note.invoice.currency) %></td>
              <td class="cr"></td>
            </tr>
        <% end %>

        <% if @credit_notes.total_pages > 1 %>
            <tr class="pagination">
              <td colspan="8" class="ta_c">
                <%= will_paginate @credit_notes, :previous_label => '&laquo;', :next_label => '&raquo;' %>
              </td>
            </tr>
        <% else %>
            </tbody>
            </table>
        <% end %>
  <% end %>

<% end %>
