<column-mc:>

  <header><%= t("administration.upcoming_invoices.index.view.header") %></header>

    <table class="generic" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th><%= t("administration.upcoming_invoices.index.view.customer_first_name") %></th>
          <th><%= t("administration.upcoming_invoices.index.view.customer_last_name") %></th>
          <th><%= t("administration.upcoming_invoices.index.view.customer_screen_name") %></th>
          <th><%= t("administration.upcoming_invoices.index.view.not_invoiced_count") %></th>
          <th><%= t("administration.upcoming_invoices.index.view.not_invoiced_sum") %></th>
          <th></th>
      </thead>
      <tbody id="invoices_list">
      <% @lead_purchases.each do |lead_purchase| %>
        <tr>
          <td><%= lead_purchase.owner.first_name %></td>
          <td><%= lead_purchase.owner.last_name %></td>
          <td><%= lead_purchase.owner.screen_name %></td>
          <td><%= lead_purchase.not_invoiced_count %></td>
          <td><%= lead_purchase.not_invoiced_sum %></td>
          <td><%= link_to t("administration.upcoming_invoices.index.view.create_invoice"), new_administration_invoicing_invoice_path(:invoice => {:user_id => lead_purchase.owner_id}) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @lead_purchases %>

</column-mc:>