<%= content_for 'search-box' do -%>
  <div class="search_box">
    <div class="search_left"></div>
    <div class="search_right"></div>
    <h2><%= t("administration.upcoming_invoices.index.view.search_label") %></h2>

    <div class="search_content">
      <%= form_for @search, :url => administration_invoicing_upcoming_invoices_path do |f| %>
          <fieldset class="inputs_vertical">
            <ol class="no_pdd">
              <li class="string">
                <%= f.label :with_keyword, t("administration.upcoming_invoices.index.view.search.with_keyword") %>
                <%= f.text_field :with_keyword %>
              </li>
              <li class="date">
                <%= f.label :with_assigned_at_date_after_and_including, t("administration.upcoming_invoices.index.view.search.with_assigned_at_date_after_and_including") %>
                <%= f.text_field :with_assigned_at_date_after_and_including, :class => "formtastic-ui-datepicker" %>
              </li>
              <li class="date">
                <%= f.label :with_assigned_at_date_before_and_including, t("administration.upcoming_invoices.index.view.search.with_assigned_at_date_before_and_including") %>
                <%= f.text_field :with_assigned_at_date_before_and_including, :class => "formtastic-ui-datepicker" %>
              </li>
              <li class="select">
                <%= f.label :with_subscriber_type, t("administration.upcoming_invoices.index.view.search.with_subscriber_type") %>
                <%= f.select :with_subscriber_type, User::SUBSCRIBER_TYPES.sort, :include_blank => true %>
              </li>
              <li class="select">
                <%= f.label :with_role, t("administration.upcoming_invoices.index.view.search.with_role") %>
                <%= f.select :with_role, [[t("administration.upcoming_invoices.index.view.search.role_supplier"),'lead_supplier'], [t("administration.upcoming_invoices.index.view.search.role_member"), 'member']].sort, :include_blank => true %>
              </li>
              <li class="commit">
                <%= ibt(:class => "bt_green", :icon => "magnify") do %>
                  <%= submit_tag t("administration.upcoming_invoices.index.view.search_button") %>
                <% end %>
                <p>
                  <%= bt_clear_filter %>
                </p>
              </li>
            </ol>
          </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :column_mc do -%>


  <header>
    <param:content>
      <%= t("administration.upcoming_invoices.index.view.header") %>
    </param:content>
    <param:actions>
      <div class="frm_tiny fltr">
        <div class="pdd_10">
          <%= t("administration.upcoming_invoices.index.view.total") %>: <strong><%= @lead_purchases_count %></strong>
        </div>
      </div>
    </param:actions>
  </header>

  <% if @lead_purchases.blank? %>
      <%= blank_state_message %>
  <% else %>
    <%= bulk_form do %>
      <table class="generic" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
        <th class="hl"></th>
        <th class="no_pdd_lr" style="width: 10px;"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></th>
        <th><%= t("administration.upcoming_invoices.index.view.supplier_first_name") %></th>
        <th><%= t("administration.upcoming_invoices.index.view.supplier_last_name") %></th>
        <th><%= t("administration.upcoming_invoices.index.view.supplier_type") %></th>
        <th><%= t("administration.upcoming_invoices.index.view.supplier_role") %></th>
        <th class="ta_r"><%= t("administration.upcoming_invoices.index.view.not_invoiced_count") %></th>
        <th class="ta_r"><%= t("administration.upcoming_invoices.index.view.not_invoiced_sum") %></th>
        <th></th>
        <th class="hr"></th>
        </thead>
        <tfoot>
        <tr>
          <td class="fl"></td>
          <td colspan="8"></td>
          <td class="fr"></td>
        </tr>
        </tfoot>
        <tbody id="invoices_list">
        <% @lead_purchases.each do |lead_purchase| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td class="cl"></td>
              <td class="no_pdd_lr"><%= check_box_tag "debtors_ids[]", "#{lead_purchase.owner_id}:#{lead_purchase.currency_id}", false, {:id => "debtors_id_checkbox_#{lead_purchase.owner_id}"} %></td>
              <td><%= lead_purchase.owner.first_name %></td>
              <td><%= lead_purchase.owner.last_name %></td>
              <td><%= lead_purchase.owner.subscriber_type_as_text %></td>
              <td><%= lead_purchase.owner.has_role?(:supplier) ? t("administration.upcoming_invoices.index.view.search.role_supplier") : t("administration.upcoming_invoices.index.view.search.role_member") %></td>
              <td class="ta_r"><%= lead_purchase.not_invoiced_count %></td>
              <td class="ta_r"><%= as_currency(lead_purchase.not_invoiced_sum, Currency.where(:id => lead_purchase.currency_id).first) %></td>
              <td class="tda ta_r">
                <%= bt_link_to nil, t("administration.upcoming_invoices.index.view.create_invoice"), administration_invoicing_invoices_path(:invoice => {:user_id => lead_purchase.owner_id, :currency_id => lead_purchase.currency_id, :seller_id => lead_purchase.owner.active_subscription.seller_id}), :method => :post, :class => "default_action" %>
              </td>
              <td class="cr"></td>
            </tr>
        <% end %>
            <tr>
              <td class="fl"></td>
              <td class="no_pdd_lr"><%= check_box_tag "mark_all", 1, false, :onclick => "mark_all_cbs_with_selector(this)" %></td>
              <td colspan="5"></td>
              <td class="ta_r"><b><%= t("administration.upcoming_invoices.index.view.total_in_euro") %>:</b> <%= as_currency(@total_euro_sum, Currency.euro) %></td>
              <td class="tda ta_r">
                <%= bt_link_to :invoice, t("administration.upcoming_invoices.index.view.invoice_selected"), "javascript:void(0)", :onclick => "submitBulkForm('#{administration_invoicing_bulk_invoice_users_path}#PUT');" %>
              </td>
              <td class="fr"></td>
            </tr>
        </tbody>
      </table>
      <%= hidden_field_tag :route_to %>
    <% end %>
  <% end %>

<% end %>