<div class="cart">
  <h3><%= t("layout.cart.cart_header", :count => current_user.cart.count) %></h3>
  <ul>
    <% current_user.cart.items.each do |lead| %>
        <li><%= lead.header %> x 1 -
          <b><%= as_currency(lead.price,lead.currency) %></b><%= link_to t("layout.cart.remove_item_link"), buyers_cart_item_path(lead.id), :method => :delete %></li>
    <% end %>
  </ul>
  <b><%= t("layout.cart.total_label") %></b><i><%= current_user.cart.total %></i>
  <%= link_to t("layout.cart.empty_cart"), buyers_cart_path, :method => :delete, :confirm => t("common.confirmation") %>
  <%= link_to t("layout.cart.show_cart"), buyers_cart_path %>
</div>