<div id="cart_details">
  <div class="cart_header">
    <h3><%= t("layout.cart.cart_header", :count => current_user.cart.count) %></h3>
    <%= image_tag("icons/basket.png") %>
  </div>
  <div class="cart_content">
    <ul>
      <% current_user.cart.lead_purchases.each do |lp| %>
          <li>
            <p><strong><%= link_to lp.lead.header, lead_path(lp.lead) %></strong></p>

            <p class="price ta_r"><%= link_to t("layout.cart.remove_item_link"), suppliers_cart_item_path(lp.lead_id), :method => :delete, :class => "fltl fs_11" %> <%= lp.quantity %> x <%= as_currency(lp.lead.price, lp.lead.currency) %></p>
          </li>
      <% end %>
      <li>
        <p class="ta_r">
          <span class="grey"><%= t("layout.cart.total_label") %>: </span><span class="green"><%= as_currency(current_user.cart.total_netto, current_user.cart.currency) %></span>
        </p>
      </li>
    </ul>
  </div>
  <div class="cart_footer">
    <p class="ta_r">
      <%= bt_link_to nil, t("layout.cart.empty_cart"), suppliers_cart_path, :method => :delete, :confirm => t("common.confirmation"), :class => "bt_grey_small" %>
      <%= bt_link_to nil, t("layout.cart.show_cart"), suppliers_cart_path %>
    </p>
  </div>
</div>
