<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Fairleads</title>
  <%= stylesheet_link_tag "ocss_core", "style", "jquery-ui-1.8.5.custom", "colorbox", "invoice", "invoice_lines_edit" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.colorbox-min' %>
  <%= javascript_include_tag 'jquery.printElement' %>
  <%= javascript_include_tag 'jquery.qtip.min' %>
  <%= javascript_include_tag 'custom' %>
  <%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="head">
  <div id="head_bg"></div>
</div>

<div id="container" class="c">
  <div id="top">

    <div id="user_panel">
      <%= render '/layouts/locale_selection' %>
      <% if user_signed_in? %>
          <%= link_to t("layout.my_profile_link"), my_profile_path, :class => "sl" %>
          <%= link_to t("layout.logout_link", :user_email => current_user.email), '/logout', :class => "sl" %>
      <% end %>
    </div>


    <div style="position: absolute;right:30px; top:52px">
      <% if user_signed_in? %>
          <div style="background:red;color:white;padding:3px;">
            <b>You are now: <%= current_user.class.name %> ::: (<%= current_user.roles.to_a.map(& :to_s).to_sentence %>)</b>
          </div>
      <% end %>
    </div>
    <%= link_to image_tag("logo_fairleads.png"), root_path, :class => "logo" %>    
  </div>

  <%= render('/layouts/cart') if current_user && current_user.has_role?(:lead_buyer) %>

  <div id="user_menu">
    <%= render "layouts/main_menu" %>

    <% if current_user && current_user.has_role?(:lead_buyer) %>
        <div id="cart">
          <ul class="nav">
            <li>
              <%= link_to(content_tag(:span, image_tag("icons/basket.png") + t("layout.cart.cart_header", :count => current_user.cart.count)), "#", :id => "basket_bt") %>
            </li>
          </ul>
        </div>
    <% end %>
  </div>

  <div id="content">

    <search-box:/>

    <div class="pdd_10 no_pdd_t">

      <% unless notice.blank? %>
          <div class="flash flash_notice">
            <%= notice %>
          </div>
      <% end %>

      <% unless alert.blank? %>
          <div class="flash flash_alert">
            <%= alert %>
          </div>
      <% end %>


      <column-mc:/>
    </div>
  </div>

  <div id="footer">
    <%= render "layouts/footer" %>
  </div>
</div>

<js:/>


</body>
</html>